{# Note: we can use general variables names here since this template is parsed within its own scope #}
{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}
<section class="row" id="formbuilder{{ formName|capitalize }}">
  <div class="col-xs-12">
    {% if successMessage %}
      {{ alerts.alert('success', successMessage|raw, false, formName) }}
    {% endif %}
    {% if formBuilderError %}
      {{ alerts.alert('danger', formBuilderError, false, formName) }}
    {% endif %}

    {% if fields %}
      <form id="{{ formName }}" method="post" action="{{ formAction }}">
        <fieldset class="form">
          {% if formToken %}
            <input type="hidden" name="form_token" id="formToken{{ formName|capitalize }}" value="{{ formToken }}" />
          {% endif %}

          <input type="hidden" name="form" value="{{ formName }}" />

          {% for field in fields %}
            <div class="row" id="field{{ field.name|raw }}">
              <div class="col-xs-12">
                {# Headings and paragraphs #}
                {% if field.plaintext %}
                  <div class="content">
                    {{ field.html|raw }}
                  </div>
                {% endif %}

                {# Input field, textarea's and dropdowns #}
                {% if field.simple %}
                  <div class="form-group{% if field.error %} has-error{% endif %}">
                    <label class="control-label" for="{{ field.name|raw }}">
                      {{ field.label|raw }}{% if field.required %}<abbr title="{{ 'lbl.RequiredField'|trans|capitalize }}">*</abbr>{% endif %}
                    </label>
                    {{ field.html|raw }}
                    {% if field.error %}<span class="text-danger help-inline">{{ field.error }}</span>{% endif %}
                  </div>
                {% endif %}

                {# Radiobuttons and checkboxes #}
                {% if field.multiple %}
                  <div class="form-group{% if field.error %} has-error{% endif %}">
                    <p class="control-label">
                      {{ field.label|raw }}{% if field.required %}<abbr title="{{ 'lbl.RequiredField'|trans|capitalize }}">*</abbr>{% endif %}
                    </p>
                    {% for checkbox in field.html %}
                      <div class="checkbox">
                        <label for="{{ checkbox.id|raw }}">
                          {{ checkbox.field|raw }} {{ checkbox.label|raw }}
                        </label>
                      </div>
                    {% endfor %}
                    {% if field.error %}<span class="text-danger help-inline">{{ field.error }}</span>{% endif %}
                  </div>
                {% endif %}
              </div>
            </div>
          {% endfor %}
          <div class="row">
            <div class="col-xs-12">
              <div class="form-actions">
                <input type="submit" value="{{ submitValue|raw }}" name="submit" class="inputSubmit btn btn-primary" />
              </div>
            </div>
          </div>
        </fieldset>
      </form>
    {% endif %}
  </div>
</section>
