{% extends 'Layout/Templates/pages.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block pagesTree %}
  <div class="sub-navigation">
    <div id="mediaTree" class="pages-tree">
      <div class="alert alert-warning visible-xs visible-sm">
        <p>{{ macro.icon('exclamation-triangle') }}{{ 'msg.MoveMediaFoldersNotPossible'|trans|ucfirst }}</p>
      </div>
      <button class="btn btn-default btn-sm tree-collapsed" data-role="toggle-js-tree-collapse">
        <span data-role="toggle-js-tree-collapse-text">{{ 'lbl.OpenTreeNavigation'|trans }}</span>
      </button>
      <div id="tree">
        {{ tree|raw }}
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
  {{ form_start(form) }}
  <div class="row fork-module-content">
    <div class="col-md-12">
      {% if form.url %}
        {{ form_row(form.url) }}
      {% else %}
        <p>{{ mediaItem.url }}</p>
      {% endif %}

      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          {# Translation tabs #}
          {% for locale,translationField in form.translations %}
            {% set tabName = 'tab' ~ locale|ucfirst %}
            <li role="presentation"{% if activeTranslationTab == tabName %} class="active"{% endif %}>
              <a href="#{{ tabName }}" aria-controls="{{ tabName }}" role="tab" data-toggle="tab">
                {{ locale|upper|tolabel|ucfirst }}
              </a>
            </li>
          {% endfor %}
        </ul>

        <div class="tab-content">
          {% for locale,translationField in form.translations %}
            {% set tabName = 'tab' ~ locale|ucfirst %}
            <div role="tabpanel" class="tab-pane{% if activeTranslationTab == tabName %} active{% endif %}" id="{{ tabName }}">
              <div class="form-group">
                {{ form_label(translationField.title) }}
                {{ form_widget(translationField.title, {'attr': {'class': 'form-control title'}}) }}
                <p class="help-block">{{ 'msg.MediaItemTitle'|trans|ucfirst }}</p>
                {{ form_errors(translationField.title) }}
              </div>

              <div class="form-group">
                {{ form_label(translationField.caption) }}
                {{ form_widget(translationField.caption) }}
                <p class="help-block">{{ 'msg.MediaItemCaption'|trans|ucfirst }}</p>
                {{ form_errors(translationField.caption) }}
              </div>

              {% if translationField.link %}
                <div class="form-group">
                  {{ form_widget(translationField.hasLink, { "attr": { "data-role":"toggle-caption-link-box", "data-locale":locale }}) }}
                </div>
                <div class="form-group form-inline" id="linkBox{{ locale|ucfirst }}">
                  <div class="row">
                    <div class="col-xs-1">
                      {{ 'lbl.URL'|trans|ucfirst }}:
                    </div>
                    <div class="col-xs-11">
                      {{ form_widget(translationField.link) }}
                      <p class="help-block">{{ 'msg.MediaItemLink'|trans|ucfirst }}</p>
                    </div>
                  </div>
                  {{ form_errors(translationField.link) }}
                </div>
              {% endif %}

              {% if translationField.altText %}
                <div class="form-group">
                  {{ form_label(translationField.altText) }}
                  {{ form_widget(translationField.altText) }}
                  <p class="help-block">{{ 'msg.MediaItemAltText'|trans|ucfirst }}</p>
                  {{ form_errors(translationField.altText) }}
                </div>
              {% endif %}

              <div class="form-group">
                {{ form_label(translationField.description) }}
                {{ form_widget(translationField.description) }}
                <p class="help-block">{{ 'msg.MediaItemDescription'|trans|ucfirst }}</p>
                {{ form_errors(translationField.description) }}
              </div>

              {{ form_rest(translationField) }}
            </div>
          {% endfor %}
        </div>
      </div>

    </div>
  </div>
  <div class="row fork-module-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-left" role="group">
          {% if showMediaLibraryMediaItemDelete and mediaItem.groups.count == 0 %}
            {{ macro.buttonIcon('', 'trash-o', 'lbl.Delete'|trans|ucfirst, 'btn-danger', { "data-toggle":"modal", "type":"button", "data-target":"#confirmDelete", "id":"blog-delete" } ) }}
          {% endif %}

          {% if showMediaLibraryMediaItemIndex %}
            {% if folderId %}
              {{ macro.buttonIcon(geturl('MediaItemIndex', 'times', '&folder='~folderId), 'bars', 'lbl.Cancel'|trans|capitalize, 'btn-default') }}
            {% endif %}
            {% if not folderId %}
              {{ macro.buttonIcon(geturl('MediaItemIndex'), 'times', 'lbl.Cancel'|trans|capitalize, 'btn-default') }}
            {% endif %}
          {% endif %}
        </div>
        <div class="btn-group pull-left" role="group">
          {% if showMediaLibraryMediaItemDelete and not mediaItem.groups.count == 0 %}
            <p class="help-block">{{ 'msg.MediaItemCantBeDeleted'|trans }}</p>
          {% endif %}
        </div>
        <div class="btn-group pull-right" role="group">
          {{ macro.buttonIcon('', 'floppy-o', 'lbl.Save'|trans|ucfirst, 'btn-primary', { "id":"editButton", "type":"submit", "name":"edit" } ) }}
        </div>
      </div>
    </div>
  </div>
  {{ form_end(form) }}

  {% if showMediaLibraryMediaItemDelete %}
    {{ form_start(deleteForm) }}
    {{ form_row(deleteForm._token) }}
    {{ form_row(deleteForm.id) }}
    <div class="modal fade" id="confirmDelete" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmDeleteTitle">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="confirmDeleteTitle">{{ 'lbl.Delete'|trans|ucfirst }}</h4>
          </div>
          <div class="modal-body">
            <p>{{ 'msg.ConfirmMediaItemDelete'|trans|format(mediaItem.title)|raw }}</p>
          </div>
          <div class="modal-footer">
            {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
            {{ macro.buttonIcon('', 'trash', 'lbl.Delete'|trans|ucfirst, 'btn-danger', { "type":"submit" } ) }}
          </div>
        </div>
      </div>
    </div>
    {{ form_end(deleteForm) }}
  {% endif %}
{% endblock %}
