{% extends 'Layout/Templates/pages.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block pagesTree %}
  {% include 'MediaLibrary/Layout/Templates/MediaFolderTree.html.twig' %}
{% endblock %}

{% block actionbar %}
  <div class="btn-toolbar justify-content-end">
    <div class="btn-group" role="group">
      {% if isAllowedAction('MediaItemIndex') %}
        {% if folderId %}
          {{ macro.buttonIcon( geturl('MediaItemIndex', null, '&folder='~folderId), 'bars', 'lbl.Overview'|trans|capitalize) }}
        {% endif %}
        {% if not folderId %}
          {{ macro.buttonIcon( geturl('MediaItemIndex'), 'bars', 'lbl.Overview'|trans|capitalize) }}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  {{ form_start(form) }}

  {% if form.url %}
    {{ form_row(form.url) }}
  {% endif %}

  {{ form_row(form.title, {'attr': {'class': 'form-control title'}}) }}

  <div class="form-group">
    <div class="row">
      <div class="col-lg-6">
        {% if form.vars.value.mediaItemEntity.type == 'image' %}
          <label>{{ 'lbl.Image'|trans|ucfirst }}</label>
          <img src="{{ form.vars.value.mediaItemEntity.webpath() }}" alt="">
        {% elseif form.vars.value.mediaItemEntity.type == 'movie'  %}
          <label>{{ 'lbl.MediaMovie'|trans|ucfirst }}</label>
          <div class="embed-responsive embed-responsive-16by9">
            {{ form.vars.value.mediaItemEntity.getIncludeHTML()|raw }}
          </div>
        {% endif %}
      </div>
    </div>
  </div>

  <div class="fork-module-actions">
    <div class="btn-toolbar d-flex">
      <div class="btn-group" role="group">
        {% if isAllowedAction('MediaItemDelete') %}
          {% if mediaItem.groups.count == 0 %}
            {{ macro.buttonIcon('', 'trash-alt', 'lbl.Delete'|trans|ucfirst, 'btn-danger', { "data-bs-toggle":"modal", "type":"button", "data-bs-target":"#confirmDelete", "id":"blog-delete" } ) }}
          {% endif %}
        {% endif %}
      </div>
      <div class="btn-group ms-auto" role="group">
        {{ macro.buttonIcon('', 'check', 'lbl.Save'|trans|ucfirst, 'btn-primary', { "id":"editButton", "type":"submit", "name":"edit" } ) }}
      </div>
    </div>
  </div>
  {{ form_end(form) }}

  {% if isAllowedAction('MediaItemDelete') %}
    {{ form_start(deleteForm) }}
    {{ form_row(deleteForm._token) }}
    {{ form_row(deleteForm.id) }}
    <div class="modal fade" id="confirmDelete" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmDeleteTitle">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="confirmDeleteTitle">{{ 'lbl.Delete'|trans|ucfirst }}</h4>
          </div>
          <div class="modal-body">
            <p>{{ 'msg.ConfirmMediaItemDelete'|trans|format(mediaItem.title|e)|raw }}</p>
          </div>
          <div class="modal-footer">
            {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
            {{ macro.buttonIcon('', 'trash', 'lbl.Delete'|trans|ucfirst, 'btn-danger', { "type":"submit" } ) }}
          </div>
        </div>
      </div>
    </div>
    {{ form_end(deleteForm) }}
  {% endif %}
{% endblock %}
