{% extends 'Layout/Templates/pages.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block pagesTree %}
  <div class="sub-navigation">
    <div id="mediaTree" class="pages-tree">
      <div class="alert alert-warning visible-xs visible-sm">
        <p>{{ macro.icon('exclamation-triangle') }}{{ 'msg.MoveMediaFoldersNotPossible'|trans|ucfirst }}</p>
      </div>
      <button class="btn btn-default btn-sm tree-collapsed" data-role="toggle-js-tree-collapse">
        <span data-role="toggle-js-tree-collapse-text">{{ 'lbl.OpenTreeNavigation'|trans }}</span>
      </button>
      <div id="tree">
        {{ tree|raw }}
      </div>
    </div>
  </div>
{% endblock %}

{% block actionbar %}
  <div class="btn-toolbar pull-right">
    <div class="btn-group" role="group">
      {% if isAllowedAction('MediaItemIndex') %}
        {% if folderId %}
          {{ macro.buttonIcon( geturl('MediaItemIndex', null, '&folder='~folderId), 'bars', 'lbl.BackToOverview'|trans|capitalize) }}
        {% endif %}
        {% if not folderId %}
          {{ macro.buttonIcon( geturl('MediaItemIndex'), 'bars', 'lbl.BackToOverview'|trans|capitalize) }}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  {% include "MediaLibrary/Resources/views/BackendMediaLibraryUpload.html.twig" %}
{% endblock %}
