{% extends 'Layout/Templates/pages.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block pagesTree %}
  <div class="sub-navigation">
    <div id="mediaTree" class="pages-tree">
      {{ macro.alert('warning', 'msg.MoveMediaFoldersNotPossible'|trans|ucfirst, null, null, {'class': 'd-lg-none'}) }}
      <button class="btn btn-default btn-sm tree-collapsed mb-2" data-role="toggle-js-tree-collapse">
        <span data-role="toggle-js-tree-collapse-text">{{ 'lbl.OpenTreeNavigation'|trans }}</span>
      </button>
      <div class="form-group">
        <label for="pagetree-search" class="control-label">{{ 'lbl.search'|trans|ucfirst }}</label>
        <input id="pagetree-search" name="pagetree-search" value="" maxlength="255" type="text" class="form-control fork-form-text js-tree-search" placeholder="{{ 'lbl.Search'|trans|ucfirst }} {{ 'lbl.MediaFolder'|trans }}">
      </div>
      <div id="tree">
        {{ tree|raw }}
      </div>
    </div>
  </div>
{% endblock %}

{% block actionbar %}
  <div class="btn-toolbar justify-content-end">
    <div class="btn-group" role="group">
      {% if showMediaLibraryMediaItemIndex %}
        {% if folderId %}
          {{ macro.buttonIcon( geturl('MediaItemIndex', null, '&folder='~folderId), 'list', 'lbl.Overview'|trans|ucfirst) }}
        {% endif %}
        {% if not folderId %}
          {{ macro.buttonIcon( geturl('MediaItemIndex'), 'list', 'lbl.Overview'|trans|ucfirst) }}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  {% include "MediaLibrary/Resources/views/BackendMediaLibraryUpload.html.twig" %}
{% endblock %}
