<!DOCTYPE html>
<html lang="{{ INTERFACE_LANGUAGE }}">

{% include "Layout/Templates/head.html.twig" %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

<body id="{{ bodyID }}" class="{{ bodyClass }} hiddenInModalMode">

<div class="main-wrapper main-wrapper-pages{% if attribute(cookies, 'navigation-collapse') == 'true' %} navigation-collapsed{% endif %}">
  <div id="root">
    <div id="content" class="content-wrapper">
      <div class="content-main content-main-tree">
        <div class="content">
          <div class="container-fluid container-fluid-large">
            <ul class="nav nav-tabs justify-content-end" role="tablist">
              <li class="nav-item me-auto">
                <a class="nav-link" href="#tabUploadMedia" aria-controls="tabUploadMedia" role="tab"
                  data-bs-toggle="tab" aria-selected="false" id="upload-media-tab">{{ 'lbl.MediaNew'|trans|ucfirst }}</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active" href="#tabLibrary" aria-controls="tabLibrary" role="tab"
                  data-bs-toggle="tab" aria-selected="true" id="library-tab">{{ 'lbl.MediaLibraryTab'|trans|ucfirst }}</a>
              </li>
            </ul>
            <div class="tab-content">
              <div role="tabpanel" class="tab-pane" id="tabUploadMedia" data-context="selection" aria-labelledby="upload-media-tab">
                {% include "MediaLibrary/Resources/views/BackendMediaLibraryUpload.html.twig" %}
              </div>
              <div role="tabpanel" class="tab-pane show active" id="tabLibrary" aria-labelledby="library-tab">
                <div class="row">
                  <div class="col-sm-3">
                    <div id="mediaTree">
                      <button class="btn btn-default btn-sm tree-collapsed mb-2" data-role="toggle-js-tree-collapse">
                        <span data-role="toggle-js-tree-collapse-text">{{ 'lbl.OpenTreeNavigation'|trans }}</span>
                      </button>
                      <div class="form-group">
                        <label for="pagetree-search" class="control-label">{{ 'lbl.search'|trans|ucfirst }}</label>
                        <input id="pagetree-search" name="pagetree-search" value="" maxlength="255" type="text" class="form-control fork-form-text js-tree-search" placeholder="{{ 'lbl.Search'|trans|ucfirst }} {{ 'lbl.MediaFolder'|trans }}">
                      </div>
                      <div id="tree">
                        {{ tree|raw }}
                      </div>
                    </div>
                  </div>
                  <div class="col-sm-9">
                    {% set alreadyOneActive = false %}
                    <ul class="nav nav-tabs" role="tablist">
                      {% for dataGrid in dataGrids %}
                        <li class="nav-item">
                          <a class="nav-link{% if dataGrid.numberOfResults > 0 and not alreadyOneActive %} active{% set alreadyOneActive = true %}{% endif %}" href="#{{ dataGrid.tabName }}" aria-controls="tabImage" role="tab"
                            data-bs-toggle="tab"{% if dataGrid.numberOfResults > 0 and not alreadyOneActive %} aria-selected="true"{% endif %} id="{{ dataGrid.tabName }}-tab">{{ dataGrid.label|capitalize }} ({{ dataGrid.numberOfResults }})</a>
                        </li>
                      {% endfor %}
                    </ul>
                    <div class="tab-content">
                      {% set alreadyOneActive = false %}
                      {% for dataGrid in dataGrids %}
                        <div role="tabpanel"
                          class="tab-pane {% if not alreadyOneActive %}show active{% set alreadyOneActive = true %}{% endif %}"
                          id="{{ dataGrid.tabName }}" aria-labelledby="{{ dataGrid.tabName }}-tab">
                          <form id="form-for-{{ dataGrid.mediaType }}" action="{{ geturl('MediaItemMassAction') }}" method="post" class="forkForms">
                            <div class="table-responsive">
                              <input type="hidden" name="from" value="{{ dataGrid.mediaType }}" />
                              <input id="move-to-folder-id-for-type-{{ dataGrid.mediaType }}" type="hidden"
                                name="move_to_folder_id" value="" />
                              {% if mediaFolder %}
                                <input type="hidden" name="current_folder_id" value="{{ mediaFolder.id }}" />
                              {% endif %}
                              {{ dataGrid.html|raw }}
                            </div>
                          </form>
                          {% if not dataGrid.numberOfResults %}
                            {% if mediaFolder %}
                              {{ macro.emptyState(null, null, 'msg.NoItems'|trans|ucfirst) }}
                            {% else %}
                              {{ macro.emptyState(null, null, 'msg.NoItems'|trans|ucfirst) }}
                            {% endif %}
                          {% endif %}
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

</body>
</html>
