{% extends 'Layout/Templates/pages.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block pagesTree %}
  {% include 'MediaLibrary/Layout/Templates/MediaFolderTree.html.twig' %}
{% endblock %}

{% block actionbar %}
  <div class="btn-toolbar justify-content-end">
    <div class="btn-group" role="group">
      {% if isAllowedAction('MediaItemIndex') %}
        {{ macro.buttonIcon( geturl('MediaItemIndex'), 'photo-video', 'lbl.AllMedia'|trans|capitalize, 'btn-default btn-sm') }}
      {% endif %}
      {% if isAllowedAction('MediaItemUpload') %}
        {% if mediaFolder %}
          {{ macro.buttonIcon( geturl('MediaItemUpload', null, '&folder='~mediaFolder.id), 'upload', 'lbl.AddMediaItems'|trans|capitalize) }}
        {% endif %}
        {% if not mediaFolder %}
          {{ macro.buttonIcon( geturl('MediaItemUpload'), 'upload', 'lbl.AddMediaItems'|trans|capitalize) }}
          <a href="#" id="addFolder" class="btn btn-default" title="{{ 'lbl.MediaAddFolder'|trans|capitalize }}">
            <span>{{ macro.icon('folder') }}{{ 'lbl.MediaAddFolder'|trans|capitalize }}</span>
          </a>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content-block">
    <div class="content-title d-flex">
      {% if mediaFolder.name %}
        <h2>{{ 'lbl.MediaCurrentFolder'|trans|ucfirst }}: {{ mediaFolder.name }}</h2>

        {% if showMediaLibraryMediaFolderEdit %}
          <div class="ms-auto">
            {{ macro.buttonIcon('', 'pencil-alt', 'lbl.EditMediaFolder'|trans|ucfirst, 'btn-secondary btn-sm', {"data-bs-toggle":"modal", "data-bs-target":"#editMediaFolderDialog", "type":"button" } ) }}
          </div>
        {% endif %}
      {% else %}
        <h2>{{ 'lbl.AllMedia'|trans|ucfirst }}</h2>
      {% endif %}
      </div>
    <div id="library">
      <ul class="nav nav-tabs" role="tablist">
        {% for dataGrid in dataGrids %}
          <li class="nav-item">
            <a class="nav-link" href="#{{ dataGrid.tabName }}" aria-controls="tabImage" role="tab" data-bs-toggle="tab" id="{{ dataGrid.tabName }}-tab">{{ dataGrid.label|capitalize }} ({{ dataGrid.numberOfResults }})</a>
          </li>
        {% endfor %}
      </ul>
      <div class="tab-content">
        {% for dataGrid in dataGrids %}
          <div role="tabpanel" class="tab-pane" id="{{ dataGrid.tabName }}" aria-labelledby="{{ dataGrid.tabName }}-tab">
            <form id="form-for-{{ dataGrid.mediaType }}" action="{{ geturl('MediaItemMassAction') }}" method="post">
              <div class="table-responsive">
                <input type="hidden" name="from" value="{{ dataGrid.mediaType }}" />
                <input id="move-to-folder-id-for-type-{{ dataGrid.mediaType }}" type="hidden" name="move_to_folder_id" value="" />
                {% if mediaFolder %}
                  <input type="hidden" name="current_folder_id" value="{{ mediaFolder.id }}" />
                {% endif %}
                {{ dataGrid.html|raw }}
              </div>
            </form>
            {% if not dataGrid.numberOfResults %}
              {% if mediaFolder %}
                {{ macro.emptyState(geturl('MediaItemUpload', null, '&folder='~mediaFolder.id), 'msg.AddAMediaItem'|trans, 'msg.NoItems'|trans|ucfirst) }}
              {% else %}
                {{ macro.emptyState(geturl('MediaItemUpload'), 'msg.AddAMediaItem'|trans, 'msg.NoItems'|trans|ucfirst) }}
              {% endif %}
            {% endif %}
          </div>
        {% endfor %}
      </div>
      {% if mediaFolder %}
        <div class="fork-module-actions">
          <div class="btn-toolbar">
            <div class="btn-group" role="group">
              {% if isAllowedAction('MediaFolderDelete') and folderHasNoChildren %}
                {% if not mediaFolder.hasConnectedItems and not mediaFolder.hasChildrenWithConnectedItems %}
                  {{ macro.buttonIcon('', 'trash-alt', 'lbl.MediaFolderDelete'|trans|ucfirst, 'btn-danger', {"data-bs-toggle":"modal", "data-bs-target":"#confirmMediaFolderDelete", "type":"button" } ) }}
                {% endif %}
              {% endif %}
              {% if isAllowedAction('MediaFolderEdit') %}
                {{ macro.buttonIcon('', 'pencil-alt', 'lbl.EditMediaFolder'|trans|ucfirst, 'btn-default', {"data-bs-toggle":"modal", "data-bs-target":"#editMediaFolderDialog", "type":"button" } ) }}
              {% endif %}
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>

  {# Mass action: Dialog to move media items #}
  <div class="modal fade" id="confirmMassActionMediaItemMove" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmMassActionMediaItemMoveTitle">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="confirmMassActionMediaItemMoveTitle">{{ 'lbl.MoveMedia'|trans|ucfirst }}</h4>
        </div>
        <div class="modal-body">
          <p>
            <label for="folderImagesId">{{ 'msg.Destination'|trans }}</label><br/>
            <select class="form-control" id="moveToFolderId" name="move_to_folder_id">
              {% for mediaFolder in mediaFolders %}
                <option value="{{ mediaFolder.id }}">{{ mediaFolder.slug }}</option>
              {% endfor %}
            </select>
          </p>
        </div>
        <div class="modal-footer">
          {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
          {{ macro.buttonIcon('', 'check', 'lbl.Move'|trans|ucfirst, 'btn-primary', { "type":"submit" } ) }}
        </div>
      </div>
    </div>
  </div>

  {# Mass action: Dialog to delete media items #}
  <div class="modal fade" id="confirmMassActionMediaItemDelete" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmMassActionMediaItemDeleteTitle">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="confirmMassActionMediaItemDeleteTitle">{{ 'lbl.DeleteMedia'|trans|ucfirst }}</h4>
        </div>
        <div class="modal-body">
          <p>
            {{ 'lbl.ConfirmDeleteMedia'|trans|ucfirst }}
          </p>
        </div>
        <div class="modal-footer">
            {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
            {{ macro.buttonIcon('', 'trash', 'lbl.Delete'|trans|ucfirst, 'btn-danger', {"type":"submit"}) }}
        </div>
      </div>
    </div>
  </div>

  {# Dialogs for MediaFolderDelete and EditMediaFolder #}
  {% if mediaFolder %}
    {# Delete MediaFolder Dialog #}
    {% if isAllowedAction('MediaFolderDelete') %}
    <div class="modal fade" id="confirmMediaFolderDelete" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmMediaFolderDeleteTitle">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="confirmMediaFolderDeleteTitle">{{ 'lbl.MediaFolderDelete'|trans|ucfirst }}</h4>
          </div>
          <div class="modal-body">
            <p>
              {% if hasResults %}
                {{ 'msg.ConfirmMediaFolderDeleteAndFiles'|trans|format(mediaFolder.name) }}
              {% endif %}
              {% if not hasResults %}
                {{ 'msg.ConfirmMediaFolderDelete'|trans|format(mediaFolder.name) }}
              {% endif %}
            </p>
            {% if dgFiles %}
            <p>
              {{ 'lbl.MediaDisconnect'|trans }}
            </p>
            {% endif %}
          </div>
          <div class="modal-footer">
            {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
            {{ macro.buttonIcon(geturl('MediaFolderDelete') ~ '&id=' ~ mediaFolder.id, 'trash', 'lbl.Delete'|trans|ucfirst, 'btn-danger') }}
          </div>
        </div>
      </div>
    </div>
    {% endif %}

    {# Edit MediaFolder Dialog #}
    {% if isAllowedAction('MediaFolderEdit') %}
    <div class="modal fade" id="editMediaFolderDialog" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="editMediaFolderDialogTitle">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="editMediaFolderDialogTitle">{{ 'lbl.EditMediaFolder'|trans|ucfirst }}</h4>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="mediaFolderName" class="control-label">
                {{ 'lbl.Name'|trans|ucfirst }}
                {{ macro.required }}
              </label>
              <input type="hidden" name="mediaFolderId" id="mediaFolderId" maxlength="255" value="{{ mediaFolder.id }}">
              <input type="text" name="mediaFolderName" id="mediaFolderName" class="form-control checkBeforeUnload" maxlength="255" value="{{ mediaFolder.name }}">
              <p class="invalid-feedback" id="categoryTitle'err.r" style="display: none;">This field is required.</p>
            </div>
          </div>
          <div class="modal-footer">
            {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
            {{ macro.buttonIcon('', 'check', 'lbl.Save'|trans|ucfirst, 'btn-primary', { "id":"editMediaFolderSubmit", 'type':"submit", "name":"edit" } ) }}
          </div>
        </div>
      </div>
    </div>
    {% endif %}
  {% endif %}

  {# Add folder dialog #}
  {% include "MediaLibrary/Resources/views/BackendMediaLibraryUploadDialogAddFolder.html.twig" %}
{% endblock %}
