<!DOCTYPE html>
<html lang="{{ INTERFACE_LANGUAGE }}">

{% include "Layout/Templates/head.html.twig" %}
{% import "Layout/Templates/macros.html.twig" as macro %}

<body id="{{ bodyID }}" class="{{ bodyClass }} hiddenInModalMode">

<div class="main-wrapper main-wrapper-pages{% if attribute(cookies, 'navigation-collapse') == 'true' %} navigation-collapsed{% endif %}">
  <div id="root">
    <div id="content" class="content-wrapper">
      <div class="content-main content-main-tree">
        <div class="content">
          <div class="container-fluid container-fluid-large">
            <div class="row">
              <div class="col-sm-12">
                <ul class="nav nav-tabs" role="tablist">
                  <li role="presentation" class="pull-right">
                    <a href="#tabUploadMedia" aria-controls="tabUploadMedia" role="tab"
                       data-toggle="tab">{{ 'lbl.MediaNew'|trans|ucfirst }}</a>
                  </li>
                  <li role="presentation" class="active">
                    <a href="#tabLibrary" aria-controls="tabLibrary" role="tab"
                       data-toggle="tab">{{ 'lbl.MediaLibraryTab'|trans|ucfirst }}</a>
                  </li>
                </ul>
                <div class="tab-content">
                  <div role="tabpanel" class="tab-pane" id="tabUploadMedia" data-context="selection">
                    {% include "MediaLibrary/Resources/views/BackendMediaLibraryUpload.html.twig" %}
                  </div>
                  <div role="tabpanel" class="tab-pane active" id="tabLibrary">
                    <div class="row">
                      <div class="col-sm-3">
                        <div id="mediaTree">
                          <button class="btn btn-default btn-sm tree-collapsed" data-role="toggle-js-tree-collapse">
                            <span data-role="toggle-js-tree-collapse-text">{{ 'lbl.OpenTreeNavigation'|trans }}</span>
                          </button>
                          <div id="tree">
                            {{ tree|raw }}
                          </div>
                        </div>
                      </div>
                      <div class="col-sm-9">
                        {% set alreadyOneActive = false %}
                        <ul class="nav nav-tabs" role="tablist">
                          {% for dataGrid in dataGrids %}
                            <li role="presentation"
                                class="{% if dataGrid.numberOfResults > 0 and not alreadyOneActive %}active{% set alreadyOneActive = true %}{% endif %}">
                              <a href="#{{ dataGrid.tabName }}" aria-controls="tabImage" role="tab"
                                 data-toggle="tab">{{ dataGrid.label|capitalize }} ({{ dataGrid.numberOfResults }})</a>
                            </li>
                          {% endfor %}
                        </ul>
                        <div class="tab-content">
                          {% set alreadyOneActive = false %}
                          {% for dataGrid in dataGrids %}
                            <div role="tabpanel"
                                 class="tab-pane {% if dataGrid.numberOfResults > 0 and not alreadyOneActive %}active{% set alreadyOneActive = true %}{% endif %}"
                                 id="{{ dataGrid.tabName }}">
                              <form id="form-for-{{ dataGrid.mediaType }}" action="{{ geturl('MediaItemMassAction') }}"
                                    method="get" class="forkForms">
                                <div class="row">
                                  <div class="col-md-12">
                                    <div class="table-responsive">
                                      <input type="hidden" name="from" value="{{ dataGrid.mediaType }}"/>
                                      <input id="move-to-folder-id-for-type-{{ dataGrid.mediaType }}" type="hidden"
                                             name="move_to_folder_id" value=""/>
                                      {% if mediaFolder %}
                                        <input type="hidden" name="current_folder_id" value="{{ mediaFolder.id }}"/>
                                      {% endif %}
                                      {{ dataGrid.html|raw }}
                                    </div>
                                  </div>
                                </div>
                              </form>
                              {% if not dataGrid.numberOfResults %}
                                {% if mediaFolder %}
                                  <p>{{ 'msg.NoItems'|trans|format(geturl('add', null, '&folder=#{mediaFolder.id}')) }}</p>{% endif %}
                                {% if not mediaFolder %}<p>{{ 'msg.NoItems'|trans|format(geturl('add') ) }}</p>{% endif %}
                              {% endif %}
                            </div>
                          {% endfor %}
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="hidden">
  <div class="modal fade jsConfirmation" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title h4">{{ 'lbl.Delete'|trans|ucfirst }}</span>
        </div>
        <div class="modal-body">
          <p class="jsConfirmationMessage">{{ 'msg.Confirmation'|trans }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">{{ 'lbl.Cancel'|trans|ucfirst }}</button>
          <a href="#" class="btn btn-primary jsConfirmationSubmit">
            {{ 'lbl.OK'|trans|ucfirst }}
          </a>
        </div>
      </div>
    </div>
  </div>

  {# Scripts should be placed here #}
</div>
</body>
</html>
