{% extends 'Layout/Templates/base.html.twig' %}

{% block actionbar %}

{% endblock %}

{% block content %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#tabPublished" aria-controls="tabPublished" role="tab" data-toggle="tab">{{ 'lbl.Published'|trans|ucfirst }}</a>
          </li>
          <li role="presentation">
            <a href="#tabModeration" aria-controls="tabModeration" role="tab" data-toggle="tab">{{ 'lbl.WaitingForModeration'|trans|ucfirst }}</a>
          </li>
          <li role="presentation">
            <a href="#tabSpam" aria-controls="tabSpam" role="tab" data-toggle="tab">{{ 'lbl.Spam'|trans|ucfirst }}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tabPublished">
            {% if dgPublished %}
              <form action="{{ geturl('mass_comment_action') }}" method="get" class="forkForms" id="commentsPublished">
                <input type="hidden" name="from" value="published" />
                <div class="table-responsive">
                  {{ dgPublished|raw }}
                </div>
                <div class="modal fade" id="confirmPublishedToSpam" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <span class="modal-title h4">{{ 'lbl.Spam'|trans|ucfirst }}</span>
                      </div>
                      <div class="modal-body">
                        <p>{{ 'msg.ConfirmMassSpam'|trans|ucfirst }}</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                          <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
                        </button>
                        <button type="submit" class="btn btn-primary">
                          <span class="fa fa-check"></span>{{ 'lbl.OK'|trans|ucfirst }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="confirmDeletePublished" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <span class="modal-title h4">{{ 'lbl.Delete'|trans|ucfirst }}</span>
                      </div>
                      <div class="modal-body">
                        <p>{{ 'msg.ConfirmMassDelete'|trans|ucfirst }}</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                          <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
                        </button>
                        <button type="submit" class="btn btn-danger">
                          <span class="fa fa-trash"></span>{{ 'lbl.Delete'|trans|ucfirst }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            {% endif %}
            {% if not dgPublished %}
              <p>{{ 'msg.NoComments'|trans|ucfirst }}</p>
            {% endif %}
          </div>
          <div role="tabpanel" class="tab-pane" id="tabModeration">
            {% if dgModeration %}
              <form action="{{ geturl('mass_comment_action') }}" method="get" class="forkForms" id="commentsModeration">
                <input type="hidden" name="from" value="moderation" />
                <div class="table-responsive">
                  {{ dgModeration|raw }}
                </div>
                <div class="modal fade" id="confirmModerationToSpam" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <span class="modal-title h4">{{ 'lbl.Spam'|trans|ucfirst }}</span>
                      </div>
                      <div class="modal-body">
                        <p>{{ 'msg.ConfirmMassSpam'|trans|ucfirst }}</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                          <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
                        </button>
                        <button type="submit" class="btn btn-primary">
                          <span class="fa fa-check"></span>{{ 'lbl.OK'|trans|ucfirst }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="modal fade" id="confirmDeleteModeration" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <span class="modal-title h4">{{ 'lbl.Delete'|trans|ucfirst }}</span>
                      </div>
                      <div class="modal-body">
                        <p>{{ 'msg.ConfirmMassDelete'|trans|ucfirst }}</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                          <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
                        </button>
                        <button type="submit" class="btn btn-danger">
                          <span class="fa fa-trash"></span>{{ 'lbl.Delete'|trans|ucfirst }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            {% endif %}
            {% if not dgModeration %}
              <p>{{ 'msg.NoComments'|trans|ucfirst }}</p>
            {% endif %}
          </div>
          <div role="tabpanel" class="tab-pane" id="tabSpam">
            {% if dgSpam %}
              <form action="{{ geturl('mass_comment_action') }}" method="get" class="forkForms" id="commentsSpam">
                <input type="hidden" name="from" value="spam" />
                <div class="table-responsive">
                  {{ dgSpam|raw }}
                </div>
                <div class="modal fade" id="confirmDeleteSpam" tabindex="-1" role="dialog" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <span class="modal-title h4">{{ 'lbl.Delete'|trans|ucfirst }}</span>
                      </div>
                      <div class="modal-body">
                        <p>{{ 'msg.ConfirmMassDelete'|trans|ucfirst }}</p>
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">
                          <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
                        </button>
                        <button type="submit" class="btn btn-danger">
                          <span class="fa fa-trash"></span>{{ 'lbl.Delete'|trans|ucfirst }}
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              </form>
            {% endif %}
            {% if not dgSpam %}
              <p>{{ 'msg.NoSpam'|trans }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
