{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}
  <div class="btn-toolbar justify-content-end">
    <div class="btn-group" role="group">
      {% if detailURL %}
        {% set url = (detailURL ~ '/' ~ item.url) %}
        {% if item.revision_id %}
          {% set url = (url ~ '?revision=' ~ item.revision_id) %}
        {% endif %}

        {{ macro.buttonIcon(url, 'eye', 'lbl.View'|trans|ucfirst) }}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  {% form edit %}
  <div class="form-group">
    <label for="title" class="control-label">{{ 'lbl.Title'|trans|ucfirst }} {{ macro.required }}</label>
    {% form_field title %} {% form_field_error title %}
    {% if detailURL %}
      <a class="site-url" href="{{ detailURL }}/{{ item.url }}">{{ detailURL }}/<span id="generatedUrl">{{ item.url }}</span></a>
    {% endif %}
    {% if not detailURL %}
      {{ macro.alert('warning', 'err.NoModuleLinked'|trans|ucfirst, null, null, {'class': 'toast-xs'}) }}
    {% endif %}
  </div>
  <div>
        <ul class="nav nav-tabs justify-content-end" role="tablist">
          <li class="nav-item me-auto">
            <a class="nav-link active" href="#tabContent" aria-controls="tabContent" role="tab" data-bs-toggle="tab" aria-selected="true" id="content-tab">{{ 'lbl.Content'|trans|ucfirst }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tabVersions" aria-controls="tabVersions" role="tab" data-bs-toggle="tab" aria-selected="false" id="versions-tab">{{ 'lbl.Versions'|trans|ucfirst }}</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#tabSEO" aria-controls="tabSEO" role="tab" data-bs-toggle="tab" aria-selected="false" id="seo-tab">{{ 'lbl.SEO'|trans|ucfirst }}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane show active" id="tabContent" aria-labelledby="content-tab">
            <div class="row">
              <div class="col-md-8">
                <div class="card card-default card-editor">
                  <div class="card-heading">
                    <h2>
                      <label for="introduction">
                        {{ 'lbl.Summary'|trans|ucfirst }}
                        {{ macro.infoTooltip('msg.HelpSummary'|trans|ucfirst) }}
                      </label>
                    </h2>
                  </div>
                  <div class="card-body">
                    {% form_field introduction %}
                  </div>
                  {% if txtIntroductionError %}
                    <div class="card-footer">
                      {% form_field_error introduction %}
                    </div>
                  {% endif %}
                </div>
                {% if imageIsAllowed %}
                  <div class="card card-default">
                    <div class="card-heading">
                      <h2><label for="image">{{ 'lbl.Image'|trans|ucfirst }}</label></h2>
                    </div>
                    <div class="card-body">
                      <div class="row">
                        <div class="col-lg-3">
                          <label for="image">
                            <img src="{% if item.image %}{{ FRONTEND_FILES_URL }}/Blog/images/200x200/{{ item.image }}{% else %}{{ BACKEND_CORE_URL }}/Layout/Images/image-upload-placeholder.jpg{% endif %}" class="img-thumbnail" width="200" height="200" alt="{{ 'lbl.Image'|trans|ucfirst }}" data-fork-cms-role="image-preview" data-id="image" />
                          </label>
                        </div>
                        <div class="col-lg-9">
                          <label class="form-label" for="image">{{ 'lbl.ChooseFile'|trans|ucfirst }}</label>
                          {% form_field image %}
                          {% form_field_error image %}
                          {% if item.image %}
                            <div class="form-check">
                              {% form_field delete_image %}
                              <label for="deleteImage" class="form-check-label">{{ 'lbl.Delete'|trans|ucfirst }}</label>
                            </div>
                            {% form_field_error delete_image %}
                          {% endif %}
                        </div>
                      </div>
                    </div>
                  </div>
                {% endif %}
                <div class="card card-default card-editor last">
                  <div class="card-heading">
                    <h2>
                      <label for="text">
                        {{ 'lbl.MainContent'|trans|ucfirst }}
                        {{ macro.required }}
                      </label>
                    </h2>
                  </div>
                  <div class="card-body">
                    {% form_field text %}
                  </div>
                  {% if txtTextError %}
                    <div class="card-footer">
                      {% form_field_error text %}
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="col-md-4">
                <div class="card card-default">
                  <div class="card-heading">
                    <h2>{{ 'lbl.Status'|trans|ucfirst }}</h2>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <div class="form-group">
                        {% for rbtn in hidden %}
                          <div class="form-check">
                            {{ rbtn.rbtHidden|raw }}
                            <label class="form-check-label" for="{{ rbtn.id }}">{{ rbtn.label }}</label>
                          </div>
                        {% endfor %}
                      </div>
                    </div>
                    <div class="form-group last">
                      <label for="publishOnDate" class="control-label">{{ 'lbl.PublishOn'|trans|ucfirst }}</label>
                      {% form_field publish_on_date %} {% form_field_error publish_on_date %}
                      <label for="publishOnTime" class="control-label">{{ 'lbl.At'|trans }}</label>
                      {% form_field publish_on_time %} {% form_field_error publish_on_time %}
                    </div>
                  </div>
                </div>
                <div class="card card-default">
                  <div class="card-heading">
                    <h2>{{ 'lbl.Comments'|trans|ucfirst }}</h2>
                  </div>
                  <div class="card-body">
                    <div class="form-group last">
                      <div class="form-check">
                        {% form_field allow_comments %}
                        <label for="allowComments" class="form-check-label">{{ 'lbl.AllowComments'|trans|ucfirst }}</label>
                      </div>
                    </div>
                  </div>
                </div>
                <div class="card card-default">
                  <div class="card-heading">
                    <h2>{{ 'lbl.MetaData'|trans|ucfirst }}</h2>
                  </div>
                  <div class="card-body">
                    <div class="form-group">
                      <label for="categoryId" class="control-label">{{ 'lbl.Category'|trans|ucfirst }}</label>
                      {% form_field category_id %} {% form_field_error category_id %}
                    </div>
                    <div class="form-group">
                      <label for="userId" class="control-label">{{ 'lbl.Author'|trans|ucfirst }}</label>
                      {% form_field user_id %} {% form_field_error user_id %}
                    </div>
                    {% if isAllowedAction('Index', 'Tags') %}
                      <div class="form-group last">
                        <label for="tags" class="control-label">{{ 'lbl.Tags'|trans|ucfirst }}</label>
                        {% form_field tags %} {% form_field_error tags %}
                        <small class="form-text text-muted" id="tags-info">{{ 'msg.HelpTextTags'|trans }}</small>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabVersions" aria-labelledby="versions-tab">
            {% if drafts %}
              <div class="content-block">
                <div class="content-title">
                  <h2>{{ 'lbl.Drafts'|trans|ucfirst }}
                    {{ macro.infoTooltip('msg.HelpDrafts'|trans|ucfirst) }}
                  </h2>
                </div>
                {{ drafts|raw }}
              </div>
            {% endif %}
            <div class="content-block">
              <div class="content-title">
                <h2>
                  {{ 'lbl.PreviousVersions'|trans|ucfirst }}
                  {{ macro.infoTooltip('msg.HelpRevisions'|trans|ucfirst) }}
                </h2>
              </div>
              {% if revisions %}
                {{ revisions|raw }}
              {% endif %}
              {% if not revisions %}
                <p>{{ 'msg.NoRevisions'|trans|ucfirst }}</p>
              {% endif %}
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabSEO" aria-labelledby="seo-tab">
            {% seo %}
          </div>
        </div>
  </div>
  <div class="fork-module-actions">
    <div class="btn-toolbar">
      <div class="btn-group" role="group">
        {% if isAllowedAction('Delete') %}
          {{ macro.buttonIcon('', 'trash-alt', 'lbl.Delete'|trans|ucfirst, 'btn-danger', {"id":"blog-delete", "data-bs-toggle":"modal", "data-bs-target":"#confirmDelete", "type":"button"} ) }}
        {% endif %}
        {{ macro.buttonIcon(geturl('Index'), 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default') }}
      </div>
      <div class="btn-group ms-auto" role="group">
        {{ macro.buttonIcon('', 'file', 'lbl.SaveDraft'|trans|ucfirst, 'btn-default', {"type":"submit", "name":"saveAsDraft"}) }}
        {{ macro.buttonIcon('', 'check', 'lbl.Publish'|trans|ucfirst, 'btn-primary', {"type":"submit", "name":"publish"}) }}
      </div>
    </div>
  </div>
  <div class="modal fade" id="addCategoryDialog" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="addCategoryDialogTitle">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="addCategoryDialogTitle">{{ 'lbl.AddCategory'|trans|ucfirst }}</h4>
        </div>
        <div class="modal-body">
          <div class="form-group">
            <label for="categoryTitle" class="control-label">
              {{ 'lbl.Title'|trans|ucfirst }}
              {{ macro.required }}
            </label>
            <input type="text" name="categoryTitle" id="categoryTitle" class="form-control" maxlength="255" />
            <p class="invalid-feedback" id="categoryTitleError" style="display: none;">{{ 'err.FieldIsRequired'|trans|ucfirst }}</p>
          </div>
        </div>
        <div class="modal-footer">
          {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', {"data-dismiss":"modal" }) }}
          {{ macro.buttonIcon('', 'plus-square', 'lbl.AddCategory'|trans|ucfirst, 'btn-primary', {"id":"addCategorySubmit", "type":"button"}) }}
        </div>
      </div>
    </div>
  </div>
  {% endform %}

  {% if isAllowedAction('Delete') %}
    {{ form_start(deleteForm) }}
    {{ form_row(deleteForm._token) }}
    {{ form_row(deleteForm.id) }}
    {{ form_row(deleteForm.categoryId) }}
    <div class="modal fade" id="confirmDelete" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmDeleteTitle">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="confirmDeleteTitle">{{ 'lbl.Delete'|trans|ucfirst }}</h4>
          </div>
          <div class="modal-body">
            <p>{{ 'msg.ConfirmDelete'|trans|format(item.title|e)|raw }}</p>
          </div>
          <div class="modal-footer">
            {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', {"data-dismiss":"modal"}) }}
            {{ macro.buttonIcon('', 'trash', 'lbl.Delete'|trans|ucfirst, 'btn-danger', {"type":"submit"}) }}
          </div>
        </div>
      </div>
    </div>
    {{ form_end(deleteForm) }}
  {% endif %}
{% endblock %}
