{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block content %}
  {% form import %}
  <div class="form-group">
    <label for="wordpress" class="form-label">{{ 'lbl.File'|trans|ucfirst }}</label>
    {% form_field wordpress %}
    <small class="form-text text-muted">{{ 'msg.HelpWordpress'|trans|ucfirst }}</small>
    {% form_field_error wordpress %}
  </div>
  <div class="form-group">
    <label for="filter" class="control-label">{{ 'lbl.WordpressFilter'|trans|ucfirst }}</label>
    {% form_field filter %}
    {% form_field_error filter %}
    <small class="form-text text-muted">{{ 'msg.HelpWordpressFilter'|trans|ucfirst }}</small>
  </div>
  <div class="fork-module-actions">
    <div class="btn-toolbar d-flex">
      <div class="btn-group ms-auto" role="group">
        {{ macro.buttonIcon('', 'file-import', 'lbl.Import'|trans|ucfirst, 'btn-primary', {"type":"submit", "name":"save", "id":"importButton"}) }}
      </div>
    </div>
  </div>
  {% endform %}
{% endblock %}
