{% extends 'Layout/Templates/base.html.twig' %}

{% block actionbar %}
  <div class="row fork-module-heading">
    <div class="col-md-6">
      <h2>{{ 'lbl.Import'|trans|ucfirst }}</h2>
    </div>
    <div class="col-md-6">

    </div>
  </div>
{% endblock %}

{% block content %}
  {% form import %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="form-group">
        <label for="wordpress" class="control-label">{{ 'lbl.File'|trans|ucfirst }}</label>
        <p class="help-block">{{ 'msg.HelpWordpress'|trans|ucfirst }}</p>
        {% form_field wordpress %} {% form_field_error wordpress %}
      </div>
      <div class="form-group">
        <label for="filter" class="control-label">{{ 'lbl.WordpressFilter'|trans|ucfirst }}</label>
        <p class="help-block">{{ 'msg.HelpWordpressFilter'|ucfirst }}</p>
        {% form_field filter %} {% form_field_error filter %}
      </div>
    </div>
  </div>
  <div class="row fork-module-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-right" role="group">
          <button id="importButton" type="submit" name="save" class="btn btn-primary">{{ 'lbl.Import'|trans|ucfirst }}</button>
        </div>
      </div>
    </div>
  </div>
  {% endform %}
{% endblock %}
