{% extends '/Layout/Templates/base.html.twig' %}

{% block actionbar %}
  <div class="btn-toolbar pull-right">
    <div class="btn-group" role="group">
      {% if showBlogAdd %}
        {% if filterCategory %}
          {{ macro.buttonIcon( geturl('add', null, '&category='~filterCategory.id), 'plus-square', 'lbl.Add'|trans|ucfirst) }}
        {% endif %}
        {% if not filterCategory %}
          {{ macro.buttonIcon( geturl('add'), 'plus-square', 'lbl.Add'|trans|ucfirst) }}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}

  {% if hasMultipleCategories %}
    <div class="content-block content-block-p">
      {% form filter %}
      <div class="row">
        <div class="col-md-4">
          <div class="form-group">
            <label for="category" class="control-label">{{ 'msg.ShowOnlyItemsInCategory'|trans }}</label>
            {% form_field category %} {% form_field_error category %}
          </div>
        </div>
      </div>

      <div class="btn-toolbar">
        <div class="btn-group pull-right">
          <button id="search" type="submit" class="btn btn-primary" name="search">
            <span class="fa fa-refresh"></span>&nbsp;
            {{ 'lbl.UpdateFilter'|trans|ucfirst }}
          </button>
        </div>
      </div>
      {% endform %}

    </div>
  {% endif %}

  {% if dgRecent %}
    <div class="content-block content-block-pb">
      <div class="content-title">
        <p>{{ 'lbl.RecentlyEdited'|trans|ucfirst }}</p>
      </div>
      {{ macro.dataGrid(dgRecent, 'msg.NoItems'|trans|format(geturl('add'))|raw) }}
    </div>
  {% endif %}

  {% if dgDrafts %}
  <div class="content-block content-block-pb">
    <div class="content-title">
      <p>{{ 'lbl.Drafts'|trans|ucfirst }}</p>
    </div>
    {{ macro.dataGrid(dgDrafts, 'msg.NoItems'|trans|format(geturl('add'))|raw) }}
  </div>
  {% endif %}

  <div class="content-block content-block-pb">
    <div class="content-title">
      <p>{{ 'lbl.PublishedArticles'|trans|ucfirst }}</p>
    </div>
    {% if filterCategory %}
      {{ macro.dataGrid(dgPosts, 'msg.NoItems'|trans|format(geturl('add', null, '&category=#{filterCategory.id}'))|raw) }}
    {% else %}
      {{ macro.dataGrid(dgPosts, 'msg.NoItems'|trans|format(geturl('add'))|raw) }}
    {% endif %}
  </div>
{% endblock %}
