{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}
  <div class="btn-toolbar justify-content-end">
    <div class="btn-group" role="group">
      {% if isAllowedAction('Add') %}
        {% if filterCategory %}
          {{ macro.buttonIcon(geturl('add', null, '&category='~filterCategory.id), 'plus-square', 'lbl.Add'|trans|ucfirst) }}
        {% endif %}
        {% if not filterCategory %}
          {{ macro.buttonIcon(geturl('add'), 'plus-square', 'lbl.Add'|trans|ucfirst) }}
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}

  {% if hasMultipleCategories %}
    <div class="content-block content-block-pb">
      {% form filter %}
      <div class="form-group">
        <div class="content-title">
          <label for="category" class="control-label">{{ 'msg.ShowOnlyItemsInCategory'|trans }}</label>
        </div>
        <div class="input-group">
          {% form_field category %}
          <div class="input-group-text">
            {{ macro.buttonIcon('', 'sync', 'lbl.UpdateFilter'|trans|ucfirst, 'btn-primary', {"type":"submit", "name":"search", "id":"search"}) }}
          </div>
        </div>
        {% form_field_error category %}
      </div>

      {% endform %}

    </div>
  {% endif %}

  {% if dgRecent or dgDrafts or dgPosts %}
    {% if dgRecent %}
      <div class="content-block content-block-pb">
        <div class="content-title">
          <h2>{{ 'lbl.RecentlyEdited'|trans|ucfirst }}</h2>
        </div>
        {{ macro.dataGrid(dgRecent) }}
      </div>
    {% endif %}

    {% if dgDrafts %}
      <div class="content-block content-block-pb">
        <div class="content-title">
          <h2>{{ 'lbl.Drafts'|trans|ucfirst }}</h2>
        </div>
        {{ macro.dataGrid(dgDrafts) }}
      </div>
    {% endif %}

    {% if dgPosts %}
      <div class="content-block content-block-pb">
        <div class="content-title">
          <h2>{{ 'lbl.PublishedArticles'|trans|ucfirst }}</h2>
        </div>
        {% if filterCategory %}
          {{ macro.dataGrid(dgPosts, geturl('add', null, '&category=#{filterCategory.id}'), 'msg.AddAnArticle'|trans, 'msg.NoItems'|trans) }}
        {% else %}
          {{ macro.dataGrid(dgPosts, geturl('add'), 'msg.AddAnArticle'|trans, 'msg.NoItems'|trans) }}
        {% endif %}
      </div>
    {% endif %}
  {% else %}
    {{ macro.emptyState(geturl('add'), 'msg.AddAnArticle'|trans, 'msg.NoItems'|trans) }}
  {% endif %}
{% endblock %}
