{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}
  <div class="btn-toolbar justify-content-end">
    <div class="btn-group" role="group">
      {{ macro.buttonIcon(SITE_URL ~ itemURL, 'eye', 'lbl.View'|trans|ucfirst, '', {"target":"_blank", "rel":"noopener noreferrer"}) }}
    </div>
  </div>
{% endblock %}

{% block content %}
  {% form editComment %}
  <div class="form-group">
    <label for="author" class="control-label">
      {{ 'lbl.Author'|trans|ucfirst }}
      {{ macro.required }}
    </label>
    {% form_field author %} {% form_field_error author %}
  </div>
  <div class="form-group">
    <label for="email" class="control-label">
      {{ 'lbl.Email'|trans|ucfirst }}
      {{ macro.required }}
    </label>
    {% form_field email %} {% form_field_error email %}
  </div>
  <div class="form-group">
    <label for="website" class="control-label">{{ 'lbl.Website'|trans|ucfirst }}</label>
    {% form_field website %} {% form_field_error website %}
  </div>
  <div class="form-group">
    <label for="text" class="control-label">
      {{ 'lbl.Text'|trans|ucfirst }}
      {{ macro.required }}
    </label>
    {% form_field text %} {% form_field_error text %}
  </div>
  <div class="fork-module-actions">
    <div class="btn-toolbar">
      <div class="btn-group" role="group">
        {{ macro.buttonIcon(geturl('Comments'), 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default') }}
      </div>
      <div class="btn-group pull-right" role="group">
        {{ macro.buttonIcon('', 'save', 'lbl.Save'|trans|ucfirst, 'btn-primary', {"type":"submit", "name":"edit", "id":"editButton"}) }}
      </div>
    </div>
  </div>
  {% endform %}

{% endblock %}
