{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form add %}
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#tabGeneral" aria-controls="tabGeneral" role="tab" data-bs-toggle="tab" aria-selected="true" id="general-tab">{{ 'lbl.General'|trans|ucfirst }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#tabExtra" aria-controls="tabExtra" role="tab" data-bs-toggle="tab" aria-selected="false" id="extra-tab">{{ 'lbl.Extra'|trans|ucfirst }}</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active show" id="tabGeneral" aria-labelledby="general-tab">
        <div class="row">
          <div class="col-lg-6">
            <div class="card card-default">
              <div class="card-heading">
                <h2 class="card-title">{{ 'lbl.Status'|trans|ucfirst }}</h2>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="name" class="control-label">
                    {{ 'lbl.Name'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  {% form_field name %} {% form_field_error name %}
                </div>
                <div class="form-group">
                  <label for="method" class="control-label">
                    {{ 'lbl.Method'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  {% form_field method %} {% form_field_error method %}
                </div>
                <div class="form-group">
                  <label for="EmailSubject" class="control-label">
                    {{ 'lbl.EmailSubject'|trans|ucfirst }}
                  </label>
                  {% form_field email_subject %} {% form_field_error email_subject %}
                </div>
                {% if ddmTemplate %}
                  <div class="form-group">
                    <label for="template" class="control-label">{{ 'lbl.Template'|trans|ucfirst }}</label>
                    {% form_field template %} {% form_field_error template %}
                  </div>
                {% endif %}
                <div class="form-group">
                  <label for="email" class="control-label">
                    {{ 'lbl.Recipient'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  {% form_field email %} {% form_field_error email %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-default">
              <div class="card-heading">
                <label for="successPage" class="control-label">
                  {{ 'lbl.SuccessPage'|trans|ucfirst }}
                </label>
              </div>
              <div class="card-body">
                <div class="form-group last">
                  {% for option in success_type %}
                    <div class="form-check">
                      {{ option.rbtSuccessType|raw }}
                      <label class="form-check-label" for="{{ option.id }}">{{ option.label }}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="card card-default card-editor" data-role="success-message">
              <div class="card-heading">
                <label for="successMessage" class="control-label">
                  {{ 'lbl.SuccessMessage'|trans|ucfirst }}
                  {{ macro.required }}<br>
                </label>
              </div>
              <div class="card-body">
                <div class="form-group last">
                  {% form_field success_message %}
                </div>
              </div>
              {% if txtSuccessMessageError %}
                <div class="card-footer">
                  {% form_field_error success_message %}
                </div>
              {% endif %}
            </div>
            <div class="card card-default d-none" data-role="success-page">
              <div class="card-heading">
                <label for="successPage" class="control-label">
                  {{ 'lbl.SuccessPage'|trans|ucfirst }}
                </label>
              </div>
              <div class="card-body">
                <div class="form-group last">
                  <label for="successPage" class="control-label">{{ 'lbl.SelectConfirmationPage'|trans|ucfirst }}</label>
                  {% form_field success_page %}{% form_field_error success_page %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="tabExtra" aria-labelledby="extra-tab">
        <label for="identifier" class="control-label">
          {{ 'lbl.Identifier'|trans|ucfirst }}
          {{ macro.infoTooltip('msg.HelpIdentifier'|trans|ucfirst) }}
        </label>
        {% form_field identifier %} {% form_field_error identifier %}
      </div>
    </div>
  </div>
  <div class="fork-module-actions">
    <div class="btn-toolbar">
      <div class="btn-group" role="group">
        {{ macro.buttonIcon(geturl('Index'), 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default') }}
      </div>
      <div class="btn-group ms-auto" role="group">
        {{ macro.buttonIcon('', 'plus-square', 'lbl.Add'|trans|ucfirst, 'btn-primary', { "id":"addButton", "type":"submit", "name":"add" }) }}
      </div>
    </div>
  </div>
  {% endform %}
{% endblock %}
