{% import 'Layout/Templates/macros.html.twig' as macro %}
<div id="fieldHolder-{{ id }}" class="form-group field jsField" data-field-wrapper>
  <div class="row">
    {% if plaintext %}
      <div class="col-md-8">
        {{ content|raw }}
      </div>
    {% endif %}
    {% if simple %}
      <div class="col-md-3">
        <label for="field{{ id }}">
          <span id="field{{ id }}-label">{{ label|raw }}</span>
          {% if required %}
            {{ macro.required }}
          {% endif %}
        </label>
      </div>
      <div class="col-md-5">
        {{ field|raw }}
      </div>
    {% endif %}
    {% if multiple %}
      <div class="col-md-3">
        <label for="field{{ id }}">
          {{ label|raw }}
          {% if required %}
            {{ macro.required }}
          {% endif %}
        </label>
      </div>
      <div class="col-md-5">
        <ul class="list-unstyled">
          {% for item in items %}
            <li class="form-check">
              {{ item.field|raw }}
              <label class="form-check-label" for="{{ item.id }}">{{ item.label|raw }}</label>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endif %}
    <div class="col-md-4">
      <div class="btn-toolbar d-flex">
        <div class="btn-group ms-auto" role="group">
          <button class="btn btn-secondary btn-icon-only btn-sm jsFieldEdit" data-field-id="{{ id }}" title="{{ 'lbl.Edit'|trans|ucfirst }}" aria-labelledby="edit-text-{{ id }} field{{ id }}-label">
            {{ macro.icon('pencil-alt fa-fw') }}
            <span class="visually-hidden" id="edit-text-{{ id }}">{{ 'lbl.Edit'|trans|ucfirst }}</span>
          </button>
          <button class="btn btn-danger btn-icon-only btn-sm jsFieldDelete" data-field-id="{{ id }}" title="{{ 'lbl.Delete'|trans|ucfirst }}" aria-labelledby="delete-text-{{ id }} field{{ id }}-label">
            {{ macro.icon('trash-alt fa-fw') }}
            <span class="visually-hidden" id="delete-text-{{ id }}">{{ 'lbl.Delete'|trans|ucfirst }}</span>
          </button>
          <button class="btn btn-default btn-icon-only btn-sm fork-data-grid-sortable dragAndDropHandle" data-role="drag-and-drop-handle" aria-labelledby="move-text-{{ id }} field{{ id }}-label">
            {{ macro.icon('bars fa-fw') }}
            <span class="visually-hidden" id="move-text-{{ id }}">{{ 'lbl.Move'|trans|ucfirst }}</span>
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
