{% if articles is not empty %}
  <aside class="module-blog widget-blog-recent-articles-list">
    {% block widget_heading %}
      <header class="widget-heading" role="banner">
        <h3>{{ 'lbl.RecentArticles'|trans|ucfirst }}</h3>
      </header>
    {% endblock %}

    {% block widget_body %}
      <div class="widget-body">
        <ul>
          {% for post in articles %}
            <li>
              <a href="{{ get_url_for_block('Blog', 'Detail', 'action', {'slug':post.meta.slug}) }}">
                {{ post.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endblock %}

    {% block widget_footer %}
      <footer class="widget-footer">
        <p class="btn-group">
          <a class="btn btn-primary" href="{{ get_url_for_block('Blog', 'Index', 'action') }}">
            {{ 'lbl.BlogIndex'|trans|ucfirst }}
          </a>
        </p>
      </footer>
    {% endblock %}
  </aside>
{% endif %}
