{#
	variables that are available:
	- {{ searchResults }}: contains an array with all items, each element contains data about the item
	- {{ searchTerm }}: the term that has been searched for
#}

<section id="searchIndex" class="mod">
  <div class="inner">
    <header class="hd">
      <h4>{{ 'lbl.SearchAgain'|trans|ucfirst }}</h4>
    </header>
    <div class="bd">
      {% form search %}
      <p{% if form_field_error %} class="errorArea"{% endif %}>
        <label for="q">{{ 'lbl.SearchTerm'|trans|ucfirst }}
          <abbr title="{{ 'lbl.RequiredField'|trans }}">*</abbr></label>
        {% form_field_error q %} {% form_field q %}
      </p>
      <p>
        <input id="submit" class="inputSubmit" type="submit" name="submit" value="{{ 'lbl.Search'|trans|ucfirst }}" />
      </p>
      {% endform %}
    </div>
  </div>
</section>

{# don't remove this container nor replace the id - it'll be used to populate the search results live as you type #}
<div id="searchContainer">
  {% include "Modules/Search/Layout/Templates/Results.html.twig" %}
</div>
