{#
  variables that are available:
  - {{ searchResults }}: contains an array with all items, each element contains data about the item
  - {{ searchTerm }}: the term that has been searched for
#}
{% import "Core/Layout/Templates/Macros.html.twig" as macro %}
<section class="module-search block-search-index" role="search">
  {% block block_heading %}{% endblock %}

  {% block block_body %}
    <div class="mb-5">
      {% form search %}
        <label for="q">
          {{ 'lbl.SearchTerm'|trans|ucfirst }}{{ macro.required }}
        </label>
        <div class="input-group{% if txtQError %} error{% endif %}">
          {% form_field q %}
          <span class="input-group-append">
        <input id="submit" class="btn btn-primary" type="submit" name="submit" value="{{ 'lbl.Search'|trans|ucfirst }}" />
      </span>
        </div>
      {% form_field_error q %}
      {% endform %}
    </div>
  {% endblock %}

  {% block block_footer %}{% endblock %}
</section>

{% block block_results_container %}
  <div data-role="search-results-container">
    {% include "Modules/Search/Layout/Templates/Results.html.twig" %}
  </div>
{% endblock %}
