{% import '@Backend/base/macros.html.twig' as macro %}
<a{% for attr, value in options %} {{ attr }}="{{ value }}"{% endfor %}>
  <span class="float-end">
    {% if sorted %}
      {% if direction == 'desc' %}
        {{ macro.icon('sort-down') }}
      {% else %}
        {{ macro.icon('sort-up') }}
      {% endif %}
    {% else %}
      {{ macro.icon('sort') }}
    {% endif %}
  </span>
  {{ title }}
</a>
