{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form settingsEmail %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ 'lbl.Email'|trans|ucfirst }}
          </h3>
        </div>
        <div class="panel-body">
        {% if isGod %}
          <div class="content-block">
            <div class="content-title">
              <p>{{ 'lbl.SendingEmails'|trans|ucfirst }}</p>
              <p class="help-block">{{ 'msg.HelpSendingEmails'|trans }}</p>
            </div>
            <div class="form-inline">
              <small>
                <div class="form-group">
                  {% form_field mailer_type %} {% form_field_error mailer_type %}
                  <a id="testEmailConnection" href="#">{{ 'msg.SendTestMail'|trans|ucfirst }}</a>
                  <span id="testEmailConnectionSpinner" style="display: none; padding-top: 3px;">
                    <i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
                  </span>
                </div>
                <span id="testEmailConnectionError" style="display: none;" class="alert alert-danger">{{ 'err.ErrorWhileSendingEmail'|trans }}</span>
                <span id="testEmailConnectionSuccess" style="display: none;" class="alert alert-success">{{ 'msg.TestWasSent'|trans }}</span>
              </small>
            </div>
          </div>
          {% endif %}
          <div class="content-block">
            <div class="content-title">
              <p>{{ 'lbl.From'|trans|ucfirst }}</p>
              <p class="help-block">{{ 'msg.HelpEmailFrom'|trans }}</p>
            </div>
            <div class="form-group">
              <label for="mailerFromName" class="control-label">
                {{ 'lbl.Name'|trans|ucfirst }}
                {{ macro.required }}
              </label>
              {% form_field mailer_from_name %} {% form_field_error mailer_from_name %}
            </div>
            <div class="form-group">
              <label for="mailerFromEmail" class="control-label">
                {{ 'lbl.Email'|trans|ucfirst }}
                {{ macro.required }}
              </label>
              {% form_field mailer_from_email %} {% form_field_error mailer_from_email %}
            </div>
          </div>
          <div class="content-block">
            <div class="content-title">
              <p>{{ 'lbl.To'|trans|ucfirst }}</p>
              <p class="help-block">{{ 'msg.HelpEmailTo'|trans }}</p>
            </div>
            <div class="form-group">
              <label for="mailerToName" class="control-label">
                {{ 'lbl.Name'|trans|ucfirst }}
                {{ macro.required }}
              </label>
              {% form_field mailer_to_name %} {% form_field_error mailer_to_name %}
            </div>
            <div class="form-group">
              <label for="mailerToEmail" class="control-label">
                {{ 'lbl.Email'|trans|ucfirst }}
                {{ macro.required }}
              </label>
              {% form_field mailer_to_email %} {% form_field_error mailer_to_email %}
            </div>
          </div>
          <div class="content-block">
            <div class="content-title">
              <p>{{ 'lbl.ReplyTo'|trans|ucfirst }}</p>
            </div>
            <div class="form-group">
              <label for="mailerReplyToName" class="control-label">
                {{ 'lbl.Name'|trans|ucfirst }}
                {{ macro.required }}
              </label>
              {% form_field mailer_reply_to_name %} {% form_field_error mailer_reply_to_name %}
            </div>
            <div class="form-group last">
              <label for="mailerReplyToEmail" class="control-label">
                {{ 'lbl.Email'|trans|ucfirst }}
                {{ macro.required }}
              </label>
              {% form_field mailer_reply_to_email %} {% form_field_error mailer_reply_to_email %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if isGod %}
    <div class="row fork-module-content">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              {{ 'lbl.SMTP'|trans|ucfirst }}
            </h3>
          </div>
          <div class="panel-body">
            <div class="form-group">
              <label for="smtpPort" class="control-label">{{ 'lbl.Server'|trans|ucfirst }}&#160;&amp; {{ lbl.Port }}</label>
              <p class="help-block">{{ 'msg.HelpSMTPServer'|trans }}</p>
              <div class="form-inline">
                {% form_field smtp_server %}
                <span>:</span>
                {% form_field smtp_port %}
                {% form_field_error smtp_port %} {% form_field_error smtp_server %}
              </div>
            </div>
            <div class="form-group">
              <label for="smtpUsername" class="control-label">{{ 'lbl.Username'|trans|ucfirst }}</label>
              {% form_field smtp_username %} {% form_field_error smtp_username %}
            </div>
            <div class="form-group">
              <label for="smtpPassword" class="control-label">{{ 'lbl.Password'|trans|ucfirst }}</label>
              {% form_field smtp_password %} {% form_field_error smtp_password %}
            </div>
            <div class="form-group last">
              <label for="smtpSecureLayer" class="control-label">{{ 'lbl.SmtpSecureLayer'|trans|ucfirst }}</label>
              {% form_field smtp_secure_layer %}
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="row fork-module-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-right" role="group">
          <button id="save" type="submit" name="save" class="btn btn-primary">
            <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endform %}
{% endblock %}
