{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form settingsSeo %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            {{ 'lbl.SEO'|trans|ucfirst }}
          </h2>
        </div>
        <div class="panel-body">
          <div class="form-group last">
            <ul class="list-unstyled">
              <li class="checkbox">
                <label for="seoNoodp" class="control-label">{% form_field seo_noodp %} NOODP</label>
                <p class="help-block">{{ 'msg.HelpSEONoodp'|trans|ucfirst|raw }}</p>
              </li>
              <li class="checkbox">
                <label for="seoNoydir" class="control-label">{% form_field seo_noydir %} NOYDIR</label>
                <p class="help-block">{{ 'msg.HelpSEONoydir'|trans|ucfirst }}</p>
              </li>
              <li class="checkbox">
                <label for="seoNofollowInComments" class="control-label">{% form_field seo_nofollow_in_comments %} {{ 'msg.SEONoFollowInComments'|trans|ucfirst|raw }}</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
      {% if langFields %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h2 class="panel-title">
              {{ 'lbl.LinkedPagesPerLanguage'|trans|ucfirst }}
            </h2>
          </div>
          <div class="panel-body">
            <div class="form-group last">
              <table class="table table-hover table-striped fork-data-grid jsDataGrid">
                <thead>
                  <tr>
                    {% for lang in languages %}
                      <th>{{ lang }}</th>
                    {% endfor %}
                  </tr>
                </thead>
                <tbody>
                  {% for pageId, item in langFields %}
                    <tr class="{% if loop.index%2 == 0 %}odd{% else %}even{% endif %}">
                      {% for lang, data in item %}
                        <td>
                          {% if data.field %}
                            {{ data.field|raw }}
                          {% else %}
                            {{ data.title }}
                          {% endif%}
                        </td>
                      {% endfor %}
                    </tr>
                  {% endfor %}
                </tbody>
              </table>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  </div>
  <div class="row fork-module-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-right" role="group">
          {{ macro.buttonIcon('', 'floppy-o', 'lbl.Save'|trans|ucfirst, 'btn-primary', { "id":"save", "type":"submit", "name":"save" }) }}
        </div>
      </div>
    </div>
  </div>
  {% endform %}
{% endblock %}
