{% import 'Layout/Templates/macros.html.twig' as macro %}

{% if not is_included('MediaLibrary/Resources/views/BackendMediaGroupsHelper.html.twig') %}
  {# In case of modules including this file the old way instead of the automatic include in the form template#}
  {{ set_included('MediaLibrary/Resources/views/BackendMediaGroupsHelper.html.twig') }}
  {# Add new media dialog #}
  <div class="modal fade" id="addMediaDialog" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="addMediaDialogTitle" data-role="media-library-add-dialog">
    <div class="modal-dialog modal-lg" data-role="media-library-select-modal">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="addMediaDialogTitle">{{ 'lbl.MediaConnect'|trans|ucfirst }}</h4>
        </div>
        <div class="modal-body">
          <ul class="nav nav-tabs justify-content-end" role="tablist">
            <li class="nav-item me-auto">
              <a class="nav-link" href="#tabUploadMedia" aria-controls="tabUploadMedia" role="tab" data-bs-toggle="tab" aria-selected="false" id="upload-media-tab">{{ 'lbl.MediaNew'|trans|ucfirst }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link active" href="#tabLibrary" aria-controls="tabLibrary" role="tab" data-bs-toggle="tab" aria-selected="true" id="library-tab">{{ 'lbl.MediaLibraryTab'|trans|ucfirst }}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane" id="tabUploadMedia" aria-labelledby="upload-media-tab">
              {% include "MediaLibrary/Resources/views/BackendMediaLibraryUpload.html.twig" %}
            </div>
            <div role="tabpanel" class="tab-pane active show" id="tabLibrary" aria-labelledby="library-tab">
              <div class="options">
                <label for="folders">{{ 'msg.MediaYouAreHere'|trans }}</label>
                <select id="mediaFolders"></select>
              </div>
              <div class="options">
                {{ macro.alert('warning', null, null, null, {'class': 'd-none', 'data-role': 'fork-media-count-error'}) }}
              </div>
              <ul class="nav nav-tabs" role="tablist">
                <li class="nav-item">
                  <a class="nav-link active" href="#tabImage" aria-controls="tabImage" role="tab" data-bs-toggle="tab" aria-selected="true" id="image-tab">
                    {{ 'lbl.MediaImages'|trans|ucfirst }}
                    <span id="mediaCountImage">(0)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#tabFile" aria-controls="tabFile" role="tab" data-bs-toggle="tab" aria-selected="false" id="file-tab">
                    {{ 'lbl.MediaFiles'|trans|ucfirst }}
                    <span id="mediaCountFile">(0)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#tabMovie" aria-controls="tabMovie" role="tab" data-bs-toggle="tab" aria-selected="false" id="movie-tab">
                    {{ 'lbl.MediaMovies'|trans|ucfirst }}
                    <span id="mediaCountMovie">(0)</span>
                  </a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#tabAudio" aria-controls="tabAudio" role="tab" data-bs-toggle="tab" aria-selected="false" id="audio-tab">
                    {{ 'lbl.MediaAudio'|trans|ucfirst }}
                    <span id="mediaCountAudio">(0)</span>
                  </a>
                </li>
              </ul>
              <div class="tab-content">
                <div role="tabpanel" class="tab-pane show active" id="tabImage" aria-labelledby="image-tab">
                  <div class="table-responsive">
                    <table id="mediaTableImage" class="table table-hover table-striped fork-data-grid jsDataGrid mediaTable"></table>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="tabFile" aria-labelledby="file-tab">
                  <div class="table-responsive">
                    <table id="mediaTableFile" class="table table-hover table-striped fork-data-grid jsDataGrid mediaTable"></table>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="tabMovie" aria-labelledby="movie-tab">
                  <div class="table-responsive">
                    <table id="mediaTableMovie" class="table table-hover table-striped fork-data-grid jsDataGrid mediaTable"></table>
                  </div>
                </div>
                <div role="tabpanel" class="tab-pane" id="tabAudio" aria-labelledby="audio-tab">
                  <div class="table-responsive">
                    <table id="mediaTableAudio" class="table table-hover table-striped fork-data-grid jsDataGrid mediaTable"></table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            {{ macro.icon('times') }}<span class="btn-text">{{ 'lbl.Cancel'|trans|ucfirst }}</span>
          </button>
          <button id="addMediaSubmit" type="button" class="btn btn-primary">
            {{ macro.icon('check') }}<span class="btn-text">{{ 'lbl.OK'|trans|ucfirst }}</span></button>
        </div>
      </div>
    </div>
    {% include "MediaLibrary/Resources/views/CropperDialog.html.twig" %}
  </div>
{% endif %}
