 {% import 'Layout/Templates/macros.html.twig' as macro %}
<div class="modal-dialog modal-lg d-none" data-role="media-library-cropper-modal" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="mediaLibraryCropperModalTitle">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="mediaLibraryCropperModalTitle">{{ 'lbl.CropImage'|trans|ucfirst }}</h4>
    </div>
    <div class="modal-body" data-role="media-library-cropper-dialog-body">
      <div class="w-100" data-role="media-library-cropper-dialog-canvas-wrapper"></div>
    </div>
    <div class="modal-footer d-flex justify-content-center">
      <div class="btn-toolbar" role="toolbar">
        <div class="btn-group me-3" role="group">
          <button type="button" class="btn btn-default btn-icon-only" data-role="media-library-cropper-rotate" data-degrees="-15" data-bs-toggle="tooltip" data-placement="top" title="{{ 'lbl.RotateLeft'|trans|ucfirst }}">
            {{ macro.icon('undo') }}<span class="visually-hidden">{{ 'lbl.RotateLeft'|trans|ucfirst }}</span>
          </button>
          <button type="button" class="btn btn-default btn-icon-only" data-role="media-library-cropper-rotate" data-degrees="15" data-bs-toggle="tooltip" data-placement="top" title="{{ 'lbl.RotateRight'|trans|ucfirst }}">
            {{ macro.icon('redo') }}<span class="visually-hidden">{{ 'lbl.RotateRight'|trans|ucfirst }}</span>
          </button>
        </div>
        <div class="btn-group me-3" role="group">
          <button type="button" class="btn btn-default btn-icon-only" data-role="media-library-cropper-zoom" data-zoom="-0.05" data-bs-toggle="tooltip" data-placement="top" title="{{ 'lbl.ZoomOut'|trans|ucfirst }}">
            {{ macro.icon('search-minus') }}<span class="visually-hidden">{{ 'lbl.ZoomOut'|trans|ucfirst }}</span>
          </button>
          <button type="button" class="btn btn-default btn-icon-only" data-role="media-library-cropper-zoom" data-zoom="0.05" data-bs-toggle="tooltip" data-placement="top" title="{{ 'lbl.ZoomIn'|trans|ucfirst }}">
            {{ macro.icon('search-plus') }}<span class="visually-hidden">{{ 'lbl.ZoomIn'|trans|ucfirst }}</span>
          </button>
        </div>
        <div class="btn-group me-3" role="group">
          <button type="button" class="btn btn-default btn-icon-only" data-role="media-library-cropper-move" data-x="-10" data-y="0" data-bs-toggle="tooltip" data-placement="top" title="{{ 'lbl.MoveLeft'|trans|ucfirst }}">
            {{ macro.icon('arrow-left') }}<span class="visually-hidden">{{ 'lbl.MoveLeft'|trans|ucfirst }}</span>
          </button>
          <button type="button" class="btn btn-default btn-icon-only" data-role="media-library-cropper-move" data-x="10" data-y="0" data-bs-toggle="tooltip" data-placement="top" title="{{ 'lbl.MoveRight'|trans|ucfirst }}">
            {{ macro.icon('arrow-right') }}<span class="visually-hidden">{{ 'lbl.MoveRight'|trans|ucfirst }}</span>
          </button>
          <button type="button" class="btn btn-default btn-icon-only" data-role="media-library-cropper-move" data-x="0" data-y="-10" data-bs-toggle="tooltip" data-placement="top" title="{{ 'lbl.MoveUp'|trans|ucfirst }}">
            {{ macro.icon('arrow-up') }}<span class="visually-hidden">{{ 'lbl.MoveUp'|trans|ucfirst }}</span>
          </button>
          <button type="button" class="btn btn-default btn-icon-only" data-role="media-library-cropper-move" data-x="0" data-y="10" data-bs-toggle="tooltip" data-placement="top" title="{{ 'lbl.MoveDown'|trans|ucfirst }}">
            {{ macro.icon('arrow-down') }}<span class="visually-hidden">{{ 'lbl.MoveDown'|trans|ucfirst }}</span>
          </button>
        </div>
        <div class="btn-group me-3" role="group">
          <button type="button" class="btn btn-default btn-icon-only" data-role="media-library-cropper-flip" data-direction="horizontal" data-bs-toggle="tooltip" data-placement="top" title="{{ 'lbl.FlipHorizontal'|trans|ucfirst }}">
            {{ macro.icon('arrows-alt-h') }}<span class="visually-hidden">{{ 'lbl.FlipHorizontal'|trans|ucfirst }}</span>
          </button>
          <button type="button" class="btn btn-default btn-icon-only" data-role="media-library-cropper-flip" data-direction="vertical" data-bs-toggle="tooltip" data-placement="top" title="{{ 'lbl.FlipVertical'|trans|ucfirst }}">
            {{ macro.icon('arrows-alt-v') }}<span class="visually-hidden">{{ 'lbl.FlipVertical'|trans|ucfirst }}</span>
          </button>
        </div>
        <div class="btn-group me-3" role="group">
          <button type="button" class="btn btn-warning btn-icon-only" data-role="media-library-cropper-reset" data-bs-toggle="tooltip" data-placement="top" title="{{ 'lbl.Reset'|trans|ucfirst }}">
            {{ macro.icon('sync') }}<span class="visually-hidden">{{ 'lbl.Reset'|trans|ucfirst }}</span>
          </button>
        </div>
        <div class="btn-group ms-auto" role="group">
          <button type="button" class="btn btn-primary" data-role="media-library-cropper-crop">
            {{ macro.icon('crop') }}{{ 'lbl.Crop'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
