{% import "Layout/Templates/macros.html.twig" as macro %}
<div class="modal-dialog modal-lg hidden" data-role="media-library-cropper-modal" role="dialog" aria-labelledby="mediaLibraryCropperModalTitle">
  <div class="modal-content">
    <div class="modal-header">
      <h4 class="modal-title" id="mediaLibraryCropperModalTitle">{{ 'lbl.CropImage'|trans|ucfirst }}</h4>
    </div>
    <div class="modal-body" data-role="media-library-cropper-dialog-body">
      <div class="img-responsive" data-role="media-library-cropper-dialog-canvas-wrapper"></div>
    </div>
    <div class="modal-footer">
      <div class="button-group pull-left">
        <button type="button" class="btn btn-default" data-role="media-library-cropper-rotate" data-degrees="-90">
          {{ macro.icon('rotate-left') }}<span class="sr-only">{{ 'lbl.RotateLeft'|trans|ucfirst }}</span>
        </button>
        <button type="button" class="btn btn-default" data-role="media-library-cropper-rotate" data-degrees="90">
          {{ macro.icon('rotate-right') }}<span class="sr-only">{{ 'lbl.RotateRight'|trans|ucfirst }}</span>
        </button>
        <button type="button" class="btn btn-default" data-role="media-library-cropper-zoom" data-zoom="-0.05">
          {{ macro.icon('search-minus') }}<span class="sr-only">{{ 'lbl.ZoomOut'|trans|ucfirst }}</span>
        </button>
        <button type="button" class="btn btn-default" data-role="media-library-cropper-zoom" data-zoom="0.05">
          {{ macro.icon('search-plus') }}<span class="sr-only">{{ 'lbl.ZoomIn'|trans|ucfirst }}</span>
        </button>
        <button type="button" class="btn btn-warning" data-role="media-library-cropper-reset">
          {{ macro.icon('refresh') }}<span class="sr-only">{{ 'lbl.Reset'|trans|ucfirst }}</span>
        </button>
      </div>
      <button type="button" class="btn btn-primary" data-role="media-library-cropper-crop">
        {{ macro.icon('crop') }}{{ 'lbl.Crop'|trans|ucfirst }}
      </button>
    </div>
  </div>
</div>
