{#
  $mediaFields    Contains all fields require to make the magic happen
  $mediaGroups    Contains every possible group
#}

{% block media_group_widget %}
  {% if mediaGroup is not defined %}
    {% set mediaGroup = form.vars.data.mediaGroup %}
  {% endif %}
  {{ include_once('MediaLibrary/Resources/views/BackendMediaGroupsHelper.html.twig') }}
  {% import 'Layout/Templates/macros.html.twig' as macro %}
  {% import _self as mediaMacro %}

  <div class="media-library-media-group-helper">
    <div class="card form-group card-default{% if not form.vars.valid %} card-danger{% endif %}">
      <div class="card-heading">
        {{ form_label(form) }}
      </div>
      <div class="card-body">
        {% set attr = attr|merge({'class': attr.class|default('') ~ " " ~ 'mediaGroup' }) %}
        <div id="group-{{ mediaGroup.id }}" data-media-group data-media-group-id="{{ mediaGroup.id }}" {% for attrname,attrvalue in attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
          <div class="mediaConnectedBox">
            <ul class="mediaConnectedItems" data-fork="connectedItems" data-sequence-drag-and-drop="media-connected">
              {% for connectedItem in mediaGroup.connectedItems %}
                <li id="media-{{ connectedItem.item.id }}" class="media-item fork-data-grid-sortable" data-id="{{ connectedItem.item.id }}">
                  {{ mediaMacro.mediaItem(connectedItem) }}
                </li>
              {% endfor %}
            </ul>

            {% if not mediaGroup.connectedItems.count %}
              <p class="mediaNoItems helpTxt">{{ 'msg.MediaNoItemsConnected'|trans }}</p>
            {% endif %}
            {% if not form.vars.valid %}
              <div class="media-group-type-errors">
                {{ form_errors(form.mediaIds) }}
              </div>
            {% endif %}
          </div>

          {# Add hidden required fields #}
          {{ form_row(form.id) }}
          {{ form_row(form.mediaIds) }}
          {{ form_row(form.type) }}
        </div>
      </div>
      <div class="card-footer mediaEditBox">
        <div class="btn-toolbar">
          <div class="btn-group pull-left" role="group">
              <button type="button"{% if aspectRatio is defined %} data-aspect-ratio={{ aspectRatio }}{% endif %}{% if maximumItems is defined %} data-maximum-media-count="{{ maximumItems }}"{% endif %}{% if minimumItems is defined %} data-minimum-media-count="{{ minimumItems }}"{% endif %} data-group-id="{{ mediaGroup.id }}" class="addMediaButton btn btn-secondary" title="{{ 'lbl.MediaConnectNow'|trans|ucfirst }}">
              {{ macro.icon('plus-square') }}
              <span class="btn-text">{{ 'lbl.MediaConnectNow'|trans|ucfirst }}</span>
            </button>
          </div>
        </div>

        {% if not form.vars.valid %}
          {{- form_errors(form) -}}
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}

{% macro mediaItem(mediaItem) %}
  <div class="mediaHolder mediaHolder{{ mediaItem.item.type|ucfirst }}" data-fork="mediaItem" data-folder-id="{{ mediaItem.item.folder.id }}" data-media-id="{{ mediaItem.item.id }}">
    {% if mediaItem.item.type.isAudio %}
      {# Audio #}
      <div class="icon"></div>
      <div class="url">{{ mediaItem.item.url }}</div>
    {% elseif mediaItem.item.type.isFile %}
      {# File #}
      <div class="icon"></div>
      <div class="url">{{ mediaItem.item.url }}</div>
    {% elseif mediaItem.item.type.isImage %}
      {# Image #}
      <img src="{{ mediaItem.item.getWebPath('backend') }}" alt="{{ mediaItem.item.title }}" title="{{ mediaItem.item.title }}" />
    {% elseif mediaItem.item.type.isMovie %}
      <div class="videoThumbnail" style="background-image: url('{{ mediaItem.item.thumbnail() }}')">
        {# Movie #}
        <div class="icon"></div>
      </div>
    {% endif %}
    <button type="button" class="deleteMediaItem btn btn-danger btn-sm btn-icon-only" data-fork="disconnect" title="{{ 'lbl.MediaDisconnect'|trans }}">
      <span class="visually-hidden">{{ 'lbl.MediaDisconnect'|trans|ucfirst }}</span>
      <i class="fas fa-times"></i>
    </button>
  </div>
{% endmacro %}
