<!DOCTYPE html>
<html lang="{{ app.request.locale }}" class="h-100">
<head>
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Fork CMS" />
{# {{ meta|raw }} #}
{# {{ metaCustom|raw }} #}

  <title>{{ page_title|ucfirst }} | {{ siteTitle }}</title>

  {# Favicon and Apple touch icon #}
  <link rel="shortcut icon" href="/assets/themes/Fork/images/favicon.ico" />
  <link rel="apple-touch-icon" href="/assets/themes/Fork/images/apple-touch-icon.png" />

  {# Windows tile #}
  <meta name="application-name" content="{{ siteTitle }}" />
  <meta name="msapplication-TileColor" content="#3380aa" />
  <meta name="msapplication-TileImage" content="/assets/themes/Fork/images/tile.png" />

  {# Font awesome #}
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

  {# Stylesheets #}
  {{ encore_entry_script_tags('Fork/js/Fork', null, 'ThemeConfig') }}
  {{ encore_entry_link_tags('Fork/css/screen', null, 'ThemeConfig') }}

  {# Site wide HTML in the head tag #}
  {{ site_html_head|raw }}

  {# Google Fonts #}
  <link href="https://fonts.googleapis.com/css?family=Courgette|Roboto:300,400,500,700,900" rel="stylesheet">

  {% for css_file in cssFiles %}
    <link href="/{{ css_file }}" rel="stylesheet">
  {% endfor %}

  {% if app.debug %}
    <script src="http://localhost:35729/livereload.js"></script>
  {% endif %}

  {{ jsData|raw }}
</head>
