{#
  variables that are available:
  - {{ widgetFaqCategoryList }}: contains an array with all posts for the category, each element contains data about the post
#}

{% if widgetFaqCategoryList %}
  <aside id="faqCategoryListWidget" class="mod">
    <header>
      <h3>{{ 'lbl.Faq'|trans }}: {{ widgetFaqCategory.title }}</h3>
    </header>
    <ul>
      {% for widgetFaqCategoryList in widgetFaqCategoryList %}
        <li>
          <a href="{{ widgetFaqCategoryList.full_url }}" title="{{ widgetFaqCategoryList.question }}">
            {{ widgetFaqCategoryList.question }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </aside>
{% endif %}
