{% include "Core/Layout/Templates/Head.html.twig" %}

<body class="{{ LANGUAGE }}" itemscope itemtype="http://schema.org/WebPage">
<div id="root">
  {% block cookies %}
    {% include "Core/Layout/Templates/Cookies.html.twig" %}
  {% endblock %}

  <div class="header header-blue" style="background-image: url('{{ FRONTEND_FILES_URL }}/Pages/images/source/{{ page.data.image }}');">
    {% block navigation %}
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar-main" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">{$lblToggleNavigation}</span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/{{ LANGUAGE }}">{{ siteTitle }}</a>
          </div>
          <div id="navbar-main" class="navbar-collapse collapse">
            {{ getnavigation('page', 0, 1) }}

            {# Top positions #}
            {% if positions.top %}
              <div class="navbar-left">
                {% for content in positions.top %}
                  {% if content.html %}
                    {{ content.html|raw }}
                  {% endif %}
                {% endfor %}
              </div>
            {% endif %}

            <div class="navbar-right">
              {% include "Core/Layout/Templates/Languages.html.twig" %}
            </div>
          </div>
        </div>
      </nav>
    {% endblock %}
    <div class="header-inner">
      <div class="container">
        {% block pageTitle %}
          {# Page title #}
          {% if not hideContentTitle %}
            <header class="page-header">
              <h1>{{ contentTitle }}</h1>
            </header>
          {% endif %}
        {% endblock %}
      </div>
    </div>
  </div>

  <div class="container">

    {% block breadcrumb %}
      {# Breadcrumb #}
      {% include "Core/Layout/Templates/Breadcrumb.html.twig" %}
    {% endblock %}

    {# Main content #}
    {% block main %}

    {% endblock %}
  </div>
  <div id="root-footer"></div>
</div>
{% block footer %}
  {% include "Core/Layout/Templates/Footer.html.twig" %}
{% endblock %}

{# General Javascript #}
{% for js in jsFiles %}
  <script src="{{ js.file }}"></script>
{% endfor %}
<script src="/js/vendors/bootstrap.min.js"></script>

{# Site wide HTML #}
{{ siteHTMLFooter|raw }}
</body>
</html>
