{#
  variables that are available:
  - {{ item }}: contains data about the question
  - {{ related }}: the related items
#}
{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}
{% import "Core/Layout/Templates/Macros.html.twig" as macro %}

<article class="module-faq block-faq-detail" itemscope itemtype="http://schema.org/Question">
  {% block block_heading %}
    <header class="block-heading page-header">
      <h1 itemprop="about">{{ item.question }}</h1>

      <div class="d-flex">
        {% if settings.allow_multiple_categories %}
          {{ 'lbl.Category'|trans|ucfirst }}: &nbsp;
          <a itemprop="genre" href="{{ item.category_full_url }}">{{ item.category_title }}</a>
        {% endif %}

        <div class="ml-auto">
          {% if item.tags %}
            {{ 'lbl.Tags'|trans|ucfirst }}:
            <span itemprop="keywords">
              {% for tag in item.tags %}
                <a class="badge badge-primary" href="{{ tag.full_url }}" rel="tag">
                  {{ tag.name }}
                </a>{% if not loop.last %},{% endif %}
              {% endfor %}
            </span>
          {% endif %}
        </div>
      </div>
    </header>
  {% endblock %}

  {% block block_answer %}
    <div class="block-body" itemprop="acceptedAnswer">
      {{ item.answer|raw }}
    </div>
  {% endblock %}
</article>

{% if settings.allow_feedback %}
  {% block block_feedback %}
    {# do not remove the id #}
    <section id="faqFeedbackForm" class="block-faq-feedback-form mt-4">
      <div id="{{ 'act.Feedback'|trans }}">
        <div class="block-faq-feedback-form-alerts">
          {% if success %}
            {{ alerts.alert('success', 'msg.FeedbackSuccess'|trans) }}
          {% endif %}
          {% if spam %}
            {{ alerts.alert('danger', 'err.FeedbackSpam'|trans) }}
          {% endif %}
        </div>

        <div class="block-faq-feedback-form-body">
          {% if form_feedback %}
            {% form feedback %}
            <div class="card">
              <div class="card-body">
                {{ hidQuestionId|raw }}
                <p><strong>{{ 'msg.Feedback'|trans|ucfirst }}</strong></p>
                {{ hidQuestionId|raw }}
                <div class="form-group">
                  {% for useful in useful %}
                    <div class="form-check form-check-inline">
                      {{ useful.rbtUseful|raw }}
                      <label class="form-check-label" for="{{ useful.id }}">{{ useful.label|ucfirst }}</label>
                    </div>
                  {% endfor %}
                </div>
                <div data-role="fork-feedback-container" {% if hideFeedbackNoInfo %} style="display: none;"{% endif %}>
                  <p class="bigInput{% if txtMessageError %} errorArea{% endif %}">
                    <label for="message">
                      {{ 'msg.HowToImprove'|trans|ucfirst }}
                      {{ macro.required }}
                    </label>
                    {% form_field message %} {% form_field_error message %}
                  </p>
                  <p>
                  <input class="btn btn-primary" type="submit" name="comment" value="{{ 'lbl.Send'|trans|ucfirst }}" />
                </div>
              </div>
            </div>
            {% endform %}
          {% endif %}
        </div>
      </div>
    </section>
  {% endblock %}
{% endif %}

{% if inSameCategory %}
  {% block block_other_questions %}
    <section class="block-faq-other-questions mt-4">
      <header class="block-faq-other-questions-heading">
        <h3>
          {% if settings.allow_multiple_categories %}
            {{ 'msg.QuestionsInSameCategory'|trans|ucfirst }}
          {% else %}
            {{ 'msg.OtherQuestions'|trans|ucfirst }}
          {% endif %}
        </h3>
      </header>

      <div class="block-faq-other-questions-body">
        <ul>
          {% for inSameCategory in inSameCategory %}
            <li>
              <a href="{{ inSameCategory.full_url }}">
                {{ inSameCategory.question }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    </section>
  {% endblock %}
{% endif %}

{% if related %}
  <section class="block-faq-related mt-4">
    <header class="block-faq-related-heading">
      <h3>{{ 'msg.RelatedQuestions'|trans|ucfirst }}</h3>
    </header>

    <div class="block-faq-related-body">
      <ul class="list-group">
        {% for related in related %}
          <li class="list-group-item list-group-item-action"><a href="{{ related.full_url }}">{{ related.question }}</a></li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}

{% block block_footer %}
  <nav class="block-footer mt-5" aria-label="{{ 'lbl.FaqPageNavigationAriaLabel'|trans }}">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" href="{{ geturlforblock('Faq') }}">
          ← {{ 'lbl.ToFaqOverview'|trans|ucfirst }}
        </a>
      </li>
    </ul>
  </nav>
{% endblock %}
