{#
  variables that are available:
  - {{ faqCategories }}: contains all categories, along with all questions inside a category
#}
{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}

<section class="module-faq block-faq-index">
  {% if not faqCategories %}
    {% block block_no_items %}
      {{ alerts.alert('info', 'msg.FaqNoItems'|trans) }}
    {% endblock %}
  {% endif %}

  {% if faqCategories %}
    {% if allowMultipleCategories %}
      {% block block_allow_multiple_categories %}
        <nav class="block-list-categories">
          <ul>
            {% for category in faqCategories %}
              <li><a href="#{{ category.url }}" title="{{ category.title }}">{{ category.title }}</a></li>
            {% endfor %}
          </ul>
        </nav>
      {% endblock %}
    {% endif %}

    {% block block_body %}
      <div class="block-body">
        {% for category in faqCategories %}
          <section class="faq-category">
            {% if allowMultipleCategories %}
              <header class="faq-category-heading">
                {# do not remove the id as can be used as an achor #}
                <h3 id="{{ category.url }}">
                  <a href="{{ category.full_url }}" title="{{ category.title }}">{{ category.title }}</a>
                </h3>
              </header>
            {% endif %}

            <div class="faq-category-body">
              <ul>
                {% for question in category.questions %}
                  <li><a href="{{ question.full_url }}">{{ question.question }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </section>
        {% endfor %}
      </div>
    {% endblock %}
  {% endif %}
</section>
