{% extends '@Backend/base/base.html.twig' %}
{% import '@Backend/base/macros.html.twig' as macro %}

{% block actionbar %}
  <div class="btn-toolbar justify-content-end">
    <div class="btn-group" role="group">
      {{ macro.buttonIcon('https://www.fork-cms.com/extensions/themes', 'eye', 'lbl.FindThemes'|trans|ucfirst, '', 'target=_blank') }}
    </div>
  </div>
{% endblock %}

{% block content %}

  {% if installedThemes|count > 0 %}
    <div class="card card-default">
      <div class="card-heading">
        <h2 class="card-title">
          {{ 'lbl.InstalledThemes'|trans|ucfirst }}
        </h2>
      </div>
      <div class="card-body">
        <div id="installedThemes" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-2 row-cols-xl-3 g-4">
          {% for installedThemeData in installedThemes %}
            {% set installableTheme = installedThemeData.theme %}
            {% set activateForm = installedThemeData.activateForm %}
            <div class="col">
              <div class="card {{ installableTheme.active ? 'card-primary' : 'card-default' }}">
                <div class="card-heading border-bottom-0">
                  <h3 class="card-title">{{ installableTheme.name }}</h3>
                </div>
                <img src="{{ installableTheme.settings.has('thumbnail') ? installableTheme.settings.get('thumbnail')|imagine_filter('backend_card_image') : installableTheme.fallbackThumbnail }}" class="card-img-bottom" alt="{{ installableTheme.name|ucfirst }}" />
                <div class="card-footer">
                  {% if is_allowed('ThemeDetail') or (is_allowed('ThemeActivate') and not installableTheme.active) %}
                    <div class="btn-toolbar justify-content-center">
                      <div class="btn-group" role="group">
                        {% if is_allowed('ThemeActivate') and not installableTheme.active %}
                          {{ macro.buttonIcon('', 'paint-brush', 'lbl.UseThisTheme'|trans|ucfirst, 'btn-primary', {"data-bs-toggle": "modal", "type": "button", "data-bs-target": "#confirmActivation" ~ installableTheme.name|e('html_attr')|ucfirst}) }}
                        {% endif %}
                        {% if installableTheme.active %}
                          {{ macro.buttonIcon('', 'palette', 'lbl.SelectedTheme'|trans|ucfirst, 'btn-primary', {"disabled": "disabled"}) }}
                        {% endif %}
                        {% if is_allowed('ThemeDetail') %}
                          {{ macro.buttonIcon(action_path('ThemeDetail', null, {'slug': installableTheme.name|e('url')}), 'eye', 'lbl.Details'|trans|ucfirst, 'btn-default stretched-link', {"title": installableTheme.name|e('html_attr')|ucfirst}) }}
                        {% endif %}
                      </div>
                    </div>
                    {% if is_allowed('ThemeActivate') and not installableTheme.active %}
                      <div class="modal fade" id="confirmActivation{{ installableTheme.name|e('html_attr')|ucfirst }}" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmActivation{{ installableTheme.name|e('html_attr')|ucfirst }}Title">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title" id="confirmActivation{{ installableTheme.name|e('html_attr')|ucfirst }}Title">{{ 'lbl.UseThisTheme'|trans|ucfirst }}</h4>
                            </div>
                            <div class="modal-body">
                              <p>{{ 'msg.ConfirmThemeActivation'|trans }}</p>
                            </div>
                            <div class="modal-footer">
                              {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', {"data-bs-dismiss": "modal", "type": "button"}) }}
                              {{ form_start(activateForm) }}
                              {{ macro.buttonIcon(null, 'check', 'lbl.Yes'|trans|ucfirst, 'btn-primary', {"type": "submit"}) }}
                              {{ form_end(activateForm) }}
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
  {% if installableThemes|count > 0 %}
    <div class="card card-default">
      <div class="card-heading">
        <h2 class="card-title">
          {{ 'lbl.InstallableThemes'|trans|ucfirst }}
        </h2>
      </div>
      <div class="card-body">
        <div id="installableThemes" class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-2 row-cols-xl-3 g-4">
          {% for installableThemeData in installableThemes %}
            {% set installableTheme = installableThemeData.theme %}
            {% set themeInstallForm = installableThemeData.installForm %}
            <div class="col">
              <div class="card card-default">
                <div class="card-heading border-bottom-0">
                  <h3 class="card-title">{{ installableTheme.name }}</h3>
                </div>
                <img src="{{ installableTheme.settings.has('thumbnail') ? installableTheme.settings.get('thumbnail')|imagine_filter('backend_card_image') : installableTheme.fallbackThumbnail }}" class="card-img-bottom" alt="{{ installableTheme.name|ucfirst }}" />
                <div class="card-footer">
                  {% if is_allowed('ThemeDetail') or is_allowed('ThemeInstall') %}
                    <div class="btn-toolbar justify-content-center">
                      <div class="btn-group" role="group">
                        {% if is_allowed('ThemeInstall') %}
                          {{ macro.buttonIcon('', 'download', 'lbl.Install'|trans|ucfirst, 'btn-primary', {"data-bs-toggle": "modal", "type": "button", "data-bs-target": "#confirmInstall" ~ installableTheme.name|e('html_attr')|ucfirst}) }}
                        {% endif %}
                        {% if is_allowed('ThemeDetail') %}
                          {{ macro.buttonIcon(action_path('ThemeDetail', null, {'slug': installableTheme.name|e('url')}), 'eye', 'lbl.Details'|trans|ucfirst, 'btn-default stretched-link', {"title": installableTheme.name|e('html_attr')|ucfirst}) }}
                        {% endif %}
                      </div>
                    </div>
                    {% if is_allowed('ThemeInstall') %}
                      <div class="modal fade" id="confirmInstall{{ installableTheme.name|e('html_attr')|ucfirst }}" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmInstall{{ installableTheme.name|e('html_attr')|ucfirst }}Title">
                        <div class="modal-dialog">
                          <div class="modal-content">
                            <div class="modal-header">
                              <h4 class="modal-title" id="confirmInstall{{ installableTheme.name|e('html_attr')|ucfirst }}Title">{{ 'lbl.Install'|trans|ucfirst }}</h4>
                            </div>
                            <div class="modal-body">
                              <p>{{ 'msg.ConfirmThemeInstall'|trans }}</p>
                            </div>
                            <div class="modal-footer">
                              {{ macro.buttonIcon('', 'times', 'lbl.No'|trans|ucfirst, 'btn-default', {"data-bs-dismiss": "modal", "type": "button"}) }}
                              {{ form_start(themeInstallForm) }}
                              {{ macro.buttonIcon(null, 'check', 'lbl.Yes'|trans|ucfirst, 'btn-primary', {"type": "submit"}) }}
                              {{ form_end(themeInstallForm) }}
                            </div>
                          </div>
                        </div>
                      </div>
                    {% endif %}
                  {% endif %}
                </div>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
