{% extends '@Backend/base/crud/index.html.twig' %}
{% import '@Backend/base/macros.html.twig' as macro %}

{% set data_grid_empty_action = 'ThemeTemplateAdd' %}
{% set data_grid_empty_parameters = {slug: selectedTheme.name} %}
{% set data_grid_empty_label = 'lbl.ThemeTemplateAdd'|trans|ucfirst %}

{% block actionbar %}
  <div class="btn-toolbar justify-content-end">
    <div class="btn-group" role="group">
      {% if is_allowed('ThemeTemplateExport') %}
        {{ macro.buttonIcon(action_url('ThemeTemplateExport', null, {slug: selectedTheme.name}), 'download', 'lbl.Export'|trans|ucfirst) }}
      {% endif %}
      {% if is_allowed('ThemeTemplateAdd') %}
        {{ macro.buttonIcon(action_url(data_grid_empty_action, null, data_grid_empty_parameters), 'plus-square', data_grid_empty_label, 'btn-success') }}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="content-block">
    <div class="content-title">
      <h2>
        {% if themes|count > 1 %}
          <div class="btn-group">
            <button type="button" class="btn btn-outline-primary dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
              {{ selectedTheme.name }}
            </button>
            <ul class="dropdown-menu">
              {% for theme in themes %}
                {% if theme.name != selectedTheme.name %}
                  <li>
                    <a class="dropdown-item" href="{{ action_url('ThemeTemplateIndex', null, {slug: theme.name}) }}">{{ theme.name }}</a>
                  </li>
                {% endif %}
              {% endfor %}
            </ul>
          </div>
        {% else %}
          {{ selectedTheme.name }}
        {% endif %}
        {{ 'lbl.ThemeTemplates'|trans }}
      </h2>
    </div>
  </div>
  {{ parent() }}
{% endblock %}
