<!DOCTYPE html>
<html lang="{{ LANGUAGE }}">
<head>
  {# Meta #}
  <meta charset="utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="generator" content="Fork CMS" />
  {{ meta|raw }}
  {{ metaCustom|raw }}

  <title>{{ pageTitle }}</title>

  {# Favicon and Apple touch icon #}
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  {# Windows 8 tile #}
  <meta name="application-name" content="{{ siteTitle }}" />
  <meta name="msapplication-TileColor" content="#3380aa" />
  <meta name="msapplication-TileImage" content="/tile.png" />

  {# Font awesome #}
  <script defer src="https://use.fontawesome.com/releases/v5.8.1/js/all.js" integrity="sha384-g5uSoOSBd7KkhAMlnQILrecXvzst9TdC09/VM+pjDTCM+1il8RHz5fKANTFFb+gQ" crossorigin="anonymous"></script>

  {# Stylesheets #}
  {{ encore_entry_script_tags('frontend', null, 'frontendThemeConfig') }}
  {{ encore_entry_link_tags('screen', null, 'frontendThemeConfig') }}

  {# Site wide HTML in the head tag #}
  {{ siteHTMLHead|raw }}

  {# Google Fonts #}
  <link href="https://fonts.googleapis.com/css?family=Courgette|Roboto:300,400,500,700,900" rel="stylesheet">

  {% if debug %}
    <script src="http://localhost:35729/livereload.js"></script>
  {% endif %}
</head>
