{#
  variables that are available:
  - {{ widgetBlogArchive }}:
#}

{# cache(LANGUAGE_blogWidgetArchiveCache) #}
{% if widgetBlogArchive %}
  <section id="blogArchiveWidget" class="well blog">
    <header role="banner">
      <h3>{{ 'lbl.Archive'|trans|capitalize }}</h3>
    </header>
    <ul>
      {% for archive in widgetBlogArchive %}
        <li>
          {% if archive.url %}<a href="{{ archive.url }}">{% endif %}
            {{ archive.label }}
            {% if archive.url %}</a>{% endif %}
          <span class="badge">{{ archive.total }}</span>
          {% if archive.months %}
            <ul>
              {% for months in archive.months %}
                <li>
                  {% if months.url %}<a href="{{ months.url }}">{% endif %}
                    {{ months.label|spoondate('F', LANGUAGE) }}
                    {% if months.url %}({{ months.total }}){% endif %}
                    {% if months.url %}</a>{% endif %}
                </li>
              {% endfor %}
            </ul>
          {% endif %}
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
{#% endcache %#}
