{#
	variables that are available:
	- {{ widgetBlogArchive }}:
#}

{#% cache _blogWidgetArchiveCache %#}
	{% if widgetBlogArchive %}
		<section id="blogArchiveWidget" class="mod">
			<div class="inner">
				<header class="hd">
					<h3>{{ 'lbl.Archive'|trans|capitalize }}</h3>
				</header>
				<div class="bd content">
					<ul>
						{% for archive in widgetBlogArchive %}
							<li>
								{% if archive.url %}<a href="{{ archive.url }}">{% endif %}
									{{ archive.label }}
									{% if archive.url %}({{ archive.total }}){% endif %}
								{% if archive.url %}</a>{% endif %}

								{% if archive.months %}
									<ul>
										{% for months in archive.months %}
											<li>
												{% if months.url %}<a href="{{ months.url }}">{% endif %}
													{{ months.label|spoondate('F', LANGUAGE) }}
													{% if months.url %}({{ months.total }}){% endif %}
												{% if months.url %}</a>{% endif %}
											</li>
										{% endfor %}
									</ul>
								{% endif %}
							</li>
						{% endfor %}
					</ul>
				</div>
			</div>
		</section>
	{% endif %}
{#% endcache %#}
