{#
  variables that are available:
  - {{ widgetBlogRecentArticlesList }}: contains an array with all posts, each element contains data about the post
#}
{% if widgetBlogRecentArticlesList %}
  <aside class="module-blog widget-blog-recent-articles-list">
    {% block widget_heading %}
      <header class="widget-heading" role="banner">
        <h3>{{ 'lbl.RecentArticles'|trans|ucfirst }}</h3>
      </header>
    {% endblock %}

    {% block widget_body %}
      <div class="widget-body">
        <ul>
          {% for post in widgetBlogRecentArticlesList %}
            <li>
              <a href="{{ post.full_url }}">
                {{ post.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </div>
    {% endblock %}

    {% block widget_footer %}
      <footer class="widget-footer">
        <p class="btn-group">
          <a class="btn btn-primary" href="{{ geturlforblock('Blog') }}">
            {{ 'lbl.BlogArchive'|trans|ucfirst }}
          </a>
          <a class="btn btn-primary" href="{{ widgetBlogRecentArticlesFullRssLink }}">
            {{ 'lbl.SubscribeToTheRSSFeed'|trans|ucfirst }}
          </a>
        </p>
      </footer>
    {% endblock %}
  </aside>
{% endif %}
