{% extends 'Layout/Templates/base.html.twig' %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {{ form_start(form) }}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#tabContent" aria-controls="tabContent" role="tab" data-toggle="tab">{{ 'lbl.Content'|trans|ucfirst }}</a>
          </li>
          <li class="pull-right" role="presentation">
            <a href="#tabVersions" aria-controls="tabVersions" role="tab" data-toggle="tab">{{ 'lbl.Versions'|trans|ucfirst }}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tabContent">
            {{ form_rest(form) }}
          </div>
          <div role="tabpanel" class="tab-pane" id="tabVersions">
            <div class="row">
              <div class="col-md-12">
                <div class="content-block">
                  <div class="content-title">
                    <p>
                      {{ 'lbl.PreviousVersions'|trans|ucfirst }}
                      <abbr class="fa fa-question-circle" data-toggle="tooltip" title="{{ 'msg.HelpRevisions'|trans|ucfirst }}"></abbr>
                    </p>
                  </div>
                  {% if revisions %}
                    <div class="table-responsive">
                      {{ revisions|raw }}
                    </div>
                  {% endif %}
                  {% if not revisions %}
                    <p>{{ 'msg.NoRevisions'|trans|ucfirst }}</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-page-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-left" role="group">
          {% if showContentBlocksDelete %}
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete">
              <span class="fa fa-trash-o"></span>
              {{ 'lbl.Delete'|trans|ucfirst }}
            </button>
          {% endif %}
        </div>
        <div class="btn-group pull-right" role="group">
          <button id="editButton" type="submit" name="edit" class="btn btn-primary">
            <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {{ form_end(form) }}

  {% if showContentBlocksDelete %}
    {{ form_start(deleteForm) }}
    {{ form_row(deleteForm._token) }}
    {{ form_row(deleteForm.id) }}
    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="modal-title h4">{{ 'lbl.Delete'|trans|ucfirst }}</span>
          </div>
          <div class="modal-body">
            <p>{{ 'msg.ConfirmDelete'|trans|format(contentBlock.title)|raw }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
            </button>
            <button type="submit" class="btn btn-danger">
              <span class="fa fa-trash"></span>{{ 'lbl.Delete'|trans|ucfirst }}
            </button>
          </div>
        </div>
      </div>
    </div>
    {{ form_end(deleteForm) }}
  {% endif %}
{% endblock %}
