{% macro buttonIcon(url, icon, label, buttonType, extra, iconRight = false) %}
  {% import _self as macro %}
  {# When url is an empty string, use a button, otherwise use a hyperlink/anchor #}
  {% if url %}
    <a href="{{ url }}" class="btn {{ buttonType|default('btn-default') }}" title="{{ label }}" {% if extra is iterable %}{% for attr, value in extra %} {{ attr }}="{{ value }}"{% endfor %}{% else %}{{ extra }}{% endif %}>
      {% if not iconRight %}{{ macro.icon(icon) }}{% endif %}
      <span class="btn-text">{{ label }}</span>
      {% if iconRight %}{{ macro.icon(icon) }}{% endif %}
    </a>
  {% else %}
    {% if extra['data-toggle'] is defined and extra['type'] is not defined %}
      {% set extra = extra|merge({'type' : 'button'}) %}
    {% endif %}
    <button class="btn {{ buttonType|default('btn-default') }}" title="{{ label }}" {% if extra is iterable %}{% for attr, value in extra %} {{ attr }}="{{ value }}"{% endfor %}{% else %}{{ extra }}{% endif %}>
      {% if not iconRight %}{{ macro.icon(icon) }}{% endif %}
      <span class="btn-text">{{ label }}</span>
      {% if iconRight %}{{ macro.icon(icon) }}{% endif %}
    </button>
  {% endif %}
{% endmacro %}

{%- macro required() -%}
  <abbr data-toggle="tooltip" aria-label="{{ 'lbl.RequiredField'|trans|capitalize }}" title="{{ 'lbl.RequiredField'|trans|capitalize }}">*</abbr>
{%- endmacro -%}

{% macro icon(icon, iconType = 'fas') %}
  <i class="{{ iconType }} fa-{{ icon }}"></i>
{% endmacro %}

{% macro infoTooltip(title) %}
  {% import _self as macro %}
  <abbr tabindex="0" data-toggle="tooltip" aria-label="{{ title }}" title="{{ title }}">{{ macro.icon('info-circle') }}</abbr>
{% endmacro %}
