{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form addCategory %}
  <div>
    <ul class="nav nav-tabs justify-content-end" role="tablist">
      <li class="nav-item me-auto">
        <a class="nav-link active" href="#tabContent" aria-controls="tabContent" role="tab" data-bs-toggle="tab" aria-selected="true" id="content-tab">{{ 'lbl.Content'|trans|ucfirst }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#tabSEO" aria-controls="tabSEO" role="tab" data-bs-toggle="tab" aria-selected="false" id="seo-tab">{{ 'lbl.SEO'|trans|ucfirst }}</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane show active" id="tabContent" aria-labelledby="content-tab">
        <div class="form-group last">
          <label for="title" class="control-label">
            {{ 'lbl.Title'|trans|ucfirst }}
            {{ macro.required }}
          </label>
          {% form_field title %} {% form_field_error title %}
          {% if detailURL %}
            <a class="site-url" href="{{ detailURL }}">
              {{ detailURL }}/<span id="generatedUrl"></span>
            </a>      {% endif %}
          {% if not detailURL %}
            {{ macro.alert('warning', 'err.NoModuleLinked'|trans|ucfirst, null, null, {'class': 'toast-xs'}) }}
          {% endif %}
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="tabSEO" aria-labelledby="seo-tab">
        {% seo %}
      </div>
    </div>
  </div>
  <div class="fork-module-actions">
    <div class="btn-toolbar d-flex">
      <div class="btn-group" role="group">
        {{ macro.buttonIcon(geturl('Categories'), 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default') }}
      </div>
      <div class="btn-group ms-auto" role="group">
        {{ macro.buttonIcon(null, 'plus-square', 'lbl.AddCategory'|trans|ucfirst, 'btn-primary', { "id":"addButton", "type":"submit", "name":"add" }) }}
      </div>
    </div>
  </div>
  {% endform %}
{% endblock %}
