{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}
  <div class="btn-toolbar justify-content-end">
    <div class="btn-group" role="group">
      {% if isAllowedAction('Add') %}
        {{ macro.buttonIcon( geturl('add'), 'plus-square', 'lbl.Add'|trans|ucfirst) }}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  {% if dataGrids %}
    {% for dataGrid in dataGrids %}
      <div id="dataGrid-{{ dataGrid.id }}" class="content-block content-block-pb" data-questions-holder>
        <div class="content-title">
          <h2>{{ dataGrid.title }}</h2>
        </div>
        {% if dataGrid.content %}
          <div class="table-responsive">
            {{ dataGrid.content | raw }}
          </div>
        {% endif %}
        {% if not dataGrid.content %}
          <div class="table-responsive">
            {{ emptyDatagrid | raw }}
          </div>
        {% endif %}
      </div>
    {% endfor %}
  {% else %}
    {{ macro.emptyState(geturl('add'), 'msg.AddAQuestion'|trans, 'msg.NoItems'|trans|ucfirst) }}
  {% endif %}
{% endblock %}
