{% extends '@Backend/base/empty.html.twig' %}

{% block bodyAttributes %}
  id="login"
  class="backend_login"
{% endblock %}

{% block content %}

<div class="login-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        {# Authentication errors #}
        {% if authenticationError %}
          <p>{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</p>
        {% endif %}

        {# Let the user select the authentication method #}
        {% if availableTwoFactorProviders|length > 1 %}
          <p>{{ "choose_provider"|trans({}, 'SchebTwoFactorBundle') }}:
            {% for provider in availableTwoFactorProviders %}
              <a href="{{ path("2fa_login", {"preferProvider": provider}) }}">{{ provider }}</a>
            {% endfor %}
          </p>
        {% endif %}

        {# Display current two-factor provider #}
        <p class="label"><label for="_auth_code">{{ "auth_code"|trans({}, 'SchebTwoFactorBundle') }} {{ twoFactorProvider }}:</label></p>

        <form class="form" action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post">
          <p class="widget">
            <input
              id="_auth_code"
              type="text"
              name="{{ authCodeParameterName }}"
              autocomplete="one-time-code"
              autofocus
              class="form-control"
            />
          </p>

          {% if displayTrustedOption %}
            <div class="form-check form-switch mb-2">
              <input class="form-check-input" type="checkbox" role="switch" id="_trusted" name="{{ trustedParameterName }}">
              <label class="form-check-label" for="{{ trustedParameterName }}">{{ "trusted"|trans({}, 'SchebTwoFactorBundle') }}</label>
            </div>
          {% endif %}

          {% if isCsrfProtectionEnabled %}
            <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
          {% endif %}

          <input class="btn btn-primary" type="submit" value="{{ "login"|trans({}, 'SchebTwoFactorBundle') }}" />
          <a class="btn btn-link" href="{{ logoutPath }}">{{ "cancel"|trans({}, 'SchebTwoFactorBundle') }}</a>
        </form>
      </div>
    </div>
  </div>
</div>

{% endblock %}

