{% extends '@Backend/base/empty.html.twig' %}

{% set page_title = '2FA' %}
{% set SITE_TITLE = 'DEMO' %}
{% set jsFiles = [] %}
{% set cssFiles = [] %}
{% set jsData = '' %}

{% block bodyAttributes %}
  id="login"
  class="backend_login"
{% endblock %}

{% block content %}


<div class="login-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        {# Authentication errors #}
        {% if authenticationError %}
          <p>{{ authenticationError|trans(authenticationErrorData, 'SchebTwoFactorBundle') }}</p>
        {% endif %}

        {# Let the user select the authentication method #}
        {% if availableTwoFactorProviders|length > 1 %}
          <p>{{ "choose_provider"|trans({}, 'SchebTwoFactorBundle') }}:
            {% for provider in availableTwoFactorProviders %}
              <a href="{{ path("2fa_login", {"preferProvider": provider}) }}">{{ provider }}</a>
            {% endfor %}
          </p>
        {% endif %}

        {# Display current two-factor provider #}
        <p class="label"><label for="_auth_code">{{ "auth_code"|trans({}, 'SchebTwoFactorBundle') }} {{ twoFactorProvider }}:</label></p>

        <form class="form" action="{{ checkPathUrl ? checkPathUrl: path(checkPathRoute) }}" method="post">
          <p class="widget">
            <input
              id="_auth_code"
              type="text"
              name="{{ authCodeParameterName }}"
              autocomplete="one-time-code"
              autofocus
              class="form-control"
              {#
              https://www.twilio.com/blog/html-attributes-two-factor-authentication-autocomplete
              If your 2fa methods are using numeric codes only, add these attributes for better user experience:
              inputmode="numeric"
              pattern="[0-9]*"
              #}
            />
          </p>

          {% if displayTrustedOption %}
            <p class="widget"><label for="_trusted"><input id="_trusted" type="checkbox" name="{{ trustedParameterName }}" /> {{ "trusted"|trans({}, 'SchebTwoFactorBundle') }}</label></p>
          {% endif %}
          {% if isCsrfProtectionEnabled %}
            <input type="hidden" name="{{ csrfParameterName }}" value="{{ csrf_token(csrfTokenId) }}">
          {% endif %}
          <p class="submit"><input type="submit" value="{{ "login"|trans({}, 'SchebTwoFactorBundle') }}" /></p>
        </form>

        {# The logout link gives the user a way out if they can't complete two-factor authentication #}
        <p class="cancel"><a href="{{ logoutPath }}">{{ "cancel"|trans({}, 'SchebTwoFactorBundle') }}</a></p>
      </div>
    </div>
  </div>
</div>

{% endblock %}

