<ul>
	<li>&copy; {{ now|date('Y') }} {{ siteTitle }}</li>
	{% for footerLinks in footerLinks %}
		<li{% if footerLinks.selected %} class="selected"{% endif %}>
			<a href="{{ footerLinks.url }}" title="{{ footerLinks.title }}"{% if footerLinks.rel %} rel="{{ footerLinks.rel }}"{% endif %}>
				{{ footerLinks.navigation_title }}
			</a>
		</li>
	{% endfor %}
	<li><a href="http://www.fork-cms.be" title="Fork CMS">Fork CMS</a></li>
</ul>
