{% extends 'bootstrap_3_layout.html.twig' %}

{%- block form_label -%}
  {%- set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' control-label')|trim}) -%}
  {% if label is not same as(false) -%}
    {% if not compound -%}
      {% set label_attr = label_attr|merge({'for': id}) %}
    {%- endif -%}
    {% if required -%}
      {% set label_attr = label_attr|merge({'class': (label_attr.class|default('') ~ ' required')|trim}) %}
    {%- endif -%}
    {% if label is empty -%}
      {%- if label_format is not empty -%}
        {% set label = label_format|replace({
        '%name%': name,
        '%id%': id,
        }) %}
      {%- else -%}
        {% set label = name|humanize|capitalize %}
      {%- endif -%}
    {%- endif -%}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
      {{ translation_domain is same as(false) ? label : label|trans({}, translation_domain)|capitalize }}
      {%- if required -%}
        <abbr title="{{ 'lbl.RequiredField'|trans|capitalize }}">*</abbr></label>
      {%- endif -%}
    </label>
  {%- endif -%}
{%- endblock form_label -%}

{% block form_errors -%}
  {% if errors|length > 0 -%}
    {% if form.parent %}<span class="help-block">{% else %}<div class="alert alert-danger">{% endif %}
        {%- for error in errors -%}
          {{ error.message }}</li>
        {%- endfor -%}
    {% if form.parent %}</span>{% else %}</div>{% endif %}
  {%- endif %}
{%- endblock form_errors %}
