{% macro buttonIcon(url, icon, label, buttonType, extra) %}
  <a href="{{ url }}" class="btn {{ buttonType|default('btn-default') }}" title="{{ label }}" {{ extra }}>
    {{ _self.icon(icon) }}
    <span class="btn-text">{{ label }}</span>
  </a>
{% endmacro %}

{% macro required() %}
  <abbr tabindex="0" data-toggle="tooltip" title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr>
{% endmacro %}

{% macro icon(icon) %}
  <span class="fa fa-{{ icon }}" aria-hidden="true"></span>
{% endmacro %}

{% macro infoTooltip(title) %}
  <abbr tabindex="0" data-toggle="tooltip" title="{{ title }}">{{ _self.icon('info-circle') }}</abbr>
{% endmacro %}
