{% macro buttonIcon(url, icon, label, buttonType, extra) %}
  <a href="{{ url }}" class="btn {{ buttonType|default('btn-default') }}" title="{{ label }}" {{ extra }}>
    <span class="fa fa-{{ icon }}"></span>
    <span class="btn-text">{{ label }}</span>
  </a>
{% endmacro %}

{% macro required() %}
  <abbr tabindex="0" data-toggle="tooltip" title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr>
{% endmacro %}

{% macro infoTooltip(title) %}
  <abbr tabindex="0" data-toggle="tooltip" title="{{ title }}"><i class="fa fa-info-circle" aria-hidden="true"></i></abbr>
{% endmacro %}
