{% if not privacyConsentDialogHide %}
  <div id="privacyConsentDialog" tabindex="-1" role="dialog" aria-labelledby="privacyConsentDialogTitle" data-role="privacy_consent_dialog" data-backdrop="false">
    <div class="modal-dialog"  role="document">
      <div class="modal-content">
        <form data-role="privacy_consent_dialog_form">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'lbl.Close'|trans }}">
              <span aria-hidden="true">&times;</span>
            </button>
            <h5 id="privacyConsentDialogTitle">{{ 'msg.PrivacyConsentDialogTitle'|trans|raw }}</h5>
          </div>
          <div class="modal-body">
            <div>
              {{ 'msg.PrivacyConsentDialogBefore'|trans|raw }}
            </div>

            <div class="checkbox">
              <label id="privacyConsentLevelFunctionalCheckbox">
                <input name="privacyConsentLevelFunctionalCheckbox" id="privacyConsentLevelFunctionalCheckbox"
                       type="checkbox" checked disabled aria-describedby="privacyConsentLevelFunctionalHelpBlock"
                       data-role="privacy-level"
                       data-value="functional"
                >
                {{ 'msg.PrivacyConsentLevelFunctionalTitle'|trans|raw }}
              </label>
              <small id="privacyConsentLevelFunctionalHelpBlock" class="help-block">
                {{ 'msg.PrivacyConsentLevelFunctionalText'|trans|raw }}
              </small>
            </div>
            {% for level in privacyConsentDialogLevels %}
              <div class="checkbox">
                <label id="privacyConsentLevel{{ level|ucfirst }}Checkbox">
                  <input name="privacyConsentLevel{{ level|ucfirst }}Checkbox"
                         id="privacyConsentLevel{{ level|ucfirst }}Checkbox" type="checkbox"
                         aria-describedby="privacyConsentLevel{{ level|ucfirst }}HelpBlock"
                         data-role="privacy-level"
                         data-value="{{ level }}"
                  >
                  {{ ('msg.PrivacyConsentLevel' ~ level|ucfirst ~ 'Title')|trans|raw }}
                </label>
                <small id="privacyConsentLevel{{ level|ucfirst }}HelpBlock" class="help-block">
                  {{ ('msg.PrivacyConsentLevel' ~ level|ucfirst ~ 'Text')|trans|raw }}
                </small>
              </div>
            {% endfor %}

            <div>
              {{ 'msg.PrivacyConsentDialogAfter'|trans|raw }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" data-role="privacy_consent_dialog_save_button" class="btn btn-sm btn-success">
              {{ 'msg.PrivacyConsentDialogSave'|trans }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endif %}
