{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form edit %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="form-group">
        <label for="title" class="control-label">{{ 'lbl.Question'|trans|ucfirst }} {{ macro.required }}</label>
        {% form_field title %} {% form_field_error title %}
        {% if detailURL %}
          <a class="site-url" href="{{ detailURL }}/{{ item.url }}">{{ detailURL }}/<span id="generatedUrl">{{ item.url }}</span></a>
        {% endif %}
        {% if not detailURL %}
          <p class="alert alert-warning alert-xs">
            {{ macro.icon('exclamation-triangle') }}{{ 'err.NoModuleLinked'|trans|ucfirst }}</p>
        {% endif %}
      </div>
    </div>
  </div>
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div>
        <ul class="nav nav-tabs nav-tabs-flex" role="tablist">
          <li role="presentation" class="active mr-auto">
            <a href="#tabContent" aria-controls="tabContent" role="tab" data-toggle="tab">{{ 'lbl.Content'|trans|ucfirst }}</a>
          </li>
          <li role="presentation">
            <a href="#tabFeedback" aria-controls="tabFeedback" role="tab" data-toggle="tab">
              {{ 'lbl.Feedback'|trans|ucfirst }}
              <span class="label label-success">{{ item.num_usefull_yes }}</span>
              <span class="label label-danger">{{ item.num_usefull_no }}</span>
            </a>
          </li>
          <li role="presentation">
            <a href="#tabSEO" aria-controls="tabSEO" role="tab" data-toggle="tab">{{ 'lbl.SEO'|trans|ucfirst }}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tabContent">
            <div class="row">
              <div class="col-md-8">
                <div class="panel panel-default panel-editor optionsRTE">
                  <div class="panel-heading">
                    <label for="answer" class="control-label">{{ 'lbl.Answer'|trans|ucfirst }}
                      {{ macro.required }}<br>
                    </label>
                  </div>
                  <div class="panel-body">
                    {% form_field answer %}
                  </div>
                  {% if txtAnswerError %}
                    <div class="panel-footer">
                      {% form_field_error answer %}
                    </div>
                  {% endif %}
                </div>
              </div>
              <div class="col-md-4">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h2 class="panel-title">{{ 'lbl.Status'|trans|ucfirst }}</h2>
                  </div>
                  <div class="panel-body">
                    <div class="form-group last">
                      <ul class="list-unstyled">
                        {% for _itr_10 in hidden %}
                          <li class="radio">
                            <label for="{{ _itr_10.id }}">{{ _itr_10.rbtHidden | raw }} {{ _itr_10.label }}</label>
                          </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                </div>
                <div class="panel panel-default last">
                  <div class="panel-heading">
                    <h2 class="panel-title">{{ 'lbl.MetaData'|trans|ucfirst }}</h2>
                  </div>
                  <div class="panel-body">
                    <div class="form-group">
                      <label for="categoryId" class="control-label">{{ 'lbl.Category'|trans|ucfirst }}</label>
                      {% form_field category_id %} {% form_field_error category_id %}
                    </div>
                    <div class="form-group last">
                      <label for="tags" class="control-label">{{ 'lbl.Tags'|trans|ucfirst }}</label>
                      {% form_field tags %} {% form_field_error tags %}
                      <div class="help-block">{{ 'msg.HelpTextTags'|trans }}</div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabSEO">
            {% seo %}
          </div>
          <div role="tabpanel" class="tab-pane" id="tabFeedback">
            <div class="row">
              <div class="col-md-12">
                <div class="content-title">
                  <h2>{{ 'lbl.Feedback'|trans|ucfirst }}</h2>
                  <p class="help-block">{{ 'msg.FeedbackInfo'|trans }}</p>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                {% if feedback %}
                <div class="panel-group" id="feedback" role="tablist" aria-multiselectable="false">
                  {% for _itr_11 in feedback %}
                    <div class="panel panel-default">
                      <div class="panel-heading" role="tab" id="_itr_11-heading-{{ _itr_11.id }}">
                        <h4 class="panel-title">
                          <a data-toggle="collapse" data-parent="#_itr_11" href="#_itr_11-collapse-{{ _itr_11.id }}" aria-expanded="true" aria-controls="_itr_11-collapse-{{ _itr_11.id }}">
                            {{ macro.icon('caret-right fa-fw') }}{{ _itr_11.text|truncate(150) }}
                          </a>
                        </h4>
                      </div>
                      <div id="_itr_11-collapse-{{ _itr_11.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="_itr_11-heading-{{ _itr_11.id }}">
                        <div class="panel-body">
                          {{ _itr_11.text }}
                        </div>
                        {% if showFaqDeleteFeedback %}
                          <div class="panel-footer">
                            <div class="btn-toolbar">
                              <div class="btn-group pull-left" role="group">
                                {{ macro.buttonIcon('#', 'trash-o', 'lbl.Delete'|trans|ucfirst, 'btn-danger', 'data-id=' ~ _itr_11.id ~ ' data-role=delete-feedback') }}
                              </div>
                            </div>
                          </div>
                        {% endif %}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            {% endif %}
            {% if not feedback %}
              <p>{{ 'msg.NoFeedbackItems'|trans }}</p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-page-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-left" role="group">
          {% if showFaqDelete %}
            {{ macro.buttonIcon('', 'trash-o', 'lbl.Delete'|trans|ucfirst, 'btn-danger', { "type":"button", "data-toggle":"modal", "data-target":"#confirmDelete" } ) }}
          {% endif %}
          {{ macro.buttonIcon(geturl('Index'), 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default' ) }}
        </div>
        <div class="btn-group pull-right" role="group">
          {{ macro.buttonIcon('', 'check', 'lbl.Publish'|trans|ucfirst, 'btn-primary', { "id":"editButton", "type":"submit", "name":"edit" } ) }}
        </div>
      </div>
    </div>
  </div>
  {% endform %}

  {% if showFaqDelete %}
    {{ form_start(deleteForm) }}
    {{ form_row(deleteForm._token) }}
    {{ form_row(deleteForm.id) }}
    <div class="modal fade" id="confirmDelete" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmDeleteTitle">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="confirmDeleteTitle">{{ 'lbl.Delete'|trans|ucfirst }}</h4>
          </div>
          <div class="modal-body">
            <p>{{ 'msg.ConfirmDelete'|trans|format(item.question)|raw }}</p>
          </div>
          <div class="modal-footer">
            {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
            {{ macro.buttonIcon('', 'trash', 'lbl.Delete'|trans|ucfirst, 'btn-danger', { "type":"submit" } ) }}
          </div>
        </div>
      </div>
    </div>
    {{ form_end(deleteForm) }}
  {% endif %}

  {% if showFaqDeleteFeedback %}
    {{ form_start(deleteFeedbackForm) }}
    {{ form_row(deleteFeedbackForm._token) }}
    {{ form_row(deleteFeedbackForm.id) }}
    <div class="modal fade" id="confirmDeleteFeedback" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmDeleteFeedbackTitle">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="confirmDeleteFeedbackTitle">{{ 'lbl.Delete'|trans|ucfirst }}</h4>
          </div>
          <div class="modal-body">
            <p>{{ 'msg.ConfirmDeleteFeedback'|trans|raw }}</p>
          </div>
          <div class="modal-footer">
            {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
            {{ macro.buttonIcon('', 'trash', 'lbl.Delete'|trans|ucfirst, 'btn-danger', { "type":"submit" } ) }}
          </div>
        </div>
      </div>
    </div>
    {{ form_end(deleteFeedbackForm) }}
  {% endif %}
{% endblock %}

