{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}
  <div class="btn-toolbar pull-right">
    <div class="btn-group" role="group">
      {% if showFaqAdd %}
        {{ macro.buttonIcon( geturl('add'), 'plus-square', 'lbl.Add'|trans|ucfirst) }}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      {% if dataGrids %}
        {% for dataGrid in dataGrids %}
          <div id="dataGrid-{{ dataGrid.id }}" class="content-block content-block-pb jsDataGridQuestionsHolder">
            <div class="content-title">
              <p>{{ dataGrid.title }}</p>
            </div>
            {% if dataGrid.content %}
              <div class="table-responsive">
                {{ dataGrid.content | raw }}
              </div>
            {% endif %}
            {% if not dataGrid.content %}
              <div class="table-responsive">
                {{ emptyDatagrid | raw }}
              </div>
            {% endif %}
          </div>
        {% endfor %}
      {% endif %}
      {% if not dataGrids %}
        <p>{{ 'msg.NoItems'|trans }}</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
