{% extends 'Layout/Templates/base.html.twig' %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form settings %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ 'lbl.Pagination'|trans|ucfirst }}
          </h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="overviewNumberOfItemsPerCategory" class="control-label">{{ 'lbl.ItemsPerCategory'|trans|ucfirst }}</label>
            {% form_field overview_number_of_items_per_category %} {% form_field_error overview_number_of_items_per_category %}
          </div>
          <div class="form-group">
            <label for="mostReadNumberOfItems" class="control-label">{{ 'msg.NumMostReadItems'|trans }}</label>
            {% form_field most_read_number_of_items %} {% form_field_error most_read_number_of_items %}
          </div>
          <div class="form-group last">
            <label for="relatedNumberOfItems" class="control-label">{{ 'msg.NumRelatedItems'|trans }}</label>
            {% form_field related_number_of_items %} {% form_field_error related_number_of_items %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ 'lbl.Categories'|trans|ucfirst }}
          </h3>
        </div>
        <div class="panel-body">
          <div class="form-group last">
            <ul class="list-unstyled">
              <li class="checkbox">
                <label for="allowMultipleCategories" class="control-label">
                  {% form_field allow_multiple_categories %} {{ 'lbl.AllowMultipleCategories'|trans|ucfirst }}
                </label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ 'lbl.Feedback'|trans|ucfirst }}
          </h3>
        </div>
        <div class="panel-body">
          <div class="form-group last">
            <ul class="list-unstyled">
              <li class="checkbox">
                <label for="allowFeedback" class="control-label">
                  {% form_field allow_feedback %} {{ 'lbl.AllowFeedback'|trans|ucfirst }}
                </label>
              </li>
              <li class="checkbox">
                <label for="allowOwnQuestion" class="control-label">
                  {% form_field allow_own_question %} {{ 'lbl.AllowOwnQuestion'|trans|ucfirst }}
                </label>
              </li>
              <li class="checkbox">
                <label for="sendEmailOnNewFeedback" class="control-label">
                  {% form_field send_email_on_new_feedback %} {{ 'lbl.SendEmailOnNewFeedback'|trans|ucfirst }}
                </label>
              </li>
              <li class="checkbox">
                <label for="spamfilter" class="control-label">
                  {% form_field spamfilter %} {{ 'lbl.FilterCommentsForSpam'|trans|ucfirst }}
                </label>
                <p class="help-block">
                  {{ 'msg.HelpSpamFilter'|trans }}
                  {% if noAkismetKey %}
                    <br>
                    {{ 'msg.NoAkismetKey'|trans|format(geturl('index','settings')|raw) }}
                  {% endif %}
                </p>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-module-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-right" role="group">
          <button id="save" type="submit" name="save" class="btn btn-primary">
            <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}</button>
        </div>
      </div>
    </div>
  </div>
  {% endform %}
{% endblock %}
