{% extends 'Layout/Templates/empty.html.twig' %}

{% block content %}
<body id="{{ bodyID }}" class="{{ bodyClass }}">
<div class="page-header text-center">
  <h1>{{ SITE_TITLE }}</h1>
</div>
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div class="card card-default">
        <div class="card-heading">
          <h2>{{ 'lbl.Error'|trans|ucfirst }}</h2>
        </div>
        <div class="card-body">
          <p>{{ message }}</p>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
