{% extends '/Layout/Templates/base.html.twig' %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form add %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#tabName" aria-controls="name" role="tab" data-toggle="tab">{{ 'lbl.Name'|trans|capitalize }}</a>
          </li>
          <li role="presentation">
            <a href="#tabDashboard" aria-controls="dashboard" role="tab" data-toggle="tab">{{ 'lbl.Dashboard'|trans|capitalize }}</a>
          </li>
          <li role="presentation">
            <a href="#tabPermissions" aria-controls="permission" role="tab" data-toggle="tab">{{ 'lbl.Permissions'|trans|capitalize }}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tabName">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group last">
                  <label for="name" class="control-label">{{ 'lbl.Name'|trans|capitalize }}
                    <abbr data-toggle="tooltip" title="{{ 'lbl.RequiredField'|trans|capitalize }}">*</abbr></label>
                  {% form_field_error name %} {% form_field name %}
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabDashboard">
            <div class="row">
              <div class="col-md-12">
                <div class="content-block">
                  <div class="content-title">
                    <label for="toggleChecksWidgets" class="control-label">{{ 'lbl.DisplayWidgets'|trans|capitalize }}</label>
                  </div>
                  {% if widgets %}
                    {{ widgets|raw }}
                  {% endif %}
                  {% if not widgets %}
                    {{ 'msg.NoWidgets'|trans|capitalize }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabPermissions">
            <div class="row">
              <div class="col-md-12">
                <div class="panel-group" id="permissions" role="tablist" aria-multiselectable="true">
                  {% for permission in permissions %}
                    <div class="panel panel-transparent">
                      <div class="panel-heading" role="tab" id="permission-heading-{{ permission.id }}">
                        <a data-toggle="collapse" data-parent="#permission" href="#permission-list-{{ permission.id }}" aria-expanded="false" aria-controls="collapseOne">
                          <h4 class="panel-title">
                            {{ permission.chk|raw }}
                            <label for="{{ permission.id }}"><span class="fa fa-caret-right fa-fw"></span> {{ permission.label }}
                            </label>
                          </h4>
                        </a>
                      </div>
                      <div id="permission-list-{{ permission.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="permission-heading-{{ permission.id }}">
                        {{ permission.actions.dataGrid|raw }}
                      </div>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="pageButtons" class="row fork-page-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-right" role="group">
          <button id="addButton" type="submit" name="add" class="btn btn-primary">
            <span class="fa fa-plus-square"></span>{{ 'lbl.Add'|trans|capitalize }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endform %}
{% endblock %}
