{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form add %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#tabName" aria-controls="tabName" role="tab" data-toggle="tab">{{ 'lbl.Name'|trans|ucfirst }}</a>
          </li>
          <li role="presentation">
            <a href="#tabDashboard" aria-controls="tabDashboard" role="tab" data-toggle="tab">{{ 'lbl.Dashboard'|trans|ucfirst }}</a>
          </li>
          <li role="presentation">
            <a href="#tabPermissions" aria-controls="tabPermissions" role="tab" data-toggle="tab">{{ 'lbl.Permissions'|trans|ucfirst }}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tabName">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group last">
                  <label for="name" class="control-label">{{ 'lbl.Name'|trans|ucfirst }}
                    {{ macro.required }}</label>
                  {% form_field name %} {% form_field_error name %}
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabDashboard">
            <div class="row">
              <div class="col-md-12">
                <div class="content-block">
                  <div class="content-title">
                    <label for="toggleChecksWidgets" class="control-label">{{ 'lbl.DisplayWidgets'|trans|ucfirst }}</label>
                  </div>
                  {% if widgets %}
                    {{ widgets|raw }}
                  {% endif %}
                  {% if not widgets %}
                    {{ 'msg.NoWidgets'|trans|ucfirst }}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabPermissions">
            <div class="row">
              <div class="col-md-12">
                <div class="panel-group" id="permissions" role="tablist" aria-multiselectable="true">
                  <div role="tree">
                    {% for permission in permissions %}
                      <div class="panel panel-transparent jsGroupsPermissionsModule">
                        <div class="panel-heading" role="tab" id="permission-heading-{{ permission.id }}">
                          <div data-toggle="collapse" role="treeitem" data-parent="#permission" data-target="#permission-list-{{ permission.id }}" aria-expanded="false" aria-controls="permission-list-{{ permission.id }}">
                            <h4 class="panel-title">
                              {{ permission.chk|raw }}
                              <span class="fa fa-caret-right fa-fw"></span> {{ permission.label }}
                            </h4>
                          </div>
                        </div>
                        <div id="permission-list-{{ permission.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="permission-heading-{{ permission.id }}">
                          {{ permission.actions.dataGrid|raw }}
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="pageButtons" class="row fork-page-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-right" role="group">
          <button id="addButton" type="submit" name="add" class="btn btn-primary">
            <span class="fa fa-plus-square"></span>{{ 'lbl.Add'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endform %}
{% endblock %}
