{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form add %}
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#tabName" aria-controls="tabName" role="tab" data-bs-toggle="tab" aria-selected="true" id="name-tab">{{ 'lbl.Name'|trans|ucfirst }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#tabDashboard" aria-controls="tabDashboard" role="tab" data-bs-toggle="tab" aria-selected="false" id="dashboard-tab">{{ 'lbl.Dashboard'|trans|ucfirst }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#tabPermissions" aria-controls="tabPermissions" role="tab" data-bs-toggle="tab" aria-selected="false" id="permissions-tab">{{ 'lbl.Permissions'|trans|ucfirst }}</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane show active" id="tabName" aria-labelledby="name-tab">
        <div class="form-group last">
          <label for="name" class="control-label">{{ 'lbl.Name'|trans|ucfirst }}
            {{ macro.required }}</label>
          {% form_field name %} {% form_field_error name %}
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="tabDashboard" aria-labelledby="dashboard-tab">
        <div class="content-block">
          <div class="content-title">
            <h2>{{ 'lbl.DisplayWidgets'|trans|ucfirst }}</h2>
          </div>
          {% if widgets %}
            {{ widgets|raw }}
          {% endif %}
          {% if not widgets %}
            {{ 'msg.NoWidgets'|trans|ucfirst }}
          {% endif %}
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="tabPermissions" aria-labelledby="permissions-tab">
        <div class="card-group card-group-column" id="permissions" role="tablist" aria-multiselectable="true">
              {% for permission in permissions %}
                <div class="card card-default card-collapse jsGroupsPermissionsModule">
                  <div class="card-heading d-flex align-items-center" role="tab" id="permission-heading-{{ permission.id }}">
                    {{ permission.chk|raw }}
                    <h4 class="card-title mb-0">
                      <a class="collapsed" href="#" data-bs-toggle="collapse" data-bs-target="#permission-list-{{ permission.id }}" aria-expanded="false">
                        {{ macro.icon('caret-down fa-fw') }} {{ permission.label }}
                      </a>
                    </h4>
                  </div>
                  <div id="permission-list-{{ permission.id }}" class="card-collapse collapse" role="tabpanel" aria-labelledby="permission-heading-{{ permission.id }}">
                    {{ permission.actions.dataGrid|raw }}
                  </div>
                </div>
              {% endfor %}
            </div>
      </div>
    </div>
  </div>
  <div id="pageButtons" class="fork-page-actions">
    <div class="btn-toolbar d-flex">
      <div class="btn-group ms-auto" role="group">
        {{ macro.buttonIcon('', 'plus-square', 'lbl.Add'|trans|ucfirst, 'btn-primary', {"type":"submit", "id":"addButton", "name":"add"}) }}
      </div>
    </div>
  </div>
  {% endform %}
{% endblock %}
