{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form edit %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#tabName" aria-controls="tabName" role="tab" data-toggle="tab">{{ 'lbl.Name'|trans|ucfirst }}</a>
          </li>
          <li role="presentation">
            <a href="#tabDashboard" aria-controls="tabDashboard" role="tab" data-toggle="tab">{{ 'lbl.Dashboard'|trans|ucfirst }}</a>
          </li>
          <li role="presentation">
            <a href="#tabPermissions" aria-controls="tabPermissions" role="tab" data-toggle="tab">{{ 'lbl.Permissions'|trans|ucfirst }}</a>
          </li>
          <li role="presentation">
            <a href="#tabUsers" aria-controls="tabUsers" role="tab" data-toggle="tab">{{ 'lbl.Users'|trans|ucfirst }}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tabName">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group last">
                  <label for="name" class="control-label">
                    {{ 'lbl.Name'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  {% form_field name %} {% form_field_error name %}
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabDashboard">
            <div class="row">
              <div class="col-md-12">
                <div class="content-block">
                  <div class="content-title">
                    <label for="toggleChecksWidgets" class="control-label">{{ 'lbl.DisplayWidgets'|trans|ucfirst }}</label>
                  </div>
                  <div class="jsGroupsWidgets">
                    {% if widgets %}
                      {{ widgets|raw }}
                    {% endif %}
                    {% if not widgets %}
                      {{ 'msg.NoWidgets'|trans|ucfirst }}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabPermissions">
            <div class="row">
              <div class="col-md-12">
                <div class="content-block">
                  <div class="panel-group" id="permissions" role="tablist" aria-multiselectable="true">
                    <div role="tree">
                      {% for permission in permissions %}
                        <div class="panel panel-transparent jsGroupsPermissionsModule">
                          <div class="panel-heading" role="tab" id="permission-heading-{{ permission.id }}">
                            <div data-toggle="collapse" role="treeitem" data-parent="#permission" data-target="#permission-list-{{ permission.id }}" aria-expanded="false" aria-controls="permission-list-{{ permission.id }}">
                              <h4 class="panel-title">
                                {{ permission.chk|raw }}
                                <span class="fa fa-caret-right fa-fw"></span> {{ permission.label }}
                              </h4>
                            </div>
                          </div>
                          <div id="permission-list-{{ permission.id }}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="permission-heading-{{ permission.id }}">
                            {{ permission.actions.dataGrid|raw }}
                          </div>
                        </div>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabUsers">
            <div class="row">
              <div class="col-md-12">
                <div class="content-block">
                  {% if dataGridUsers %}
                    {{ dataGridUsers|raw }}
                  {% endif %}
                  {% if not dataGridUsers %}
                    <p>{{ 'msg.NoUsers'|trans|ucfirst }}</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-page-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-left" role="group">
          {% if showGroupsDelete and allowGroupsDelete %}
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete">
              <span class="fa fa-trash-o"></span>{{ 'lbl.Delete'|trans|ucfirst }}
            </button>
          {% endif %}
        </div>
        <div class="btn-group pull-right" role="group">
          <button id="editButton" type="submit" name="edit" class="btn btn-primary">
            <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endform %}

  {% if showGroupsDelete and allowGroupsDelete %}
    {{ form_start(deleteForm) }}
    {{ form_row(deleteForm._token) }}
    {{ form_row(deleteForm.id) }}
    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="modal-title h4">{{ 'lbl.Delete'|trans|ucfirst }}</span>
          </div>
          <div class="modal-body">
            <p>{{ 'msg.ConfirmDelete'|trans|format(item.name)|raw }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
            </button>
            <button type="submit" class="btn btn-danger">
              <span class="fa fa-trash"></span>{{ 'lbl.Delete'|trans|ucfirst }}
            </button>
          </div>
        </div>
      </div>
    </div>
    {{ form_end(deleteForm) }}
  {% endif %}
{% endblock %}
