{#
  variables that are available:
  - {{ isLoggedIn }}
  - {{ profile }}: only available when logged in
#}

{% if isLoggedIn %}
  <div class="dropdown">
    <button type="button" class="btn dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" id="profile-logged-in">
      {{ 'msg.ProfilesLoggedInAs'|trans|format(profile.display_name|e, profile.url.dashboard)|raw }}
    </button>
    <div class="dropdown-menu dropdown-menu-end" aria-labelledby="profile-logged-in">
      <a href="{{ profile.url.settings }}" class="dropdown-item">{{ 'lbl.Settings'|trans|ucfirst }}</a>
      <a href="{{ geturlforblock('Profiles', 'Logout') }}" class="dropdown-item">{{ 'lbl.Logout'|trans|ucfirst }}</a>
    </div>
  </div>

{% else %}
  <a href="{{ geturlforblock('Profiles', 'Login') }}?queryString={{ geturlforblock('Profiles') }}">{{ 'lbl.Login'|trans|ucfirst }}</a>
{% endif %}
