<ol class="breadcrumb">
  {% for topLevelItem in navigation if topLevelItem.active %}
    <li>
      <a href="/private/{{ LANGUAGE }}/{{ topLevelItem.url }}">{{ ('lbl.'~topLevelItem.label)|trans|ucfirst }}</a>
    </li>
    {% if topLevelItem.children is not empty %}
      {% for secondaryItem in topLevelItem.children if secondaryItem.active %}
        <li>
          <a href="/private/{{ LANGUAGE }}/{{ secondaryItem.url }}">{{ ('lbl.'~secondaryItem.label)|trans|ucfirst }}</a>
        </li>
        {% if secondaryItem.children is not empty %}
          {% for tertiaryItem in secondaryItem.children if tertiaryItem.active %}
            <li>
              <a href="/private/{{ LANGUAGE }}/{{ tertiaryItem.url }}">{{ ('lbl.'~tertiaryItem.label)|trans|ucfirst }}</a>
            </li>
            {% if ACTION|lower not in tertiaryItem.url%}
              <li>
                {{ ACTION|tolabel }}
              </li>
            {% endif %}
          {% endfor %}
        {% elseif ACTION|lower not in secondaryItem.url%}
          <li>
            {{ ACTION|tolabel }}
          </li>
        {% endif %}
      {% endfor %}
    {% elseif ACTION|lower not in topLevelItem.url%}
      <li>
        {{ ACTION|tolabel }}
      </li>
    {% endif %}
  {% endfor %}
</ol>
