<div class="header clearfix">
  <div class="site-info">
    <div class="site-icon-block">
      <img class="site-icon" src="/apple-touch-icon.png" alt="apple touch icon">
      {% if debug %}
        <div class="debug-mode">{{ 'lbl.DebugMode'|trans|uppercase }}</div>
      {% endif %}
    </div>
    <div class="site-text">
      <p class="site-title">{{ SITE_TITLE }}
        <a class="site-url" data-url="{{ SITE_URL }}{{ prefixURL }}" href="{{ SITE_URL }}{{ prefixURL }}" target="_blank">{{ 'lbl.VisitWebsite'|trans|ucfirst }}</a>
      </p>
      {% if SITE_MULTILANGUAGE %}
        <div class="nav navbar-nav navbar-languages">
          {% if workingLanguages %}
            <span class="working-language hidden-xs">{{ 'msg.NowEditing'|trans|ucfirst }}</span>
            <div class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="{{ LANGUAGE|uppercase }}">
                <span class="dropdown-text">{{ ('lbl.'~LANGUAGE|uppercase)|trans|ucfirst }}</span>
                <span class="dropdown-angle"><i class="fa fa-angle-right"></i></span>
              </a>
              <ul class="dropdown-menu" role="menu">
                {% for workingLanguage in workingLanguages %}
                  <li{% if workingLanguage.selected %} class="active"{% endif %}>
                    <a href="{{ geturl('',null,null,workingLanguage.abbr) }}" title="{{ workingLanguage.label|ucfirst }}">{{ ('lbl.'~workingLanguage.abbr|uppercase)|trans|ucfirst }}</a>
                  </li>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>

  <ul class="nav navbar-nav navbar-right navbar-user">
    <li class="dropdown">
      <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false" title="{{ authenticatedUserNickname }}">
        <img src="{{ FRONTEND_FILES_URL }}/Users/avatars/128x128/{{ authenticatedUserAvatar }}" class="img-circle" alt="{{ authenticatedUserNickname }}" />
        <i class="fa fa-angle-right"></i>
      </a>
      <ul class="dropdown-menu pull-right" role="menu">
        {% if authenticatedUserEditUrl %}
          <li><a href="{{ authenticatedUserEditUrl }}">{{ 'lbl.EditProfile'|trans|ucfirst }}</a></li>
        {% endif %}
        <li><a href="{{ geturl('logout','authentication') }}">{{ 'lbl.SignOut'|trans|ucfirst }}</a></li>
      </ul>
    </li>
  </ul>
</div>

{% include "Layout/Templates/messaging.html.twig" %}

<div id="ajaxSpinner">
  <i class="fa fa-spinner fa-pulse fa-lg fa-fw"></i>
</div>
