<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="robots" content="noindex, nofollow" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <title>{% if page_title %}{{ page_title|ucfirst }} - {% endif %}{{ SITE_TITLE }} - Fork CMS</title>
  <link rel="shortcut icon" href="/src/Backend/favicon.ico" />

  <script defer data-search-pseudo-elements src="https://use.fontawesome.com/releases/v5.11.2/js/all.js" integrity="sha384-b3ua1l97aVGAPEIe48b4TC60WUQbQaGi2jqAWM90y0OZXZeyaTCWtBTKtjW2GXG1" crossorigin="anonymous"></script>
  <link href='https://fonts.googleapis.com/css?family=Source+Code+Pro%7COpen+Sans:400,600' rel='stylesheet' type='text/css'>

  {#{% for cssFile in cssFiles %}
    <link rel="stylesheet" href="{{ cssFile }}" />{{ CRLF }}{{ TAB }}
  {% endfor %}#}

  <link rel="stylesheet" href="/src/Backend/Core/build/main.css">


  {% for jsFile in jsFiles %}
    <script src="{{ jsFile }}"></script>{{ CRLF }}{{ TAB }}
  {% endfor %}

  <script src="/src/Backend/Core/build/main.js"></script>

  {{ jsData|raw }}

{#  <script>
    //<![CDATA[
    // reports
    $(function()
    {
      {% if form_error %} jsBackend.messages.add('danger', "{{ 'err.FormError'|trans|addslashes|raw }}", '');{% endif %}
      {% if usingRevision %} jsBackend.messages.add('info', '{{ 'msg.UsingARevision'|trans|addslashes|raw }}', 'toast-inline');{% endif %}
      {% if usingDraft %} jsBackend.messages.add('info', '{{ 'msg.UsingADraft'|trans|addslashes|raw }}', 'toast-inline');{% endif %}
      {% if report %} jsBackend.messages.add('success', '{{ reportMessage|addslashes|raw }}', '');{% endif %}
      {% if errorMessage %} jsBackend.messages.add('danger', '{{ errorMessage|addslashes|raw }}', '');{% endif %}
    });
    //]]>
  </script>#}
</head>
