{% macro buttonIcon(url, icon, label, buttonType, extra) %}
  <a href="{{ url }}" class="btn {{ buttonType|default('btn-default') }}" title="{{ label }}" {{ extra }}>
    <span class="fa fa-{{ icon }}"></span>
    <span class="btn-text">{{ label }}</span>
  </a>
{% endmacro %}

{% macro required() %}
  <abbr data-toggle="tooltip" title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr>
{% endmacro %}

{% macro dataGrid(dataGrid, noItemsMessage) %}
  <div class="row">
    <div class="col-md-12">
      {% if dataGrid %}
        <div class="table-responsive">
          {{ dataGrid|raw }}
        </div>
      {% else %}
        <p>
          {% if noItemsMessage %}
            {{ noItemsMessage }}
          {% else %}
            {{ 'msg.NoItems'|trans|raw }}
          {% endif %}
        </p>
      {% endif %}
    </div>
  </div>
{% endmacro %}
