{% import '/Layout/Templates/macros.html.twig' as macro %}

<div id="messaging" class="toast-messaging-wrapper" data-messaging-wrapper>
  <noscript>
    {{ macro.alert('warning', 'err.JavascriptNotEnabled'|trans|ucfirst) }}
  </noscript>

  {{ macro.alert('danger', 'err.CookiesNotEnabled'|trans|ucfirst, null, 'noCookies', [], false) }}

  {% if form_error %}{{ macro.alert('danger', 'err.FormError'|trans|ucfirst) }}{% endif %}
  {% if usingRevision %}{{ macro.alert('info', 'msg.UsingARevision'|trans|ucfirst, null, null, {'class': 'toast-inline'}) }}{% endif %}
  {% if usingDraft %}{{ macro.alert('info', 'msg.UsingADraft'|trans|ucfirst, null, null, {'class': 'toast-inline'}) }}{% endif %}
  {% if report %}{{ macro.alert('success', reportMessage|raw) }}{% endif %}
  {% if errorMessage %}{{ macro.alert('danger', errorMessage|raw) }}{% endif %}
</div>
