{% import "Layout/Templates/macros.html.twig" as macro %}
<div class="main-navigation">
  <nav class="navbar navbar-dark">
    <ul class="nav navbar-nav">
      {% for item in navigation %}
        <li class="nav-item nav-item-{{ item.label|lower }}{% if item.active %} active{% endif %}">
          <a class="nav-link" href="/private/{{ LANGUAGE }}/{{ item.url }}" data-toggle="tooltip-nav" title="{{ ('lbl.'~item.label)|trans|ucfirst }}" data-container="body" data-placement="right">
            <span class="nav-item-text">{{ ('lbl.'~item.label)|trans|ucfirst }}</span>
            {% if item.active %}<span class="sr-only">({{ 'lbl.Current'|trans }})</span>{% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <a href="#" class="arrow-right js-nav-next"></a>
  <a href="#" class="arrow-left js-nav-prev"></a>
  <div class="toggle-nav-collapse hidden-xs">
    <button class="js-toggle-nav" role="button">
      {{ macro.icon('chevron-left') }}
      <span class="sr-only js-nav-screen-text"></span>
    </button>
  </div>
</div>
