{% import 'Layout/Templates/macros.html.twig' as macro %}
<div class="main-navigation">
  <nav class="navbar navbar-dark">
    <ul class="nav navbar-nav">
      {% for item in navigation %}

        {% if item.label|lower == 'dashboard' %}
          {% set icon = 'fas fa-tachometer-alt' %}
        {% elseif item.label|lower == 'pages' %}
          {% set icon = 'far fa-file' %}
        {% elseif item.label|lower == 'medialibrary' %}
          {% set icon = 'fas fa-images' %}
        {% elseif item.label|lower == 'modules' %}
          {% set icon = 'fas fa-cube' %}
        {% elseif item.label|lower == 'marketing' %}
          {% set icon = 'fas fa-chart-area' %}
        {% elseif item.label|lower == 'settings' %}
          {% set icon = 'fas fa-cog' %}
        {% endif %}

        <li class="nav-item nav-item-{{ item.label|lower }}{% if item.active %} active{% endif %}">
          <a class="nav-link" href="/private/{{ LANGUAGE }}/{{ item.url }}" data-toggle="tooltip-nav" title="{{ ('lbl.'~item.label)|trans|ucfirst }}" data-container="body" data-placement="right">
            <i class="{{ icon }}"></i>
            <span class="nav-item-text">{{ ('lbl.'~item.label)|trans|ucfirst }}</span>
            {% if item.active %}<span class="sr-only">({{ 'lbl.Current'|trans }})</span>{% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <a href="#" class="arrow-right js-nav-next">
    <i class="fas fa-chevron-right"></i>
  </a>
  <a href="#" class="arrow-left js-nav-prev">
    <i class="fas fa-chevron-left"></i>
  </a>
  <div class="toggle-nav-collapse d-none d-lg-block">
    <button class="js-toggle-nav" role="button">
      {{ macro.icon('chevron-left') }}
      <span class="sr-only js-nav-screen-text"></span>
    </button>
  </div>
</div>
