{#
  Variables that are available:
  - {{ tagsModules }}: contains all tags, grouped per module
#}
<section id="tagsDetail" class="tags">
  <header role="banner">
    <h1>{{ 'lbl.ItemsWithTag'|trans|format(tag.name|capitalize) }}</h1>
  </header>
  {% if tagsModules %}
    {% for module in tagsModules %}
      <section>
        <header role="banner">
          <h2>{{ module.label|capitalize }}</h2>
        </header>
        <ul>
          {% for tag in module.items %}
            <li>
              <a href="{{ tag.full_url }}">
                {{ tag.title }}
              </a>
            </li>
          {% endfor %}
        </ul>
      </section>
    {% endfor %}
  {% endif %}

  <p>
    <a href="{{ geturlforblock('Tags') }}" class="btn btn-default">
      {{ 'lbl.ToTagsOverview'|trans|capitalize }}
    </a>
  </p>
</section>
