{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}
    {% if not warnings %}
      <div class="btn-toolbar justify-content-end">
        <div class="btn-group" role="group">
          {% if isAllowedAction('MediaGalleryAdd') %}
            {{ macro.buttonIcon('', 'plus-square', 'lbl.AddGallery'|trans|capitalize, '', { "data-bs-target":"#addMediaGroupTypeDialog", "data-bs-toggle":"modal" }) }}
          {% endif %}
        </div>
      </div>
    {% endif %}
{% endblock %}

{% block content %}
  {% if warnings %}
    <div class="card card-default">
      <div class="card-body">
        <ul>
          {% for warning in warnings %}
            <li>{{ warning.message | raw }}</li>
          {% endfor %}
        </ul>
      </div>
    </div>
  {% endif %}

  {% if not warnings %}
    {% if dataGrid %}
    <div class="content-block content-block-pb">
      <div class="content-title">
        <h2>{{ 'lbl.Galleries'|trans|capitalize }}</h2>
      </div>
      <div class="table-responsive">
        {{ dataGrid|raw }}
      </div>
    </div>
    {% else %}
      {{ macro.emptyState('#', 'msg.AddAGallery'|trans, 'msg.NoGalleries'|trans|ucfirst, { "data-bs-target":"#addMediaGroupTypeDialog", "data-bs-toggle":"modal" }) }}
    {% endif %}

    <div class="modal fade" id="addMediaGroupTypeDialog" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="addMediaGroupTypeDialogTitle">
      {{ form_start(form) }}
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="addMediaGroupTypeDialogTitle">{{ 'lbl.MediaGalleryAdd'|trans|capitalize }}</h4>
          </div>
          <div class="modal-body">
            {{ form_label(form.type) }}
            {{ form_widget(form.type) }}
            {{ form_errors(form.type) }}
          </div>
          <div class="modal-footer">
            {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
            {{ macro.buttonIcon('', 'plus-square', 'lbl.Add'|trans|ucfirst, 'btn-primary', { "type":"submit" } ) }}
          </div>
        </div>
      </div>
      {{ form_end(form) }}
    </div>
  {% endif %}

{% endblock %}
