{% block translation_widget %}
  {{ form_row(form.key.name) }}
  {{ form_row(form.value) }}
  <div class="row">
    <div class="col-md-6 col-lg-3">
      {{ form_row(form.locale) }}
    </div>
    <div class="col-md-6 col-lg-3">
      {{ form_row(form.domain.application) }}
    </div>
    <div class="col-md-6 col-lg-3">
      {{ form_row(form.domain.module) }}
    </div>
    <div class="col-md-6 col-lg-3">
      {{ form_row(form.key.type) }}
    </div>
  </div>
{% endblock %}
