{% extends 'ForkCMSInstallerBundle:Installer:base.html.twig' %}

{% block content %}
  <div class="row fork-module-messages">
    <div class="col-md-12">
      {% if checker.hasErrors %}
        <div class="alert alert-danger">
          <p>Your server doesn't meet the minimum requirements to run Fork CMS.</p>
        </div>
      {% endif %}
      {% if checker.hasWarnings and not checker.hasErrors %}
        <div class="alert alert-warning">
          <p>Your server might not run Fork CMS properly.</p>
        </div>
      {% endif %}
    </div>
  </div>
  <form action="index.php" method="get" id="step2" class="forkForms submitWithLink">
    <div class="row fork-module-content">
      <div class="col-md-12">
        <input type="hidden" name="step" value="2" />
        <div class="panel panel-default">
          <div class="panel-body">
            <div id="requirementsInformation">
              <div class="list-group">
                <div class="list-group-item list-group-item-{{ checker.errors.phpVersion }}">
                  <h4 class="list-group-item-heading">PHP version</h4>
                  <p class="list-group-item-text">
                    PHP version must be at least 5.5.0, Before using Fork CMS, upgrade your PHP installation, preferably to the latest version.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.subfolder }}">
                  <h4 class="list-group-item-heading">Fork CMS can't be installed in subfolders</h4>
                </div>
              </div>
              <h3>PHP Extensions</h3>
              <div class="list-group">
                <div class="list-group-item list-group-item-{{ checker.errors.extensionCURL }}">
                  <h4 class="list-group-item-heading">cURL</h4>
                  <p class="list-group-item-text">
                    cURL is a library that allows you to connect and communicate to many different type of servers. More information
                    can be found on: <a href="http://php.net/curl">http://php.net/curl</a>.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.extensionLibXML }}">
                  <h4 class="list-group-item-heading">libxml</h4>
                  <p class="list-group-item-text">
                    libxml is a software library for parsing XML documents. More information
                    can be found on: <a href="http://php.net/libxml">http://php.net/libxml</a>.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.extensionDOM }}">
                  <h4 class="list-group-item-heading">DOM</h4>
                  <p class="list-group-item-text">
                    The DOM extension allows you to operate on XML documents through the DOM API with PHP 5. More information
                    can be found on: <a href="http://php.net/dom">http://php.net/dom</a>.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.extensionSimpleXML }}">
                  <h4 class="list-group-item-heading">SimpleXML</h4>
                  <p class="list-group-item-text">
                    The SimpleXML extension provides a very simple and easily usable toolset to convert XML to an object that can be
                    processed with normal property selectors and array iterators. More information can be found on:
                    <a href="http://php.net/simplexml">http://php.net/simplexml</a>.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.extensionSPL }}">
                  <h4 class="list-group-item-heading">SPL</h4>
                  <p class="list-group-item-text">
                    SPL is a collection of interfaces and classes that are meant to solve standard problems. More information can be found
                    on: <a href="http://php.net/SPL">http://php.net/SPL</a>.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.extensionPDO }}">
                  <h4 class="list-group-item-heading">PDO</h4>
                  <p class="list-group-item-text">
                    PDO provides a data-access abstraction layer, which means that, regardless of which database you're using, you use the
                    same functions to issue queries and fetch data. More information can be found on:
                    <a href="http://php.net/pdo">http://php.net/pdo</a>.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.extensionPDOMySQL }}">
                  <h4 class="list-group-item-heading">PDO MySQL driver</h4>
                  <p class="list-group-item-text">
                    PDO_MYSQL is a driver that implements the PHP Data Objects (PDO) interface to enable access from PHP to MySQL databases.
                    More information can be found on:
                    <a href="http://www.php.net/manual/en/ref.pdo-mysql.php">http://www.php.net/manual/en/ref.pdo-mysql.php</a>.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.extensionMBString }}">
                  <h4 class="list-group-item-heading">mb_string</h4>
                  <p class="list-group-item-text">
                    mb_string provides multibyte specific string functions that help you deal with multibyte encodings in PHP. In addition to
                    that, mb_string handles character encoding conversion between the possible encoding pairs. mb_string is designed to handle Unicode-based
                    encodings. More information can be found on:
                    <a href="http://php.net/mb_string">http://php.net/mb_string</a>.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.extensionIconv }}">
                  <h4 class="list-group-item-heading">iconv</h4>
                  <p class="list-group-item-text">
                    This module contains an interface to iconv character set conversion facility. With this module, you can turn a string
                    represented by a local character set into the one represented by another character set, which may be the Unicode
                    character set. More information can be found on:
                    <a href="http://php.net/iconv">http://php.net/iconv</a>.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.extensionGD2 }}">
                  <h4 class="list-group-item-heading">GD2</h4>
                  <p class="list-group-item-text">
                    PHP is not limited to creating just HTML output. It can also be used to create and manipulate image files in a variety of
                    different image formats. More information can be found on:
                    <a href="http://php.net/gd">http://php.net/gd</a>.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.extensionJSON }}">
                  <h4 class="list-group-item-heading">json</h4>
                  <p class="list-group-item-text">
                    This extension implements the JavaScript Object Notation (JSON) data-interchange format. The decoding is handled by a parser
                    based on the JSON_checker by Douglas Crockford. More information can be found on:
                    <a href="http://php.net/json">http://php.net/json</a>.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.extensionPCRE }}">
                  <h4 class="list-group-item-heading">PCRE (8.0+)</h4>
                  <p class="list-group-item-text">
                    The PCRE library is a set of functions that implement regular expression pattern matching using the same syntax and semantics as Perl 5,
                    with just a few differences (see below). The current implementation corresponds to Perl 5.005. More information can be found on:
                    <a href="http://php.net/pcre">http://php.net/json</a>. We require at least 8.0.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.extensionPCRE }}">
                  <h4 class="list-group-item-heading">PCRE (8.0+)</h4>
                  <p class="list-group-item-text">
                    The PCRE library is a set of functions that implement regular expression pattern matching using the same syntax and semantics as Perl 5,
                    with just a few differences (see below). The current implementation corresponds to Perl 5.005. More information can be found on:
                    <a href="http://php.net/pcre">http://php.net/json</a>. We require at least 8.0.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.extensionIntl }}">
                  <h4 class="list-group-item-heading">Intl</h4>
                  <p class="list-group-item-text">
                    Internationalization extension (Intl) is a wrapper for ICU library,
                    enabling PHP programmers to perform UCA-conformant collation and date/time/number/currency formatting in their scripts.
                    More information can be found on:
                    <a href="http://php.net/intl">http://php.net/intl</a>.
                  </p>
                </div>
              </div>
              <h3>PHP ini-settings</h3>
              <div class="list-group">
                <div class="list-group-item list-group-item-{{ checker.errors.settingsOpenBasedir }}">
                  <h4 class="list-group-item-heading">Open Basedir</h4>
                  <p class="list-group-item-text">
                    For forward compatibility we highly recommend you not to use open_basedir.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.settingsDateTimezone }}">
                  <h4 class="list-group-item-heading">date.timezone</h4>
                  <p class="list-group-item-text">
                    date.timezone setting must be set. Make sure your default timezone is supported by your installation of PHP. Check for typos in your php.ini file and have a look at the list of deprecated timezones at
                    <a href="http://php.net/manual/en/timezones.others.php">http://php.net/manual/en/timezones.others.php</a>.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.functionJsonEncode }}">
                  <h4 class="list-group-item-heading">json_encode</h4>
                  <p class="list-group-item-text">
                    json_encode() must be available, install and enable the JSON extension.
                  </p>
                </div>
              </div>
              <h3>Functions</h3>
              <div class="list-group">
                <div class="list-group-item list-group-item-{{ checker.errors.functionJsonEncode }}">
                  <h4 class="list-group-item-heading">json_encode</h4>
                  <p class="list-group-item-text">
                    json_encode() must be available, install and enable the JSON extension.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.functionSessionStart }}">
                  <h4 class="list-group-item-heading">session_start</h4>
                  <p class="list-group-item-text">
                    session_start() must be available, install and enable the session extension.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.functionCtypeAlpha }}">
                  <h4 class="list-group-item-heading">ctype_alpha</h4>
                  <p class="list-group-item-text">
                    ctype_alpha() must be available, install and enable the ctype extension.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.functionTokenGetAll }}">
                  <h4 class="list-group-item-heading">token_get_all</h4>
                  <p class="list-group-item-text">
                    token_get_all() must be available, install and enable the Tokenizer extension.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.functionSimplexmlImportDom }}">
                  <h4 class="list-group-item-heading">simplexml_import_dom</h4>
                  <p class="list-group-item-text">
                    simplexml_import_dom() must be available, install and enable the SimpleXML extension.
                  </p>
                </div>
              </div>
              <h3>Web server</h3>
              <div class="list-group">
                <div class="list-group-item list-group-item-{{ checker.errors.modRewrite }}">
                  <h4 class="list-group-item-heading">mod_rewrite</h4>
                  <p class="list-group-item-text">
                    Fork CMS will not be able to run if mod_rewrite can not be applied. Please make sure that the .htaccess file is present (the file
                    starts with a dot, so it may be hidden on your filesystem), being read (AllowOverride directive) and the mod_rewrite module is
                    enabled in Apache. If you are installing Fork CMS on another web server than Apache, make sure you have manually configured your
                    web server to properly rewrite urls. More information can be found in our
                    <a href="http://www.fork-cms.com/knowledge-base/detail/fork-cms-and-webservers" title="Fork CMS and web servers">knowledge base</a>.
                    If you are certain that your server is well configured, you may proceed the installation despite this warning.
                  </p>
                </div>
              </div>
              <h3>Required permissions and/or files</h3>
              <div class="list-group">
                <div class="list-group-item list-group-item-{{ checker.errors.fileSystemBackendCache }}">
                  <h4 class="list-group-item-heading">{{ rootDir }}/src/Backend/Cache/*</h4>
                  <p class="list-group-item-text">
                    In this location all files created by the backend will be stored. This location and all subdirectories must be writable.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.fileSystemBackendModules }}">
                  <h4 class="list-group-item-heading">{{ rootDir }}/src/Backend/Modules/</h4>
                  <p class="list-group-item-text">
                    In this location modules will be installed. You can continue the installation, but installing a module will then require a manual upload.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.fileSystemFrontendCache }}">
                  <h4 class="list-group-item-heading">{{ rootDir }}/src/Frontend/Cache/*</h4>
                  <p class="list-group-item-text">
                    In this location all files created by the frontend will be stored. This location and all subdirectories must be writable.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.fileSystemFrontendFiles }}">
                  <h4 class="list-group-item-heading">{{ rootDir }}/src/Frontend/Files/*</h4>
                  <p class="list-group-item-text">
                    In this location all files uploaded by the user/modules will be stored. This location and all subdirectories must be writable.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.fileSystemFrontendModules }}">
                  <h4 class="list-group-item-heading">{{ rootDir }}/src/Frontend/Modules/</h4>
                  <p class="list-group-item-text">
                    In this location modules will be installed. You can continue the installation, but installing a module will then require a manual upload.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.fileSystemFrontendThemes }}">
                  <h4 class="list-group-item-heading">{{ rootDir }}/src/Frontend/Themes/</h4>
                  <p class="list-group-item-text">
                    In this location themes will be installed. You can continue the installation, but installing a theme will then require a manual upload.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.fileSystemLibrary }}">
                  <h4 class="list-group-item-heading">{{ rootDir }}/library</h4>
                  <p class="list-group-item-text">
                    This location must be writable for the installer, afterwards this folder only needs to be readable.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.fileSystemLibraryExternal }}">
                  <h4 class="list-group-item-heading">{{ rootDir }}/library/external/</h4>
                  <p class="list-group-item-text">
                    This location must be writable for the installer, afterwards this folder only needs to be readable.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.fileSystemAppCache }}">
                  <h4 class="list-group-item-heading">{{ rootDir }}/app/cache/</h4>
                  <p class="list-group-item-text">
                    In this location the global cache will be stored.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.fileSystemAppLogs }}">
                  <h4 class="list-group-item-heading">{{ rootDir }}/app/logs/</h4>
                  <p class="list-group-item-text">
                    In this location the global logs will be stored.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.fileSystemAppConfig }}">
                  <h4 class="list-group-item-heading">{{ rootDir }}/app/config/</h4>
                  <p class="list-group-item-text">
                    In this location the global configuration will be stored.
                  </p>
                </div>
                <div class="list-group-item list-group-item-{{ checker.errors.fileSystemParameters }}">
                  <h4 class="list-group-item-heading">{{ rootDir }}/app/config/parameters.yml.dist</h4>
                  <p class="list-group-item-text">
                    This file is used to create the global configuration file.
                  </p>
                </div>
              </div>
            </div>
          </div>
          <div class="panel-footer">
            {% if checker.hasWarnings and not checker.hasErrors %}
              <div class="btn-toolbar">
                <div class="btn-group pull-right" role="group">
                  <a href="{{ path('install_step2') }}" id="installerButton" class="btn btn-primary">
                    <span class="fa fa-download"></span> Install anyway
                  </a>
                </div>
              </div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </form>
{% endblock %}
