{% extends 'ForkCMSInstallerBundle:Installer:base.html.twig' %}

{% form_theme form 'ForkCMSInstallerBundle:Installer:form_theme.html.twig' %}

{% block content %}
  <h2>Settings</h2>
  {{ form_start(form) }}
    {{ form_errors(form) }}

    <div class="horizontal">
      <p>Enter the e-mail address and password you'd like to use to log in.</p>
      {{ form_row(form.email) }}
      {{ form_row(form.password.first) }}
      <table id="passwordStrengthMeter" class="passwordStrength" data-id="install_login_password_first">
        <tr>
          <td class="strength" id="passwordStrength">
            <p class="strength none">/</p>
            <p class="strength weak">Weak</p>
            <p class="strength ok">OK</p>
            <p class="strength strong">Strong</p>
          </td>
          <td>
            <p class="helpTxt">Strong passwords consist of a combination of capitals, small letters, digits and special characters.</p>
          </td>
        </tr>
      </table>
      {{ form_row(form.password.second) }}
    </div>
    <p class="spacing buttonHolder">
      <a href="{{ path('install_step4') }}" class="button">Previous</a>
      <input id="installerButton" class="inputButton button mainButton" type="submit" name="installer" value="Finish installation" />
      <img id="ajaxSpinner" src="/src/Backend/Core/Layout/images/spinner.gif" width="16" height="16" alt="loading" style="float: left; margin-top: 4px; display: none;" />
    </p>

  {{ form_end(form) }}
{% endblock %}
