{% extends 'ForkCMSInstallerBundle:Installer:base.html.twig' %}

{% form_theme form 'ForkCMSInstallerBundle:Installer:form_theme.html.twig' %}

{% block content %}

  {{ form_start(form) }}
  <div class="row fork-module-messages">
    <div class="col-md-12">
      {{ form_errors(form) }}
    </div>
  </div>
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h2 class="panel-title">
            Settings
          </h2>
        </div>
        <div class="panel-body">
          <h3 class="noPadding">Modules</h3>
          <p>Which modules would you like to install?</p>
          <ul id="moduleList" class="list-unstyled">
            {{ form_widget(form.modules) }}
          </ul>
          <h3>Example data</h3>
          <p>If you are new to Fork CMS, you might prefer to have an example website with a default theme set up.</p>
          <ul class="list-unstyled">
            <li class="checkbox">
              <p class="help-block">(The blog-module is required and will be installed)</p>
              {{ form_row(form.example_data) }}
            </li>
          </ul>
          <h3>Debug mode</h3>
          <p>Warning: debug mode is only useful when developing on Fork CMS.</p>
          <p>You can enable debug mode by adding "<code>SetEnv FORK_DEBUG 1</code>" in your virtualhosts file.</p>
          <ul class="list-unstyled">
            <li class="checkbox">
              <p class="help-block">(Exception emails will be sent to this email address)</p>
              {{ form_row(form.different_debug_email) }}
            </li>
            <li id="debugEmailHolder">
              {{ form_widget(form.debug_email) }}
            </li>
          </ul>
        </div>
        <div class="panel-footer">
          <div class="btn-toolbar">
            <div class="btn-group pull-left" role="group">
              <a href="{{ path('install_step2') }}" class="btn btn-default">
                <span class="fa fa-chevron-left"></span> Previous
              </a>
            </div>
            <div class="btn-group pull-right" role="group">
              <button type="submit" id="installerButton" name="installer" class="btn btn-primary">
                Next <span class="fa fa-chevron-right"></span>
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ form_end(form) }}

{% endblock %}
