{% extends 'ForkCMSInstallerBundle:Installer:base.html.twig' %}
{% import 'ForkCMSInstallerBundle:Installer:navigation.html.twig' as macro %}

{% block navigation %}
  {{ macro.navigation('step-2') }}
{% endblock %}

{% block content %}

  {{ form_start(form) }}
  <div class="fork-module-messages">
    {{ form_errors(form) }}
  </div>
  <div class="fork-module-content">
    <div class="card card-primary">
      <div class="card-heading">
        <h3 class="card-title">Settings</h3>
      </div>
      <div class="card-body">
        <fieldset>
          <legend>
            Languages<br>
            <small class="text-muted form-text">
              Will your site be available in multiple languages or just one? Changing this setting later on will change your URL structure.
            </small>
          </legend>
          <div class="form-group">
            {{ form_widget(form.language_type) }}
          </div>
          <ul id="languages" class="list-unstyled" style="display: none;">
            {{ form_widget(form.languages) }}
          </ul>
          <div class="form-group">
            <label for="install_languages_default_language">What is the default language we should use for the website?</label>
            {{ form_widget(form.default_language, { 'attr' : { 'class' : 'form-control' }}) }}
          </div>
        </fieldset>
        <fieldset class="last">
          <legend>
            CMS interface languages<br>
            <small class="text-muted form-text">What languages do you plan to use in the CMS interface?</small>
          </legend>
          <div class="form-group">
            {{ form_widget(form.same_interface_language) }}
          </div>
          {{ form_label(form.same_interface_language) }}
          <label id="interfaceLanguagesExplanation" style="display: none;">Select the language(s) you would like to use use in the CMS interface.</label>
          <div id="interfaceLanguages" class="form-group" style="display: none;">
            {{ form_widget(form.interface_languages) }}
          </div>
          <div class="form-group" id="defaultInterfaceLanguageContainer">
            <label for="install_languages_default_interface_language">What is the default language we should use for the CMS interface?</label>
            {{ form_widget(form.default_interface_language, { 'attr' : { 'class' : 'form-control' }}) }}
          </div>
        </fieldset>
      </div>
      <div class="card-footer">
        <div class="btn-toolbar justify-content-end">
          <div class="btn-group" role="group">
            <button type="submit" id="installerButton" name="installer" class="btn btn-primary">
              Next <span class="fa fa-chevron-right" aria-hidden="true"></span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  {{ form_end(form) }}

{% endblock %}
