{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}
{% import "Core/Layout/Templates/Macros.html.twig" as macro %}

<section class="module-profiles block-profiles-change-email">
  {% block block_heading %}{% endblock %}

  {% block block_alerts %}
    <div class="block-alerts">
      {% if updateEmailSuccess %}
        {{ alerts.alert('success', 'msg.UpdateEmailIsSuccess'|trans) }}
      {% endif %}
      {% if updateEmailHasFormError %}
        {{ alerts.alert('danger', 'err.FormError'|trans) }}
      {% endif %}
    </div>
  {% endblock %}

  {% block block_body %}
    <div class="block-body">
      {% form updateEmail %}
      <fieldset class="form-horizontal">
        <div class="form-group{% if txtEmailError %} has-error{% endif %}">
          <label class="control-label" for="email">
            {{ 'lbl.Email'|trans|ucfirst }}{{ macro.required }}
          </label>
          {% form_field email %}
          {% form_field_error email %}
        </div>
        <div class="form-group{% if txtPasswordError %} has-error{% endif %}">
          <label class="control-label" for="password">
            {{ 'lbl.Password'|trans|ucfirst }}{{ macro.required }}
          </label>
          {% form_field password %}
          {% form_field_error password %}
        </div>
        <input class="btn btn-primary" type="submit" value="{{ 'lbl.Save'|trans|ucfirst }}" />
      </fieldset>
      {% endform %}
    </div>
  {% endblock %}

  {% block block_footer %}{% endblock %}
</section>
