{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}
{% import "Core/Layout/Templates/Macros.html.twig" as macro %}

<section class="module-profiles block-profiles-login">
  {% block block_heading %}{% endblock %}

  {% block block_alerts %}
    <div class="block-alerts">
      {% if formError %}
        {% if loginError %}
          {% set error = loginError %}
        {% else %}
          {% set error = 'err.FormError'|trans %}
        {% endif %}
        {{ alerts.alert('danger', error) }}
      {% endif %}
    </div>
  {% endblock %}

  {% block block_body %}
    {% form login %}
    <fieldset class="form-horizontal">
      <div class="form-group{% if txtEmailError %} has-error{% endif %}">
        <label class="control-label" for="email">
          {{ 'lbl.Email'|trans|ucfirst }}{{ macro.required }}
        </label>
        {% form_field email %}
        {% form_field_error email %}
      </div>
      <div class="form-group{% if txtPasswordError %} has-error{% endif %}">
        <label class="control-label" for="password">
          {{ 'lbl.Password'|trans|ucfirst }}{{ macro.required }}
        </label>
        {% form_field password %}
        <small class="form-text text-muted">
          <a href="{{ geturlforblock('Profiles','ForgotPassword') }}">{{ 'msg.ForgotPassword'|trans }}</a>
        </small>
        {% form_field_error password %}
      </div>
      <div class="form-group">
        <div class="form-check">
          {% form_field remember %}
          <label for="remember" class="form-check-label">
            {{ 'lbl.RememberMe'|trans|ucfirst }}
          </label>
          {% form_field_error remember %}
        </div>
      </div>
      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="{{ 'lbl.Login'|trans|ucfirst }}" />
      </div>
    </fieldset>
    {% endform %}
  {% endblock %}

  {% block block_footer %}{% endblock %}
</section>
