{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}
{% import "Core/Layout/Templates/Macros.html.twig" as macro %}

<section class="module-profiles block-profiles-register">
  {% block block_heading %}{% endblock %}

  {% block block_alerts %}
    <div class="block-alerts">
      {% if registerIsSuccess %}
        {{ alerts.alert('success', 'msg.RegisterIsSuccess'|trans) }}
      {% endif %}
      {% if registerHasFormError %}
        {{ alerts.alert('danger', 'err.FormError'|trans) }}
      {% endif %}
    </div>
  {% endblock %}

  {% block block_body %}
    <div class="block-body">
      {% if not registerHideForm %}
        {% form register %}
        <fieldset class="form-horizontal">
          <div class="form-group{% if txtDisplayNameError %} has-error{% endif %}">
            <label class="control-label" for="displayName">{{ 'lbl.DisplayName'|trans|ucfirst }}
              {{ macro.required }}</label>
            {% form_field display_name %}
            {% form_field_error display_name %}
          </div>
          <div class="form-group{% if txtEmailError %} has-error{% endif %}">
            <label class="control-label" for="email">{{ 'lbl.Email'|trans|ucfirst }}
              {{ macro.required }}</label>
            {% form_field email %}
            {% form_field_error email %}
          </div>
          <div class="form-group{% if txtPasswordError %} has-error{% endif %}">
            <label class="control-label" for="password">{{ 'lbl.Password'|trans|ucfirst }}
              {{ macro.required }}</label>
            {% form_field password %}
            {% form_field_error password %}
          </div>
          <div class="form-group">
            <div class="form-check">
              {% form_field show_password %}
              <label class="form-check-label" for="showPassword">{{ 'lbl.ShowPassword'|trans|ucfirst }} </label>
            </div>
          </div>
          <input class="btn btn-primary" type="submit" value="{{ 'lbl.Register'|trans|ucfirst }}" />
        </fieldset>
        {% endform %}
      {% endif %}
    </div>
  {% endblock %}

  {% block block_footer %}{% endblock %}
</section>
