{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}
{% import "Core/Layout/Templates/Macros.html.twig" as macro %}
<section class="module-profiles block-profiles-settings">
  {% block block_heading %}{% endblock %}

  {% block block_alerts %}
    <div class="block-alerts">
      {% if updateSettingsSuccess and not updateSettingsHasFormError%}
        {{ alerts.alert('success', 'msg.UpdateSettingsIsSuccess'|trans) }}
      {% endif %}
      {% if updateSettingsHasFormError %}
        {{ alerts.alert('danger', 'err.FormError'|trans) }}
      {% endif %}
    </div>
  {% endblock %}

  {% block block_body %}
    <div class="block-body">
      {% form updateSettings %}
      <fieldset>
        <legend>{{ 'lbl.YourData'|trans|ucfirst }}</legend>

        <div class="form-group{% if txtDisplayNameError %} has-error{% endif %}">
          <label class="control-label" for="displayName">
            {{ 'lbl.DisplayName'|trans|ucfirst }}{{ macro.required }}
          </label>
          {% form_field display_name %}
          <small class="helpTxt muted">{{ 'msg.HelpDisplayNameChanges'|trans|format(maxDisplayNameChanges, displayNameChangesLeft ) }}</small>
          {% form_field_error display_name %}
        </div>
        <div class="form-group{% if txtEmailError %} has-error{% endif %}">
          <label class="control-label" for="email">
            {{ 'lbl.Email'|trans|ucfirst }}{{ macro.required }}
          </label>
            {% form_field email %}
            <small class="form-text text-muted">
              <a href="{{ geturlforblock('Profiles', 'ChangeEmail') }}">{{ 'msg.ChangeEmail'|trans }}</a>
            </small>
          {% form_field_error email %}
        </div>
        <div class="form-group{% if txtFirstNameError %} has-error{% endif %}">
          <label class="control-label" for="firstName">
            {{ 'lbl.FirstName'|trans|ucfirst }}
          </label>
          {% form_field first_name %}
          {% form_field_error first_name %}
        </div>
        <div class="form-group{% if txtLastNameError %} has-error{% endif %}">
          <label class="control-label" for="lastName">
            {{ 'lbl.LastName'|trans|ucfirst }}
          </label>
          {% form_field last_name %}
          {% form_field_error last_name %}
        </div>
        <div class="form-group{% if ddmGenderError %} has-error{% endif %}">
          <label class="control-label" for="gender">
            {{ 'lbl.Gender'|trans|ucfirst }}
          </label>
          {% form_field gender %}
          {% form_field_error gender %}
        </div>
        <div class="birthDate form-group{% if ddmYearError %} has-error{% endif %}">
          <label class="control-label" for="day">
            {{ 'lbl.BirthDate'|trans|ucfirst }}
          </label>
          <div class="row">
            <div class="col-4">
              {% form_field day %}
            </div>
            <div class="col-4">
              {% form_field month %}
            </div>
            <div class="col-4">
              {% form_field year %}
              {% form_field_error year %}
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset>
        <legend>{{ 'lbl.YourLocationData'|trans|ucfirst }}</legend>

        <div class="form-group{% if txtCityError %} has-error{% endif %}">
          <label class="control-label" for="city">
            {{ 'lbl.City'|trans|ucfirst }}
          </label>
          {% form_field city %}
          {% form_field_error city %}
        </div>
        <div class="form-group{% if ddmCountryError %} has-error{% endif %}">
          <label class="control-label" for="country">
            {{ 'lbl.Country'|trans|ucfirst }}
          </label>
          {% form_field country %}
          {% form_field_error country %}
        </div>
      </fieldset>

      <fieldset>
        <legend>{{ 'lbl.About'|trans|ucfirst }}</legend>
        <div class="form-group{% if txtAboutError %} has-error{% endif %}">
          {% form_field about %}
          {% form_field_error about %}
        </div>
      </fieldset>
      <fieldset>
        <legend>{{ 'lbl.YourAvatar'|trans|ucfirst }}</legend>
        <div class="form-group{% if fileAvatarError %} has-error{% endif %}">
          {% if avatar %}
            <div class="row">
              <div class="col-sm-6 col-lg-3">
                <img src="{{ FRONTEND_FILES_URL }}/Profiles/Avatars/240x240/{{ avatar }}" class="img-circle" />
              </div>
            </div>
          {% endif %}
          <div class="form-group">
            <label for="avatar" class="form-label">{{ 'lbl.UploadAvatar'|trans|ucfirst }}</label>
            {% form_field avatar %}
            {% form_field_error avatar %}
          </div>
        </div>
      </fieldset>

      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="{{ 'lbl.Save'|trans|ucfirst }}" />
        <a href="{{ geturlforblock('Profiles', 'ChangePassword') }}" class="btn btn-primary">{{ 'lbl.NewPassword'|trans|ucfirst }}</a>
      </div>
      {% endform %}
    </div>
  {% endblock %}

  {% block block_footer %}{% endblock %}
</section>
