<div id="widgetBlogComments" class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a href="{{ geturl('comments','blog') }}">{{ 'lbl.Blog'|trans|ucfirst }}: {{ 'lbl.LatestComments'|trans|ucfirst }}</a>
    </h2>
  </div>
  <div class="panel-body">
    {% if blogNumCommentsToModerate %}
      <div class="panel-body">
        <div class="pull-left">
          {{ 'msg.CommentsToModerate'|trans|format(blogNumCommentsToModerate)|raw }}
        </div>
        <div class="pull-right">
          <a href="{{ geturl('comments','blog') }}#tabModeration"><span>{{ 'lbl.Moderate'|trans|ucfirst }}</span></a>
        </div>
      </div>
    {% endif %}
    {% if blogComments %}
      <table class="table table-striped dataGrid">
        <tbody>
          {% for blogComment in blogComments %}
            <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
              <td><a href="{{ blogComment.full_url }}">{{ blogComment.title }}</a></td>
              <td class="name">{{ blogComment.author }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    {% endif %}
    {% if not blogComments %}
      <div class="panel-body">
        <p>{{ 'msg.NoPublishedComments'|trans }}</p>
      </div>
    {% endif %}
  </div>
  <div class="panel-footer">
    <a href="{{ geturl('comments','blog') }}"><span>{{ 'lbl.AllComments'|trans|ucfirst }}</span></a>
  </div>
</div>
