{% extends 'Core/Layout/Templates/Mails/Default.html.twig' %}

{% block main %}
  <h2>{{ SITE_TITLE }}: {{ 'msg.FaqOwnQuestionSubject'|trans|format(name) }}</h2>
  <h3>{{ 'lbl.SenderInformation'|trans|ucfirst }}</h3>
  <p><strong>{{ 'lbl.SentOn'|trans|ucfirst }}:</strong><br /> {{ sentOn|spoondate(dateFormatLong, LANGUAGE) }}</p>
  <h3>{{ 'lbl.Content'|trans|ucfirst }}</h3>
  <p><strong>{{ 'lbl.Name'|trans|ucfirst }}:</strong><br /> {{ name }}</p>
  <p><strong>{{ 'lbl.Email'|trans|ucfirst }}:</strong><br /> {{ email }}</p>
  <p><strong>{{ 'lbl.Question'|trans|ucfirst }}:</strong><br /> {{ message }}</p>
{% endblock %}
