<!DOCTYPE html>
<html lang="en">

<head>
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta charset="utf-8">
  <title>API client</title>

  <link rel="stylesheet" type="text/css" media="screen" href="/src/Api/V1/Client/Layout/css/screen.css" />

  <script type="text/javascript" src="/src/Frontend/Core/Js/jquery/jquery.js"></script>
  <script type="text/javascript" src="/src/Api/V1/Client/Js/client.js"></script>
</head>
<body class="en onsite">
  <div id="container">
    <ul id="modules">
      <li class="module">
        <h3>API</h3>
        <div class="configurationWrapper">
          <div class="configuration clearfix">
            <h4>Configuration</h4>
            <p>
              <label for="url">URL:</label>
              <input type="text" name="url" id="url" value="{{ url }}" class="input-text-big" disabled="disabled" />
            </p>
            <p>
              <label for="email">E-mail:</label>
              <input type="text" name="email" id="email" value="" class="input-text-big" />
            </p>
            <p>
              <label for="nonce">Nonce:</label>
              <input type="text" name="nonce" id="nonce" value="" class="input-text-big" />
            </p>
            <p>
              <label for="secret">Secret:</label>
              <input type="text" name="secret" id="secret" value="" class="input-text-big" />
            </p>
            <div class="col">
              Request method:
              <ul>
                <li>
                  <label for="get">GET</label>
                  <input type="radio" name="method" value="GET" id="get" checked="checked" />
                </li>
                <li>
                  <label for="post">POST</label>
                  <input type="radio" name="method" value="POST" id="post" />
                </li>
                <li>
                  <label for="delete">DELETE</label>
                  <input type="radio" name="method" value="DELETE" id="delete" />
                </li>
              </ul>
            </div>
            <div class="col">
              Output format:
              <ul>
                <li>
                  <label for="json">JSON</label>
                  <input type="radio" name="format" value="json" id="json" checked="checked" />
                </li>
                <li>
                  <label for="json">XML</label>
                  <input type="radio" name="format" value="xml" id="xml" />
                </li>
              </ul>
            </div>
            <div class="col">
              Language:
              <ul>
                {% for language in languages %}
                  <li>
                    <label for="{{ language }}">{{ language|upper }}</label>
                    <input type="radio" name="language" value="{{ language }}" id="{{ language }}"{% if loop.first %} checked="checked"{% endif %} />
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        </div>
      </li>

      {% for module in modules %}
      <li class="module">
        <a href="#{{ module.name }}">[<span class="toggle">+</span>] {{ module.name }}</a>

        {% if module.methods %}
          <ul class="methods hidden">
            {% for method in module.methods %}
              <li class="method">
                <a href="#{{ method.name }}" rel="{{ module.name }}.{{ method.name }}">[<span class="toggle">+</span>] {{ method.name }}</a>

                <div class="methodForm hidden">
                  <form action="" method="get">
                    {% if method.parameters %}
                      {% for parameter in method.parameters %}
                        <p>
                          <label for="{{ parameter.label }}">{{ parameter.name }}</label>

                          <input class="input-text" type="text" id="{{ parameter.label }}" name="{{ parameter.name }}" value="" />
                          {% if parameter.description %}{{ parameter.description }}{% endif %}
                        </p>
                      {% endfor %}
                    {% endif %}

                    <input class="submit" type="submit" value="Call" name="{{ method.name }}Submit" id="{{ method.name }}Submit" />
                  </form>
                </div>
              </li>
            {% endfor %}
          </ul>
        {% endif %}
      </li>
      {% endfor %}
    </ul>

    <div id="output" class="hidden">
      <h3>Output:</h3>
      <pre>

      </pre>
    </div>
  </div>
</body>
</html>
