{% block page_widget %}
  {% import 'Layout/Templates/macros.html.twig' as macro %}

  {{ form_row(form.title) }}
  <ul class="nav nav-tabs justify-content-end" role="tablist">
    <li class="nav-item mr-auto">
      <a class="nav-link active" href="#tabContent" aria-controls="tabContent" role="tab" data-toggle="tab" aria-selected="true" id="content-tab">{{ 'lbl.Content'|trans|ucfirst }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#tabImage" aria-controls="tabImage" role="tab" data-toggle="tab" aria-selected="false" id="image-tab">{{ 'lbl.Image'|trans|ucfirst }}</a>
    </li>
    {% if form.vars.dataGridDrafts is defined or form.vars.dataGridRevisions is defined %}
      <li class="nav-item">
        <a class="nav-link" href="#tabVersions" aria-controls="tabVersions" role="tab" data-toggle="tab" aria-selected="false" id="versions-tab">{{ 'lbl.Versions'|trans|ucfirst }}</a>
      </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="#tabSEO" aria-controls="tabSEO" role="tab" data-toggle="tab" aria-selected="false" id="seo-tab">{{ 'lbl.SEO'|trans|ucfirst }}</a>
    </li>
    {% if form.tags is defined %}
      <li class="nav-item">
        <a class="nav-link" href="#tabTags" aria-controls="tabTags" role="tab" data-toggle="tab" aria-selected="false" id="tags-tab">{{ 'lbl.Tags'|trans|ucfirst }}</a>
      </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="#tabRedirect" aria-controls="tabRedirect" role="tab" data-toggle="tab" aria-selected="false" id="redirect-tab">{{ 'lbl.Redirect'|trans|ucfirst }}</a>
    </li>
    {% if form.data.authentication.required is defined %}
      <li class="nav-item">
        <a class="nav-link" href="#tabAuthentication" aria-controls="tabAuthentication" role="tab" data-toggle="tab" aria-selected="false" id="authentication-tab">{{ 'lbl.Authentication'|trans|ucfirst }}</a>
      </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="#tabSettings" aria-controls="tabSettings" role="tab" data-toggle="tab" aria-selected="false" id="settings-tab">{{ 'lbl.Settings'|trans|ucfirst }}</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane show active" id="tabContent" aria-labelledby="content-tab" data-role="page-content-tab">
      {{ form_widget(form.content) }}
      {{ form_errors(form.content) }}
    </div>
    <div role="tabpanel" class="tab-pane" id="tabRedirect" aria-labelledby="redirect-tab">
      {{ form_widget(form.data.redirect.redirect) }}
      {{ form_errors(form.data.redirect.redirect) }}
    </div>
    <div role="tabpanel" class="tab-pane" id="tabImage" aria-labelledby="image-tab">
      {{ form_row(form.image) }}
    </div>
    {% if form.data.authentication.required is defined %}
      <div role="tabpanel" class="tab-pane" id="tabAuthentication" aria-labelledby="authentication-tab {% if form.data.authentication.required.vars.value %} show{% endif %}">
        {{ form_row(form.data.authentication.required) }}
        <div data-role="authentication-options" class="collapse{% if form.data.authentication.required.vars.checked %} show{% endif %}">
          {{ form_row(form.data.authentication.removeFromSearchIndex) }}
          {{ form_label(form.data.authentication.groups) }}
          {{ form_widget(form.data.authentication.groups) }}
          {{ form_errors(form.data.authentication.groups) }}
          <small class="help-text text-muted">{{ 'lbl.HelpAuthenticationGroups'|trans|ucfirst }}</small>
        </div>
      </div>
    {% else %}

    {% endif %}
    <div role="tabpanel" class="tab-pane" id="tabVersions" aria-labelledby="versions-tab">
      {% if form.vars.dataGridDrafts %}
        <div class="content-title">
          {{ 'lbl.Drafts'|trans|ucfirst }}
          {{ macro.infoTooltip('msg.HelpDrafts'|trans) }}
        </div>
        {{ macro.dataGrid(form.vars.dataGridDrafts) }}
      {% endif %}
      {% if form.vars.dataGridRevisions is defined %}
        <div class="content-title{% if form.vars.dataGridDrafts %} mt-3{% endif %}">
          {{ 'lbl.PreviousVersions'|trans|ucfirst }}
          {{ macro.infoTooltip('msg.HelpRevisions'|trans) }}
        </div>
        {{ macro.dataGrid(form.vars.dataGridRevisions, 'msg.NoRevisions'|trans) }}
      {% endif %}
    </div>
    {% if form.tags is defined %}
      <div role="tabpanel" class="tab-pane" id="tabTags" aria-labelledby="tags-tab">
        {{ form_row(form.tags) }}
      </div>
    {% endif %}
    <div role="tabpanel" class="tab-pane" id="tabSettings" aria-labelledby="settings-tab">
      <fieldset>
        <legend>{{ 'lbl.Settings'|trans|ucfirst }}</legend>

       <div class="form-group">
         {{ form_widget(form.data.isAction) }}
         {% if form.settings.allowMove is defined %} {# Only god-users can see these#}
           {{ form_widget(form.settings.allowMove) }}
           {{ form_widget(form.settings.allowChildren) }}
           {{ form_widget(form.settings.allowEdit) }}
           {{ form_widget(form.settings.allowDelete) }}
         {% endif %}
       </div>
      </fieldset>

      <fieldset class="last">
        <legend>{{ 'lbl.State'|trans|ucfirst }}</legend>
        {{ form_row(form.settings.hidden) }}
        {{ form_row(form.settings.publishOn) }}
        {{ form_row(form.settings.publishUntil) }}
      </fieldset>

    </div>
    <div role="tabpanel" class="tab-pane" id="tabSEO" aria-labelledby="seo-tab">
      {{ form_widget(form.meta) }}
      {{ form_errors(form.meta) }}
    </div>
  </div>
{% endblock %}

{%- block meta_widget -%}
  {% set customId = form.vars.id ~ '_custom' %}
  {% set classId = form.vars.id ~ '_class' %}
  {% set methodId = form.vars.id ~ '_method' %}
  {% set parametersId = form.vars.id ~ '_parameters' %}
  <div
    class="js-do-meta-automatically"
    data-base-field-selector="{{ base_field_selector }}"
    data-meta-id-selector="{{ '#' ~ form.id.vars.id }}"
    data-page-title-selector="{{ '#' ~ form.title.vars.id }}"
    data-page-title-overwrite-selector="{{ '#' ~ form.titleOverwrite.vars.id }}"
    data-page-navigation-title-selector="{{ '#' ~ form.parent.children.navigation.children.title.vars.id }}"
    data-page-navigation-title-overwrite-selector="{{ '#' ~ form.parent.children.navigation.children.titleOverwrite.vars.id }}"
    data-meta-description-selector="{{ '#' ~ form.description.vars.id }}"
    data-meta-description-overwrite-selector="{{ '#' ~ form.descriptionOverwrite.vars.id }}"
    data-meta-keywords-selector="{{ '#' ~ form.keywords.vars.id }}"
    data-meta-keywords-overwrite-selector="{{ '#' ~ form.keywordsOverwrite.vars.id }}"
    data-url-selector="{{ '#' ~ form.url.vars.id }}"
    data-url-overwrite-selector="{{ '#' ~ form.urlOverwrite.vars.id }}"
    data-generated-url-selector="{{ form.vars.generated_url_selector }}"
    data-custom-selector="{{ '#' ~ customId }}"
    data-class-name-selector="{{ '#' ~ classId }}"
    data-method-name-selector="{{ '#' ~ methodId }}"
    data-parameters-selector="{{ '#' ~ parametersId }}"
  >
    <fieldset>
      <legend>{{ 'lbl.Titles'|trans|ucfirst }}</legend>
      <div class="checkboxTextFieldCombo">
        <div class="form-group">
          {{ form_widget(form.titleOverwrite) }}
        </div>
        <div class="form-group">
          {{ form_label(form.title) }}
          {{ form_widget(form.title) }}
          {{ form_errors(form.title) }}
          <small class="form-text text-muted">{{ 'msg.HelpPageTitle'|trans|raw }}</small>
        </div>
      </div>
      <div class="checkboxTextFieldCombo">
        <div class="form-group">
          {{ form_widget(form.parent.children.navigation.children.titleOverwrite) }}
        </div>
        <div class="form-group">
          {{ form_label(form.parent.children.navigation.children.title) }}
          {{ form_widget(form.parent.children.navigation.children.title) }}
          {{ form_errors(form.parent.children.navigation.children.title) }}
          <small class="form-text text-muted">{{ 'msg.HelpNavigationTitle'|trans|raw }}</small>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>{{ 'lbl.MetaInformation'|trans|ucfirst }}</legend>
      <div class="checkboxTextFieldCombo">
        <div class="form-group">
          {{ form_widget(form.descriptionOverwrite) }}
        </div>
        <div class="form-group">
          {{ form_label(form.description) }}
          {{ form_widget(form.description) }}
          {{ form_errors(form.description) }}
          <small class="form-text text-muted">{{ 'msg.HelpMetaDescription'|trans|raw }}</small>
        </div>
      </div>
      <div class="checkboxTextFieldCombo">
        <div class="form-group">
          {{ form_widget(form.keywordsOverwrite) }}
        </div>
        <div class="form-group">
          {{ form_label(form.keywords) }}
          {{ form_widget(form.keywords) }}
          {{ form_errors(form.keywords) }}
          <small class="form-text text-muted">{{ 'msg.HelpMetaKeywords'|trans|raw }}</small>
        </div>
      </div>
      {% if form.custom %}
        <div class="form-group">
          {{ form_label(form.custom) }}
          {{ form_widget(form.custom) }}
          {{ form_errors(form.custom) }}
          <small class="form-text text-muted">{{ 'msg.HelpMetaCustom'|trans|raw }}</small>
        </div>
      {% endif %}
    </fieldset>

    <fieldset>
      <legend>{{ 'lbl.URL'|trans|ucfirst }}</legend>
      <div class="checkboxTextFieldCombo">
        <div class="form-group">
          {{ form_widget(form.urlOverwrite) }}
          {{ form_label(form.url) }}

          <div class="d-flex align-items-center">
            <span id="urlFirstPart">{{ SITE_URL }}{{ form.vars.detail_url }}/</span> <div class="ml-2">{{ form_widget(form.url) }}</div>
          </div>
          {{ form_errors(form.url) }}
          <small class="form-text text-muted">{{ 'msg.HelpMetaURL'|trans|raw }}</small>
        </div>
      </div>
    </fieldset>

    <fieldset{% if form.parent.data.hreflang.children is empty %} class="last"{% endif %}>
      <legend>{{ 'lbl.SEO'|trans|ucfirst }}</legend>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group last">
            <label>{{ 'lbl.Index'|trans|ucfirst }}</label>
            {{ form_widget(form.SEOIndex) }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ 'lbl.Follow'|trans|ucfirst }}</label>
            {{ form_widget(form.SEOFollow) }}
          </div>
        </div>
      </div>
    </fieldset>
    {% if form.parent.data.hreflang.children is not empty %}
      <fieldset class="last">
        <legend class="mb-0">{{ 'lbl.Languages'|trans|ucfirst }}</legend>
        <p><small class="text-muted form-text">{{ 'msg.HelpHrefLang'|trans|ucfirst }}</small></p>
        {{ form_widget(form.parent.data.hreflang) }}
      </fieldset>
    {% endif %}
  </div>
  <input type="hidden" id="{{ customId }}" value="{{ custom_meta_tags ? '1' : '0' }}">
  <input type="hidden" id="{{ classId }}" value="{{ generate_url_callback_class }}">
  <input type="hidden" id="{{ methodId }}" value="{{ generate_url_callback_method }}">
  <input type="hidden" id="{{ parametersId }}" value="{{ generate_url_callback_parameters }}">
  {{ form_rest(form) }}
{%- endblock meta_widget -%}

{% block _page_data_hreflang_widget %}
  <div class="row">
    {% for child in form.children %}
      <div class="col-lg-4">
        {{ form_row(child) }}
      </div>
    {% endfor %}
  </div>
{% endblock %}


{% block _page_data_redirect_redirect_entry_widget %}
  <div class="form-group">
    <div class="mb-2">
      {{ form_widget(form) }}
    </div>
    {% if form.vars.value == 'internal' %}
      {{ form_widget(form.parent.parent.internal_redirect) }}
    {% elseif form.vars.value == 'external' %}
      {{ form_widget(form.parent.parent.external_redirect) }}
    {% endif %}
  </div>
{% endblock %}

{% block page_content_widget %}
  {% import 'Layout/Templates/macros.html.twig' as macro %}
  {# @todo: remove select and use radios in de modal below, see markup below #}
{#  <div class="row">
    <div class="col-8 col-sm-6 col-md-4 col-lg-6 col-xl-4">
      {{ form_row(form.templateId) }}
    </div>
  </div>#}

  <p>
    {{ 'lbl.Template'|trans|ucfirst }}: {{ selectedTemplate.label }} <a href="#" class="link-sm" data-toggle="modal" data-target="#changeTemplate">{{ 'lbl.ChangeTemplate'|trans|ucfirst }}</a>
  </p>

  <div class="modal fade" id="changeTemplate" tabindex="-1" aria-labelledby="changeTemplateLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="changeTemplateLabel">{{ 'lbl.ChooseATemplate'|trans|ucfirst }}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          {{ macro.alert('warning', 'msg.TemplateChangeWarning'|trans|ucfirst) }}
          <div class="row">
            {% for template in form.templateId.children %}
              <div class="col-lg-6">
                <div class="form-check mb-3">
                  {{ form_widget(template) }}
                  <div class="template-visual-small">
                    {{ form.templateId.vars.templates[template.vars.value]['html']|raw }}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
        <div class="modal-footer">
          {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
          {{ macro.buttonIcon('', 'check', 'lbl.Save'|trans|ucfirst, 'btn-primary') }}
        </div>
      </div>
    </div>
  </div>


  <div id="templateVisualLarge">
    {{ include(template_from_string(selectedTemplate.htmlLarge|replace({'&quot;': '"'}), 'page template: ' ~ selectedTemplate.label), {'form': form}) }}
  </div>
{% endblock %}

{% block _page_content_page_block_collection_widget %}
  {% spaceless %}
    {% import 'Layout/Templates/macros.html.twig' as macro %}
    {% if prototype is defined %}
      {% set prototype_vars = {} %}
      {% if style is defined %}
        {% set prototype_vars = prototype_vars|merge({'style': style}) %}
      {% endif %}

      {% set field = prototype %}
      {% set attr = attr|merge({'data-prototype': block('page_block_collection_item') }) %}
      {% set attr = attr|merge({'data-prototype-name': prototype_name }) %}

    {% endif %}
    <div {{ block('widget_container_attributes') }}>
      <ul class="list-group list-group-pages list-unstyled js-collection" {% if form.vars.allow_sequence %}data-role="collection-sequence"{% if form.vars.sequence_group %} data-sequence-group="{{ form.vars.sequence_group }}" data-position="{{ form.vars.name }}"{% endif %}{% endif %}>
        {% for field in form %}
          <li class="list-group-item">
            {{ block('page_block_collection_item') }}
          </li>
        {% endfor %}
      </ul>

      {% if form.vars.allow_add %}
        <div class="d-flex justify-content-center mt-2">
          {{ macro.buttonIcon('', 'plus-square', form.vars.add_button_text|trans({}, translation_domain)|ucfirst|raw, 'btn-secondary btn-block', { 'type':'button', 'data-addfield':'collection', 'data-collection': form.vars.id, 'data-prototype-name': prototype_name }) }}
        </div>
      {% endif %}
      {{ form_errors(form) }}
    </div>
  {% endspaceless %}
{% endblock %}

{% block page_block_widget %}
  {% import 'Layout/Templates/macros.html.twig' as macro %}
  <div id="{{ form.vars.id }}" class="mb-1">
    {% set blockTitle = form.vars.data.extraType.label %}
    {{ form_widget(form.visible, {'label': 'lbl.VisibleOnSite'|trans, 'label_attr': {'class' : 'font-weight-bold custom-control-label mb-1'}}) }}

    <div id="editBlockModal{{ form.vars.id }}" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="editBlockModalTitle{{ form.vars.id }}" aria-hidden="true">
      <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="editBlockModalTitle{{ form.vars.id }}">{{ 'lbl.EditBlock'|trans|ucfirst }}</h4>
          </div>
          <div class="modal-body" data-role="page-block-form-wrapper">
            {{ form_row(form.extraType) }}
            <div data-role="page-block-content-type-wrapper" data-type="widget">{{ form_row(form.widgetExtraId) }}</div>
            <div data-role="page-block-content-type-wrapper" data-type="block">{{ form_row(form.blockExtraId) }}</div>
            <div data-role="page-block-content-type-wrapper" data-type="rich_text">{{ form_row(form.html) }}</div>
            {{ form_rest(form) }}
          </div>
          <div class="modal-footer d-flex">
            <div class="mr-auto">{{ macro.alert('warning', 'msg.ContentSaveWarning'|trans|ucfirst) }}</div>
            {{ macro.buttonIcon('', 'save', 'lbl.Save'|trans|ucfirst, 'btn-default', {'type': 'button', 'data-role':'page-block-save'}) }}
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block page_block_collection_item %}
  {% import 'Layout/Templates/macros.html.twig' as macro %}
    <div data-role="page-block-wrapper" class="d-flex{% if not field.children.visible.vars.checked %} block-not-visible{% endif %}">
      {% if form.vars.allow_sequence %}
        <div class="d-flex flex-column mr-2">
          {{ macro.buttonIcon('', 'long-arrow-alt-up', '', 'btn-move btn-move-click btn-icon-only btn-sm', {'type': 'button', 'data-role': 'order-move', 'data-direction': 'up', 'aria-label': 'lbl.MoveUpOnePosition'|trans|ucfirst}, false, true) }}
          <span class="btn btn-move btn-move-drag btn-icon-only btn-sm fork-data-grid-sortable" data-role="sequence-handle" aria-hidden="true">{{ macro.icon('grip-vertical') }}</span>
          {{ macro.buttonIcon('', 'long-arrow-alt-down', '', 'btn-move btn-move-click btn-icon-only btn-sm', {'type': 'button', 'data-role': 'order-move', 'data-direction': 'down', 'aria-label': 'lbl.MoveDownOnePosition'|trans|ucfirst}, false, true) }}
        </div>
      {% endif %}

      <div>
        <div data-role="page-block-preview" class="mb-2{% if not field.vars.data.extraType.isRichText %} d-none{% endif %}">
          <p class="page-block-description mb-0">
            {% if field.vars.data.html %}
              {{ field.vars.data.html|parse_blocks|truncate(75) }}
            {% else %}
              {{ 'lbl.NoContentToShow'|trans|ucfirst }}
            {% endif %}
          </p>
        </div>
        <div class="block-info mb-2{% if field.vars.data.extraType.isRichText %} d-none{% endif %}" data-role="page-block-title-wrapper">
          <p class="badge badge-middle mb-2" data-role="page-block-type">{{ field.vars.data.extraType.label }}</p>
          <p class="page-block-title font-weight-bold mb-0" data-role="page-block-title">
            {% if field.vars.data.extraModule %}
              {{ field.vars.data.extraModule }}
              › {{ field.vars.data.extraLabel }}
            {% endif %}
          </p>
        </div>

        <div class="d-flex flex-wrap">
          <div class="btn-group">
            {{ macro.buttonIcon('', 'edit', '', 'btn-primary btn-sm', {'type': 'button', 'data-toggle': 'modal', 'data-role': 'page-block-edit', 'data-target': '#editBlockModal' ~ field.vars.id, 'aria-label': 'lbl.EditBlock'|trans|ucfirst}, false, true) }}

            {% if form.vars.allow_delete %}
              {{ macro.buttonIcon('', 'trash', '', 'btn-danger btn-sm', {'type': 'button', 'data-toggle': 'modal', 'data-target': '#confirmDeleteBlock' ~ field.vars.id, 'aria-label': form.vars.delete_button_text|trans({}, translation_domain)|ucfirst|raw}, false, true) }}
            {% endif %}
          </div>
        </div>
      </div>

      <div class="ml-auto">
        {{ form_widget(field) }}
        {{ form_errors(field) }}
      </div>


      {% if form.vars.allow_delete %}
        <div class="modal" id="confirmDeleteBlock{{ field.vars.id }}" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmDeleteBlockTitle{{ field.vars.id }}">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="confirmDeleteBlockTitle{{ field.vars.id }}">{{ 'lbl.DeleteBlock'|trans|ucfirst }}</h4>
              </div>
              <div class="modal-body">
                <p>{{ 'msg.ConfirmDeleteBlock'|trans }}</p>
              </div>
              <div class="modal-footer">
                {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "type":"button", "data-dismiss":"modal" }) }}
                {{ macro.buttonIcon('', 'trash', form.vars.delete_button_text|trans({}, translation_domain)|ucfirst|raw, 'btn-danger', {'type': 'button', 'data-removefield': 'collection', "data-dismiss":"modal", 'data-field': field.vars.id, 'aria-label': form.vars.delete_button_text|trans({}, translation_domain)|ucfirst|raw}) }}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>

{% endblock %}


{% block _page_saveAsDraft_widget %}
  {% import 'Layout/Templates/macros.html.twig' as macro %}
  {%- set attr = attr|merge({class: (attr.class|default('btn-default') ~ ' btn')|trim}) -%}
  <button type="submit" {{ block('button_attributes') }}>{{ macro.icon('file') }}<span class="btn-text">{{ label|trans|ucfirst }}</span></button>
{% endblock %}

{% block _page_content_page_block_collection_entry_visible_widget -%}
  <div class="custom-control custom-visible-switch">
    <input type="checkbox" {{ block('widget_attributes') }}{% if value is defined %} value="{{ value }}"{% endif %}{% if form.vars.checked %} checked="checked"{% endif %} data-role="page-block-visibility" />

    <label for="{{ form.vars.id }}" class="btn btn-default btn-icon-only btn-sm">{% if form.vars.checked %}<i class="far fa-eye"></i>{% else %}<i class="far fa-eye-slash"></i>{% endif %} <span class="sr-only">{{ form.vars.label|trans }}</span></label>
  </div>
{%- endblock %}
