{% block page_widget %}
  {% import 'Layout/Templates/macros.html.twig' as macro %}

  {{ form_row(form.title) }}
  <ul class="nav nav-tabs justify-content-end" role="tablist">
    <li class="nav-item mr-auto">
      <a class="nav-link active" href="#tabContent" aria-controls="tabContent" role="tab" data-toggle="tab" aria-selected="true" id="content-tab">{{ 'lbl.Content'|trans|ucfirst }}</a>
    </li>
    {% if form.vars.dataGridDrafts is defined or form.vars.dataGridRevisions is defined %}
      <li class="nav-item">
        <a class="nav-link" href="#tabVersions" aria-controls="tabVersions" role="tab" data-toggle="tab" aria-selected="false" id="versions-tab">{{ 'lbl.Versions'|trans|ucfirst }}</a>
      </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link" href="#tabSEO" aria-controls="tabSEO" role="tab" data-toggle="tab" aria-selected="false" id="seo-tab">{{ 'lbl.SEO'|trans|ucfirst }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#tabTags" aria-controls="tabTags" role="tab" data-toggle="tab" aria-selected="false" id="tags-tab">{{ 'lbl.Tags'|trans|ucfirst }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#tabRedirect" aria-controls="tabRedirect" role="tab" data-toggle="tab" aria-selected="false" id="redirect-tab">{{ 'lbl.Redirect'|trans|ucfirst }}</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="#tabSettings" aria-controls="tabSettings" role="tab" data-toggle="tab" aria-selected="false" id="settings-tab">{{ 'lbl.Settings'|trans|ucfirst }}</a>
    </li>
  </ul>
  <div class="tab-content">
    <div role="tabpanel" class="tab-pane show active" id="tabContent" aria-labelledby="content-tab">
    </div>
    <div role="tabpanel" class="tab-pane" id="tabRedirect" aria-labelledby="redirect-tab">
      {{ form_widget(form.data.redirect.redirect) }}
      {{ form_errors(form.data.redirect.redirect) }}
    </div>
    <div role="tabpanel" class="tab-pane" id="tabVersions" aria-labelledby="versions-tab">
      {% if form.vars.dataGridDrafts %}
        <div class="content-title">
          {{ 'lbl.Drafts'|trans|ucfirst }}
          {{ macro.infoTooltip('msg.HelpDrafts'|trans) }}
        </div>
        {{ macro.dataGrid(form.vars.dataGridDrafts) }}
      {% endif %}
      {% if form.vars.dataGridRevisions is defined %}
        <div class="content-title{% if form.vars.dataGridDrafts %} mt-3{% endif %}">
          {{ 'lbl.PreviousVersions'|trans|ucfirst }}
          {{ macro.infoTooltip('msg.HelpRevisions'|trans) }}
        </div>
        {{ macro.dataGrid(form.vars.dataGridRevisions, 'msg.NoRevisions'|trans) }}
      {% endif %}
    </div>
    <div role="tabpanel" class="tab-pane" id="tabTags" aria-labelledby="tags-tab">
      {{ form_row(form.tags) }}
    </div>
    <div role="tabpanel" class="tab-pane" id="tabSettings" aria-labelledby="settings-tab">
      {{ form_row(form.settings.hidden) }}
      {{ form_row(form.data.isAction) }}
      {{ form_widget(form.settings) }}
    </div>
    <div role="tabpanel" class="tab-pane" id="tabSEO" aria-labelledby="seo-tab">
      {{ form_widget(form.meta) }}
      {{ form_errors(form.meta) }}
    </div>
  </div>
{% endblock %}

{%- block meta_widget -%}
  {% set customId = form.vars.id ~ '_custom' %}
  {% set classId = form.vars.id ~ '_class' %}
  {% set methodId = form.vars.id ~ '_method' %}
  {% set parametersId = form.vars.id ~ '_parameters' %}
  <div
    class="js-do-meta-automatically"
    data-base-field-selector="{{ base_field_selector }}"
    data-meta-id-selector="{{ '#' ~ form.id.vars.id }}"
    data-page-title-selector="{{ '#' ~ form.title.vars.id }}"
    data-page-title-overwrite-selector="{{ '#' ~ form.titleOverwrite.vars.id }}"
    data-page-navigation-title-selector="{{ '#' ~ form.parent.children.navigation.children.title.vars.id }}"
    data-page-navigation-title-overwrite-selector="{{ '#' ~ form.parent.children.navigation.children.titleOverwrite.vars.id }}"
    data-meta-description-selector="{{ '#' ~ form.description.vars.id }}"
    data-meta-description-overwrite-selector="{{ '#' ~ form.descriptionOverwrite.vars.id }}"
    data-meta-keywords-selector="{{ '#' ~ form.keywords.vars.id }}"
    data-meta-keywords-overwrite-selector="{{ '#' ~ form.keywordsOverwrite.vars.id }}"
    data-url-selector="{{ '#' ~ form.url.vars.id }}"
    data-url-overwrite-selector="{{ '#' ~ form.urlOverwrite.vars.id }}"
    data-generated-url-selector="{{ form.vars.generated_url_selector }}"
    data-custom-selector="{{ '#' ~ customId }}"
    data-class-name-selector="{{ '#' ~ classId }}"
    data-method-name-selector="{{ '#' ~ methodId }}"
    data-parameters-selector="{{ '#' ~ parametersId }}"
  >
    <fieldset>
      <legend>{{ 'lbl.Titles'|trans|ucfirst }}</legend>
      <div class="checkboxTextFieldCombo">
        <div class="form-group">
          {{ form_widget(form.titleOverwrite) }}
        </div>
        <div class="form-group">
          {{ form_label(form.title) }}
          {{ form_widget(form.title) }}
          {{ form_errors(form.title) }}
          <small class="form-text text-muted">{{ 'msg.HelpPageTitle'|trans|raw }}</small>
        </div>
      </div>
      <div class="checkboxTextFieldCombo">
        <div class="form-group">
          {{ form_widget(form.parent.children.navigation.children.titleOverwrite) }}
        </div>
        <div class="form-group">
          {{ form_label(form.parent.children.navigation.children.title) }}
          {{ form_widget(form.parent.children.navigation.children.title) }}
          {{ form_errors(form.parent.children.navigation.children.title) }}
          <small class="form-text text-muted">{{ 'msg.HelpNavigationTitle'|trans|raw }}</small>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>{{ 'lbl.MetaInformation'|trans|ucfirst }}</legend>
      <div class="checkboxTextFieldCombo">
        <div class="form-group">
          {{ form_widget(form.descriptionOverwrite) }}
        </div>
        <div class="form-group">
          {{ form_label(form.description) }}
          {{ form_widget(form.description) }}
          {{ form_errors(form.description) }}
          <small class="form-text text-muted">{{ 'msg.HelpMetaDescription'|trans|raw }}</small>
        </div>
      </div>
      <div class="checkboxTextFieldCombo">
        <div class="form-group">
          {{ form_widget(form.keywordsOverwrite) }}
        </div>
        <div class="form-group">
          {{ form_label(form.keywords) }}
          {{ form_widget(form.keywords) }}
          {{ form_errors(form.keywords) }}
          <small class="form-text text-muted">{{ 'msg.HelpMetaKeywords'|trans|raw }}</small>
        </div>
      </div>
      {% if form.custom_meta_tags %}
        <div class="form-group">
          {{ form_label(form.custom) }}
          {{ form_widget(form.custom) }}
          {{ form_errors(form.custom) }}
          <small class="form-text text-muted">{{ 'msg.HelpMetaCustom'|trans|raw }}</small>
        </div>
      {% endif %}
    </fieldset>

    <fieldset>
      <legend>{{ 'lbl.URL'|trans|ucfirst }}</legend>
      <div class="checkboxTextFieldCombo">
        <div class="form-group">
          {{ form_widget(form.urlOverwrite) }}
          {{ form_label(form.url) }}
          <div class="form-inline">
            <span id="urlFirstPart">{{ form.vars.detail_url }}/ </span>{{ form_widget(form.url) }}
          </div>
          {{ form_errors(form.url) }}
          <small class="form-text text-muted">{{ 'msg.HelpMetaURL'|trans|raw }}</small>
        </div>
      </div>
    </fieldset>

    <fieldset>
      <legend>{{ 'lbl.SEO'|trans|ucfirst }}</legend>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group last">
            <label>{{ 'lbl.Index'|trans|ucfirst }}</label>
            {{ form_widget(form.SEOIndex) }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ 'lbl.Follow'|trans|ucfirst }}</label>
            {{ form_widget(form.SEOFollow) }}
          </div>
        </div>
      </div>
    </fieldset>
    <fieldset class="last">
      <legend>{{ form.parent.data.hreflang.vars.label|trans }}</legend>
      {{ form_widget(form.parent.data.hreflang) }}
    </fieldset>
  </div>
  <input type="hidden" id="{{ customId }}" value="{{ custom_meta_tags ? '1' : '0' }}">
  <input type="hidden" id="{{ classId }}" value="{{ generate_url_callback_class }}">
  <input type="hidden" id="{{ methodId }}" value="{{ generate_url_callback_method }}">
  <input type="hidden" id="{{ parametersId }}" value="{{ generate_url_callback_parameters }}">
  {{ form_rest(form) }}
{%- endblock meta_widget -%}

{% block _page_data_redirect_redirect_entry_widget %}
  <div class="form-group">
    {{ form_widget(form) }}
    {% if form.vars.value == 'internal' %}
      {{ form_widget(form.parent.parent.internal_redirect) }}
    {% elseif form.vars.value == 'external' %}
      {{ form_widget(form.parent.parent.external_redirect) }}
    {% endif %}
  </div>
{% endblock %}
