{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form addProfileGroup %}
    <div class="card card-default">
      <div class="card-heading">
        <h2>{{ 'lbl.Group'|trans|ucfirst }}</h2>
      </div>
      <div class="card-body">
        <div class="row gx-3">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="group" class="control-label">{{ 'lbl.Group'|trans|ucfirst }}</label>
              {% form_field group %} {% form_field_error group %}
            </div>
          </div>
        </div>
        <label for="expirationDate" class="control-label">{{ 'lbl.ExpiresOn'|trans|ucfirst }}:</label>
        <div class="row gx-3">
          <div class="col-lg-6">
            <div class="input-group">
              <div class="input-group-text">
                {{ macro.icon('calendar fa-fw') }}
                <label class="visually-hidden" for="expirationDate">{{ 'lbl.Date'|trans|ucfirst }}</label>
              </div>
              {% form_field expiration_date %}
            </div>
            {% form_field_error expiration_date %}
          </div>
          <div class="col-lg-6">
            <div class="input-group">
              <div class="input-group-text">
                {{ macro.icon('clock fa-fw') }}
                <label class="visually-hidden" for="expirationTime">{{ 'lbl.Time'|trans|ucfirst }}</label>
              </div>
              {% form_field expiration_time %}
            </div>
            {% form_field_error expiration_time %}
          </div>
        </div>
      </div>
    </div>
    <div class="fork-page-actions">
      <div class="btn-toolbar d-flex">
        <div class="btn-group" role="group">
          {{ macro.buttonIcon(geturl('Edit') ~ '&id=' ~ id ~ "#tabGroups", 'times', 'lbl.Cancel'|trans|ucfirst) }}
        </div>
        <div class="btn-group ms-auto" role="group">
          {{ macro.buttonIcon('', 'plus-square', 'lbl.Add'|trans|ucfirst, 'btn-primary', { "type":"submit", "id":"addButton", "name":"add" }) }}
        </div>
      </div>
    </div>
  {% endform %}
{% endblock %}

