{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}
{% block actionbar %}

{% endblock %}

{% block content %}
  {% form editProfileGroup %}
    <div class="row">
      <div class="col-lg-6">
        <div class="form-group">
          <label for="group" class="control-label">{{ 'lbl.Group'|trans|ucfirst }}</label>
          {% form_field group %} {% form_field_error group %}
        </div>
      </div>
    </div>
    <div class="form-group">
      <label for="expirationDate" class="control-label">{{ 'lbl.ExpiresOn'|trans|ucfirst }}:</label>
      <div class="row gx-3">
        <div class="col-lg-6">
          <div class="input-group">
            <div class="input-group-text">
              {{ macro.icon('calendar fa-fw') }}
              <label class="visually-hidden" for="expirationDate">{{ 'lbl.Date'|trans|ucfirst }}</label>
            </div>
            {% form_field expiration_date %}
          </div>
          {% form_field_error expiration_date %}
        </div>
        <div class="col-lg-6">
          <div class="input-group">
            <div class="input-group-text">
              {{ macro.icon('clock fa-fw') }}
              <label class="visually-hidden" for="expirationTime">{{ 'lbl.Time'|trans|ucfirst }}</label>
            </div>
            {% form_field expiration_time %}
          </div>
          {% form_field_error expiration_time %}
        </div>
      </div>
    </div>
    <div class="fork-page-actions">
      <div class="btn-toolbar d-flex">
        <div class="btn-group" role="group">
          {% if isAllowedAction('DeleteProfileGroup') %}
            {{ macro.buttonIcon('', 'trash-alt', 'lbl.Delete'|trans|ucfirst, 'btn-danger', { "type":"button", "data-bs-toggle":"modal", "data-bs-target":"#confirmDelete" }) }}
          {% endif %}
          {% if isAllowedAction('Edit') %}
            {{ macro.buttonIcon(geturl('Edit') ~ '&id=' ~ profileId ~ "#tabGroups", 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default') }}
          {% endif %}
        </div>
        <div class="btn-group ms-auto" role="group">
          {{ macro.buttonIcon('', 'save', 'lbl.Save'|trans|ucfirst, 'btn-primary', { "id":"saveButton", "type":"submit", "name":"edit" }) }}
        </div>
      </div>
    </div>
  {% endform %}

  {% if isAllowedAction('DeleteProfileGroup') %}
    {{ form_start(deleteForm) }}
    {{ form_row(deleteForm._token) }}
    {{ form_row(deleteForm.id) }}
    <div class="modal fade" id="confirmDelete" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmDeleteTitle">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="confirmDeleteTitle">{{ 'lbl.Delete'|trans|ucfirst }}</h4>
          </div>
          <div class="modal-body">
            <p>{{ 'msg.ConfirmProfileGroupDelete'|trans|format(profileGroup.name|e)|raw }}</p>
          </div>
          <div class="modal-footer">
            {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal" }) }}
            {{ macro.buttonIcon('', 'trash', 'lbl.Delete'|trans|ucfirst, 'btn-danger') }}
          </div>
        </div>
      </div>
    </div>
    {{ form_end(deleteForm) }}
  {% endif %}
{% endblock %}
