{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}
  {% if isAllowedAction('AddGroup') %}
    <div class="btn-toolbar justify-content-end">
      <div class="btn-group" role="group">
        {{ macro.buttonIcon(geturl('add_group'), 'plus-square', 'lbl.AddGroup'|trans|ucfirst) }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if dgGroups %}
    {% form filter %}
      <div class="card card-default">
        <div class="card-heading">
          <h2>{{ 'lbl.Filter'|trans|ucfirst }}</h2>
        </div>
        <div class="card-body p-3">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group mb-md-0">
                <label for="name" class="control-label">{{ 'lbl.Name'|trans|ucfirst }}</label>
                {% form_field name %} {% form_field_error name %}
              </div>
            </div>
          </div>
          <div class="d-flex justify-content-end mt-3">
            {{ macro.buttonIcon('', 'sync', 'lbl.UpdateFilter'|trans|ucfirst, 'btn-primary', { "id":"search", "type":"submit", "name":"search" }) }}
          </div>
        </div>
      </div>
    {% endform %}
    <form action="{{ geturl('mass_action') }}" method="get" class="forkForms submitWithLink" id="massLocaleAction">
    <div>
      <input type="hidden" name="token" value="{{ fork_csrf_token }}">
      <input type="hidden" name="offset" value="{{ offset }}" />
      <input type="hidden" name="order" value="{{ order }}" />
      <input type="hidden" name="sort" value="{{ sort }}" />
    </div>
    <div class="table-responsive">
      {{ dgGroups|raw }}
    </div>
    </form>
  {% else %}
    {{ macro.emptyState(geturl('add_group'), 'msg.AddAGroup'|trans, 'msg.NoGroups'|trans|ucfirst) }}
  {% endif %}
{% endblock %}
