{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}
  {% if showProfilesAddGroup %}
    <div class="btn-toolbar pull-right">
      <div class="btn-group" role="group">
        {{ macro.buttonIcon(geturl('add_group'), 'plus-square', 'lbl.AddGroup'|trans|ucfirst) }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      {% form filter %}
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="name" class="control-label">{{ 'lbl.Name'|trans|ucfirst }}</label>
                {% form_field name %} {% form_field_error name %}
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="btn-toolbar">
            <div class="btn-group pull-right">
              <button id="search" type="submit" class="btn btn-primary" name="search">
                <span class="fa fa-refresh"></span>&nbsp;
                {{ 'lbl.UpdateFilter'|trans|ucfirst }}
              </button>
            </div>
          </div>
        </div>
      </div>
      {% endform %}
    </div>
  </div>
  <div class="row fork-module-content">
    <div class="col-md-12">
      {% if dgGroups %}
        <form action="{{ geturl('mass_action') }}" method="get" class="forkForms submitWithLink" id="massLocaleAction">
        <div>
          <input type="hidden" name="offset" value="{{ offset }}" />
          <input type="hidden" name="order" value="{{ order }}" />
          <input type="hidden" name="sort" value="{{ sort }}" />
        </div>
        <div class="table-responsive">
          {{ dgGroups|raw }}
        </div>
        </form>
      {% endif %}
      {% if not dgGroups %}
        <p>{{ 'msg.NoItems'|trans }}</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
