{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}
  <div class="btn-toolbar pull-right">
    <div class="btn-group" role="group">
      {% if showProfilesIndex %}
        {{ macro.buttonIcon(geturl('index'), 'times', 'lbl.Cancel'|trans|ucfirst) }}
      {% endif %}
      {{ macro.buttonIcon(geturl('export_template'), 'download', 'lbl.ExportTemplate'|trans|ucfirst) }}
    </div>
  </div>
{% endblock %}

{% block content %}
  {% form import %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="form-group">
        <label for="group" class="control-label">{{ 'lbl.Group'|trans|ucfirst }}</label>
        {% form_field group %} {% form_field_error group %}
      </div>
      <div class="form-group">
        <label for="file" class="control-label">
          {{ 'lbl.File'|trans|ucfirst }}
          {{ macro.required }}
        </label>
        {% form_field file %} {% form_field_error file %}
      </div>
      <div class="form-group">
        <ul class="list-unstyled">
          <li class="checkbox">
            <label>{% form_field overwrite_existing %} {{ 'msg.OverwriteExisting'|trans }}</label>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row fork-module-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-right" role="group">
          <button id="importButton" type="submit" name="add" class="btn btn-primary">
            <span class="fa fa-download"></span>{{ 'lbl.Import'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endform %}
{% endblock %}
