{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}
  <div class="btn-toolbar justify-content-end">
    <div class="btn-group" role="group">
      {% if isAllowedAction('Add') %}
        {{ macro.buttonIcon(geturl('add'), 'plus-square', 'lbl.AddProfile'|trans|ucfirst) }}
      {% endif %}
      {% if isAllowedAction('Import') %}
        {{ macro.buttonIcon(geturl('import'), 'upload', 'lbl.Import'|trans|ucfirst) }}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  {% if dgProfiles %}
    {% form filter %}
    <div class="card card-default">
      <div class="card-heading">
        <h2>{{ 'lbl.Filter'|trans|ucfirst }}</h2>
      </div>
      <div class="card-body p-3">
        <div class="row gx-3">
          <div class="col-md-4">
            <div class="form-group mb-md-0">
              <label for="email" class="control-label">{{ 'lbl.Email'|trans|ucfirst }}</label>
              {% form_field email %} {% form_field_error email %}
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group mb-md-0">
              <label for="status" class="control-label">{{ 'lbl.Status'|trans|ucfirst }}</label>
              {% form_field status %} {% form_field_error status %}
            </div>
          </div>
          <div class="col-md-4">
            {% if ddmGroup %}
              <div class="form-group mb-md-0">
                <label for="group" class="control-label">{{ 'lbl.Group'|trans|ucfirst }}</label>
                {% form_field group %} {% form_field_error group %}
              </div>
            {% endif %}
          </div>
        </div>
        <div class="d-flex justify-content-end mt-3">
          {{ macro.buttonIcon('', 'sync', 'lbl.UpdateFilter'|trans|ucfirst, 'btn-primary', { "type":"submit", "id":"search", "name":"search" }) }}
        </div>
      </div>
    </div>
    {% endform %}
    <form action="{{ geturl('mass_action') }}" method="get" class="forkForms submitWithLink">
    <div>
      <input type="hidden" name="token" value="{{ fork_csrf_token }}">
      <input type="hidden" name="offset" value="{{ offset }}" />
      <input type="hidden" name="order" value="{{ order }}" />
      <input type="hidden" name="sort" value="{{ sort }}" />
      <input type="hidden" name="email" value="{{ email }}" />
      <input type="hidden" name="status" value="{{ status }}" />
      <input type="hidden" name="newGroup" value="" />
    </div>
    <div class="table-responsive">
      {{ dgProfiles|raw }}
    </div>
    <div class="modal fade" id="confirmDelete" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmDeleteTitle">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="confirmDeleteTitle">{{ 'lbl.Delete'|trans|ucfirst }}</h4>
          </div>
          <div class="modal-body">
            <p>{{ 'msg.ConfirmMassDelete'|trans }}</p>
          </div>
          <div class="modal-footer">
            {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal" }) }}
            {{ macro.buttonIcon('', 'trash', 'lbl.Delete'|trans|ucfirst, 'btn-danger', { "type":"submit" }) }}
          </div>
        </div>
      </div>
    </div>
    <div class="modal fade" id="confirmAddToGroup" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmAddToGroupTitle">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="confirmAddToGroupTitle">{{ 'lbl.AddToGroup'|trans|ucfirst }}</h4>
          </div>
          <div class="modal-body">
            <p>{{ 'msg.ConfirmMassAddToGroup'|trans }}</p>
            <div class="form-group">
              <div class="jsMassActionAddToGroupSelectGroup"></div>
            </div>
          </div>
          <div class="modal-footer">
            {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal" }) }}
            {{ macro.buttonIcon('', 'plus-square', 'lbl.Add'|trans|ucfirst, 'btn-primary', { "type":"submit" }) }}
          </div>
        </div>
      </div>
    </div>
    </form>
  {% else %}
    {{ macro.emptyState(geturl('add'), 'msg.AddAProfile'|trans, 'msg.NoProfiles'|trans|ucfirst) }}
  {% endif %}
{% endblock %}
