{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}

  {% form settings %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ 'lbl.Notifications'|trans|ucfirst }}
          </h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <ul class="list-unstyled">
              <li class="checkbox">
                <label for="sendNewProfileAdminMail" class="control-label">{% form_field send_new_profile_admin_mail %} {{ 'lbl.SendNewProfileAdminMail'|trans|ucfirst }}</label>
              </li>
              <li class="checkbox" id="overwriteProfileNotificationEmailBox">
                <label for="overwriteProfileNotificationEmail" class="control-label">{% form_field overwrite_profile_notification_email %} {{ 'lbl.OverwriteProfileNotificationEmail'|trans|ucfirst }}</label><br />
                    <span id="profileNotificationEmailBox">
                      {{ macro.required }} {% form_field profile_notification_email %}
                      {% form_field_error profile_notification_email %}
                    </span>
              </li>
            </ul>
          </div>
          <div class="form-group">
            <ul class="list-unstyled">
              <li class="checkbox">
                <label for="sendNewProfileMail" class="control-label">{% form_field send_new_profile_mail %} {{ 'lbl.SendNewProfileMail'|trans|ucfirst }}</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-module-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-right" role="group">
          <button id="save" type="submit" name="save" class="btn btn-primary">
            <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endform %}
{% endblock %}


