
{#
  variables that are available:
  - {{ widgetProfilesLoginBox }}:
#}
{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}

<section class="module-profiles widget-profiles-login-box">
  {% if isLoggedIn %}
    {% block block_is_logged_in %}
      <div class="block-alerts">
        {{ alerts.alert('success', 'msg.ProfilesLoggedInAs'|trans|format(profile.display_name, profile.url.dashboard)) }}
        <a href="{{ profile.url.settings }}">{{ 'lbl.Settings'|trans|ucfirst }}</a>
      </div>
    {% endblock %}
  {% endif %}

  {% if not isLoggedIn %}
    {% block block_heading %}
      <header class="block-heading page-header" role="banner">
        <h3>{{ 'lbl.Login'|trans|ucfirst }}</h3>
      </header>
    {% endblock %}

    {% block block_body %}
      <div class="block-body">
        {% form login %}
        <fieldset class="form-horizontal">
          <div class="form-group{% if txtEmailError %} has-error{% endif %}">
            <label class="control-label col-sm-2" for="email">
              {{ 'lbl.Email'|trans|ucfirst }}<abbr title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr>
            </label>
            <div class="col-sm-6">
              {% form_field_error email %}{% form_field email %}
            </div>
          </div>
          <div class="form-group{% if txtPasswordError %} has-error{% endif %}">
            <label class="control-label col-sm-2" for="password">
              {{ 'lbl.Password'|trans|ucfirst }}<abbr title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr>
            </label>
            <div class="col-sm-6">
              {% form_field_error password %}{% form_field password %}
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
              <label for="remember">
                {% form_field remember %} {{ 'lbl.RememberMe'|trans|ucfirst }}
              </label>
              {% form_field_error remember %}
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
              <input class="btn btn-primary" type="submit" value="{{ 'lbl.Login'|trans|ucfirst }}" />
              <small>
                <a href="{{ geturlforblock('Profiles', 'ForgotPassword') }}" title="{{ 'msg.ForgotPassword'|trans }}">{{ 'msg.ForgotPassword'|trans }}</a>
              </small>
            </div>
          </div>
        </fieldset>
        {% endform %}
      </div>
    {% endblock %}
  {% endif %}
</section>
