
{#
	variables that are available:
	- {{ widgetProfilesLoginBox }}:
#}

<section id="profilesLoginBoxWidget" class="mod">
  <div class="inner">
    {% if isLoggedIn %}
      <div class="bd content">
        {{ 'msg.ProfilesLoggedInAs'|trans|sprintf({$profile.display_name }}:{{ profile.url.dashboard }}}) -
        <a href="{{ profile.url.settings }}">{{ 'lbl.Settings'|trans|capitalize }}</a>
      </div>
    {% endif %}

    {% if not isLoggedIn %}
      <header class="hd">
        <h3>{{ 'lbl.Login'|trans|capitalize }}</h3>
      </header>
      <div class="bd content">
        {% form login %}
        <fieldset>
          <p{% if txtEmailError %} class="errorArea"{% endif %}>
            <label for="email">{{ 'lbl.Email'|trans|capitalize }}<abbr title="{{ 'lbl.RequiredField'|trans }}">*</abbr></label>
            {% form_field_error Email %}{% form_field Email %}
          </p>
          <p{% if txtPasswordError %} class="errorArea"{% endif %}>
            <label for="password">{{ 'lbl.Password'|trans|capitalize }}
              <abbr title="{{ 'lbl.RequiredField'|trans }}">*</abbr></label>
            {% form_field_error Password %}{% form_field Password %}
          </p>
          <p>
            <label for="remember">{% form_field Remember %} {{ 'lbl.RememberMe'|trans|capitalize }}</label>
            {% form_field_error Remember %}
          </p>
          <p>
            <input class="inputSubmit" type="submit" value="{{ 'lbl.Login'|trans|capitalize }}" />
          </p>
        </fieldset>
        {% endform %}
      </div>
      <footer class="ft">
        <p>
          <a href="{{ geturlforblock('Profiles', 'ForgotPassword') }}" title="{{ 'msg.ForgotPassword'|trans }}">{{ 'msg.ForgotPassword'|trans }}</a>
        </p>
      </footer>
    {% endif %}
  </div>
</section>
