{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}
{% block actionbar %}

{% endblock %}

{% block content %}
  {% if warnings %}
    <div class="row fork-module-messages">
      <div class="col-md-12">
        {% for warning in warnings %}
          <div class="alert alert-warning" role="alert">
            {{ macro.icon('exclamation-triangle') }}{{ warning.message|raw }}
          </div>
        {% endfor %}
      </div>
    </div>
  {% endif %}
  {% if information %}
    <div class="row fork-module-content">
      <div class="col-md-8">
        {% if information.description %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
                {{ 'lbl.Description'|trans|ucfirst }}
              </h2>
            </div>
            <div class="panel-body">
              <p>{{ information.description|raw }}</p>
            </div>
          </div>
        {% endif %}
        {% if dataGridEvents %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
                {{ 'lbl.Events'|trans|ucfirst }}
              </h2>
            </div>
            {{ dataGridEvents|raw }}
          </div>
        {% endif %}
      </div>
      <div class="col-md-4">
        {% if information.version %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
                {{ 'lbl.Version'|trans|ucfirst }}
              </h2>
            </div>
            <div class="panel-body">
              <p>{{ information.version }}</p>
            </div>
          </div>
        {% endif %}
        {% if information.authors %}
          <div class="panel panel-default">
            <div class="panel-heading">
              <h2 class="panel-title">
                {{ 'lbl.Authors'|trans|ucfirst }}
              </h2>
            </div>
            <div class="panel-body">
              <ul>
                {% for author in information.authors %}
                  <li>
                    {% if author.url %}
                    <a href="{{ author.url }}" target="_blank" rel="noopener noreferrer" title="{{ author.name }}">
                      {% endif %}
                      {{ author.name }}
                      {% if author.url %}
                    </a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if showInstallButton %}
    <div class="row fork-module-actions">
      <div class="col-md-12">
        <div class="btn-toolbar">
          <div class="btn-group pull-right" role="group">
            {{ macro.buttonIcon('', 'file-o', 'lbl.Install'|trans|ucfirst, 'btn-primary', {"data-toggle":"modal", "type":"button", "data-target":"#confirmInstall"}) }}
          </div>
        </div>
        <div class="modal fade" id="confirmInstall" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmInstallTitle">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="confirmInstallTitle">{{ 'lbl.Install'|trans|ucfirst }}</h4>
              </div>
              <div class="modal-body">
                <p>{{ 'msg.ConfirmModuleInstall'|trans|format(name|e)|raw }}</p>
              </div>
              <div class="modal-footer">
                {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', {"data-dismiss":"modal", "type":"button"}) }}
                {{ macro.buttonIcon(geturl('install_module') ~ '&module=' ~ name, 'check', 'lbl.OK'|trans|ucfirst, 'btn-primary') }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
