{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}
{% block actionbar %}

{% endblock %}

{% block content %}
  {% if warnings %}
    <div class="fork-module-messages">
      {% for warning in warnings %}
        <div class="content-block content-block-pb">
          {{ macro.alert('warning', warning.message|raw) }}
        </div>
      {% endfor %}
    </div>
  {% endif %}
  {% if information %}
    <div class="row">
      <div class="col-md-8">
        {% if information.description %}
          <div class="card card-default">
            <div class="card-heading">
              <h2 class="card-title">
                {{ 'lbl.Description'|trans|ucfirst }}
              </h2>
            </div>
            <div class="card-body">
              <p>{{ information.description|raw }}</p>
            </div>
          </div>
        {% endif %}
        {% if dataGridTemplates %}
          <div class="card card-default">
            <div class="card-heading">
              <h2 class="card-title">
                {{ 'lbl.Templates'|trans|ucfirst }}
              </h2>
            </div>
            {{ dataGridTemplates|raw }}
          </div>
        {% endif %}
      </div>
      <div class="col-md-4">
        {% if information.thumbnail %}
          <div class="card card-default">
            <div class="card-heading">
              <h2 class="card-title">
                {{ 'lbl.Image'|trans|ucfirst }}
              </h2>
            </div>
            <div class="card-body text-center">
              <img src="/src/Frontend/Themes/{{ name }}/{{ information.thumbnail }}" class="img-thumbnail" alt="{{ name }}" />
            </div>
          </div>
        {% endif %}
        {% if information.version %}
          <div class="card card-default">
            <div class="card-heading">
              <h2 class="card-title">
                {{ 'lbl.Version'|trans|ucfirst }}
              </h2>
            </div>
            <div class="card-body">
              <p>{{ information.version }}</p>
            </div>
          </div>
        {% endif %}
        {% if information.authors %}
          <div class="card card-default">
            <div class="card-heading">
              <h2 class="card-title">
                {{ 'lbl.Authors'|trans|ucfirst }}
              </h2>
            </div>
            <div class="card-body">
              <ul>
                {% for author in information.authors %}
                  <li>
                    {% if author.url %}
                    <a href="{{ author.url }}" target="_blank" rel="noopener noreferrer" title="{{ author.name }}">
                      {% endif %}
                      {{ author.name }}
                      {% if author.url %}
                    </a>
                    {% endif %}
                  </li>
                {% endfor %}
              </ul>
            </div>
          </div>
        {% endif %}
      </div>
    </div>
  {% endif %}
  {% if showInstallButton %}
    <div class="fork-module-actions">
        <div class="btn-toolbar">
          <div class="btn-group pull-right" role="group">
            <button class="btn btn-primary" type="button" data-bs-toggle="modal" data-bs-target="#confirmInstall">
              {{ macro.icon('file') }}{{ 'lbl.Install'|trans|ucfirst }}
            </button>
          </div>
        </div>
        <div class="modal fade" id="confirmInstall" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmInstallTitle">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="confirmInstallTitle">{{ 'lbl.Install'|trans|ucfirst }}</h4>
              </div>
              <div class="modal-body">
                <p>{{ 'msg.ConfirmThemeInstall'|trans|format(name|e)|raw }}</p>
              </div>
              <div class="modal-footer">
                {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', {"data-dismiss":"modal"}) }}
                {{ macro.buttonIcon(geturl('install_theme') ~ '&theme=' ~ name, 'times', 'lbl.OK'|trans|ucfirst, 'btn-primary') }}
              </div>
            </div>
          </div>
        </div>
    </div>
  {% endif %}
{% endblock %}
