{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form edit %}
  <div class="row fork-module-content">
    <div class="col-12">
      <div class="card card-default">
        <div class="card-heading">
          <h2 class="card-title">{{ 'lbl.Template'|trans|ucfirst }}</h2>
        </div>
        <div class="card-body">
          <p><small class="form-text text-muted">{{ 'msg.HelpTemplateLocation'|trans|raw }}</small></p>
          <label for="file" class="control-label">{{ 'msg.PathToTemplate'|trans|ucfirst }}</label>
          <label for="theme" class="d-none">{{ 'lbl.Theme'|trans|ucfirst }}</label>
          <div class="form-inline form-group">
            {% form_field theme %}
            {% form_field_error theme %}
            <code>/Core/Layout/Templates/</code>
            {% form_field file %} {% form_field_error file %}
          </div>
          <div class="form-group">
            <label for="label" class="control-label">{{ 'lbl.Label'|trans|ucfirst }}</label>
            {% form_field label %} {% form_field_error label %}
          </div>
          <div class="form-check">
            {% form_field image %}
            <label class="form-check-label" for="image">{{ 'msg.ShowImageForm'|trans|ucfirst }}</label>
          </div>
          {% form_field_error image %}
        </div>
      </div>
    </div>

  </div>
  <div class="row fork-module-content">
    <div class="col-12">
      <div class="card card-default">
        <div class="card-heading">
          <h2 class="card-title">{{ 'lbl.Positions'|trans|ucfirst }}</h2>
        </div>
        <div id="positions" class="card-body">
          {% for position in positions %}
            <div class="form-group position jsPosition"{% if not position.i %} style="display: none"{% endif %}>
              <div class="form-row">
                {# Title & button to delete this position #}
                <div class="col-lg-2">
                  <div class="form-group">
                    <label for="position{{ position.i }}">
                      <span>{{ 'lbl.Position'|trans|ucfirst }}</span>
                    </label>
                  </div>
                </div>
                {# Position name #}
                <div class="col-10 col-lg-9">
                  <div class="form-group">
                    {{ position.formElements.txtPosition.parse()|raw }}
                  </div>
                </div>
                <div class="col-2 col-lg-1">
                  <button class="btn btn-danger btn-icon-only jsDeletePosition" title="{{ 'lbl.DeletePosition'|trans|ucfirst }}">
                    {{ macro.icon('trash-alt') }}
                    <span class="sr-only">{{ 'lbl.DeletePosition'|trans|ucfirst }}</span>
                  </button>
                </div>
              </div>
              <div class="form-row jsBlocks">
                {# Default blocks for this position #}
                {% if position.blocks %}
                  {% for block in position.blocks %}
                    <div class="col-md-10 offset-md-2 jsBlock">
                      <div class="form-row">
                        <div class="col-10 col-lg-9">
                          <div class="form-group">
                            {{ block.formElements.ddmType.parse()|raw }}
                            {{ block.formElements.ddmTypeError }}
                          </div>
                        </div>
                        <div class="col-2 col-lg-1">
                          {# Button to remove block from this position #}
                          <button class="btn btn-danger btn-icon-only jsDeleteBlock" title="{{ 'lbl.DeleteBlock'|trans|ucfirst }}">
                            {{ macro.icon('trash-alt') }}
                            <span class="sr-only">{{ 'lbl.DeleteBlock'|trans|ucfirst }}</span>
                          </button>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
                <div class="col-md-10 offset-md-2">
                  <div class="btn-toolbar">
                    <div class="btn-group" role="group">
                      {# Button to add new default block to this position #}
                      <a href="#" class="btn btn-default jsAddBlock">
                        {{ macro.icon('plus-square') }}&nbsp;
                        <span>{{ 'lbl.AddBlock'|trans|ucfirst }}</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          {# Button to add new position #}
          <div class="btn-toolbar">
            <div class="btn-group" role="group">
              <a href="#" class="btn btn-primary jsAddPosition">
                {{ macro.icon('plus-square') }}&nbsp;
                <span>{{ 'lbl.AddPosition'|trans|ucfirst }}</span>
              </a>
            </div>
          </div>
          {% if formErrors %}
            <p class="invalid-feedback">{{ formErrors }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-module-content">
    <div class="col-12">
      <div class="card card-default">
        <div class="card-heading">
          <h2 class="card-title">
            <label for="format" class="control-label">{{ 'lbl.Layout'|trans|ucfirst }}</label>
          </h2>
        </div>
        <div class="card-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                {% form_field format %} {% form_field_error format %}
                <small class="form-text text-muted">{{ 'msg.HelpTemplateFormat'|trans }}</small>
              </div>
            </div>
            <div class="col-md-6">
              <div class="form-text text-muted">
                {{ 'msg.HelpPositionsLayoutText'|trans|raw }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-module-content">
    <div class="col-12">
      <div class="card card-default">
        <div class="card-heading">
          <h2 class="card-title">{{ 'lbl.Status'|trans|ucfirst }}</h2>
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="form-check">
              {% form_field active %} {% form_field_error active %}
              <label for="active" class="form-check-label">{{ 'lbl.Active'|trans|ucfirst }}</label>
            </div>
            <div class="form-check">
              {% form_field default %} {% form_field_error default %}
              <label for="default" class="form-check-label">{{ 'lbl.Default'|trans|ucfirst }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-module-content">
    <div class="col-12">
      <div class="card card-default">
        <div class="card-heading">
          <h2 class="card-title">{{ 'lbl.Overwrite'|trans|ucfirst }}</h2>
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="form-check">
              {% form_field overwrite %} {% form_field_error overwrite %}
              <label for="overwrite" class="form-check-label">{{ 'lbl.Overwrite'|trans|ucfirst }}</label>
            </div>
            <small class="form-text text-muted">{{ 'msg.HelpOverwrite'|trans|raw }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-page-actions">
    <div class="col-12">
      <div class="btn-toolbar d-flex">
        <div class="btn-group" role="group">
          {% if showExtensionsDeleteThemeTemplate and allowExtensionsDeleteThemeTemplate %}
            {{ macro.buttonIcon('', 'trash-alt', 'lbl.Delete'|trans|ucfirst, 'btn-danger', {"type":"button", "data-toggle":"modal", "data-target":"#confirmDelete"}) }}
          {% endif %}
        </div>
        <div class="btn-group ml-auto" role="group">
          {{ macro.buttonIcon('', 'save', 'lbl.Save'|trans|ucfirst, 'btn-primary', {"type":"submit", "id":"editButton", "name":"edit"}) }}
        </div>
      </div>
    </div>
  </div>
  {% endform %}

  {% if showExtensionsDeleteThemeTemplate and allowExtensionsDeleteThemeTemplate %}
    {{ form_start(deleteForm) }}
    {{ form_row(deleteForm._token) }}
    {{ form_row(deleteForm.id) }}
    <div class="modal fade" id="confirmDelete" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmDeleteTitle">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="confirmDeleteTitle">{{ 'lbl.Delete'|trans|ucfirst }}</h4>
          </div>
          <div class="modal-body">
            <p>{{ 'msg.ConfirmDeleteTemplate'|trans|format(template.label)|raw }}</p>
          </div>
          <div class="modal-footer">
            {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', {"data-dismiss":"modal", "type":"button"}) }}
            {{ macro.buttonIcon('', 'trash', 'lbl.Delete'|trans|ucfirst, 'btn-danger', {"type":"submit"}) }}
          </div>
        </div>
      </div>
    </div>
    {{ form_end(deleteForm) }}
  {% endif %}
{% endblock %}
