{% extends 'Layout/Templates/base.html.twig' %}


{% block actionbar %}

{% endblock %}

{% block content %}
  {% form edit %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <p>{{ 'lbl.Template'|trans|ucfirst }}</p>
        </div>
        <div class="panel-body">
          <div class="form-inline form-group">
            <p class="help-block">{{ 'msg.HelpTemplateLocation'|trans|raw }}</p>
            <label for="file" class="control-label">{{ 'msg.PathToTemplate'|trans|ucfirst }}</label>
            <label for="theme" class="hide">{{ 'lbl.Theme'|trans|ucfirst }}</label>
            {% form_field theme %}
            {% form_field_error theme %}
            <small>
              <code>/Core/Layout/Templates/</code>
            </small>
            {% form_field file %} {% form_field_error file %}
          </div>
          <div class="form-group">
            <label for="label" class="control-label">{{ 'lbl.Label'|trans|ucfirst }}</label>
            {% form_field label %} {% form_field_error label %}
          </div>
          <ul class="list-unstyled">
            <li class="checkbox">
              <label for="image">{% form_field image %} {% form_field_error image %} {{ 'msg.ShowImageForm'|trans|ucfirst }}</label>
            </li>
          </ul>
        </div>
      </div>
    </div>

  </div>
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'lbl.Positions'|trans|ucfirst }}</h3>
        </div>
        <div id="positions" class="panel-body">
          {% for position in positions %}
            <div class="form-group position jsPosition"{% if not position.i %} style="display: none"{% endif %}>
              <div class="row">
                {# Title & button to delete this position #}
                <div class="col-md-2">
                  <div class="form-group">
                    <label for="position{{ position.i }}">
                      <span>{{ 'lbl.Position'|trans|ucfirst }}</span>
                      <a href="#" class="btn btn-danger btn-icon-only jsDeletePosition" title="{{ 'lbl.DeletePosition'|trans|ucfirst }}">
                        <span class="fa fa-trash-o"></span>
                      </a>
                    </label>
                  </div>
                </div>
                {# Position name #}
                <div class="col-md-10">
                  <div class="form-group">
                    {{ position.formElements.txtPosition.parse()|raw }}
                  </div>
                </div>
              </div>
              <div class="row jsBlocks">
                {# Default blocks for this position #}
                {% if position.blocks %}
                  {% for block in position.blocks %}
                    <div class="col-md-10 col-md-offset-2 jsBlock">
                      <div class="form-group">
                        <div class="form-inline">
                          {{ block.formElements.ddmType.parse()|raw }}
                          {{ block.formElements.ddmTypeError }}
                          {# Button to remove block from this position #}
                          <a href="#" class="btn btn-danger btn-icon-only jsDeleteBlock" title="{{ 'lbl.DeleteBlock'|trans|ucfirst }}">
                            <span class="fa fa-trash-o"></span>
                          </a>
                        </div>
                      </div>
                    </div>
                  {% endfor %}
                {% endif %}
                <div class="col-md-10 col-md-offset-2">
                  <div class="btn-toolbar">
                    <div class="btn-group" role="group">
                      {# Button to add new default block to this position #}
                      <a href="#" class="btn btn-default jsAddBlock">
                        <span class="fa fa-plus-square"></span>&nbsp;
                        <span>{{ 'lbl.AddBlock'|trans|ucfirst }}</span>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}
          {# Button to add new position #}
          <div class="btn-toolbar">
            <div class="btn-group" role="group">
              <a href="#" class="btn btn-primary jsAddPosition">
                <span class="fa fa-plus-square"></span>&nbsp;
                <span>{{ 'lbl.AddPosition'|trans|ucfirst }}</span>
              </a>
            </div>
          </div>
          {% if formErrors %}
            <p class="text-danger">{{ formErrors }}</p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            <label for="format" class="control-label">{{ 'lbl.Layout'|trans|ucfirst }}</label>
          </h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-md-6">
              <div class="form-group">
                <p class="help-block">{{ 'msg.HelpTemplateFormat'|trans }}</p>
                {% form_field format %} {% form_field_error format %}
              </div>
            </div>
            <div class="col-md-6">
              <div class="help-block">
                {{ 'msg.HelpPositionsLayoutText'|trans|raw }}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'lbl.Status'|trans|ucfirst }}</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <ul class="list-unstyled">
              <li class="checkbox">
                <label for="active">{% form_field active %} {% form_field_error active %} {{ 'lbl.Active'|trans|ucfirst }}</label>
              </li>
              <li class="checkbox">
                <label for="default" class="control-label">{% form_field default %} {% form_field_error default %} {{ 'lbl.Default'|trans|ucfirst }}</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">{{ 'lbl.Overwrite'|trans|ucfirst }}</h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <p class="help-block">{{ 'msg.HelpOverwrite'|trans|raw }}</p>
            <ul class="list-unstyled">
              <li class="checkbox">
                <label for="overwrite" class="control-label">{% form_field overwrite %} {% form_field_error overwrite %} {{ 'lbl.Overwrite'|trans|ucfirst }}</label>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-page-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-left" role="group">
          {% if showExtensionsDeleteThemeTemplate and allowExtensionsDeleteThemeTemplate %}
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete">
              <span class="fa fa-trash-o"></span>{{ 'lbl.Delete'|trans|ucfirst }}
            </button>
          {% endif %}
        </div>
        <div class="btn-group pull-right" role="group">
          <button id="editButton" type="submit" name="edit" class="btn btn-primary">
            <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endform %}

  {% if showExtensionsDeleteThemeTemplate and allowExtensionsDeleteThemeTemplate %}
    {{ form_start(deleteForm) }}
    {{ form_row(deleteForm._token) }}
    {{ form_row(deleteForm.id) }}
    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="modal-title h4">{{ 'lbl.Delete'|trans|ucfirst }}</span>
          </div>
          <div class="modal-body">
            <p>{{ 'msg.ConfirmDeleteTemplate'|trans|format(template.label)|raw }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
            </button>
            <button type="submit" class="btn btn-danger">
              <span class="fa fa-trash"></span>{{ 'lbl.Delete'|trans|ucfirst }}
            </button>
          </div>
        </div>
      </div>
    </div>
    {{ form_end(deleteForm) }}
  {% endif %}
{% endblock %}
