{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form edit %}
  <div class="card card-default">
    <div class="card-heading">
      <h2 class="card-title">{{ 'lbl.Template'|trans|ucfirst }}</h2>
    </div>
    <div class="card-body">
      <fieldset>
        <label for="file" class="control-label">{{ 'msg.PathToTemplate'|trans|ucfirst }}</label>
        <label for="theme" class="d-none">{{ 'lbl.Theme'|trans|ucfirst }}</label>
        <div class="form-group">
          <div class="row">
            <div class="col-lg-10 col-xl-8 d-flex align-items-center">
              {% form_field theme %}
              <code class="mx-2">/Core/Layout/Templates/</code>
              {% form_field file %}
            </div>
          </div>
          {% form_field_error theme %}
        </div>
        {% form_field_error file %}
        <p><small class="form-text text-muted">{{ 'msg.HelpTemplateLocation'|trans|raw }}</small></p>
        <div class="form-group">
          <label for="label" class="control-label">{{ 'lbl.Label'|trans|ucfirst }}</label>
          {% form_field label %} {% form_field_error label %}
        </div>
      </fieldset>
      <fieldset class="last">
        <div class="form-group">
          <label class="control-label">{{ 'lbl.Image'|trans|ucfirst }}</label>
          <div class="form-check">
            {% form_field image %} {% form_field_error image %}
            <label for="image" class="form-check-label">{{ 'msg.ShowImageForm'|trans|ucfirst }}</label>
          </div>
        </div>
        <div class="row">
          <div class="col-lg-3">
            <label for="defaultImage">
              <img src="{% if template.default_image %}{{ FRONTEND_FILES_URL }}/Templates/images/x250/{{ template.default_image }}{% else %}{{ BACKEND_CORE_URL }}/Layout/Images/image-upload-placeholder.jpg{% endif %}" class="img-thumbnail" data-fork-cms-role="image-preview" data-id="{{ form_edit.field('default_image').attributes.id }}" />
            </label>
          </div>
          <div class="col-lg-9">
            <div class="form-group">
              <label class="form-label" for="customFile">{{ 'lbl.DefaultImage'|trans|ucfirst }}</label>
              {% form_field default_image %}
              {% form_field_error default_image %}
            </div>
            {% if chkRemoveDefaultImage %}
              <div class="form-check">
                {% form_field remove_default_image %}
                <label for="removeDefaultImage" class="form-check-label">{{ 'msg.RemoveDefaultImage'|trans|ucfirst }}</label>
              </div>
              {% form_field_error remove_default_image %}
            {% endif %}
          </div>
        </div>
      </fieldset>
    </div>
  </div>
  <div class="card card-default">
    <div class="card-heading">
      <h2 class="card-title">{{ 'lbl.Positions'|trans|ucfirst }}</h2>
    </div>
    <div id="positions" class="card-body">
      {% for position in positions %}
        <div class="form-group position jsPosition"{% if not position.i %} style="display: none"{% endif %}>
          <div class="row gx-3">
            {# Title & button to delete this position #}
            <div class="col-lg-2">
              <div class="form-group">
                <label for="position{{ position.i }}">
                  <span>{{ 'lbl.Position'|trans|ucfirst }}</span>
                </label>
              </div>
            </div>
            {# Position name #}
            <div class="col-lg-10">
              <div class="form-group d-flex mb-2">
                <div class="flex-grow-1">
                  {{ position.formElements.txtPosition.parse()|raw }}
                </div>
                <button class="btn btn-danger btn-icon-only jsDeletePosition ms-2" title="{{ 'lbl.DeletePosition'|trans|ucfirst }}">
                  {{ macro.icon('trash-alt') }}
                  <span class="visually-hidden">{{ 'lbl.DeletePosition'|trans|ucfirst }}</span>
                </button>
              </div>
            </div>
          </div>
          <div class="row gx-3 jsBlocks">
            {# Default blocks for this position #}
            {% if position.blocks %}
              {% for block in position.blocks %}
                <div class="col-md-10 offset-md-2 jsBlock">
                  <div class="row gx-3">
                    <div class="col-lg-6">
                      <div class="form-group d-flex mb-2">
                        <div class="flex-grow-1">
                          {{ block.formElements.ddmType.parse()|raw }}
                          {{ block.formElements.ddmTypeError }}
                        </div>
                        {# Button to remove block from this position #}
                        <button class="btn btn-danger btn-icon-only jsDeleteBlock ms-2" title="{{ 'lbl.DeleteBlock'|trans|ucfirst }}">
                          {{ macro.icon('trash-alt') }}
                          <span class="visually-hidden">{{ 'lbl.DeleteBlock'|trans|ucfirst }}</span>
                        </button>
                      </div>
                    </div>
                  </div>
                </div>
              {% endfor %}
            {% endif %}
            <div class="col-md-10 offset-md-2">
              <div class="btn-toolbar">
                <div class="btn-group" role="group">
                  {# Button to add new default block to this position #}
                  <a href="#" class="btn btn-secondary btn-wider jsAddBlock">
                    {{ macro.icon('plus-square') }}&nbsp;
                    <span>{{ 'lbl.AddBlock'|trans|ucfirst }}</span>
                  </a>
                </div>
              </div>
              <hr>
            </div>
          </div>
        </div>
      {% endfor %}
      {# Button to add new position #}
      <div class="btn-toolbar">
        <div class="btn-group" role="group">
          <a href="#" class="btn btn-primary jsAddPosition">
            {{ macro.icon('plus-square') }}&nbsp;
            <span>{{ 'lbl.AddPosition'|trans|ucfirst }}</span>
          </a>
        </div>
      </div>
      {% if formErrors %}
        <p class="invalid-feedback">{{ formErrors }}</p>
      {% endif %}
    </div>
  </div>
  <div class="card card-default">
    <div class="card-heading">
      <h2 class="card-title">
        <label for="format" class="control-label">{{ 'lbl.Layout'|trans|ucfirst }}</label>
      </h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-6">
          <div class="form-group">
            {% form_field format %} {% form_field_error format %}
            <small class="form-text text-muted">{{ 'msg.HelpTemplateFormat'|trans }}</small>
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-text text-muted">
            {{ 'msg.HelpPositionsLayoutText'|trans|raw }}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 d-flex">
      <div class="card card-default w-100">
        <div class="card-heading">
          <h2 class="card-title">{{ 'lbl.Status'|trans|ucfirst }}</h2>
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="form-check">
              {% form_field active %} {% form_field_error active %}
              <label for="active" class="form-check-label">{{ 'lbl.Active'|trans|ucfirst }}</label>
            </div>
            <div class="form-check">
              {% form_field default %} {% form_field_error default %}
              <label for="default" class="form-check-label">{{ 'lbl.Default'|trans|ucfirst }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-6 d-flex">
      <div class="card card-default w-100">
        <div class="card-heading">
          <h2 class="card-title">{{ 'lbl.Overwrite'|trans|ucfirst }}</h2>
        </div>
        <div class="card-body">
          <div class="form-group">
            <div class="form-check">
              {% form_field overwrite %} {% form_field_error overwrite %}
              <label for="overwrite" class="form-check-label">{{ 'lbl.Overwrite'|trans|ucfirst }}</label>
            </div>
            <small class="form-text text-muted">{{ 'msg.HelpOverwrite'|trans|raw }}</small>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="fork-page-actions">
    <div class="btn-toolbar d-flex">
      <div class="btn-group" role="group">
        {% if isAllowedAction('DeleteThemeTemplate') and allowExtensionsDeleteThemeTemplate %}
          {{ macro.buttonIcon('', 'trash-alt', 'lbl.Delete'|trans|ucfirst, 'btn-danger', {"type":"button", "data-bs-toggle":"modal", "data-bs-target":"#confirmDelete"}) }}
        {% endif %}
      </div>
      <div class="btn-group ms-auto" role="group">
        {{ macro.buttonIcon('', 'save', 'lbl.Save'|trans|ucfirst, 'btn-primary', {"type":"submit", "id":"editButton", "name":"edit"}) }}
      </div>
    </div>
  </div>
  {% endform %}

  {% if isAllowedAction('DeleteThemeTemplate') and allowExtensionsDeleteThemeTemplate %}
    {{ form_start(deleteForm) }}
    {{ form_row(deleteForm._token) }}
    {{ form_row(deleteForm.id) }}
    <div class="modal fade" id="confirmDelete" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmDeleteTitle">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="confirmDeleteTitle">{{ 'lbl.Delete'|trans|ucfirst }}</h4>
          </div>
          <div class="modal-body">
            <p>{{ 'msg.ConfirmDeleteTemplate'|trans|format(template.label|e)|raw }}</p>
          </div>
          <div class="modal-footer">
            {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', {"data-dismiss":"modal", "type":"button"}) }}
            {{ macro.buttonIcon('', 'trash', 'lbl.Delete'|trans|ucfirst, 'btn-danger', {"type":"submit"}) }}
          </div>
        </div>
      </div>
    </div>
    {{ form_end(deleteForm) }}
  {% endif %}
{% endblock %}
