{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}
  <div class="btn-toolbar justify-content-end">
    <div class="btn-group" role="group">
      {% if isAllowedAction('UploadTheme') %}
        {{ macro.buttonIcon( geturl('upload_theme'), 'upload', 'lbl.UploadTheme'|trans|ucfirst) }}
      {% endif %}
      {{ macro.buttonIcon( 'http://www.fork-cms.com/extensions/themes', 'eye', 'lbl.FindThemes'|trans|ucfirst, '', 'target=_blank') }}
    </div>
  </div>
{% endblock %}

{% block content %}
  {% form settingsThemes %}
    <div class="card card-default">
      <div class="card-heading">
        <h2 class="card-title">
          {{ 'lbl.InstalledThemes'|trans|ucfirst }}
          {{ macro.required }}
        </h2>
      </div>
      <div class="card-body">
        {% if rbtInstalledThemesError %}
          <p class="invalid-feedback">{{ rbtThemesError }}</p>
        {% endif %}
        <div id="installedThemes" class="selectThumbList list-unstyled list-inline">
          <div class="row">
            {% for installedTheme in installedThemes %}
              <div class="col-lg-6 col-xl-4 d-flex">
                <div class="card card-select{% if installedTheme.selected %} card-primary{% else %} card-default{% endif %} mb-0{% if loop.index > 1 %} mt-3 mt-lg-0{% endif %}{% if loop.index > 2 %} mt-lg-3 mt-xl-0{% endif %}{% if loop.index > 3 %} mt-xl-3{% endif %}">
                  <span class="d-none">
                    {{ installedTheme.rbtInstalledThemes|raw }}
                    <label for="{{ installedTheme.id }}"></label>
                  </span>

                  <div class="card-heading">
                    <h2 class="card-title">{{ installedTheme.label|ucfirst }}</h2>
                  </div>
                  <div class="card-body">
                    <img src="{{ installedTheme.thumbnail }}" class="img-thumbnail" alt="{{ installedTheme.label|ucfirst }}" />
                  </div>
                  <div class="card-footer">
                    {% if showExtensionsDetailTheme %}
                      <div class="btn-toolbar">
                        <div class="btn-group" role="group">
                          <button class="btn js-theme-selector {% if installedTheme.selected %}btn-primary{% else %}btn-default{% endif %}">
                            <div class="selected-theme{% if not installedTheme.selected %} d-none{% endif %}">
                              {{ macro.icon('check') }}
                              <span>{{ 'lbl.SelectedTheme'|trans|ucfirst }}</span>
                            </div>
                            <div class="available-theme{% if installedTheme.selected %} d-none{% endif %}">
                              <span>{{ 'lbl.UseThisTheme'|trans|ucfirst }}</span>
                            </div>
                          </button>
                          {{ macro.buttonIcon(geturl('detail_theme') ~ '&theme=' ~ installedTheme.value, 'eye', 'lbl.Details'|trans|ucfirst) }}
                        </div>
                      </div>
                    {% endif %}
                  </div>
                </div>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  {% endform %}
  {% if installableThemes %}
    <div class="card card-default">
      <div class="card-heading">
        <h2 class="card-title">
          {{ 'lbl.InstallableThemes'|trans|ucfirst }}
        </h2>
      </div>
      <div class="card-body">
        <div id="installedThemes" class="selectThumbList row">
          {% for installableTheme in installableThemes %}
            <div class="col-lg-6 col-xl-4 d-flex">
              <div class="card card-default mb-0{% if loop.index > 1 %} mt-3 mt-lg-0{% endif %}{% if loop.index > 2 %} mt-lg-3 mt-xl-0{% endif %}{% if loop.index > 3 %} mt-xl-3{% endif %}">
                <label for="{{ installedTheme.id }}">
                  <div class="card-heading">
                    <label for="{{ installedThemes.id }}" class="card-title">
                      {{ installableTheme.label|ucfirst }}
                    </label>
                  </div>
                  <div class="card-body">
                    <img src="{{ installableTheme.thumbnail }}" class="img-thumbnail" alt="{{ installableTheme.label|ucfirst }}" />
                  </div>
                  <div class="card-footer">
                    {% if isAllowedAction('DetailTheme') %}
                      <div class="btn-toolbar">
                        <div class="btn-group pull-right" role="group">
                          {% if isAllowedAction('InstallTheme') %}
                            {{ macro.buttonIcon('', 'file', 'lbl.Install'|trans|ucfirst, 'btn-primary', { "data-bs-toggle":"modal", "type":"button", "data-bs-target":"#confirmInstall" ~ installableTheme.value|ucfirst }) }}
                          {% endif %}
                              {% if isAllowedAction('DetailTheme') %}
                            {{ macro.buttonIcon(geturl('detail_theme') ~ '&theme=' ~ installableTheme.value , 'eye', 'lbl.Details'|trans|ucfirst, 'btn-default', { "title": installableTheme.label|ucfirst }) }}
                          {% endif %}
                        </div>
                      </div>
                          {% if isAllowedAction('InstallTheme') %}
                        <div class="modal fade" id="confirmInstall{{ installableTheme.value|ucfirst }}" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmInstall{{ installableTheme.value|ucfirst }}Title">
                          <div class="modal-dialog">
                            <div class="modal-content">
                              <div class="modal-header">
                                <h4 class="modal-title" id="confirmInstall{{ installableTheme.value|ucfirst }}Title">{{ 'lbl.Install'|trans|ucfirst }}</h4>
                              </div>
                              <div class="modal-body">
                                <p>{{ 'msg.ConfirmThemeInstall'|trans }}</p>
                              </div>
                              <div class="modal-footer">
                                {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" }) }}
                                {{ macro.buttonIcon(geturl('install_theme') ~ '&theme=' ~ installableTheme.value, 'check', 'lbl.OK'|trans|ucfirst, 'btn-primary') }}
                              </div>
                            </div>
                          </div>
                        </div>
                      {% endif %}
                    {% endif %}
                  </div>
                </label>
              </div>
            </div>
          {% endfor %}
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}

