{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}
  {% form themes %}
  {% if showExtensionsAddThemeTemplate %}
    <div class="btn-toolbar pull-right">
      <div class="btn-group" role="group">
        {% if selectedTheme %}
          {% set url =  '&theme=' ~ selectedTheme %}
        {% endif %}

        {{ macro.buttonIcon( geturl('add_theme_template') ~ url, 'plus-square', 'lbl.AddTemplate'|trans|ucfirst, 'btn-primary') }}

        {{ macro.buttonIcon( geturl('export_theme_templates') ~ url, 'download', 'lbl.Export'|trans|ucfirst) }}
      </div>
    </div>
  {% endif %}
  {% endform %}
{% endblock %}

{% block content %}
  {% form themes %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="content-block">
        <div class="content-title">
          <p>{{ 'lbl.Templates'|trans|ucfirst }} {{ 'lbl.For'|trans }} {% form_field theme %}</p>
        </div>
      </div>
      {% if dataGrid %}
        <div class="table-responsive">
          {{ dataGrid|raw }}
        </div>
      {% endif %}
      {% if not dataGrid %}
        <p>{{ 'msg.NoItems'|trans }}</p>
      {% endif %}
    </div>
  </div>
  {% endform %}
{% endblock %}
