{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% if zlibIsMissing %}
    <div class="row fork-module-messages">
      <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
          {{ 'msg.ZlibIsMissing'|trans }}
        </div>
      </div>
    </div>
  {% endif %}
  {% if notWritable %}
    <div class="row fork-module-messages">
      <div class="col-md-12">
        <div class="alert alert-danger" role="alert">
          {{ 'msg.ThemesNotWritable'|trans }}
        </div>
      </div>
    </div>
  {% endif %}
  {% if not zlibIsMissing %}
    {% form upload %}
    <div class="row fork-module-content">
      <div class="col-md-12">
        <div class="form-group">
          <label for="file" class="control-label">
            {{ 'lbl.File'|trans|ucfirst }}
            {{ macro.required }}
          </label>
          {% form_field file %} {% form_field_error file %}
        </div>
      </div>
    </div>
    <div class="row fork-module-actions">
      <div class="col-md-12">
        <div class="btn-toolbar">
          <div class="btn-group pull-right" role="group">
            <button id="importButton" type="submit" name="add" class="btn btn-primary">
              <span class="fa fa-download"></span>{{ 'lbl.Install'|trans|ucfirst }}</button>
          </div>
        </div>
      </div>
    </div>
    {% endform %}
  {% endif %}
{% endblock %}
