{#
    The variables that are available to use:
    - $mailMotorSubscribeHasFormError
    - $mailMotorSubscribeHasError
    - $mailMotorSubscribeIsSuccess
    - $mailMotorSubscribeHideForm
    - $mailMotorSubscribe
#}

<div id="mailMotorSubscribeForm" class="mod">
  <div class="inner">
    <div class="hd">
      <h3>{{ 'lbl.SubscribeToNewsletter'|trans|capitalize }}</h3>
    </div>
    <div class="bd">
      {% if mailMotorSubscribeHasFormError %}<div class="message error"><p>{{ 'err.FormError'|trans|raw }}</p></div>{% endif %}
      {% if mailMotorSubscribeHasError %}<div class="message error"><p>{{ 'err.SubscribeFailed'|trans|raw }}</p></div>{% endif %}
      {% if mailMotorSubscribeIsSuccess %}
        <div class="message success">
          {% if mailMotorSubscribeHasDoubleOptIn %}{{ 'msg.SubscribeSuccessForDoubleOptIn'|trans|raw }}{% endif %}
          {% if not mailMotorSubscribeHasDoubleOptIn %}{{ 'msg.SubscribeSuccess'|trans|raw }}{% endif %}
        </div>
      {% endif %}

      {% if not mailMotorSubscribeHideForm %}
        {{ form_start(form) }}
        {{ form_rest(form) }}
        {{ form_end(form) }}
      {% endif %}

    </div>
  </div>
</div>
