{#
    The variables that are available to use:
    - $mailMotorSubscribeHasFormError
    - $mailMotorSubscribeHasError
    - $mailMotorSubscribeIsSuccess
    - $mailMotorSubscribeHideForm
    - mailmotorSubscribeHasDoubleOptIn
#}
{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}

<section class="module-mailmotor block-mailmotor-subscribe">
  {% block block_alerts %}
    <div class="block-alerts">
      {% if mailmotorSubscribeHasFormError %}
        {{ alerts.alert('danger', 'err.FormError'|trans|raw) }}
      {% endif %}
      {% if mailmotorSubscribeHasError %}
        {{ alerts.alert('danger', 'err.SubscribeFailed'|trans|raw) }}
      {% endif %}
      {% if mailmotorSubscribeIsSuccess %}
        {% if mailmotorSubscribeHasDoubleOptIn %}
          {{ alerts.alert('success', 'msg.SubscribeSuccessForDoubleOptIn'|trans|raw) }}
        {% endif %}
        {% if not mailmotorSubscribeHasDoubleOptIn %}
          {{ alerts.alert('success', 'msg.SubscribeSuccess'|trans|raw) }}
        {% endif %}
      {% endif %}
    </div>
  {% endblock %}

  {% block block_heading %}{% endblock %}

  {% block block_body %}
    <div class="block-body">
      {% if not mailmotorSubscribeHideForm %}
        {{ form_start(form) }}
        <div class="form-group">
          <label for="{{ form.email.vars.id }}" class="control-label">{{ form.email.vars.label|trans|ucfirst }}</label>
          <div class="input-group">
            {{ form_widget(form.email) }}
            <div class="input-group-btn">
              <button type="submit" id="{{ form.subscribe.vars.id }}" class="btn btn-primary">{{ form.subscribe.vars.label|trans }}</button>
              {% do form.subscribe.setRendered %}
            </div>
          </div>
          {{ form_errors(form.email) }}
        </div>
        {{ form_rest(form) }}
        {{ form_end(form) }}
      {% endif %}
    </div>
  {% endblock %}

  {% block block_footer %}{% endblock %}
</section>
