<section id="unsubscribeIndex" class="mod">
  <div class="inner">
    <div class="bd">
      {% if unsubscribeHasFormError %}
        <div class="message error"><p>{{ 'err.FormError'|trans }}</p></div>{% endif %}
      {% if unsubscribeHasError %}
        <div class="message error"><p>{{ 'err.UnsubscribeFailed'|trans }}</p></div>{% endif %}
      {% if unsubscribeIsSuccess %}
        <div class="message success"><p>{{ 'msg.UnsubscribeSuccess'|trans }}</p></div>{% endif %}

      {% if not unsubscribeHideForm %}
        {% form unsubscribe %}
        <p{% if txtEmailError %} class="errorArea"{% endif %}>
          <label for="email">{{ 'lbl.Email'|trans|capitalize }}
            <abbr title="{{ 'lbl.RequiredField'|trans }}">*</abbr></label>
          {% form_field_error Email %} {% form_field Email %}
        </p>
        <p>
          <input id="send" class="inputSubmit" type="submit" name="send" value="{{ 'lbl.Send'|trans|capitalize }}" />
        </p>
        {% endform %}
      {% endif %}
    </div>
  </div>
</section>
