<section id="unsubscribeIndex" class="mod">
	<div class="inner">
		<div class="bd">
			{% if unsubscribeHasFormError %}<div class="message error"><p>{{ err.FormError }}</p></div>{% endif %}
			{% if unsubscribeHasError %}<div class="message error"><p>{{ err.UnsubscribeFailed }}</p></div>{% endif %}
			{% if unsubscribeIsSuccess %}<div class="message success"><p>{{ msg.UnsubscribeSuccess }}</p></div>{% endif %}

			{% if not unsubscribeHideForm %}
				{% form unsubscribe %}
					<p{% if txtEmailError %} class="errorArea"{% endif %}>
						<label for="email">{{ lbl.Email|capitalize }}<abbr title="{{ lbl.RequiredField }}">#</abbr></label>
						{% form_field_error Email %} {% form_field Email %}
					</p>
					<p>
						<input id="send" class="inputSubmit" type="submit" name="send" value="{{ lbl.Send|capitalize }}" />
					</p>
				{% endform %}
			{% endif %}
		</div>
	</div>
</section>