{% import 'Layout/Templates/macros.html.twig' as macro %}

<!-- Fine Uploader Gallery template
    ====================================================================== -->
<script type="text/template" id="qq-template-gallery">
  <div class="qq-uploader-selector qq-uploader qq-gallery" qq-drop-area-text="{{ 'lbl.DropFilesHere'|trans|ucfirst }}">
    <div class="qq-upload-drop-area-selector qq-upload-drop-area" qq-hide-dropzone>
      <span class="qq-upload-drop-area-text-selector"></span>
    </div>
    <div class="qq-upload-button-selector btn btn-default">
      {{ macro.icon('plus-square') }}
      <span class="btn-text">{{ 'lbl.AddMediaItems'|trans|ucfirst }}</span>
    </div>
    <span class="qq-drop-processing-selector qq-drop-processing">
      <span>Processing dropped files...</span>
      <span class="qq-drop-processing-spinner-selector qq-drop-processing-spinner"></span>
    </span>
    <ul class="qq-upload-list-selector qq-upload-list" role="region" aria-live="polite" aria-relevant="additions removals">
      <li>
        <div class="d-flex align-items-center">
          <div class="qq-progress-bar-container-selector qq-progress-bar-container">
            <div role="progressbar" aria-valuenow="0" aria-valuemin="0" aria-valuemax="100" class="qq-progress-bar-selector qq-progress-bar"></div>
          </div>
          <span class="qq-upload-spinner-selector qq-upload-spinner">{{ macro.icon('spinner fa-spin fa-3x fa-fw') }}</span>
          <span role="status" class="qq-upload-status-text-selector qq-upload-status-text"></span>
          <div class="qq-file-info">
            <div class="qq-file-name">
              <span class="qq-upload-file-selector qq-upload-file"></span>
              <span class="qq-edit-filename-icon-selector qq-edit-filename-icon" aria-label="Edit filename"></span>
            </div>
            <input class="qq-edit-filename-selector qq-edit-filename" tabindex="0" type="text">
            <span class="qq-upload-size-selector qq-upload-size"></span>
            <button type="button" class="qq-btn qq-upload-delete-selector qq-upload-delete btn btn-danger">
              <span class="visually-hidden">{{ 'lbl.Delete'|trans|ucfirst }}</span>
              {{ macro.icon('trash-alt') }}
            </button>
            <button type="button" class="qq-btn qq-upload-pause-selector qq-upload-pause btn btn-primary">
              <span class="visually-hidden">{{ 'lbl.Retry'|trans|ucfirst }}</span>
              {{ macro.icon('redo-alt') }}
            </button>
            <button type="button" class="qq-btn qq-upload-continue-selector qq-upload-continue btn btn-primary">
              {{ macro.icon('check') }}
            </button>
          </div>
          <button type="button" class="qq-upload-cancel-selector qq-upload-cancel btn btn-danger btn-icon-only ms-auto">{{ macro.icon('times') }}</button>
          <button type="button" class="btn btn-priamry btn-sm qq-upload-retry-selector qq-upload-retry ms-auto">
            <span class="qq-btn qq-retry-icon" aria-label="Retry"></span>
            {{ macro.icon('redo-alt') }}
            {{ 'lbl.Retry'|trans|ucfirst }}
          </button>
        </div>
      </li>
    </ul>

    <dialog class="qq-alert-dialog-selector">
      <div class="qq-dialog-message-selector"></div>
      <div class="qq-dialog-buttons">
        <button type="button" class="qq-cancel-button-selector">Close</button>
      </div>
    </dialog>

    <dialog class="qq-confirm-dialog-selector">
      <div class="qq-dialog-message-selector"></div>
      <div class="qq-dialog-buttons">
        <button type="button" class="qq-cancel-button-selector">No</button>
        <button type="button" class="qq-ok-button-selector">Yes</button>
      </div>
    </dialog>

    <dialog class="qq-prompt-dialog-selector">
      <div class="qq-dialog-message-selector"></div>
      <input type="text">
      <div class="qq-dialog-buttons">
        <button type="button" class="qq-cancel-button-selector">Cancel</button>
        <button type="button" class="qq-ok-button-selector">Ok</button>
      </div>
    </dialog>
  </div>
</script>
<!-- END: Fine Uploader Gallery template
    ====================================================================== -->

<div data-role="uploadMediaStep1">
  {# Choose type #}
  <div class="row">
    <div class="col-md-6 d-flex {% if mediaType is defined %} d-none{% endif %}" id="uploadMediaTypeBox">
      <div class="card card-default w-100">
        <div class="card-heading">
          <h2 class="card-title">{{ 'lbl.MediaUploadThisType'|trans|ucfirst }}</h2>
        </div>
        <div class="card-body">
          <div class="form-group last">
            <div class="form-check">
              <input class="form-check-input" type="radio" name="uploading_type" id="uploadTypeDefault" value="all" {% if mediaType is not defined or mediaType == 'image' %}checked="checked" {% endif %}/>
              <label class="form-check-label" for="uploadTypeDefault">{{ 'msg.MediaUploadTypeFiles'|trans }}</label>
            </div>
            <div class="form-check">
              <input class="form-check-input" type="radio" name="uploading_type" id="uploadTypeMovie" value="movie" {% if mediaType is defined and mediaType == 'video' %}checked="checked" {% endif %}/>
              <label class="form-check-label" for="uploadTypeMovie">{{ 'msg.MediaUploadTypeMovies'|trans }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>

    {# Choose folder #}
    <div class="col-md-6 d-flex">
      <div class="card card-default w-100">
        <div class="card-heading">
          <h2 class="card-title">{{ 'lbl.MediaUploadToThisFolder'|trans|ucfirst }}</h2>
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="uploadMediaFolderId">{{ 'lbl.MediaFolder'|trans|capitalize }}{{ macro.required }}</label>
            <select class="form-control" id="uploadMediaFolderId" name="uploadMediaFolderId">
              <option>{{ 'lbl.Loading'|trans|ucfirst }}</option>
            </select>
          </div>
        </div>
        <div class="card-footer">
          <a href="#" id="addFolder" title="{{ 'lbl.MediaAddNewMediaFolder'|trans|capitalize }}">
            <span>{{ 'lbl.MediaAddNewMediaFolder'|trans|ucfirst }}</span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <div class="fork-module-actions">
    <div class="btn-toolbar">
      <div class="btn-group ms-auto" role="group">
        {{ macro.buttonIcon('', 'chevron-right', 'lbl.Next'|trans|ucfirst, 'btn-primary', {"data-role":"uploadMediaGoToStep2", "type":"button"}, true) }}
      </div>
    </div>
  </div>
</div>

<div data-role="uploadMediaStep2" style="display: none">
  {# Choose media to upload #}
  <div id="uploadMediaBox">
    <div class="options">
      {{ macro.alert('warning', null, null, null, {'class': 'd-none', 'data-role': 'fork-media-count-error'}) }}
    </div>
    <div class="card card-default">
      <div class="card-heading">
        <h2 class="card-title">{{ 'lbl.AddMediaItems'|trans|ucfirst }}</h2>
      </div>
      <div id="fine-uploader-gallery"></div>


      <div class="card-footer">
        <div class="form-group last" data-role="cropper-is-mandatory-form-group">
          <div class="form-check">
            <input class="form-check-input" type="checkbox" data-role="enable-cropper-checkbox" aria-describedby="helpBlockEnableCropper" id="enableCropperCheckbox">
            <label class="form-check-label" for="enableCropperCheckbox">{{ 'lbl.EnableCropper'|trans|ucfirst }}</label>
          </div>
          <small class="form-text text-muted" id="helpBlockEnableCropper">{{ 'msg.IfYouWantToCropAnImageYouShouldCheckThisCheckboxFirst'|trans }}</small>
          <small class="form-text text-muted d-none" data-role="cropper-is-mandatory-message">{{ 'msg.TheCropperIsMandatoryBecauseTheImagesNeedToHaveACertainFormat'|trans }}</small>
        </div>
      </div>
    </div>
  </div>

  {# Adding a movie #}
  <div id="addMovieBox">
    <div class="card card-default">
      <div class="card-heading">
        <h2 class="card-title">{{ 'lbl.MediaWhichMovieToAdd'|trans|ucfirst }}</h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label>{{ 'lbl.MediaMovieSource'|trans|capitalize }}{{ macro.required }}</label>
              {# The following dropdown is filled by javascript from the MediaLibraryHelper.js file #}
              <select class="form-control" id="mediaMovieStorageType" name="media_movie_source"></select>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label>{{ 'lbl.MediaMovieId'|trans|capitalize }}{{ macro.required }}</label>
              <input id="mediaMovieId" name="media_movie_id" type="text" class="form-control" />
              <small class="form-text text-muted">{{ 'msg.MediaMovieIdHelp'|trans }}</small>
            </div>
          </div>
        </div>
        <div class="form-group">
          <label>{{ 'lbl.MediaMovieTitle'|trans|capitalize }}{{ macro.required }}</label>
          <input id="mediaMovieTitle" name="media_movie_title" type="text" class="form-control" />
        </div>
        <div class="btn-toolbar">
          <div class="btn-group ms-auto" role="group">
            <a href="#" id="addMediaMovie" class="btn btn-primary" title="{{ 'lbl.MediaAddMovie'|trans|capitalize }}">
              {{ macro.icon('plus-square') }}<span class="btn-text">{{ 'lbl.MediaAddMovie'|trans|ucfirst }}</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>

  {# Uploaded media #}
  <div id="uploadedMediaBox">
    <div class="card card-default">
      <div class="card-heading">
        <h2 class="card-title">{{ 'msg.MediaUploaded'|trans }}</h2>
      </div>
      <div class="card-body">
        <p><small class="text-muted" id="mediaWillBeConnectedToMediaGroup">{{ 'msg.MediaWillBeConnected'|trans }}</small></p>
        <div class="mediaConnectedBox">
          <ul id="uploadedMedia" class="mediaConnectedItems"></ul>
        </div>
      </div>
    </div>
  </div>
</div>
{# Add folder dialog #}
{% include "MediaLibrary/Resources/views/BackendMediaLibraryUploadDialogAddFolder.html.twig" %}

{# Modal with cropper, don't use fade since it will mess up the initial width of the cropper #}
<div class="modal" id="cropperMediaDialog" role="dialog" data-role="media-library-cropper-dialog">
  {% include "MediaLibrary/Resources/views/CropperDialog.html.twig" %}
</div>
