{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form add %}
  <div class="form-group">
    <label for="name" class="control-label">
      {{ 'lbl.ReferenceCode'|trans|ucfirst }}
      {{ macro.required }}
    </label>
    {% form_field name %} {% form_field_error name %}
    <small class="form-text text-muted">{{ 'msg.HelpAddName'|trans }}</small>
  </div>
  <div class="form-group">
    <label for="value" class="control-label">
      {{ 'lbl.Translation'|trans|ucfirst }}
      {{ macro.required }}
    </label>
    {% form_field value %} {% form_field_error value %}
  </div>
  <div class="row gx-3">
    <div class="col-md-3">
      <div class="form-group">
        <label for="language" class="control-label">{{ 'lbl.Language'|trans|ucfirst }}</label>
        {% form_field language %} {% form_field_error language %}
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="application" class="control-label">{{ 'lbl.Application'|trans|ucfirst }}</label>
        {% form_field application %} {% form_field_error application %}
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="module" class="control-label">{{ 'lbl.Module'|trans|ucfirst }}</label>
        {% form_field module %} {% form_field_error module %}
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="type" class="control-label">{{ 'lbl.Type'|trans|ucfirst }}</label>
        {% form_field type %} {% form_field_error type %}
      </div>
    </div>
  </div>
  <div class="fork-module-actions">
    <div class="btn-toolbar">
      <div class="btn-group ms-auto" role="group">
        {{ macro.buttonIcon('', 'plus-square', 'lbl.Add'|trans|ucfirst, 'btn-primary', {"type":"submit", "id":"addButton", "name":"add"}) }}
      </div>
    </div>
  </div>
  {% endform %}
{% endblock %}
