{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form edit %}
  <div class="form-group">
    <label for="name" class="control-label">
      {{ 'lbl.ReferenceCode'|trans|ucfirst }}
      {{ macro.required }}
    </label>
    {% form_field name %} {% form_field_error name %}
    <small class="form-text text-muted">{{ 'msg.HelpAddName'|trans }}</small>
  </div>
  <div class="form-group">
    <label for="value" class="control-label">
      {{ 'lbl.Translation'|trans|ucfirst }}
      {{ macro.required }}
    </label>
    {% form_field value %} {% form_field_error value %}
  </div>
  <div class="row gx-3">
    <div class="col-md-3">
      <div class="form-group">
        <label for="language" class="control-label">{{ 'lbl.Language'|trans|ucfirst }}</label>
        {% form_field language %} {% form_field_error language %}
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="application" class="control-label">{{ 'lbl.Application'|trans|ucfirst }}</label>
        {% form_field application %} {% form_field_error application %}
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="module" class="control-label">{{ 'lbl.Module'|trans|ucfirst }}</label>
        {% form_field module %} {% form_field_error module %}
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="type" class="control-label">{{ 'lbl.Type'|trans|ucfirst }}</label>
        {% form_field type %} {% form_field_error type %}
      </div>
    </div>
  </div>
  <div class="fork-module-actions">
    <div class="btn-toolbar">
      {% if isAllowedAction('Delete') %}
        <div class="btn-group" role="group">
          {{ macro.buttonIcon('', 'trash-alt', 'lbl.Delete'|trans|ucfirst, 'btn-danger', {"type":"button", "data-bs-toggle":"modal", "data-bs-target":"#confirmDelete"}) }}
        </div>
      {% endif %}
      <div class="btn-group ms-auto" role="group">
        {{ macro.buttonIcon('', 'save', 'lbl.Save'|trans|ucfirst, 'btn-primary', {"type":"submit", "id":"editButton", "name":"edit"}) }}
      </div>
    </div>
  </div>
  {% endform %}

  {% if isAllowedAction('Delete') %}
    {{ form_start(deleteForm) }}
    {{ form_row(deleteForm._token) }}
    {{ form_row(deleteForm.id) }}
    <div class="modal fade" id="confirmDelete" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmDeleteTitle">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="confirmDeleteTitle">{{ 'lbl.Delete'|trans|ucfirst }}</h4>
          </div>
          <div class="modal-body">
            <p>{{ 'msg.ConfirmDelete'|trans|format(item.title|e)|raw }}</p>
          </div>
          <div class="modal-footer">
            {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', {"data-dismiss":"modal", "type":"button"}) }}
            {{ macro.buttonIcon('', 'trash', 'lbl.Delete'|trans|ucfirst, 'btn-danger', {"type":"submit"}) }}
          </div>
        </div>
      </div>
    </div>
    {{ form_end(deleteForm) }}
  {% endif %}
{% endblock %}
