{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}
  <div class="btn-toolbar pull-right">
    <div class="btn-group" role="group">
      {% if showLocaleAdd %}
        {{ macro.buttonIcon(geturl('add')  ~ filter, 'plus-square', 'lbl.Add'|trans|ucfirst, 'btn-default jsButtonAdd') }}
      {% endif %}
      {% if showLocaleExport %}
        {{ macro.buttonIcon(geturl('export') ~ filter, 'download', 'lbl.Export'|trans|ucfirst, 'btn-default jsButtonExport') }}
      {% endif %}
      {% if showLocaleImport %}
        {{ macro.buttonIcon(geturl('import') ~ filter, 'upload', 'lbl.Import'|trans|ucfirst, 'btn-default jsButtonImport') }}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      {% form filter %}
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-3 col-lg-4">
              <div class="form-group">
                <label for="application" class="control-label">{{ 'lbl.Application'|trans|ucfirst }}</label>
                {% form_field application %} {% form_field_error application %}
              </div>
              <div class="form-group">
                <label for="module" class="control-label">{{ 'lbl.Module'|trans|ucfirst }}</label>
                {% form_field module %} {% form_field_error module %}
              </div>
            </div>
            <div class="col-md-3 col-lg-2">
              <div class="form-group">
                <label>{{ 'lbl.Types'|trans|ucfirst }}</label>
                {% if type %}
                  <ul class="list-unstyled">
                    {% for item in type %}
                      <li class="checkbox">
                        <label for="{{ item.id }}">{{ item.chkType | raw }} {{ item.label|ucfirst }}</label>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            </div>
            <div class="col-md-3 col-lg-2">
              <div class="form-group">
                <label>{{ 'lbl.Languages'|trans|ucfirst }}</label>
                {% if language %}
                  <ul class="list-unstyled">
                    {% for item in language %}
                      <li class="checkbox">
                        <label for="{{ item.id }}">{{ item.chkLanguage | raw }} {{ item.label|ucfirst }}</label>
                      </li>
                    {% endfor %}
                  </ul>
                {% endif %}
              </div>
            </div>
            <div class="col-md-3 col-lg-4">
              <div class="form-group">
                <label for="name" class="control-label">
                  {{ 'lbl.ReferenceCode'|trans|ucfirst }}
                  <abbr class="fa fa-info-circle" data-toggle="tooltip" title="{{ 'msg.HelpName'|trans }}"></abbr>
                </label>
                {% form_field name %} {% form_field_error name %}
              </div>
              <div class="form-group">
                <label for="value" class="control-label">
                  {{ 'lbl.Value'|trans|ucfirst }}
                  <abbr class="fa fa-info-circle" data-toggle="tooltip" title="{{ 'msg.HelpValue'|trans }}"></abbr>
                </label>
                {% form_field value %} {% form_field_error value %}
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="btn-toolbar">
            <div class="btn-group pull-right">
              <button id="search" class="btn btn-primary" type="submit" name="search">
                <span class="fa fa-refresh"></span>&nbsp;
                {{ 'lbl.UpdateFilter'|trans|ucfirst }}
              </button>
            </div>
          </div>
        </div>
      </div>
      {% endform %}
    </div>
  </div>
  {% if dgLabels %}
    <div class="row fork-module-content">
      <div class="col-md-12">
        <div class="content-block content-block-pb">
          <div class="content-title">
            <p>
              {{ 'lbl.Labels'|trans|ucfirst }}
            </p>
          </div>
          <div class="table-responsive">
            {{ dgLabels | raw }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if dgMessages %}
    <div class="row fork-module-content">
      <div class="col-md-12">
        <div class="content-block content-block-pb">
          <div class="content-title">
            {{ 'lbl.Messages'|trans|ucfirst }}
          </div>
          <div class="table-responsive">
            {{ dgMessages | raw }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if dgErrors %}
    <div class="row fork-module-content">
      <div class="col-md-12">
        <div class="content-block content-block-pb">
          <div class="content-title">
            <p>
              {{ 'lbl.errors'|trans|ucfirst }}
            </p>
          </div>
          <div class="table-responsive">
            {{ dgErrors | raw }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if dgActions %}
    <div class="row fork-module-content">
      <div class="col-md-12">
        <div class="content-block content-block-pb">
          <div class="content-title">
            <p>
              {{ 'lbl.actions'|trans|ucfirst }}
              <abbr class="fa fa-info-circle" data-toggle="tooltip" title="{{ 'msg.HelpActionValue'|trans }}"></abbr>
            </p>
          </div>
          <div class="table-responsive">
            {{ dgActions | raw }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% if noItems %}
    <div class="row fork-module-content">
      <div class="col-md-12">
        <div class="panel panel-default">
          <div class="panel-body">
            <p>{{ 'msg.NoItemsFilter'|trans|format(addURL)|raw }}</p>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
{% endblock %}
