{% import "Core/Layout/Templates/Macros.html.twig" as macro %}

<aside class="module-mailmotor widget-mailmotor-subscribe">
  {% block widget_heading %}
    <header class="widget-heading">
      <h3>{{ 'lbl.SubscribeToNewsletter'|trans|ucfirst }}</h3>
    </header>
  {% endblock %}

  {% block widget_body %}
    <div class="widget-body">
      {{ form_start(form) }}
        <input type="hidden" name="form_token" id="formToken" value="{{ formToken }}" />
        <input type="hidden" name="form" value="subscribe" />
        {% if form.interests %}
          {{ form_row(form.interests) }}
        {% endif %}
        {{ form_label(form.email) }}
        <div class="input-group">
          {{ form_widget(form.email) }}
          <span class="input-group-btn">
            {{ form_widget(form.subscribe) }}
          </span>
        </div>
      {{ form_end(form) }}
    </div>
  {% endblock %}

  {% block widget_footer %}{% endblock %}
</aside>
