{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form add %}
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#tabProfile" aria-controls="tabProfile" role="tab" data-bs-toggle="tab" aria-selected="true" id="profile-tab">{{ 'lbl.Profile'|trans|ucfirst }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#tabPermissions" aria-controls="tabPermissions" role="tab" data-bs-toggle="tab" aria-selected="false" id="permissions-tab">{{ 'lbl.Permissions'|trans|ucfirst }}</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane show active" id="tabProfile">
        <fieldset>
        <div class="form-group">
          <label for="email" class="control-label">
            {{ 'lbl.Email'|trans|ucfirst }}
            {{ macro.required }}
          </label>
          {% form_field email %} {% form_field_error email %}
        </div>
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label for="password" class="control-label d-flex">
                {{ 'lbl.Password'|trans|ucfirst }}
                {{ macro.required }}
                <span class="passwordStrength ms-auto" data-id="password" data-role="password-strength-meter">
                  <span class="badge bg-middle badge-sm" data-role="password-strength" data-strength="none">None</span>
                  <span class="badge bg-danger badge-sm" data-role="password-strength" data-strength="weak">Weak</span>
                  <span class="badge bg-warning badge-sm" data-role="password-strength" data-strength="average">Average</span>
                  <span class="badge bg-success badge-sm" data-role="password-strength" data-strength="strong">Strong</span>
                </span>
              </label>
              <div class="input-group" data-password-generator>
                {% form_field password %} {% form_field_error password %}
              </div>
              <small class="form-text text-muted">{{ 'msg.HelpStrongPassword'|trans }}</small>
            </div>
          </div>
          <div class="col-md-6">
            <div class="form-group">
              <label for="confirmPassword" class="control-label">
                {{ 'lbl.ConfirmPassword'|trans|ucfirst }}
                {{ macro.required }}
              </label>
              {% form_field confirm_password %} {% form_field_error confirm_password %}
            </div>
          </div>
        </div>
        </fieldset>

        <fieldset>
          <legend>
            {{ 'lbl.PersonalInformation'|trans|ucfirst }}
          </legend>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="name" class="control-label">{{ 'lbl.Name'|trans|ucfirst }}{{ macro.required }}</label>
                {% form_field name %} {% form_field_error name %}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="surname" class="control-label">{{ 'lbl.Surname'|trans|ucfirst }}{{ macro.required }}</label>
                {% form_field surname %} {% form_field_error surname %}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="nickname" class="control-label">{{ 'lbl.Nickname'|trans|ucfirst }}{{ macro.required }}</label>
                {% form_field nickname %}
                <small class="form-text text-muted">{{ 'msg.HelpNickname'|trans }}</small>
                {% form_field_error nickname %}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="avatar" class="form-label">{{ 'lbl.Avatar'|trans|ucfirst }}</label>
                {% form_field avatar %}
                <small class="form-text text-muted">{{ 'msg.HelpAvatar'|trans }}</small>
                {% form_field_error avatar %}
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset>
          <legend>{{ 'lbl.InterfacePreferences'|trans|ucfirst }}</legend>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
              <label for="interfaceLanguage" class="control-label">{{ 'lbl.Language'|trans|ucfirst }}</label>
              {% form_field interface_language %} {% form_field_error interface_language %}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
              <label for="preferredEditor" class="control-label">{{ 'lbl.PreferredEditor'|trans|ucfirst }}</label>
              {% form_field preferred_editor %} {% form_field_error preferred_editor %}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
              <label for="dateFormat" class="control-label">{{ 'lbl.DateFormat'|trans|ucfirst }}</label>
              {% form_field date_format %} {% form_field_error date_format %}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
              <label for="timeFormat" class="control-label">{{ 'lbl.TimeFormat'|trans|ucfirst }}</label>
              {% form_field time_format %} {% form_field_error time_format %}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
              <label for="numberFormat" class="control-label">{{ 'lbl.NumberFormat'|trans|ucfirst }}</label>
              {% form_field number_format %} {% form_field_error number_format %}
              </div>
            </div>
          </div>
        </fieldset>

        <fieldset class="last">
          <legend>{{ 'lbl.CSV'|trans|ucfirst }}</legend>
          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label for="csvSplitChar'act.r">{{ 'lbl.SplitCharacter'|trans|ucfirst }}</label>
                {% form_field csv_split_character %} {% form_field_error csv_split_character %}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group last">
                <label for="csvLineEnding" class="control-label">{{ 'lbl.LineEnding'|trans|ucfirst }}</label>
                {% form_field csv_line_ending %} {% form_field_error csv_line_ending %}
              </div>
            </div>
          </div>
        </fieldset>
      </div>
      <div role="tabpanel" class="tab-pane" id="tabPermissions">
        <div class="form-group">
          <div class="form-check">
            {% form_field active %}
            <label for="active" class="form-check-label">{% form_field_error active %} {{ 'msg.HelpActive'|trans }}</label>
          </div>
        </div>
        <div class="form-group">
          <label>{{ 'lbl.Groups'|trans|ucfirst }}</label>
          <div id="groupList">
            {% for group in groups %}
              <div class="form-check">
                {{ group.chkGroups|raw }}
                <label for="{{ group.id }}" class="form-check-label">{{ group.label }}</label>
              </div>
            {% endfor %}
          </div>
          {% form_field_error groups %}
        </div>
      </div>
    </div>
  </div>
  <div class="fork-page-actions">
    <div class="btn-toolbar d-flex">
      <div class="btn-group ms-auto" role="group">
        {{ macro.buttonIcon('', 'plus-square', 'lbl.Add'|trans|ucfirst, 'btn-primary', { "id":"addButton", "type":"submit", "name":"add" }) }}
      </div>
    </div>
  </div>
  {% endform %}

{% endblock %}
