{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form add %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#tabProfile" aria-controls="tabProfile" role="tab" data-toggle="tab">{{ 'lbl.Profile'|trans|ucfirst }}</a>
          </li>
          <li role="presentation">
            <a href="#tabPermissions" aria-controls="tabPermissions" role="tab" data-toggle="tab">{{ 'lbl.Permissions'|trans|ucfirst }}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tabProfile">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="email" class="control-label">
                    {{ 'lbl.Email'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  {% form_field email %} {% form_field_error email %}
                </div>
                <div class="form-group last">
                  <label for="password" class="control-label">
                    {{ 'lbl.Password'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  <table id="passwordStrengthMeter" class="passwordStrength" data-id="password">
                    <tr>
                      <td class="strength" id="passwordStrength">
                        <p class="strength none">
                          <span class="label label-default">None</span>
                        </p>
                        <p class="strength weak">
                          <span class="label label-danger">Weak</span>
                        </p>
                        <p class="strength average">
                          <span class="label label-warning">Average</span>
                        </p>
                        <p class="strength strong">
                          <span class="label label-success">Strong</span>
                        </p>
                      </td>
                      <td>
                        <p class="help-block">&nbsp;{{ 'msg.HelpStrongPassword'|trans }}</p>
                      </td>
                    </tr>
                  </table>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <div class="input-group">
                          {% form_field password %} {% form_field_error password %}
                        </div>
                      </div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group last">
                        <label for="confirmPassword" class="control-label">
                          {{ 'lbl.ConfirmPassword'|trans|ucfirst }}
                          {{ macro.required }}
                        </label>
                        {% form_field confirm_password %} {% form_field_error confirm_password %}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="content-block content-block-pt">
                  <div class="content-title">
                    <p>{{ 'lbl.PersonalInformation'|trans|ucfirst }}</p>
                  </div>
                  <div class="form-group">
                    <label for="name" class="control-label">
                      {{ 'lbl.Name'|trans|ucfirst }}
                      {{ macro.required }}
                    </label>
                    {% form_field name %} {% form_field_error name %}
                  </div>
                  <div class="form-group">
                    <label for="surname" class="control-label">
                      {{ 'lbl.Surname'|trans|ucfirst }}
                      {{ macro.required }}
                    </label>
                    {% form_field surname %} {% form_field_error surname %}
                  </div>
                  <div class="form-group">
                    <label for="nickname" class="control-label">
                      {{ 'lbl.Nickname'|trans|ucfirst }}
                      {{ macro.required }}
                    </label>
                    <p class="help-block">{{ 'msg.HelpNickname'|trans }}</p>
                    {% form_field nickname %} {% form_field_error nickname %}
                  </div>
                  <div class="form-group last">
                    <label for="avatar" class="control-label">{{ 'lbl.Avatar'|trans|ucfirst }}</label>
                    <p class="help-block">{{ 'msg.HelpAvatar'|trans }}</p>
                    {% form_field avatar %} {% form_field_error avatar %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="content-block content-block-pt">
                  <div class="content-title">
                    <p>{{ 'lbl.InterfacePreferences'|trans|ucfirst }}</p>
                  </div>
                  <div class="form-group">
                    <label for="interfaceLanguage" class="control-label">{{ 'lbl.Language'|trans|ucfirst }}</label>
                    {% form_field interface_language %} {% form_field_error interface_language %}
                  </div>
                  <div class="form-group">
                    <label for="dateFormat" class="control-label">{{ 'lbl.DateFormat'|trans|ucfirst }}</label>
                    {% form_field date_format %} {% form_field_error date_format %}
                  </div>
                  <div class="form-group">
                    <label for="timeFormat" class="control-label">{{ 'lbl.TimeFormat'|trans|ucfirst }}</label>
                    {% form_field time_format %} {% form_field_error time_format %}
                  </div>
                  <div class="form-group">
                    <label for="numberFormat" class="control-label">{{ 'lbl.NumberFormat'|trans|ucfirst }}</label>
                    {% form_field number_format %} {% form_field_error number_format %}
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="content-block content-block-pt">
                  <div class="content-title">
                    <p>{{ 'lbl.CSV'|trans|ucfirst }}</p>
                  </div>
                  <div class="form-group">
                    <label for="csvSplitChar'act.r">{{ 'lbl.SplitCharacter'|trans|ucfirst }}</label>
                    {% form_field csv_split_character %} {% form_field_error csv_split_character %}
                  </div>
                  <div class="form-group last">
                    <label for="csvLineEnding" class="control-label">{{ 'lbl.LineEnding'|trans|ucfirst }}</label>
                    {% form_field csv_line_ending %} {% form_field_error csv_line_ending %}
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabPermissions">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <ul class="list-unstyled">
                    <li class="checkbox">
                      <label for="active" class="control-label">{% form_field active %} {% form_field_error active %} {{ 'msg.HelpActive'|trans }}</label>
                    </li>
                  </ul>
                </div>
                <div class="form-group">
                  <p>{{ 'lbl.Groups'|trans|ucfirst }}</p>
                  <ul id="groupList" class="list-unstyled">
                    {% for group in groups %}
                      <li class="checkbox">
                        <label for="{{ group.id }}">{{ group.chkGroups|raw }} {{ group.label }}</label>
                      </li>
                    {% endfor %}
                  </ul>
                  {% form_field_error groups %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-page-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-right" role="group">
          <button id="addButton" type="submit" name="add" class="btn btn-primary">
            <span class="fa fa-plus-square"></span>{{ 'lbl.Add'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endform %}

{% endblock %}
