<div id="mailmotorSubscribeWidget" class="well">
  <form action="{{ geturlforblock('Mailmotor','Subscribe') }}" method="post" class="form-inline">
    <input type="hidden" name="form_token" id="formToken" value="{{ formToken }}" />
    <input type="hidden" name="form" value="subscribe" />
    <label class="control-label" for="email">
      {{ 'lbl.Email'|trans|capitalize }}<abbr title="{{ 'lbl.RequiredField'|trans|capitalize }}">*</abbr>
    </label>
    <div class="input-group">
      <input type="email" value="" id="email" name="email" class="form-control" />
      <span class="input-group-btn">
        <input id="send" class="btn btn-default" type="submit" name="send" value="{{ 'lbl.Subscribe'|trans|capitalize }}" />
      </span>
    </div>
  </form>
</div>
