{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form editItem %}
    <div class="form-group">
      <label for="term" class="control-label">
        {{ 'lbl.Term'|trans|ucfirst }}
        {{ macro.required }}
      </label>
      {% form_field term %} {% form_field_error term %}
    </div>
    <div class="form-group">
      <div class="fakeP">
        <div class="card card-default">
          <div class="card-heading">
            <h2>
              <label for="addValue-synonym" class="control-label">
                {{ 'lbl.Synonyms'|trans|ucfirst }}
                {{ macro.required }}
              </label>
            </h2>
          </div>
          <div class="card-body">
            <div class="itemAdder">
              {% form_field synonym %} {% form_field_error synonym %}
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fork-page-actions">
      <div class="btn-toolbar d-flex">
        <div class="btn-group" role="group">
          {% if isAllowedAction('DeleteSynonym') %}
            {{ macro.buttonIcon('', 'trash-alt', 'lbl.Delete'|trans|ucfirst, 'btn-danger', {"data-bs-toggle":"modal", "type":"button", "data-bs-target":"#confirmDelete"}) }}
          {% endif %}
          {% if isAllowedAction('Synonyms') %}
            {{ macro.buttonIcon(geturl('Synonyms'), 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default') }}
          {% endif %}
        </div>
        <div class="btn-group ms-auto" role="group">
          {{ macro.buttonIcon('', 'plus-square', 'lbl.AddSynonym'|trans|ucfirst, 'btn-primary', {"id":"addButton", "type":"submit", "name":"add"}) }}
        </div>
      </div>
    </div>
  {% endform %}

  {% if isAllowedAction('DeleteSynonym') %}
    {{ form_start(deleteForm) }}
    {{ form_row(deleteForm._token) }}
    {{ form_row(deleteForm.id) }}
    <div class="modal fade" id="confirmDelete" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmDeleteTitle">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="confirmDeleteTitle">{{ 'lbl.Delete'|trans|ucfirst }}</h4>
          </div>
          <div class="modal-body">
            <p>{{ 'msg.ConfirmDeleteSynonym'|trans|format(term|e)|raw }}</p>
          </div>
          <div class="modal-footer">
            {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', {"data-dismiss":"modal"}) }}
            {{ macro.buttonIcon('', 'plus-trash', 'lbl.Delete'|trans|ucfirst, 'btn-danger') }}
          </div>
        </div>
      </div>
    </div>
    {{ form_end(deleteForm) }}
  {% endif %}
{% endblock %}
