{% extends 'Layout/Templates/base.html.twig' %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form settings %}
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ 'lbl.Pagination'|trans|ucfirst }}
          </h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="overviewNumItems" class="control-label">{{ 'lbl.ItemsPerPage'|trans|ucfirst }}</label>
            {% form_field overview_num_items %} {% form_field_error overview_num_items %}
          </div>
          <div class="form-group">
            <label for="autocompleteNumItems" class="control-label">{{ 'lbl.ItemsForAutocomplete'|trans|ucfirst }}</label>
            {% form_field autocomplete_num_items %} {% form_field_error autocomplete_num_items %}
          </div>
          <div class="form-group last">
            <label for="autosuggestNumItems" class="control-label">{{ 'lbl.ItemsForAutosuggest'|trans|ucfirst }}</label>
            {% form_field autosuggest_num_items %} {% form_field_error autosuggest_num_items %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ 'lbl.UseSitelinksSearchBox'|trans|ucfirst }}
          </h3>
        </div>
        <div class="panel-body">
          <div class="form-group last">
            <ul class="list-unstyled">
              <li class="checkbox">
                <label for="useSitelinksSearchBox" class="control-label">
                  {% form_field use_sitelinks_search_box %} {{ 'lbl.UseSitelinksSearchBox'|trans|ucfirst }}
                </label>
                {% form_field_error use_sitelinks_search_box %}
                <div class="help-block">
                  {{ 'msg.HelpSitelinksSearchBox'|trans|raw }}
                </div>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ 'lbl.ModuleWeight'|trans|ucfirst }}
          </h3>
        </div>
        <div id="searchModules" class="panel-body">
          <p class="help-block">{{ 'msg.HelpWeightGeneral'|trans }}</p>
          <table class="table table-hover table-striped jsDataGrid">
            <tr>
              <th>{{ 'msg.IncludeInSearch'|trans }}</th>
              <th>{{ 'lbl.Module'|trans|ucfirst }}</th>
              <th>
                {{ 'lbl.Weight'|trans|ucfirst }}
                <abbr class="fa fa-question-circle" data-toggle="tooltip" title="{{ 'msg.HelpWeight'|trans|ucfirst }}"></abbr>
              </th>
            </tr>
            {% for module in modules %}
              <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
                <td>{{ module.chk|raw }}</td>
                <td><label for="{{ module.id }}">{{ module.label }}</label></td>
                <td>
                  {{ module.txt|raw }}
                  {% if module.txtError %}
                    <p class="text-danger">{{ module.txtError }}</p>
                  {% endif %}
                </td>
              </tr>
            {% endfor %}
          </table>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-right" role="group">
          <button id="save" type="submit" name="save" class="btn btn-primary">
            <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endform %}
{% endblock %}
