{% extends 'Layout/Templates/empty.html.twig' %}

{% block content %}
<body id="login">
<!--[if lte IE 6]>
<style type="text/css" media="screen">
  #debugnotify, #loginBox {
    display: none
  }

  #browserSupport {
    padding: 20px;
    border: 1px solid #DDD;
    width: 400px;
    margin: 40px auto
  }

  #browserSupport h2 {
    padding: 0 0 12px;
  }

  body {
    background: #FFF !important;
  }
</style>
<div id="browserSupport" class="content">
  <h2>{{ 'lbl.BrowserNotSupported'|trans|ucfirst }}</h2>
  {{ 'err.BrowserNotSupported'|trans|raw }}
</div>
<![endif]-->

<div class="login-block">
  <div class="container">
    <div class="row">
      <div class="col-md-6 col-md-offset-3">
        <div class="page-header page-header-login">
          <div class="site-info">
            <img class="site-icon" src="/apple-touch-icon.png" alt="apple touch icon">
            <div class="site-text">
              <p class="site-title">{{ SITE_TITLE }}</p>
              <a class="site-url" data-url="{{ SITE_URL }}{{ prefixURL }}/{{ item.url }}{% if appendRevision %}?page_revision={{ item.revision_id }}{% endif %}" href="{{ SITE_URL }}{{ prefixURL }}/{{ item.url }}{% if appendRevision %}?page_revision={{ item.revision_id }}{% endif %}">
                {{ SITE_URL }}{{ prefixURL }}/<span id="generatedUrl">{{ item.url }}</span>
              </a>
            </div>
          </div>
        </div>

        {% if hasError %}
          <div class="alert alert-danger">
            <p>{{ 'err.InvalidEmailPasswordCombination'|trans|raw }}</p>
          </div>
        {% endif %}
        {% if hasTooManyAttemps %}
          <div class="alert alert-danger">
            <p>{{ 'err.TooManyLoginAttempts'|trans|raw }}</p>
          </div>
        {% endif %}
        {% if txt.BackendEmailForgotError %}
          <div class="alert alert-danger">
            <p>{{ 'txt.BackendEmailForgotError'|trans|raw }}</p>
          </div>
        {% endif %}
        {% if isForgotPasswordSuccess %}
          <div class="alert alert-success">
            <p>{{ 'msg.LoginFormForgotPasswordSuccess'|trans|raw }}</p>
          </div>
        {% endif %}
        {% form authenticationIndex %}
        <div class="login-form">
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-envelope fa-fw"></i></span>
              {% form_field backend_email %}
              {% form_field_error backend_email %}
            </div>
          </div>
          <div class="form-group">
            <div class="input-group">
              <span class="input-group-addon"><i class="fa fa-lock fa-fw"></i></span>
              {% form_field backend_password %} {% form_field_error backend_password %}
            </div>
          </div>
          <div class="form-group">
            <div class="btn-toolbar pull-right">
              <div class="btn-group">
                <a href="#" id="forgotPasswordLink" class="btn forgot-password" data-toggle="modal" data-target="#forgotPasswordHolder">{{ 'msg.ForgotPassword'|trans }}</a>
              </div>
              <div class="btn-group">
                <button name="login" type="submit" class="btn btn-primary">
                  {{ 'lbl.SignIn'|trans|ucfirst }}
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="forgotPasswordHolder" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      {% form forgotPassword %}
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">{{ 'msg.ForgotPassword'|trans|ucfirst }}</h4>
      </div>
      <div class="modal-body">
        <div class="form-group">
          <label for="backendEmailForgot" class="control-label">{{ 'lbl.Email'|trans|ucfirst }}</label>
          {% form_field backend_email_forgot %}
          {% form_field_error backend_email_forgot %}
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
        </button>
        <button id="send" name="send" type="submit" class="btn btn-primary">
          <span class="fa fa-envelope"></span>{{ 'lbl.Send'|trans|ucfirst }}
        </button>
      </div>
      {% endform %}
    </div>
  </div>
</div>
{% endblock %}
