{% extends 'Layout/Templates/empty.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block content %}
<body id="login">

<div class="login-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="page-header page-header-login">
          <div class="site-info">
            <img class="site-icon" src="/apple-touch-icon.png" alt="Fork CMS logo">
            <div class="site-text">
              <h1 class="site-title">{{ SITE_TITLE }}</h1>
              <a class="site-url" data-url="{{ SITE_URL }}{{ prefixURL }}/{{ item.url }}{% if appendRevision %}?page_revision={{ item.revision_id }}{% endif %}" href="{{ SITE_URL }}{{ prefixURL }}/{{ item.url }}{% if appendRevision %}?page_revision={{ item.revision_id }}{% endif %}">
                {{ SITE_URL }}{{ prefixURL }}/<span id="generatedUrl">{{ item.url }}</span>
              </a>
            </div>
          </div>
        </div>

        {% if hasError %}
          {{ macro.alert('danger', 'err.InvalidEmailPasswordCombination'|trans|raw) }}
        {% endif %}
        {% if hasTooManyAttemps %}
          {{ macro.alert('danger', 'err.TooManyLoginAttempts'|trans|raw) }}
        {% endif %}
        {% if txt.BackendEmailForgotError %}
          {{ macro.alert('danger', 'txt.BackendEmailForgotError'|trans|raw) }}
        {% endif %}
        {% if isForgotPasswordSuccess %}
          {{ macro.alert('success', 'msg.LoginFormForgotPasswordSuccess'|trans|raw) }}
        {% endif %}

        {% form authenticationIndex %}
        <div class="login-form">
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-text">
                {{ macro.icon('envelope fa-fw') }}
                <label class="visually-hidden" for="backendEmail">{{ 'lbl.Email'|trans|ucfirst }}</label>
              </div>
              {% form_field backend_email %}
            </div>
            {% form_field_error backend_email %}
          </div>
          <div class="form-group">
            <div class="input-group">
              <div class="input-group-text">
                {{ macro.icon('lock fa-fw') }}
                <label class="visually-hidden" for="backendPassword">{{ 'lbl.Password'|trans|ucfirst }}</label>
              </div>
              {% form_field backend_password %}
            </div>
            {% form_field_error backend_password %}
          </div>
          <div class="form-group">
            <div class="btn-toolbar justify-content-end">
              <div class="btn-group">
                <a href="#" id="forgotPasswordLink" class="btn forgot-password" data-bs-toggle="modal" data-bs-target="#forgotPasswordHolder">{{ 'msg.ForgotPassword'|trans }}</a>
              </div>
              <div class="btn-group">
                {{ macro.buttonIcon('', 'sign-in-alt', 'lbl.SignIn'|trans|ucfirst, 'btn-primary', {"name":"login", "type":"submit"}) }}
              </div>
            </div>
          </div>
        </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>

<div class="modal fade" id="forgotPasswordHolder" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="forgotPasswordLink">
  <div class="modal-dialog">
    <div class="modal-content">
      {% form forgotPassword %}
      <div class="modal-header">
        <h4 class="modal-title" id="forgotPasswordDialogTitle">{{ 'msg.ForgotPassword'|trans|ucfirst }}</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="{{ 'lbl.Close'|trans|ucfirst }}">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">

        <div class="form-group">
          <label for="backendEmailForgot" class="control-label">{{ 'lbl.Email'|trans|ucfirst }}</label>
          <div class="input-group">
            <div class="input-group-text">
              {{ macro.icon('envelope fa-fw') }}
              <label class="visually-hidden" for="backendEmail">{{ 'lbl.Email'|trans|ucfirst }}</label>
            </div>
            {% form_field backend_email_forgot %}
          </div>
          {% form_field_error backend_email_forgot %}
        </div>
      </div>
      <div class="modal-footer">
        {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', {"data-dismiss":"modal"}) }}
        {{ macro.buttonIcon('', 'envelope', 'lbl.Send'|trans|ucfirst, 'btn-primary', {"id":"send", "name":"send", "type":"submit"}) }}
      </div>
      {% endform %}
    </div>
  </div>
</div>
{% endblock %}
