{% extends '/Layout/Templates/base.html.twig' %}

{% block actionbar %}
  <div class="btn-toolbar pull-right">
    <div class="btn-group" role="group">

      {% if showMailmotorImportAddresses %}

        {% set url = geturl('import_addresses') %}
        {% if group %}
          {% set url = url ~ '&group_id=' ~ group.id %}
        {% endif %}

        {{ macro.buttonIcon(url, 'upload', 'lbl.ImportAddresses'|trans|ucfirst) }}
      {% endif %}

      {% if showMailmotorExportAddresses %}

        {% set url = geturl('export_addresses') ~ '}&id=' %}
        {% if not group %}
          {% set url = url ~ 'all' %}
        {% endif %}
        {% if group %}
          {% set url = url ~ group.id %}
        {% endif %}

        {% set label = 'lbl.ExportAddresses'|trans|ucfirst %}
        {% if group %}
          {% set label = '' %}
        {% endif %}

        {{ macro.buttonIcon(url, 'download', label) }}
      {% endif %}
      {% if showMailmotorAddAddress %}
        {% set url = geturl('add_address') %}
        {% if group %}
          {% set url = url ~ '&group_id=' ~ group.id %}
        {% endif %}

        {{ macro.buttonIcon(url, 'plus-square', 'lbl.AddEmail'|trans|ucfirst ) }}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  {% if csvURL %}
    <div class="row fork-module-messages">
      <div class="col-md-12">
        <div class="alert alert-warning" role="alert">
          <p><strong><span class="fa fa-exclamation-triangle"></span>{{ 'msg.ImportRecentlyFailed'|trans }}</strong></p>
          <p>{{ 'msg.ImportFailedDownloadCSV'|trans|format(csvURL)|raw }}</p>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      {% form filter %}
      {{ hidGroupId|raw }}
      <div class="panel panel-default">
        <div class="panel-body">
          <div class="row">
            <div class="col-md-4">
              <div class="form-group">
                <label for="email" class="control-label">{{ 'lbl.EmailAddress'|trans|ucfirst }}</label>
                {% form_field email %} {% form_field_error email %}
              </div>
            </div>
          </div>
        </div>
        <div class="panel-footer">
          <div class="btn-toolbar">
            <div class="btn-group pull-right">
              <button id="search" type="submit" class="btn btn-primary" name="search">
                <span class="fa fa-refresh"></span>&nbsp;
                {{ 'lbl.UpdateFilter'|trans|ucfirst }}
              </button>
            </div>
          </div>
        </div>
      </div>
      {% endform %}
    </div>
  </div>
  <div class="row fork-module-content">
    <div class="col-md-12">
      {% if dataGrid %}
        <form action="{{ geturl('mass_address_action' ) }}" method="get" class="forkForms submitWithLink" id="massAddressAction">
        <input type="hidden" name="offset" value="{{ offset }}" />
        <input type="hidden" name="order" value="{{ order }}" />
        <input type="hidden" name="sort" value="{{ sort }}" />
        <input type="hidden" name="email" value="{{ email }}" />
        {% if group %}
          <input type="hidden" name="group_id" value="{{ group.id }}" />
        {% endif %}
        <div class="table-responsive">
          {{ dataGrid|raw }}
        </div>
        </form>
      {% endif %}
      {% if not dataGrid %}
        {% if oPost %}
          <p>{{ 'msg.NoResultsForFilter'|trans|format(email)|raw }}</p>
        {% endif %}
        {% if not oPost %}
          <p>{{ 'msg.NoSubscriptions'|trans }}</p>
        {% endif %}
      {% endif %}
    </div>
  </div>
{% endblock %}
