{% extends '/Layout/Templates/base.html.twig' %}

{% block actionbar %}

{% endblock %}

{% block content %}
  <div class="row fork-module-heading">
    <div class="col-md-12">
      <nav class="navbar navbar-default" role="navigation">
        <ul class="nav navbar-nav">
          {% for _itr_17 in wizard %}
            <li class="{% if _itr_17.selected %}active{% endif %}{% if not _itr_17.stepLink %}navbar-text{% endif %}">
              {% if _itr_17.stepLink %}
              <a href="{{ geturl('edit') }}&amp;id={{ mailing.id }}&amp;step={{ _itr_17.id }}">
                {% endif %}
                <span>{{ _itr_17.id }}. {{ _itr_17.label|ucfirst }}</span>
                {% if _itr_17.stepLink %}
              </a>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
      </nav>
    </div>
  </div>
  <div class="row fork-module-content">
    <div class="col-md-12">
      {% if step1 %}
        {% form step1 %}
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  {{ 'lbl.Settings'|trans|ucfirst }}
                </h4>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label for="name" class="control-label">
                    {{ 'lbl.Name'|trans|ucfirst }}
                    <abbr data-toggle="tooltip" title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr>
                  </label>
                  <p class="help-block">{{ 'msg.NameInternalUseOnly'|trans|ucfirst }}</p>
                  {% form_field name %} {% form_field_error name %}
                </div>
                {% if ddmCampaign %}
                  <div class="form-group">
                    <label for="campaign" class="control-label">
                      {{ 'lbl.Campaign'|trans|ucfirst }}
                      <abbr data-toggle="tooltip" title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr>
                    </label>
                    {% form_field campaign %} {% form_field_error campaign %}
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  {{ 'lbl.Sender'|trans|ucfirst }}
                </h4>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label for="fromName" class="control-label">
                    {{ 'lbl.Name'|trans|ucfirst }}
                    <abbr data-toggle="tooltip" title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr>
                  </label>
                  {% form_field from_name %} {% form_field_error from_name %}
                </div>
                <div class="form-group">
                  <label for="fromEmail" class="control-label">
                    {{ 'lbl.EmailAddress'|trans|ucfirst }}
                    <abbr data-toggle="tooltip" title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr>
                  </label>
                  {% form_field from_email %} {% form_field_error from_email %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  {{ 'lbl.ReplyTo'|trans|ucfirst }}
                </h4>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label for="replyToEmail" class="control-label">
                    {{ 'lbl.EmailAddress'|trans|ucfirst }}
                    <abbr data-toggle="tooltip" title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr>
                  </label>
                  {% form_field reply_to_email %} {% form_field_error reply_to_email %}
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  {{ 'lbl.Recipients'|trans|ucfirst }}
                </h4>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  {% if chkGroupsError %}
                    <p class="text-danger">{% form_field_error groups %}</p>
                  {% endif %}
                  <ul class="list-unstyled">
                    {% for group in groups %}
                      <li class="checkbox">
                        <label for="{{ group.id }}">
                          {{ group.chkGroups|raw }}
                          <attr title="{{ 'msg.GroupsNumberOfRecipients'|trans|format(group.recipients)|raw }}">
                            {{ group.label|ucfirst }}
                            ({% if group.recipients %}{{ group.recipients }}{% endif %}{% if not group.recipients %}{{ lbl.QuantityNo }}{% endif %} {% if group.single %}{{ lbl.EmailAddress }}{% endif %}{% if not group.single %}{{ lbl.EmailAddresses }}{% endif %})
                          </attr>
                        </label>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  {{ 'msg.TemplateLanguage'|trans|ucfirst }}
                </h4>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  {% if rbtLanguagesError %}
                    <p class="text-danger">{{ rbtLanguagesError }}</p>
                  {% endif %}
                  <ul class="list-unstyled">
                    {% for languag in languages %}
                      <li class="radio">
                        <label for="{{ languag.id }}">
                          {{ languag.rbtLanguages|raw }} {{ languag.label|ucfirst }}
                        </label>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="btn-toolbar">
              <div class="btn-group pull-right" role="group">
                <button id="toStep2" type="submit" name="to_step_2" class="btn btn-primary">
                  {{ 'lbl.ToStep'|trans|ucfirst }}
                  &nbsp;<span class="fa fa-chevron-right"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endform %}
      {% endif %}
      {% if step2 %}
        {% form step2 %}
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  {{ 'lbl.ChooseTemplate'|trans|ucfirst }}
                </h4>
              </div>
              <div class="panel-body">
                <p class="help-block">{{ 'msg.HelpTemplates'|trans|ucfirst }}</p>
                {% if rbtTemplatesError %}
                  <p class="text-danger">{{ rbtTemplatesError }}</p>
                {% endif %}
                <div id="templateSelection" class="selectThumbList">
                  <div class="row">
                    {% for templat in templates %}
                      <div class="col-md-4 js-template">
                        <div class="panel panel-select {% if templat.selected %}panel-primary {% endif %} panel-default">
                          <label for="{{ templat.id }}" class="panel-title">
                            <div class="panel-heading">
                              <span class="hidden">{{ templat.rbtTemplates|raw }}</span>
                              <span class="panel-title">{{ templat.label|ucfirst }}</span>
                            </div>
                            <div class="panel-body">
                              <img src="/src/Backend/Modules/Mailmotor/Templates/{{ templat.language }}/{{ templat.value }}/images/thumb.jpg" width="172" height="129" class="img-thumbnail" alt="{{ templat.label|ucfirst }}" />
                            </div>
                          </label>
                        </div>
                      </div>
                    {% endfor %}
                  </div>
                </div>

              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="btn-toolbar">
              <div class="btn-group pull-right" role="group">
                <button id="toStep3" type="submit" name="to_step_3" class="btn btn-primary">
                  {{ 'lbl.ToStep'|trans|ucfirst }} 3
                  &nbsp;<span class="fa fa-chevron-right"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endform %}
      {% endif %}
      {% if step3 %}
        {% form step3 %}
        <div class="row">
          <div class="col-md-12">
            <div class="form-group">
              <label for="subject" class="control-label">
                {{ 'lbl.Subject'|trans|ucfirst }}
                <abbr data-toggle="tooltip" title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr>
              </label>
              {% form_field subject %} {% form_field_error subject %}
            </div>
            <div class="form-group">
              <label for="content" class="control-label">
                {{ 'lbl.Content'|trans|ucfirst }}
                <abbr data-toggle="tooltip" title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr>
              </label>
              <div id="iframeBox">
                <iframe id="contentBox" src="{{ geturl('edit_mailing_iframe') }}&amp;id={{ mailing.id }}" height="100%" width="100%"></iframe>
              </div>
            </div>
            {% if txtContentPlain %}
              <div class="form-group">
                <label for="subject" class="control-label">
                  {{ 'lbl.PlainTextVersion'|trans|ucfirst }}
                </label>
                {% form_field content_plain %} {% form_field_error content_plain %}
              </div>
            {% endif %}
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="btn-toolbar">
              <div class="btn-group pull-right" role="group">
                <button id="sendContent" type="submit" name="to_step_4" class="btn btn-primary">
                  {{ 'lbl.ToStep'|trans|ucfirst }} 4
                  &nbsp;<span class="fa fa-chevron-right"></span>
                </button>
              </div>
            </div>
          </div>
        </div>
        {% endform %}
      {% endif %}
      {% if step4 %}
        {% form step4 %}
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  {{ 'lbl.Preview'|trans|ucfirst }}
                </h4>
              </div>
              <div class="panel-body">
                {% if previewURL %}
                  <div id="iframeBox">
                    <iframe id="contentBox" src="{{ previewURL }}" height="100%" width="100%" style="border-right: 1px solid rgb(221, 221, 221); border-width: medium 1px 1px; border-style: none solid solid; border-color: -moz-use-text-color rgb(221, 221, 221) rgb(221, 221, 221); -moz-box-sizing: border-box;"></iframe>
                  </div>
                {% endif %}
                {% if not previewURL %}
                  <div class="options">
                    <p><span class="infoMessage">{{ 'err.NoModuleLinked'|trans|ucfirst }}</span></p>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  {{ 'lbl.SendPreview'|trans|ucfirst }}
                </h4>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label for="email" class="control-label">{{ 'lbl.EmailAddress'|trans|ucfirst }}</label>
                  {% form_field email %} {% form_field_error email %}
                </div>
              </div>
              <div class="panel-footer">
                <div class="btn-toolbar">
                  <div class="btn-group pull-right">
                    <button id="sendPreview" type="submit" class="btn btn-default" name="send_preview">
                      <span class="fa fa-eye"></span>&nbsp;
                      {{ 'lbl.SendPreview'|trans|ucfirst }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12">
            <div class="panel panel-default">
              <div class="panel-heading">
                <h4 class="panel-title">
                  {{ 'lbl.SendOn'|trans|ucfirst }}
                </h4>
              </div>
              <div class="panel-body">
                <div class="form-group">
                  <label for="sendOnDate" class="control-label">{{ 'lbl.SendDate'|trans|ucfirst }}</label>
                  {% form_field send_on_date %}
                </div>
                <div class="form-group">
                  <label for="sendOnTime" class="control-label">{{ lbl.At }}</label>
                  {% form_field send_on_time %}
                </div>
              </div>
              <div class="panel-footer">
                <div class="btn-toolbar">
                  <div class="btn-group pull-right">
                    <a id="sendMailing" href="#" class="btn btn-primary" title="{{ 'lbl.SendMailing'|trans|ucfirst }}">
                      <span class="fa fa-send-o"></span>{{ 'lbl.SendMailing'|trans|ucfirst }}
                    </a>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div id="sendMailingConfirmationModal" class="modal fade" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <span class="modal-title h4">{{ 'msg.MailingConfirmSend'|trans|ucfirst }}</span>
              </div>
              <div class="modal-body">
                <p>{{ recipientStatistics }}
                  <span id="sendOn" style="display: none;">{{ 'msg.SendOn'|trans|ucfirst }}</span></p>
                <p>{{ 'msg.PeopleGroups'|trans|ucfirst }}</p>
                <p>
                  {% for group in groups %}{{ group.name }} {% if group.comma %}, {% endif %}{% endfor %}
                </p>
                <table class="table">
                  <tr>
                    <th>{{ 'lbl.TemplateLanguage'|trans|ucfirst }}</th>
                    <td>{{ templateLanguage }}</td>
                  </tr>
                  <tr>
                    <th>{{ 'lbl.Price'|trans|ucfirst }}</th>
                    <td>&euro; {{ price }}</td>
                  </tr>
                </table>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
                </button>
                <a id="sendMailingConfirmationSubmit" href="#" class="btn btn-primary">
                  <span class="fa fa-send-o"></span>{{ 'lbl.SendMailing'|trans|ucfirst }}
                </a>
              </div>
            </div>
          </div>
        </div>
        {% endform %}
      {% endif %}
    </div>
  </div>
  <script type="text/javascript">
    //<![CDATA[
    var variables = [];
    variables = {mailingId: '{{ mailing.id }}'};
    //]]>
  </script>
{% endblock %}
