{% extends '/Layout/Templates/base.html.twig' %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form import %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ 'lbl.AddressList'|trans|ucfirst }}
          </h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            {% if showMailmotorImportAddresses %}
              <label for="download" class="control-label">Download
                <a href="{{ geturl('import_addresses') }}&amp;example=1">{{ 'lbl.ExampleFile'|trans|ucfirst }}</a>.</label>
            {% endif %}
            {% form_field csv %} {% form_field_error csv %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ 'lbl.Group'|trans|ucfirst }}
          </h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            {% if chkGroupsError %}
              <p class="text-danger">{% form_field_error groups %}</p>
            {% endif %}
            <ul class="list-unstyled">
              {% for group in groups %}
                <li class="radio">
                  <label for="{{ group.id }}">{{ group.rbtGroups|raw }} {{ group.label|ucfirst }}</label>
                </li>
              {% endfor %}
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-module-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-right" role="group">
          <button id="importButton" type="submit" name="add" class="btn btn-primary">
            <span class="fa fa-download"></span>{{ 'lbl.Import'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endform %}
{% endblock %}
