{% extends '/Layout/Templates/base.html.twig' %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% if not clientId %}
    <div class="row fork-module-messages">
      <div class="col-md-12">
        <div class="alert alert-warning" role="alert">
          <p><strong><span class="fa fa-exclamation-triangle"></span>{{ 'msg.ConfigurationError'|trans }}</strong></p>
          <ul>
            {% if not account %}
              <li>{{ 'err.NoCMAccount'|trans }}</li>
            {% endif %}
            {% if account %}
              <li>{{ 'err.NoCMClientID'|trans }}</li>
            {% endif %}
          </ul>
        </div>
      </div>
    </div>
  {% endif %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#tabGeneral" aria-controls="tabGeneral" role="tab" data-toggle="tab">{{ 'lbl.General'|trans|ucfirst }}</a>
          </li>
          <li role="presentation">
            <a href="#tabAccount" aria-controls="tabAccount" role="tab" data-toggle="tab">CampaignMonitor - {{ 'lbl.AccountSettings'|trans|ucfirst }}</a>
          </li>
          {% if account %}
            <li role="presentation">
              <a href="#tabClient" aria-controls="tabClient" role="tab" data-toggle="tab">CampaignMonitor - {{ 'lbl.ClientSettings'|trans|ucfirst }}</a>
            </li>
          {% endif %}
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tabGeneral">
            {% form settingsGeneral %}
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      {{ 'lbl.Sender'|trans|ucfirst }}
                    </h4>
                  </div>
                  <div class="panel-body">
                    <div class="form-group">
                      <label for="fromName" class="control-label">
                        {{ 'lbl.Name'|trans|ucfirst }}
                        {{ macro.required }}
                      </label>
                      {% form_field from_name %} {% form_field_error from_name %}
                    </div>
                    <div class="form-group">
                      <label for="fromEmail" class="control-label">
                        {{ 'lbl.EmailAddress'|trans|ucfirst }}
                        {{ macro.required }}
                      </label>
                      {% form_field from_email %} {% form_field_error from_email %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      {{ 'lbl.ReplyTo'|trans|ucfirst }}
                    </h4>
                  </div>
                  <div class="panel-body">
                    <div class="form-group">
                      <label for="replyToEmail" class="control-label">
                        {{ 'lbl.EmailAddress'|trans|ucfirst }}
                        {{ macro.required }}
                      </label>
                      {% form_field reply_to_email %} {% form_field_error reply_to_email %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h4 class="panel-title">
                      {{ 'lbl.PlainTextVersion'|trans|ucfirst }}
                    </h4>
                  </div>
                  <div class="panel-body">
                    <div class="form-group">
                      <ul class="list-unstyled">
                        <li class="checkbox">
                          <label for="plainTextEditable" class="control-label">
                            {% form_field plain_text_editable %} {{ 'msg.PlainTextEditable'|trans|ucfirst }}
                          </label>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% if userIsGod %}
              <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading">
                      <h4 class="panel-title">
                        {{ 'lbl.Prices'|trans|ucfirst }}
                      </h4>
                    </div>
                    <div class="panel-body">
                      <div class="form-group">
                        <label for="pricePerEmail" class="control-label">
                          {{ 'lbl.PerSentMailing'|trans|ucfirst }}
                          {{ macro.required }}
                        </label>
                        <p class="help-block">{{ 'msg.HelpPrice'|trans }}</p>
                        <div class="form-inline">
                          <div class="input-group">
                            <div class="input-group-addon">€</div>
                            {% form_field price_per_email %} {% form_field_error price_per_email %}
                          </div>
                        </div>
                      </div>
                      <div class="form-group">
                        <label for="pricePerEmail" class="control-label">
                          {{ 'lbl.PerCampaign'|trans|ucfirst }}
                          {{ macro.required }}
                        </label>
                        <p class="help-block">{{ 'msg.HelpPrice'|trans }}</p>
                        <div class="form-inline">
                          <div class="input-group">
                            <div class="input-group-addon">€</div>
                            {% form_field price_per_campaign %} {% form_field_error price_per_campaign %}
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
            <div class="row">
              <div class="col-md-12">
                <div class="btn-toolbar">
                  <div class="btn-group pull-right" role="group">
                    <button id="save" type="submit" name="save" class="btn btn-primary">
                      <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
                    </button>
                  </div>
                </div>
              </div>
            </div>
            {% endform %}
          </div>
          <div role="tabpanel" class="tab-pane" id="tabAccount">
            {% form settingsAccount %}
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="url" class="control-label">
                    {{ 'lbl.URL'|trans|uppercase }}
                    {{ macro.required }}
                  </label>
                  <p class="help-block">{{ 'msg.HelpCMURL'|trans }}</p>
                  {% form_field url %} {% form_field_error url %}
                </div>
                <div class="form-group">
                  <label for="username" class="control-label">
                    {{ 'lbl.Username'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  {% form_field username %} {% form_field_error username %}
                </div>
                <div class="form-group">
                  <label for="password" class="control-label">
                    {{ 'lbl.Password'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  {% form_field password %} {% form_field_error password %}
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <div class="btn-toolbar">
                  <div class="btn-group pull-left" role="group">
                    {% if account %}
                      <a id="unlinkAccount" href="#" class="btn btn-danger">
                        <span class="fa fa-unlink"></span>{{ 'msg.UnlinkCMAccount'|trans }}
                      </a>
                    {% endif %}
                  </div>
                  <div class="btn-group pull-right" role="group">
                    {% if not account %}
                      <a id="linkAccount" href="#" class="btn btn-primary">
                        <span class="fa fa-link"></span>{{ 'msg.LinkCMAccount'|trans }}
                      </a>
                    {% endif %}
                    {% if account %}
                      {% if clientId %}
                        <a href="{{ geturl('index') }}" class="btn btn-default">
                          <span class="fa fa-list"></span>&nbsp;
                          {{ 'msg.ViewMailings'|trans }}
                        </a>
                      {% endif %}
                    {% endif %}
                  </div>
                </div>
              </div>
            </div>
            {% endform %}
          </div>
          {% if account %}
            <div role="tabpanel" class="tab-pane" id="tabClient">
              {% form settingsClient %}
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="clientId" class="control-label">{{ 'lbl.Client'|trans|ucfirst }}</label>
                    {% if not clientId %}
                      <p class="text-danger"><strong>{{ 'msg.NoClientID'|trans }}</strong></p>
                    {% endif %}
                    {% form_field client_id %}
                  </div>
                  <div class="form-group">
                    <label for="companyName" class="control-label">
                      {{ 'lbl.CompanyName'|trans|ucfirst }}
                      {{ macro.required }}
                    </label>
                    {% form_field company_name %} {% form_field_error company_name %}
                  </div>
                  <div class="form-group">
                    <label for="countries" class="control-label">{{ 'lbl.Country'|trans|ucfirst }}</label>
                    {% form_field countries %} {% form_field_error countries %}
                  </div>
                  <div class="form-group">
                    <label for="timezones" class="control-label">{{ 'lbl.Timezone'|trans|ucfirst }}</label>
                    {% form_field timezones %} {% form_field_error timezones %}
                  </div>
                </div>
              </div>
              <div class="row">
                <div class="col-md-12">
                  <div class="btn-toolbar">
                    <div class="btn-group pull-right" role="group">
                      <button id="save" type="submit" name="save" class="btn btn-primary">
                        <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
                      </button>
                    </div>
                  </div>
                </div>
              </div>
              {% endform %}
            </div>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
{% endblock %}
