<div id="mailmotorSubscribeWidget" class="well">
  <h3 class="title">{{ 'lbl.SubscribeToNewsletter'|trans|capitalize }}</h3>
  <form action="{{ geturlforblock('Mailmotor', 'Subscribe' ) }}" method="post">
    <input type="hidden" name="form_token" id="formToken" value="{{ formToken }}" />
    <input type="hidden" name="form" value="subscribe" />
    <label class="control-label" for="email">
      {{ 'lbl.Email'|trans|capitalize }}<abbr title="{{ 'lbl.RequiredField'|trans|capitalize }}">*</abbr>
    </label>
    <div class="input-group">
      <input type="email" value="" id="email" name="email" class="form-control" placeholder="{{ 'lbl.YourEmail'|trans|capitalize }}" />
      <span class="input-group-btn">
        <input id="send" class="btn btn-default" type="submit" name="send" value="{{ 'lbl.Subscribe'|trans|capitalize }}" />
      </span>
    </div>
  </form>
</div>
