<section id="mailmotorSubscribeFormWidget" class="mod">
  <div class="inner">
    <div class="hd">
      <h3 class="title">{{ 'lbl.SubscribeToNewsletter'|trans|capitalize }}</h3>
    </div>
    <div class="bd">
      {{ form_start(form) }}
        <p>
          {{ form_row(form.email) }}
        </p>

        {% if form.interests %}
          {{ form_row(form.interests) }}
        {% endif %}

        <p>
          {{ form_widget(form.subscribe) }}
        </p>
      {{ form_end(form) }}
    </div>
  </div>
</section>