<section id="mailMotorSubscribeFormWidget" class="mod">
  <div class="inner">
    <div class="hd">
      <h3 class="title">{{ 'lbl.SubscribeToNewsletter'|trans|capitalize }}</h3>
    </div>
    <div class="bd">
      <form action="{{ geturlforblock('MailMotor', 'Subscribe' ) }}" method="post">
        <input type="hidden" name="form" value="mailMotorSubscribeForm" />
        <p>
          <label for="email">{{ 'lbl.Email'|trans|capitalize }}<abbr title="{{ 'lbl.RequiredField'|trans }}">*</abbr></label>
          <input type="text" value="" id="email" name="email" class="inputText" placeholder="{{ 'lbl.YourEmail'|trans|capitalize }}" />
        </p>
        <p>
          <input id="send" class="inputSubmit btn" type="submit" name="send" value="{{ 'lbl.Subscribe'|trans|capitalize }}" />
        </p>
      </form>
    </div>
  </div>
</section>
									