<div id="widgetUsersStatistics" class="card card-primary">
  <div class="card-heading">
    <h2 class="card-title d-flex justify-content-between">
      <a href="{{ authenticatedUserEditUrl }}">{{ 'lbl.Users'|trans|ucfirst }}: {{ 'lbl.Statistics'|trans|ucfirst }}</a>
      <a href="{{ authenticatedUserEditUrl }}"><i class="fas fa-arrow-right"></i></a>
    </h2>
  </div>
  <div class="card-body">
    <ul class="list-unstyled">
      <li>
        <p>
          <strong class="text-black">{{ 'lbl.LastLogin'|trans|ucfirst }}</strong><br>
          {% if authenticatedUserLastLogin %}{{ authenticatedUserLastLogin|spoondate(authenticatedUserDateFormat, authenticatedUserTimeFormat, INTERFACE_LANGUAGE) }} {% endif %}
          {% if not authenticatedUserLastLogin %}{{ 'lbl.NoPreviousLogin'|trans|ucfirst }}{% endif %}
        </p>
      </li>
      {% if authenticatedUserLastFailedLoginAttempt %}
        <li>
          <p>
            <strong class="text-black">{{ 'lbl.LastFailedLoginAttempt'|trans|ucfirst }}</strong><br>
            {{ authenticatedUserLastFailedLoginAttempt|spoondate( authenticatedUserDateFormat, authenticatedUserTimeFormat, INTERFACE_LANGUAGE) }}
          </p>
        </li>
      {% endif %}
      <li>
        <p>
          <strong class="text-black">{{ 'lbl.LastPasswordChange'|trans|ucfirst }}</strong><br>
          {% if authenticatedUserLastPasswordChange %}{{ authenticatedUserLastPasswordChange|spoondate(authenticatedUserDateFormat, authenticatedUserTimeFormat, INTERFACE_LANGUAGE) }}{% endif %}
          {% if not authenticatedUserLastPasswordChange %}{{ 'lbl.Never'|trans|ucfirst }}{% endif %}
        </p>
      </li>
      {% if showPasswordStrength %}
        <li>
          <p>
            <strong class="text-black">{{ 'lbl.PasswordStrength'|trans|ucfirst }}</strong><br>
            {{ passwordStrengthLabel }}
          </p>
        </li>
      {% endif %}
    </ul>
  </div>
</div>
