{#
  variables that are available:
  - {{ widgetLocationItem }}: contains data about this location
  - {{ widgetLocationSettings }}: contains this module's settings
#}

{% if widgetLocationItem %}
  <div class="location location-widget">
    {# @remark: do not remove the parseMap-class, it is used by JS #}
    <div id="map{{ widgetLocationItem.id }}" class="parseMap" style="height: {{ widgetLocationSettings.height }}px;">
      <span class="hideText">{{ 'lbl.Loading'|trans|capitalize }}</span>
    </div>

    {% if widgetLocationSettings.full_url %}
      <div class="row">
        <div class="col-xs-12">
          <a href="{{ widgetLocationSettings.maps_url }}" class="btn pull-right" target="_blank">
            {{ 'lbl.ViewLargeMap'|trans|capitalize }}<span class="hideText"> {{ 'lbl.For'|trans }} {{ widgetLocationItem.title }}</span>
          </a>
        </div>
      </div>
    {% endif %}

    {% if widgetLocationSettings.directions %}
      <div id="locationSearch{{ widgetLocationItem.id }}">
        <form method="get" action="#">
          <div class="form-group">
            <label class="control-label" for="locationSearchAddress{{ widgetLocationItem.id }}">
              {{ 'lbl.Start'|trans|capitalize }}<abbr title="{{ 'lbl.RequiredField'|trans|capitalize }}">*</abbr>&nbsp;
            </label>
            <div class="input-group">
              {# @remark: do not remove the id #}
              <input type="text" id="locationSearchAddress{{ widgetLocationItem.id }}" name="locationSearchAddress" class="form-control" />
              {# @remark: do not remove the id #}
              <span id="locationSearchError{{ widgetLocationItem.id }}" class="error" style="display: none;">
                <span class="help-inline">{{ 'err.FieldIsRequired'|trans|capitalize }}</span>
              </span>
              {# @remark: do not remove the id #}
              <span class="input-group-btn">
                <input type="submit" id="locationSearchRequest{{ widgetLocationItem.id }}" name="locationSearchRequest" class="btn btn-primary" value="{{ 'lbl.ShowDirections'|trans|capitalize }}" />
              </span>
            </div>
          </div>
        </form>
      </div>
    {% endif %}

    {# @remark: do not remove the id #}
    <div id="markerText{{ widgetLocationItem.id }}" class="hide" itemscope itemtype="http://schema.org/Place">
      <div itemprop="geo" itemscope itemtype="http://schema.org/GeoCoordinates">
        <meta itemprop="latitude" content="{{ widgetLocationItem.lat }}" />
        <meta itemprop="longitude" content="{{ widgetLocationItem.lng }}" />
      </div>

      <div itemprop="name" class="hide"><strong>{{ widgetLocationItem.title }}</strong></div>
      <address itemprop="address" itemscope itemtype="http://schema.org/PostalAddress">
        <span itemprop="streetAddress">{{ widgetLocationItem.street }} {{ widgetLocationItem.number }}</span><br>
        <span itemprop="postalCode">{{ widgetLocationItem.zip }}</span> <span itemprop="addressLocality">{{ widgetLocationItem.city }}</span><br>
        <span itemprop="addressCountry">{{ widgetLocationItem.country }}</span>
      </address>
    </div>
  </div>
{% endif %}
