{% extends "@ForkFrontendModules/Blog/Layout/Templates/Detail.html.twig" %}

{% block block_heading %}
  <header class="block-heading page-header" role="banner">
    <h1 itemprop="name">
      {{ item.title }}
    </h1>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        {{ 'msg.WrittenBy'|trans|ucfirst|format(item.user_id|usersetting('nickname')) }}
        {{ 'lbl.On'|trans }}
        <time itemprop="datePublished" datetime="{{ item.publish_on|date('Y-m-d\\TH:i:s') }}">
          {{ item.publish_on|spoondate(dateFormatLong, LANGUAGE) }}
        </time>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="pull-right">
          {% if item.allow_comments %}
            {% if not item.comments %}
              <a href="{{ item.full_url }}#{{ 'act.Comment'|trans }}" itemprop="discussionUrl">
                {{ 'msg.BlogNumberOfComments'|trans|format(item.comments_count ) }}
              </a>
            {% else %}
              <a href="{{ item.full_url }}#{{ 'act.Comments'|trans }}" itemprop="discussionUrl">
                {% if item.comments_multiple %}
                  {{ 'msg.BlogNumberOfComments'|trans|format(item.comments_count ) }}
                {% else %}
                  {{ 'msg.BlogOneComment'|trans }}
                {% endif %}
              </a>
            {% endif %}
          {% endif %}
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12 col-md-6">
        {{ 'lbl.Category'|trans|ucfirst }}
        <a itemprop="genre" href="{{ item.category_full_url }}" title="{{ item.category_title }}">{{ item.category_title }}</a>
      </div>
      <div class="col-xs-12 col-md-6">
        <div class="pull-right">
          {% if item.tags %}
            {{ 'lbl.Tags'|trans|ucfirst }}:
            <span itemprop="keywords">
              {% for tag in item.tags %}
                <a class="label label-primary" href="{{ tag.full_url }}" rel="tag" title="{{ tag.name }}">
                  {{ tag.name }}
                </a>
              {% endfor %}
            </span>
          {% endif %}
        </div>
      </div>
    </div>
  </header>
{% endblock %}

{% block block_body %}
  <div class="block-body" itemprop="articleBody">
    {% if item.image %}
      <img class="img-responsive" src="{{ FRONTEND_FILES_URL }}/Blog/images/source/{{ item.image }}" alt="{{ item.title }}" itemprop="image" />
    {% endif %}
    {{ item.text|raw }}
  </div>
{% endblock %}
