{#
  variables that are available:
  - {{ widgetBlogCategories }}:
#}

{% if widgetBlogCategories %}
  <section id="blogCategoriesWidget" class="blog blog-widget">
    <header class="widget-header">
      <h3>{{ 'lbl.Categories'|trans|ucfirst }}</h3>
    </header>
    <div class="widget-body">
      <ul>
        {% for category in widgetBlogCategories %}
          <li>
            <a href="{{ category.url }}">
              {{ category.label }}
            </a>
            <span class="badge">{{ category.total }}</span>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}
