{#
  variables that are available:
  - {{ widgetBlogRecentArticlesFull }}: contains an array with all posts, each element contains data about the post
#}

{% import 'Modules/Blog/Layout/Templates/Article.html.twig' as articles %}
{% if widgetBlogRecentArticlesFull %}
  <section id="blogRecentArticlesFullWidget" class="blog blog-widget">
    <header class="widget-header">
      <h2>{{ 'lbl.RecentArticles'|trans|ucfirst }}</h2>
    </header>
    {% for row in widgetBlogRecentArticlesFull|batch(3) %}
      <div class="card-deck mb-3">
        {% for item in row  %}
          {{ articles.articleCard(item) }}
        {% endfor %}
      </div>
    {% endfor %}
    <footer class="widget-footer py-2">
      <div class="btn-group">
        <a class="btn btn-secondary" href="{{ geturlforblock('Blog') }}">{{ 'lbl.BlogArchive'|trans|ucfirst }}</a>
        <a class="btn btn-secondary" href="{{ widgetBlogRecentArticlesFullRssLink }}">{{ 'lbl.SubscribeToTheRSSFeed'|trans|ucfirst }}</a>
      </div>
    </footer>
  </section>
{% endif %}
