{#
  variables that are available:
  - {{ widgetBlogRecentComments }}: contains an array with the recent comments. Each element contains data about the comment.
#}

{% if widgetBlogRecentComments %}
  <section id="blogRecentCommentsWidget" class="blog blog-widget">
    <header class="widget-header">
      <h3>{{ 'lbl.RecentComments'|trans|ucfirst }}</h3>
    </header>
    <div class="widget-header">
      <ul>
        {% for comment in widgetBlogRecentComments %}
          <li>
            {% if comment.website %}<a href="{{ comment.website }}" rel="nofollow">{% endif %}
              {{ comment.author }}
            {% if comment.website %}</a>{% endif %}
            {{ 'lbl.CommentedOn'|trans }} <a href="{{ comment.full_url }}">{{ comment.post_title }}</a>
            <time class="muted" itemprop="commentTime" datetime="{{ comment.created_on|date('Y-m-d\TH,i,s') }}">{{ comment.created_on|timeago|raw }}</time>
          </li>
        {% endfor %}
      </ul>
    </div>
  </section>
{% endif %}
