{#
  variables that are available:
  - {{ widgetBlogRecentArticlesFull }}: contains an array with all posts, each element contains data about the post
#}

{% if widgetBlogRecentArticlesFull %}
  <section id="blogRecentArticlesFullWidget" class="blog">
    <header role="banner">
      <h2>{{ 'lbl.RecentArticles'|trans|capitalize }}</h2>
    </header>
    {% for post in widgetBlogRecentArticlesFull %}
      <article class="article" itemscope itemtype="http://schema.org/Blog" role="main">
        <meta itemprop="interactionCount" content="UserComments:post.comments_count">
        <meta itemprop="author" content="{{ post.user_id|usersetting('nickname' ) }}">
        <header role="banner">
          <div class="row title">
            <div class="col-md-10">
              <h3><a href="{{ post.full_url }}" title="{{ post.title }}">{{ post.title }}</a></h3>
            </div>
            {% if post.allow_comments %}
              <div class="col-md-2 commentCount">
                <i class="icon-comment"></i>
                {% if not post.comments %}
                  <a href="{{ post.full_url }}#{{ 'act.Comment'|trans }}">{{ 'msg.BlogNumberOfComments'|trans|format(post.comments_count ) }}</a>
                {% else %}
                  {% if post.comments_multiple %}
                    <a href="{{ post.full_url }}#{{ 'act.Comments'|trans }}">{{ 'msg.BlogNumberOfComments'|trans|format(post.comments_count ) }}</a>
                  {% else %}
                    <a href="{{ post.full_url }}#{{ act.Comments }}">{{ 'msg.BlogOneComment'|trans }}</a>
                  {% endif %}
                {% endif %}
              </div>
            {% endif %}
          </div>
          <div class="row muted meta">
            <div class="col-md-6">
              <span class="hideText">{{ 'msg.WrittenBy'|trans|capitalize|format('') }} </span>{{ post.user_id|usersetting('nickname' ) }}
              <span class="hideText">{{ 'lbl.On'|trans }}</span> <time itemprop="datePublished" datetime="{{ post.publish_on|trans|date('Y-m-d\TH,i,s') }}">{{ post.publish_on|date(dateFormatLong,LANGUAGE ) }}</time>
            </div>
            <div class="col-md-6 metaExtra">
              <span class="hideText">{{ 'lbl.InThe'|trans }} </span>{{ 'lbl.Category'|trans|capitalize }}: <a href="{{ post.category_full_url }}" title="{{ post.category_title }}">{{ post.category_title }}</a>
            </div>
          </div>
        </header>
        <div class="bd content" itemprop="articleBody">
          {% if post.image %}<img itemprop="image" class="img-polaroid col-md-4 img-responsive pull-right" src="{{ FRONTEND_FILES_URL }}/blog/images/source/{{ post.image }}" alt="{{ post.title }}" />{% endif %}
          {% if not post.introduction %}
            {{ post.text|raw }}
          {% else %}
            {{ post.introduction|raw }}
          {% endif %}
        </div>
      </article>
    {% endfor %}
    <footer role="contentinfo">
      <p class="btn-group">
        <a class="btn btn-default" href="{{ geturlforblock('Blog') }}">{{ 'lbl.BlogArchive'|trans|capitalize }}</a>
        <a class="btn btn-default" href="{{ widgetBlogRecentArticlesFullRssLink }}">{{ 'lbl.SubscribeToTheRSSFeed'|trans|capitalize }}</a>
      </p>
    </footer>
  </section>
{% endif %}
