{#
	variables that are available:
	- {$widgetBlogRecentArticlesList}: contains an array with all posts, each element contains data about the post
#}

{% if widgetBlogRecentArticlesList %}
	<section id="blogRecentArticlesListWidget" class="well">
			<header>
				<h3>{{ lbl.RecentArticles|capitalize }}</h3>
			</header>
				<ul>
					{% for article in widgetBlogRecentArticlesList %}
						<li><a href="{{ article.full_url }}" title="{{ article.title }}">{{ article.title }}</a></li>
					{% endfor %}
				</ul>
			<footer class="ft">
				<p>
					<a href="{$var|geturlforblock:'blog'}">{{ lbl.BlogArchive|capitalize }}</a>
					<a id="RSSfeed" href="{{ widgetBlogRecentArticlesFullRssLink }}">{{ lbl.SubscribeToTheRSSFeed|capitalize }}</a>
				</p>
			</footer>
	</section>
{% endif %}
