{% extends 'bootstrap_5_layout.html.twig' %}

{%- block form_label -%}
  {% import '@Backend/base/macros.html.twig' as macro %}
  {% if 'checkbox' not in block_prefixes or widget_checkbox_label in ['label', 'both'] %}
    {% if label is not same as(false) %}
      {% if label is empty %}
        {% set label = id|trans({}, translation_domain)|ucfirst %}
      {% elseif translation_domain != false or translation_domain is null %}
        {% set label = label|trans({}, translation_domain)|ucfirst %}
      {% endif %}
      {% if not compound %}
        {% set label_attr = label_attr|merge({'for': id}) %}
      {% endif %}
      {% set label_attr_class = '' %}
      {% if horizontal is defined and horizontal %}
        {% set label_attr_class = 'control-label ' ~ label_attr_class ~ horizontal_label_class %}
      {% endif %}
      {% set label_attr = label_attr|merge({'class': label_attr.class|default('') ~ " " ~ label_attr_class ~ (required ? ' required' : ' optional') }) %}
      <label{% for attrname,attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
      {{ label_html ? label|raw : label }}{% if required %}{{- block('label_asterisk') -}}{% endif %}
      {% if form.vars.label_tooltip is defined and form.vars.label_tooltip is not empty %}
        {% if not form.vars.label_tooltip_translation_domain and form.vars.label_tooltip_translation_domain is not null %}
          {{ macro.infoTooltip(form.vars.label_tooltip) }}
        {% else %}
          {{ macro.infoTooltip(
            form.vars.label_tooltip|trans(
              form.vars.label_tooltip_translation_arguments,
              form.vars.label_tooltip_translation_domain
            )|ucfirst
          ) }}
        {% endif %}
      {% endif %}
      </label>
    {% endif %}
  {% endif %}
{%- endblock form_label -%}

{% block checkbox_radio_label %}
  {% if widget is defined %}
    {% set label_attr = label_attr|merge({for: id, class: (label_attr.class|default('') ~ ' form-check-label')|trim}) %}
    {% if required %}
      {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' required')|trim}) %}
    {% endif %}
    {% if parent_label_class is defined %}
      {% set label_attr = label_attr|merge({class: (label_attr.class|default('') ~ ' ' ~ parent_label_class)|trim}) %}
    {% endif %}
    {% if label is not same as(false) and label is empty %}
      {%- if label_format is not empty -%}
        {% set label = label_format|replace({
          '%name%': name,
          '%id%': id,
        }) %}
      {%- else -%}
        {% set label = name|humanize %}
      {%- endif -%}
    {% endif %}
    {{- widget|raw }}
    <label{% for attrname, attrvalue in label_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
    {{ label is not same as(false) ? (translation_domain is same as(false) ? label : label|trans({}, translation_domain)|ucfirst) -}}
    </label>
  {% endif %}
{% endblock checkbox_radio_label %}

{%- block label_asterisk -%}
  {% apply spaceless %}
    {% import '@Backend/base/macros.html.twig' as macro %}
    {{ macro.required }}
  {% endapply %}
{%- endblock label_asterisk -%}

{% block form_errors_list_content %}
  {% import '@Backend/base/macros.html.twig' as macro %}
  <ul class="list-unstyled">
    {%- for error in errors -%}
      <li
        {% if form.parent %}class="invalid-feedback"{% endif %}>{{ macro.icon('exclamation-triangle') }} {{ help_html is same as(false) ? error.message : error.message|raw }}</li>
    {%- endfor -%}
  </ul>
{% endblock %}

{% block form_errors -%}
  {% import '@Backend/base/macros.html.twig' as macro %}

  {% if errors|length > 0 -%}
    {% if form.parent %}
      <small class="form-text text-muted">
        {{ block('form_errors_list_content') }}
      </small>
    {% else %}
      {{ macro.alert('danger', block('form_errors_list_content')) }}
    {% endif %}
  {%- endif %}

{%- endblock form_errors %}

{%- block meta_widget -%}
  {% set customId = form.vars.id ~ '_custom' %}
  {% set classId = form.vars.id ~ '_class' %}
  {% set methodId = form.vars.id ~ '_method' %}
  {% set parametersId = form.vars.id ~ '_parameters' %}
  <div
    class="js-do-meta-automatically"
    data-base-field-selector="{{ base_field_selector }}"
    data-meta-id-selector="{{ '#' ~ form.id.vars.id }}"
    data-page-title-selector="{{ '#' ~ form.title.vars.id }}"
    data-page-title-overwrite-selector="{{ '#' ~ form.titleOverwrite.vars.id }}"
    data-meta-description-selector="{{ '#' ~ form.description.vars.id }}"
    data-meta-description-overwrite-selector="{{ '#' ~ form.descriptionOverwrite.vars.id }}"
    data-meta-keywords-selector="{{ '#' ~ form.keywords.vars.id }}"
    data-meta-keywords-overwrite-selector="{{ '#' ~ form.keywordsOverwrite.vars.id }}"
    data-slug-selector="{{ '#' ~ form.slug.vars.id }}"
    data-slug-overwrite-selector="{{ '#' ~ form.slugOverwrite.vars.id }}"
    data-canonincal-url-overwrite-selector="{{ '#' ~ form.canonicalUrlOverwrite.vars.id }}"
    data-generated-slug-selector="{{ form.vars.generated_slug_selector }}"
    data-custom-selector="{{ '#' ~ customId }}"
    data-class-name-selector="{{ '#' ~ classId }}"
    data-method-name-selector="{{ '#' ~ methodId }}"
    data-parameters-selector="{{ '#' ~ parametersId }}"
  >
    <fieldset>
      <legend>{{ 'lbl.Titles'|trans|ucfirst }}</legend>
      <div class="checkboxTextFieldCombo">
        <div class="form-group">
          {{ form_widget(form.titleOverwrite) }}
        </div>
        <div class="form-group">
          {{ form_label(form.title) }}
          {{ form_widget(form.title) }}
          {{ form_errors(form.title) }}
          <small class="form-text text-muted">{{ 'msg.HelpPageTitle'|trans|raw }}</small>
        </div>
      </div>
      {% set navigationTitle = locateFormView(form, 'navigationTitle') %}
      {% if navigationTitle is not null %}
        <div class="checkboxTextFieldCombo">
          <div class="form-group">
            {{ form_widget(locateFormView(form, 'navigationTitleOverwrite')) }}
          </div>
          <div class="form-group">
            {{ form_label(navigationTitle) }}
            {{ form_widget(navigationTitle) }}
            {{ form_errors(navigationTitle) }}
            <small class="form-text text-muted">{{ 'msg.HelpNavigationTitle'|trans|raw }}</small>
          </div>
        </div>
      {% endif %}
    </fieldset>

    <fieldset>
      <legend>{{ 'lbl.MetaInformation'|trans|ucfirst }}</legend>
      <div class="checkboxTextFieldCombo">
        <div class="form-group">
          {{ form_widget(form.descriptionOverwrite) }}
        </div>
        <div class="form-group">
          {{ form_label(form.description) }}
          {{ form_widget(form.description) }}
          {{ form_errors(form.description) }}
          <small class="form-text text-muted">{{ 'msg.HelpMetaDescription'|trans|raw }}</small>
        </div>
      </div>
      <div class="checkboxTextFieldCombo">
        <div class="form-group">
          {{ form_widget(form.keywordsOverwrite) }}
        </div>
        <div class="form-group">
          {{ form_label(form.keywords) }}
          {{ form_widget(form.keywords) }}
          {{ form_errors(form.keywords) }}
          <small class="form-text text-muted">{{ 'msg.HelpMetaKeywords'|trans|raw }}</small>
        </div>
      </div>
      {% if custom_meta_tags %}
        <div class="form-group">
          {{ form_label(form.custom) }}
          {{ form_widget(form.custom) }}
          {{ form_errors(form.custom) }}
          <small class="form-text text-muted">{{ 'msg.HelpMetaCustom'|trans|raw }}</small>
        </div>
      {% endif %}
    </fieldset>

    <fieldset>
      <legend>{{ 'lbl.URL'|trans|ucfirst }}</legend>
      <div class="checkboxTextFieldCombo">
        <div class="form-group">
          {{ form_widget(form.slugOverwrite) }}
          {{ form_label(form.slug) }}
          <div class="d-flex align-items-center">
            <span>{{ form.vars.base_url }}/ </span>{{ form_widget(form.slug) }}
          </div>
          {{ form_errors(form.slug) }}
          <small class="form-text text-muted">{{ 'msg.HelpMetaURL'|trans|raw }}</small>
        </div>
      </div>
      <div class="checkboxTextFieldCombo">
        <div class="form-group">
          {{ form_widget(form.canonicalUrlOverwrite) }}
          {{ form_label(form.canonicalUrl) }}
          {{ form_widget(form.canonicalUrl) }}
          {{ form_errors(form.canonicalUrl) }}
        </div>
      </div>
    </fieldset>

    <fieldset class="last">
      <legend>{{ 'lbl.SEO'|trans|ucfirst }}</legend>
      <div class="row">
        <div class="col-md-6">
          <div class="form-group last">
            <label>{{ 'lbl.Index'|trans|ucfirst }}</label>
            {{ form_widget(form.SEOIndex) }}
          </div>
        </div>
        <div class="col-md-6">
          <div class="form-group">
            <label>{{ 'lbl.Follow'|trans|ucfirst }}</label>
            {{ form_widget(form.SEOFollow) }}
          </div>
        </div>
      </div>
    </fieldset>
  </div>
  <input type="hidden" id="{{ customId }}" value="{{ custom_meta_tags ? '1' : '0' }}">
  <input type="hidden" id="{{ classId }}" value="{{ generate_slug_callback_class }}">
  <input type="hidden" id="{{ methodId }}" value="{{ generate_slug_callback_method }}">
  <input type="hidden" id="{{ parametersId }}" value="{{ generate_slug_callback_parameters }}">
  {{ form_rest(form) }}
{%- endblock meta_widget -%}

{% block fork_image_widget %}
  {% apply spaceless %}
    <div class="row">
      {% set show_preview = show_preview and data is not null and data.fileName is not empty %}
      {% if show_preview or show_remove_image %}
        <div class="form-group{% if show_preview and preview_url %} col-lg-3{% endif %}">
          {% if show_preview and preview_url %}
            <img class="{% if preview_class is defined and preview_class is not empty %}{{ preview_class }}{% endif %}"
                 src="{{ preview_url }}">
          {% endif %}
        </div>
      {% endif %}
      <div class="form-group{% if show_preview and preview_url %} col-lg-9{% endif %}">
        {{ form_widget(form.file) }}
        {% if help_text_message %}
          <div class="form-text text-muted">{{ help_text_message|trans|format(help_text_argument) }}</div>
        {% endif %}
        {{ form_errors(form.file) }}
        {% if show_remove_image %}
          {{ form_widget(form.remove) }}
        {% endif %}
      </div>
    </div>
  {% endapply %}
{% endblock %}

{% block fork_file_widget %}
  {% import '@Backend/base/macros.html.twig' as macro %}
  {% apply spaceless %}
    <div class="form-group">
      {{ form_widget(form.file) }}
      {% if help_text_message %}
        <div class="help-text">{{ help_text_message|trans|format(help_text_argument) }}</div>
      {% endif %}
      {{ form_errors(form.file) }}
    </div>
    {% set show_preview = show_preview and data is not null and data.fileName is not empty %}
    {% if show_preview or show_remove_file %}
      <div class="form-group">
        {% if show_preview and preview_url %}
          <a href="{{ preview_url }}" class="btn btn-sm btn-default" target="_blank" rel="noopener noreferrer">
            {{ macro.icon('eye') }}
            {{ preview_label|trans|ucfirst }}
          </a>
        {% endif %}
        {% if show_remove_file %}
          {{ form_widget(form.remove) }}
        {% endif %}
      </div>
    {% endif %}
  {% endapply %}
{% endblock %}

{% block bootstrap_collection_row %}
  {% apply spaceless %}
    {% import '@Backend/base/macros.html.twig' as macro %}
    {% if prototype is defined %}
      {% set prototype_vars = {} %}
      {% if style is defined %}
        {% set prototype_vars = prototype_vars|merge({'style': style}) %}
      {% endif %}
      {% set prototype_html = form_widget(prototype, prototype_vars) %}
      {% if form.vars.allow_delete or form.vars.allow_sequence %}
        {% set prototype_html = prototype_html ~ '<div class="btn-toolbar ' ~ (form.vars.allow_delete and not form.vars.allow_sequence ? 'justify-content-end' : 'justify-content-between') ~ '">' %}
        {% if form.vars.allow_sequence %}
          {% set prototype_html = prototype_html ~ '<div class="btn-group"><span class="btn btn-sm btn-icon-only btn-default fork-data-grid-sortable" data-role="sequence-handle" aria-hidden="true">' ~ macro.icon('grip-vertical') ~ '</span>' ~ macro.buttonIcon('', 'arrow-up', '', 'btn-default btn-sm', {'type': 'button', 'data-role': 'order-move', 'data-direction': 'up', 'aria-label': 'lbl.MoveUpOnePosition'|trans|ucfirst}, false, true) ~ '' ~ macro.buttonIcon('', 'arrow-down', '', 'btn-default btn-sm', {'type': 'button', 'data-role': 'order-move', 'data-direction': 'down', 'aria-label': 'lbl.MoveDownOnePosition'|trans|ucfirst}, false, true) ~ '</div>' %}
        {% endif %}
        {% if form.vars.allow_delete %}
          {% set prototype_html = prototype_html ~ '<div class="btn-group"><button class="btn btn-sm btn-danger" data-removefield="collection" data-field="__id__">' ~ form.vars.delete_button_text|trans({}, translation_domain)|ucfirst|raw ~ '</button></div>' %}
        {% endif %}
        {% set prototype_html = prototype_html ~ '</div>' %}
      {% endif %}

      {% set attr = attr|merge({'data-prototype': prototype_html }) %}
      {% set attr = attr|merge({'data-prototype-name': prototype_name }) %}
    {% endif %}
    <div {{ block('widget_container_attributes') }}>
      <div class="card card-default">
        <div class="card-heading">
          {{ form_label(form) }}
        </div>
        <ul
          class="list-group js-collection"{% if form.vars.allow_sequence %} data-role="collection-sequence"{% if form.vars.sequence_group %} data-sequence-group="{{ form.vars.sequence_group }}"{% endif %}{% endif %}>
          {% for field in form %}
            <li class="list-group-item">
              {{ form_widget(field) }}
              {{ form_errors(field) }}
              {% if form.vars.allow_delete or form.vars.allow_sequence %}
                <div
                  class="btn-toolbar {{ form.vars.allow_delete and not form.vars.allow_sequence ? 'justify-content-end' : 'justify-content-between' }}">
                  {% if form.vars.allow_sequence %}
                    <div class="btn-group">
                      <span class="btn btn-default btn-icon-only btn-sm fork-data-grid-sortable"
                            data-role="sequence-handle" aria-hidden="true">{{ macro.icon('grip-vertical') }}</span>
                      {{ macro.buttonIcon('', 'arrow-up', '', 'btn-default btn-sm', {'type': 'button', 'data-role': 'order-move', 'data-direction': 'up', 'aria-label': 'lbl.MoveUpOnePosition'|trans|ucfirst}, false, true) }}
                      {{ macro.buttonIcon('', 'arrow-down', '', 'btn-default btn-sm', {'type': 'button', 'data-role': 'order-move', 'data-direction': 'down', 'aria-label': 'lbl.MoveDownOnePosition'|trans|ucfirst}, false, true) }}
                    </div>
                  {% endif %}
                  {% if form.vars.allow_delete %}
                    <div class="btn-group">
                      <button class="btn btn-sm btn-danger" data-removefield="collection"
                              data-field="{{ field.vars.id }}">{{ form.vars.delete_button_text|trans({}, translation_domain)|ucfirst|raw }}</button>
                    </div>
                  {% endif %}
                </div>
              {% endif %}
            </li>
          {% endfor %}
        </ul>
        <div class="card-footer clearfix">
          {% if form.vars.allow_add %}
            <div class="btn-group pull-right">
              <button class="btn btn-success btn-sm" data-addfield="collection" data-collection="{{ form.vars.id }}"
                      data-prototype-name="{{ prototype_name }}">{{ form.vars.add_button_text|trans({}, translation_domain)|ucfirst|raw }}</button>
            </div>
          {% endif %}
          {{ form_errors(form) }}
          {{- form_help(form) -}}
        </div>
      </div>
    </div>
  {% endapply %}
{% endblock bootstrap_collection_row %}

{% block form_row %}
  {%- set widget_attr = {} -%}
  {%- if help is not empty -%}
    {%- set widget_attr = {attr: {'aria-describedby': id ~"_help"}} -%}
  {%- endif -%}
  {%- set row_class = row_class|default(row_attr.class|default('mb-3')|trim) -%}
  <div {% with {attr: row_attr|merge({class: row_class})} %}{{ block('attributes') }}{% endwith %}>
    {%- if 'form-floating' in row_class -%}
      {{- form_widget(form, widget_attr) -}}
      {{- form_label(form) -}}
    {%- else -%}
      {{- form_label(form) -}}
      {{- form_widget(form, widget_attr) -}}
    {%- endif -%}
    {{- form_help(form) -}}
    {% if (not compound or force_error|default(false)) and not valid %}
      {{- form_errors(form) -}}
    {% endif %}
  </div>
{% endblock %}

{% block editor_row %}
  <div
    class="card form-group card-default card-editor{% if (not compound or force_error|default(false)) and not valid %} card-danger{% endif %}">
    <div class="card-heading">
      {{- form_label(form) -}}
    </div>
    <div class="card-body">
      {{- form_widget(form) -}}
    </div>
    {% if (not compound or force_error|default(false)) and not valid %}
      <div class="card-footer">
        {{- form_errors(form) -}}
      </div>
    {% endif %}
  </div>
{% endblock %}

{% block help %}
  {% for attributeName, attributeValue in attr %}
    {% if attributeName == 'help' %}<small class="form-text text-muted">{{ attributeValue|trans }}</small>{% endif %}
  {% endfor %}
{% endblock %}

{%- block collection_row -%}
  <div class="card card-default">
    <div class="card-heading">
      {{- form_label(form) -}}
    </div>
    <div class="card-body">
      {{- form_widget(form) -}}
    </div>
  </div>
{%- endblock collection_row -%}

{% block title_widget %}
  {{- form_widget(form) -}}
  {% set meta = locateFormView(form, 'meta') %}
  {% if meta is not null %}
    {% set slug = meta.children.slug.vars.value %}
    {% if slug == 'home' %}
      <a target="_blank" rel="noopener noreferrer" class="site-url" href="{{ meta.vars.base_url != '/' ? meta.vars.base_url : '' }}">
        {{ SITE_URL }}{{ meta.vars.base_url != '/' ? meta.vars.base_url : '' }}/<span id="generatedSlug"></span>
      </a>
    {% else %}
      <a target="_blank" rel="noopener noreferrer" class="site-url" href="{{ meta.vars.base_url != '/' ? meta.vars.base_url : '' }}/{{ slug }}">
        {{ SITE_URL }}{{ meta.vars.base_url != '/' ? meta.vars.base_url : '' }}/<span id="generatedSlug">{{ slug }}</span>
      </a>
    {% endif %}
  {% endif %}
{% endblock %}

{%- block choice_widget_collapsed -%}
  {%- if required and placeholder is none and not placeholder_in_choices and not multiple and (attr.size is not defined or attr.size <= 1) -%}
    {% set required = false %}
  {%- endif -%}
  <select {{ block('widget_attributes') }}{% if multiple %} multiple="multiple"{% endif %} class="form-select">
    {%- if placeholder is not none -%}
      <option
        value=""{% if required and value is empty %} selected="selected"{% endif %}>{{ placeholder != '' ? (translation_domain is same as(false) ? placeholder : placeholder|trans({}, translation_domain)) }}</option>
    {%- endif -%}
    {%- if preferred_choices|length > 0 -%}
      {% set options = preferred_choices %}
      {{- block('choice_widget_options') -}}
      {%- if choices|length > 0 and separator is not none -%}
        <option disabled="disabled">{{ separator }}</option>
      {%- endif -%}
    {%- endif -%}
    {%- set options = choices -%}
    {{- block('choice_widget_options') -}}
  </select>
{%- endblock choice_widget_collapsed -%}

{% block tags_widget -%}
  {{ form_widget(form) }}
  <small class="form-text text-muted" id="tags-info">{{ 'msg.HelpTextTags'|trans }}</small>
{%- endblock %}

{% block fieldset_row %}
  <fieldset {% with {attr: row_attr} %}{{ block('attributes') }}{% endwith %}>
    {{ form_label(form) }}
    {% if form.vars.help is not empty %}
    <div class="card-body">
      {{ form_help(form) }}
    </div>
    {% endif %}
    {{ form_widget(form) }}
  </fieldset>
{% endblock %}

{% block fieldset_label %}
  {% if label is not same as(false) %}
    {% if label is empty %}
      {% set label = id|trans({}, translation_domain)|ucfirst %}
    {% else %}
      {% set label = label|trans({}, translation_domain)|ucfirst %}
    {% endif %}

    {% set legend_attr = label_attr|merge({'class': label_attr.class|default('') }) %}
    <legend{% for attrname,attrvalue in legend_attr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>{{ label }}</legend>
  {% endif %}
{% endblock %}

{% block tabs_row %}
  <div {{ block('widget_container_attributes') }}>
    {{ form_label(form) }}
    {{ form_widget(form) }}
  </div>
{% endblock %}

{% block tabs_label %}
  <ul class="nav nav-tabs" role="tablist">
    {% for tab in form.children %}
      <li class="nav-item{{ left_tabs_count is not null and left_tabs_count == loop.index ? ' me-auto' : '' }}" role="presentation">
        <button class="nav-link{% if loop.first %} active{% endif %}" id="{{ tab.vars.id }}-tab" data-bs-toggle="tab"
                data-bs-target="#{{ tab.vars.id }}" type="button" role="tab" aria-controls="{{ tab.vars.id }}"
                aria-selected="{{ loop.first ? 'true' : 'false' }}">{{ tab.vars.label|trans|ucfirst }}</button>
      </li>
    {% endfor %}
  </ul>
{% endblock %}

{% block tabs_widget %}
  {{ form_widget(form, {'attr': {'class': 'tab-content'}}) }}
{% endblock %}

{% block tab_row %}
  {%- set tabClass = ' tab-pane fade row' ~ (form.parent.children | keys | first == form.vars.name ? ' show active' : '') -%}
  {{ form_widget(form, {attr: {role:'tabpanel', 'aria-labelledby': form.vars.id ~ '-tab', class: (form.vars.attr.class|default('') ~ tabClass)|trim} }) }}
{% endblock %}

{% block user_group_permission_row %}
  {% import '@Backend/base/macros.html.twig' as macro %}
  <div class="card-group card-group-column" role="tablist" aria-multiselectable="true">
    {% for module, permissions in permissionsByModule %}
      <div class="card card-default card-collapse jsGroupsPermissionsModule">
        <div class="card-heading d-flex align-items-center" role="tab"
             id="permission-heading-{{ form.vars.id }}-{{ module }}">
          <input type="checkbox" data-role="select-all" data-target="{{ form.vars.id }}-{{ module }}"
                 class="dontCheckBeforeUnload">
          <h4 class="card-title mb-0">
            <a class="collapsed" href="#" data-bs-toggle="collapse"
               data-bs-target="#permission-list-{{ form.vars.id }}-{{ module }}" aria-expanded="false">
              {{ macro.icon('caret-down fa-fw') }} {{ module }}
            </a>
          </h4>
        </div>
        <div id="permission-list-{{ form.vars.id }}-{{ module }}" class="card-collapse collapse" role="tabpanel"
             aria-labelledby="permission-heading-{{ form.vars.id }}-{{ module }}">
          <table class="table table-hover table-striped fork-data-grid jsDataGrid">
            <thead>
            <tr>
              <th class="check">&nbsp;</th>
              <th class="name">{{ nameLabel|trans|ucfirst }}</th>
              <th class="description">{{ descriptionLabel|trans|ucfirst }}</th>
            </tr>
            </thead>
            <tbody>
            {% for index, permission in permissions %}
              <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
                {% set checkboxLabel = form.children[index].vars.label %}
                {% set checkboxLabelAttr = form.children[index].vars.label_attr|merge({'for': form.children[index].vars.id}) %}
                {% set checkboxLabelAttr = checkboxLabelAttr|merge({'class': form.children[index].vars.label_attr.class|default('') ~ (form.children[index].vars.required ? ' required' : ' optional') }) %}
                <td
                  class="check">{{ form_widget(form.children[index], {'label':false, 'attr': {'data-select-all-target': form.vars.id ~ '-' ~ module}}) }}</td>
                <td class="name">
                  <label{% for attrname,attrvalue in checkboxLabelAttr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
                  {{ checkboxLabel }}{% if form.children[index].vars.required %}{{- block('label_asterisk') -}}{% endif %}
                  </label>
                </td>
                <td class="description">{{ permission.description }}</td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    {% endfor %}
  </div>
{% endblock %}

{% block user_data_grid_choice_row %}
  {% import '@Backend/base/macros.html.twig' as macro %}
  <table class="table table-hover table-striped fork-data-grid">
    <thead>
    <tr>
      <th class="check">
        <input type="checkbox" data-role="select-all" data-target="{{ form.vars.id }}-users"
                               class="dontCheckBeforeUnload" {% if form.vars.disabled %} disabled {% endif %}></th>
      <th class="name">{{ 'lbl.Email'|trans|ucfirst }}</th>
      <th class="name">{{ 'lbl.DisplayName'|trans|ucfirst }}</th>
    </tr>
    </thead>
    <tbody>
    {% for userCheckbox in form.children %}
      {% set user = possibleUsers[userCheckbox.vars.value] %}
      <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
        <td
          class="check">{{ form_widget(userCheckbox, {label:false, 'attr': {'data-select-all-target': form.vars.id ~ '-users'}}) }}</td>
        <td>
          {% set checkboxLabelAttr = userCheckbox.vars.label_attr|merge({'for': userCheckbox.vars.id}) %}
          {% set checkboxLabelAttr = checkboxLabelAttr|merge({'class': userCheckbox.vars.label_attr.class|default('') ~ (userCheckbox.vars.required ? ' required' : ' optional') }) %}
          <label{% for attrname,attrvalue in checkboxLabelAttr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
          {{ user.email }}
          </label>
        </td>
        <td>
          {% set checkboxLabelAttr = userCheckbox.vars.label_attr|merge({'for': userCheckbox.vars.id}) %}
          {% set checkboxLabelAttr = checkboxLabelAttr|merge({'class': userCheckbox.vars.label_attr.class|default('') ~ (userCheckbox.vars.required ? ' required' : ' optional') }) %}
          <label{% for attrname,attrvalue in checkboxLabelAttr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
          {{ user.displayName }}
          </label>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block user_group_data_grid_choice_row %}
  {% import '@Backend/base/macros.html.twig' as macro %}
  <table class="table table-hover table-striped fork-data-grid">
    <thead>
    <tr>
      <th class="check">
        <input type="checkbox" data-role="select-all" data-target="{{ form.vars.id }}-users"
               class="dontCheckBeforeUnload" {% if form.vars.disabled %} disabled {% endif %}>
      </th>
      <th class="name">{{ 'lbl.Name'|trans|ucfirst }}</th>
    </tr>
    </thead>
    <tbody>
    {% for userGroupCheckbox in form.children %}
      {% set userGroup = possibleGroups[userGroupCheckbox.vars.value] %}
      <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
        <td
          class="check">{{ form_widget(userGroupCheckbox, {label:false, 'attr': {'data-select-all-target': form.vars.id ~ '-userGroups'}}) }}</td>
        <td>
          {% set checkboxLabelAttr = userGroupCheckbox.vars.label_attr|merge({'for': userGroupCheckbox.vars.id}) %}
          {% set checkboxLabelAttr = checkboxLabelAttr|merge({'class': userGroupCheckbox.vars.label_attr.class|default('') ~ (userGroupCheckbox.vars.required ? ' required' : ' optional') }) %}
          <label{% for attrname,attrvalue in checkboxLabelAttr %} {{ attrname }}="{{ attrvalue }}"{% endfor %}>
          {{ userGroup.name }}
          </label>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
{% endblock %}

{% block entity_row %}
  {# fix for entity types in collections #}
  {{ block('choice_row') }}
{% endblock %}

{% block entity_label %}
  {# fix for entity types in collections #}
  {{ block('choice_label') }}
{% endblock %}

{% block entity_widget %}
  {# fix for entity types in collections #}
  {{ block('choice_widget') }}
{% endblock %}

{% block checkbox_text_widget %}
  <div class="input-group">
    <div class="input-group-text">
      {{ form_widget(form.children|first) }}
    </div>
    {{ form_widget(form.children|last) }}
  </div>
{% endblock %}
