{% import '@Backend/base/macros.html.twig' as macro %}

<div class="header">
  <div class="site-info">
    <div class="site-icon-block">
      <img class="site-icon" src="/assets/theme/images/apple-touch-icon.png" alt="Fork CMS logo">
      {% if app.debug %}
        <div class="debug-mode">{{ 'lbl.DebugMode'|trans|upper }}</div>
      {% endif %}
    </div>
    <div class="site-text">
      <p class="site-title">{{ SITE_TITLE }}
        <a class="site-url" data-url="{{ SITE_URL }}" href="{{ SITE_URL }}" target="_blank" rel="noopener noreferrer">
          {{ 'lbl.VisitWebsite'|trans|ucfirst }}
        </a>
      </p>
      {% if SITE_MULTILINGUAL %}
        {% set website_locales = LOCALES|filter(l => l.isEnabledForWebsite) %}
        <div class="nav navbar-nav navbar-languages">
          <span class="working-language d-none d-sm-block me-sm-1">{{ 'lbl.NowEditing'|trans|ucfirst }}</span>
          {% if website_locales|count > 1 %}
            <div class="dropdown">
              <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" id="navbarLanguagesDropdown">
                <span class="dropdown-text">{{ LOCALES[app.request.locale].locale.asTranslatable|trans|ucfirst }}</span>
                <span class="dropdown-angle">{{ macro.icon('angle-right') }}</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarLanguagesDropdown">
                {% for working_locale in LOCALES|filter(l => l.isEnabledForWebsite) %}
                  <a class="dropdown-item{% if working_locale.locale.value == app.request.locale %} active{% endif %}" href="{{ action_path(null, null, {slug: app.request.get('slug')}, false, working_locale.locale.value) }}">
                    {{ working_locale.locale.asTranslatable|trans|ucfirst }}
                  </a>
                {% endfor %}
              </ul>
            </div>
          {% else %}
            <span class="working-language d-none d-sm-block me-sm-1">{{ LOCALES[app.request.locale].locale.asTranslatable|trans|ucfirst }}</span>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>

  <ul class="nav navbar-nav navbar-right navbar-user">
    <li class="nav-item dropdown">
      <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" id="navbarProfileDropdown">
        <img src="{{ '@BackendModuleBackend:images/no-avatar.gif'|imagine_filter('backend_avatar') }}" class="rounded-circle" alt="{{ app.user.username }}"/>
        <span class="dropdown-angle">{{ macro.icon('angle-right') }}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarProfileDropdown">
        {% if is_allowed('UserEdit', 'Backend') %}
          <a class="dropdown-item" href="{{ action_url('UserEdit', 'Backend', {slug: app.user.id}) }}">
            {{ 'lbl.EditProfile'|trans|ucfirst }}
          </a>
        {% endif %}
        <a class="dropdown-item" href="{{ path('backend_logout') }}">{{ 'lbl.SignOut'|trans|ucfirst }}</a>
      </div>
    </li>
  </ul>
</div>

<div data-role="fork-ajax-spinner" class="alert alert-primary d-none" aria-label="{{ 'lbl.Loading'|trans|ucfirst }}">
  <p class="mb-1">{{ 'lbl.Loading'|trans|ucfirst }}...</p>
  <div class="progress w-100">
    <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
