{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block content %}
  {{ form_start(form) }}
  {{ form_row(form.title, {'attr': {'class': 'form-control title'}}) }}

  <div class="row">
    <div class="col-md-8">
      <div id="publishOptions" class="card form-group card-default">
        <div class="card-heading">
          <h2 class="card-title">
            {{ 'lbl.WidgetView'|trans|ucfirst }}{{ macro.required }}
            {{ macro.infoTooltip('msg.WidgetViewsHelp'|trans|ucfirst) }}
          </h2>
        </div>
        <div class="card-body">
          <div class="form-group last">
            {{ form_widget(form.action) }}
            {{ form_errors(form.action) }}
          </div>
        </div>
      </div>

      {{ form_widget(form.mediaGroup) }}

      {{ form_row(form.text) }}
    </div>
    <div class="col-md-4">
      <div class="card card-default">
        <div class="card-heading">
          <h2 class="card-title">{{ form_label(form.status) }}</h2>
        </div>
        <div class="card-body">
          <div class="form-group">
            {{ form_widget(form.status) }}
            {{ form_errors(form.status) }}
          </div>
        </div>
      </div>
    </div>

  </div>

  <div class="fork-module-actions">
    <div class="btn-toolbar">
      <div class="btn-group" role="group">
        {{ macro.buttonIcon(geturl('MediaGalleryIndex'), 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default') }}
      </div>
      <div class="btn-group ms-auto" role="group">
        {{ macro.buttonIcon('', 'plus-square', 'lbl.Add'|trans|ucfirst, 'btn-primary', { "type":"submit", "id":"addButton", "name":"add"} ) }}
      </div>
    </div>
  </div>
  {{ form_end(form) }}
{% endblock %}
