{% extends 'Core/Layout/Templates/Mails/Default.html.twig' %}

{% block main %}
  <p>
    {{ message|raw }}
  </p>
  <h3>{{ 'lbl.SenderInformation'|trans|ucfirst }}</h3>
  <p>
    <strong>{{ 'lbl.SentOn'|trans|ucfirst }}:</strong><br />
    {{ sentOn|spoondate(dateFormatLong, LANGUAGE) }}
  </p>
  {% if email_data %}
    <h3>{{ 'lbl.Content'|trans|ucfirst }}</h3>
    {% for field in fields %}
      <p><strong>{{ field.label }}:</strong><br /> {{ field.value|raw }}</p>
    {% endfor %}
  {% endif %}
{% endblock %}
