{% extends 'Core/Layout/Templates/Mails/Default.html.twig' %}

{% block main %}
  <h2>{{ SITE_TITLE }}: {{ 'msg.FormBuilderSubject'|trans|format(name) }}</h2>
  <hr />
  <h3>{{ 'lbl.SenderInformation'|trans|ucfirst }}</h3>
  <p>
    <strong>{{ 'lbl.SentOn'|trans|ucfirst }}:</strong><br />
    {{ sentOn|spoondate(dateFormatLong, LANGUAGE) }}
  </p>

  <h3>{{ 'lbl.Content'|trans|ucfirst }}</h3>
  {% for field in fields %}
    <p><strong>{{ field.label }}:</strong><br /> {{ field.value }}</p>
  {% endfor %}
{% endblock %}
