{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}
  <div class="btn-toolbar justify-content-end">
    <div class="btn-group" role="group">
      {% if isAllowedAction('Index') %}
        {{ macro.buttonIcon( geturl('index'), 'list', 'lbl.Overview'|trans|ucfirst) }}
      {% endif %}
      {% if isAllowedAction('ExportData') %}
        {{ macro.buttonIcon( geturl('export_data') ~ '&id=' ~ id  ~ '&start_date=' ~ start_date ~ '&end_date=' ~ end_date, 'download', 'lbl.Export'|trans|ucfirst) }}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  {% form filter %}
    <div class="card card-default">
      <div class="card-body">
        {% form_field id %}
        <div class="row">
          <div class="col-md-4">
            <div class="form-group">
              <label for="startDate" class="control-label">{{ 'lbl.StartDate'|trans|ucfirst }}</label>
              {% form_field start_date %} {% form_field_error start_date %}
            </div>
          </div>
          <div class="col-md-4">
            <div class="form-group">
              <label for="endDate" class="control-label">{{ 'lbl.EndDate'|trans|ucfirst }}</label>
              {% form_field end_date %} {% form_field_error end_date %}
            </div>
          </div>
        </div>
      </div>
      <div class="card-footer">
        <div class="btn-toolbar">
          <div class="btn-group pull-right">
            {{ macro.buttonIcon('', 'sync', 'lbl.UpdateFilter'|trans|ucfirst, 'btn-primary', { "id":"search", "type":"submit", "name":"search" }) }}
          </div>
        </div>
      </div>
    </div>
  {% endform %}
  {% if dataGrid %}
    <form action="{{ geturl('mass_data_action') }}" method="get" class="forkForms">
      <input type="hidden" name="form_id" value="{{ id }}">
      <input type="hidden" name="token" value="{{ fork_csrf_token }}">
      {{ dataGrid|raw }}
      <div class="modal fade" id="confirmDelete" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmDeleteTitle">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="confirmDeleteTitle">{{ 'lbl.Delete'|trans|ucfirst }}</h4>
            </div>
            <div class="modal-body">
              <p>{{ 'msg.ConfirmMassDelete'|trans|ucfirst }}</p>
            </div>
            <div class="modal-footer">
              {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
              {{ macro.buttonIcon('', 'trash', 'lbl.Delete'|trans|ucfirst, 'btn-danger', { "type":"submit" } ) }}
              </button>
            </div>
          </div>
        </div>
      </div>
    </form>
  {% endif %}
  {% if not dataGrid %}
    <p>{{ 'msg.NoData'|trans|ucfirst }}</p>
  {% endif %}
{% endblock %}
