{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form edit %}
  <script type="text/javascript">
    //@todo why data comes not from action?
    //<![CDATA[
    var defaultErrorMessages = {};
    {% if errors %}
    {% for error in errors %}
    defaultErrorMessages.{{ error.type }} = '{{ error.message }}';
    {% endfor %}
    {% endif %}
    //]]>
  </script>
  <input type="hidden" name="id" id="formId" value="{{ id }}" />
  <div>
    <ul class="nav nav-tabs" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" href="#tabGeneral" aria-controls="tabGeneral" role="tab" data-bs-toggle="tab" aria-selected="true" id="general-tab">{{ 'lbl.General'|trans|ucfirst }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#tabFields" aria-controls="tabFields" role="tab" data-bs-toggle="tab" aria-selected="false" id="field-tab">{{ 'lbl.Fields'|trans|ucfirst }}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#tabExtra" aria-controls="tabExtra" role="tab" data-bs-toggle="tab" aria-selected="false" id="extra-tab">{{ 'lbl.Extra'|trans|ucfirst }}</a>
      </li>
    </ul>
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane show active" id="tabGeneral" aria-labelledby="general-tab">
        <div class="row">
          <div class="col-lg-6">
            <div class="card card-default">
              <div class="card-heading">
                <h2 class="card-title">
                  {{ 'lbl.Status'|trans|ucfirst }}
                </h2>
              </div>
              <div class="card-body">
                <div class="form-group">
                  <label for="name" class="control-label">
                    {{ 'lbl.Name'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  {% form_field name %} {% form_field_error name %}
                </div>
                <div class="form-group">
                  <label for="method" class="control-label">
                    {{ 'lbl.Method'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  {% form_field method %} {% form_field_error method %}
                </div>
                <div class="form-group">
                  <label for="EmailSubject" class="control-label">
                    {{ 'lbl.EmailSubject'|trans|ucfirst }}
                  </label>
                  {% form_field email_subject %} {% form_field_error email_subject %}
                </div>
                {% if ddmTemplate %}
                  <div class="form-group">
                    <label for="template" class="control-label">{{ 'lbl.Template'|trans|ucfirst }}</label>
                    {% form_field template %} {% form_field_error template %}
                  </div>
                {% endif %}
                <div class="form-group">
                  <label for="email" class="control-label">
                    {{ 'lbl.Recipient'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  {% form_field email %} {% form_field_error email %}
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="card card-default">
              <div class="card-heading">
                <label for="successPage" class="control-label">
                  {{ 'lbl.SuccessPage'|trans|ucfirst }}
                </label>
              </div>
              <div class="card-body">
                <div class="form-group last">
                  {% for option in success_type %}
                    <div class="form-check">
                      {{ option.rbtSuccessType|raw }}
                      <label class="form-check-label" for="{{ option.id }}">{{ option.label }}</label>
                    </div>
                  {% endfor %}
                </div>
              </div>
            </div>
            <div class="card card-default card-editor" data-role="success-message">
              <div class="card-heading">
                <label for="successMessage" class="control-label">
                  {{ 'lbl.SuccessMessage'|trans|ucfirst }}
                  {{ macro.required }}<br>
                </label>
              </div>
              <div class="card-body">
                {% form_field success_message %}
              </div>
              {% if txtSuccessMessageError %}
                <div class="card-footer">
                  {% form_field_error success_message %}
                </div>
              {% endif %}
            </div>
            <div class="card card-default d-none" data-role="success-page">
              <div class="card-heading">
                <label for="successPage" class="control-label">
                  {{ 'lbl.SuccessPage'|trans|ucfirst }}
                </label>
              </div>
              <div class="card-body">
                <label for="successPage" class="control-label">{{ 'lbl.SelectConfirmationPage'|trans|ucfirst }}</label>
                {% form_field success_page %}{% form_field_error success_page %}
              </div>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="tabFields" aria-labelledby="field-tab">
        <div class="fork-module-messages">
          {{ macro.alert('warning', 'msg.ImportantImmediateUpdate'|trans|raw, null, null, {'class': 'toast-xs'}) }}

          {% if recaptchaMissing %}
            {{ macro.alert('warning', 'msg.RecaptchaKeysMissing'|trans|format(geturl('Index','Settings'))|raw, null, null, {'class': 'toast-xs'}) }}
          {% endif %}
        </div>
        <div class="row">
          <div class="col-lg-8">
            <div class="card card-default card-editor">
              <div class="card-heading">
                <h2 class="card-title">
                  {{ 'lbl.Preview'|trans|ucfirst }}
                </h2>
              </div>
              <div id="fieldsHolder" class="card-body" data-sequence-drag-and-drop="fields-formbuilder">
                {% if fields %}
                  {% for field in fields %}
                    {{ field.field|raw }}
                  {% endfor %}
                {% endif %}

                {# This row always needs to be here. We show/hide it with javascript #}
                <div class="form-group field" {% if fields %} style="display: none;"{% endif %}>
                  {{ macro.alert('info', 'msg.NoFields'|trans, null, null, {'class': 'toast-xs'}) }}
                </div>

                {# Submit button is always here. Cannot be deleted or moved. #}
                <div class="form-group field field-submit">
                  <div class="row">
                    <div class="col-md-8 d-flex">
                      <div class="btn-group ms-auto" role="group">
                        {{ btnSubmitField|raw }}
                      </div>
                    </div>
                    <div class="col-md-4 d-flex">
                      <div class="btn-group ms-auto" role="group">
                        {{ macro.buttonIcon('', 'pencil-alt fa-fw', 'lbl.Edit'|trans|ucfirst, 'btn-secondary jsFieldEdit', {"data-field-id": submitId}, false, true) }}
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4">
            <div id="formElements" class="card card-default">
              <div class="card-heading">
                <h2 class="card-title">
                  {{ 'lbl.AddFields'|trans|ucfirst }}
                </h2>
              </div>
              <div class="card-body">
                <div class="list-group list-group-flush first">
                  <h5>{{ 'lbl.FormElements'|trans|ucfirst }}</h5>
                  <button id="textboxSelector" data-field-id="textboxDialog" class="list-group-item jsFieldDialogTrigger">
                    <img class="icon" src="{{ SITE_URL }}/src/Backend/Modules/FormBuilder/Layout/images/icon-textbox.svg" alt="textbox">{{ 'lbl.Textbox'|trans|ucfirst }}
                  </button>
                  <button id="textareaSelector" data-field-id="textareaDialog" class="list-group-item jsFieldDialogTrigger">
                    <img class="icon" src="{{ SITE_URL }}/src/Backend/Modules/FormBuilder/Layout/images/icon-textarea.svg" alt="textarea">{{ 'lbl.Textarea'|trans|ucfirst }}
                  </button>
                  <button id="datetimeSelector" data-field-id="datetimeDialog" class="list-group-item jsFieldDialogTrigger">
                    {{ macro.icon('calendar fa-fw') }}{{ 'lbl.Datetime'|trans|ucfirst }}
                  </button>
                  <button id="dropdownSelector" data-field-id="dropdownDialog" class="list-group-item jsFieldDialogTrigger">
                    <img class="icon" src="{{ SITE_URL }}/src/Backend/Modules/FormBuilder/Layout/images/icon-dropdown.svg" alt="dropdown">{{ 'lbl.Dropdown'|trans|ucfirst }}
                  </button>
                  <button id="checkboxSelector" data-field-id="checkboxDialog" class="list-group-item jsFieldDialogTrigger">
                    {{ macro.icon('check-square fa-fw') }}{{ 'lbl.Checkbox'|trans|ucfirst }}
                  </button>
                  <button id="radiobuttonSelector" data-field-id="radiobuttonDialog" class="list-group-item jsFieldDialogTrigger">
                    {{ macro.icon('dot-circle fa-fw') }}{{ 'lbl.Radiobutton'|trans|ucfirst }}
                  </button>
                  <button id="recaptchaSelector" class="list-group-item jsRecaptchaTrigger">
                    {{ macro.icon('redo-alt fa-fw') }}{{ 'lbl.Recaptcha'|trans|ucfirst }}
                  </button>
                  {% if showMailmotorOption %}
                    <button id="mailmotorSelector" data-field-id="mailmotorDialog" class="list-group-item jsFieldDialogTrigger">
                      {{ macro.icon('envelope fa-fw') }}{{ 'lbl.Mailmotor'|trans|ucfirst }}
                    </button>
                  {% endif %}
                </div>
                <div class="list-group">
                  <h5>{{ 'lbl.TextElements'|trans|ucfirst }}</h5>
                  <button id="headingSelector" data-field-id="headingDialog" class="list-group-item jsFieldDialogTrigger">
                    {{ macro.icon('heading fa-fw') }}{{ 'lbl.Heading'|trans|ucfirst }}
                  </button>
                  <button id="paragraphSelector" data-field-id="paragraphDialog" class="list-group-item jsFieldDialogTrigger">
                    {{ macro.icon('paragraph fa-fw') }}{{ 'lbl.Paragraph'|trans|ucfirst }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane" id="tabExtra" aria-labelledby="extra-tab">
        <label for="identifier" class="control-label">
          {{ 'lbl.Identifier'|trans|ucfirst }}
          {{ macro.infoTooltip('msg.HelpIdentifier'|trans|ucfirst) }}
        </label>
        {% form_field identifier %} {% form_field_error identifier %}
      </div>
    </div>
  </div>
  <div class="fork-page-actions">
    <div class="btn-toolbar d-flex">
      <div class="btn-group" role="group">
        {% if isAllowedAction('Delete') %}
          {{ macro.buttonIcon('', 'trash-alt', 'lbl.Delete'|trans|ucfirst, 'btn-danger', { "data-bs-toggle":"modal", "data-bs-target":"#confirmDelete", "type":"button" } ) }}
        {% endif %}
        {{ macro.buttonIcon(geturl('Index'), 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default') }}
      </div>
      <div class="btn-group ms-auto" role="group">
        {{ macro.buttonIcon('', 'save', 'lbl.Save'|trans|ucfirst, 'btn-primary', { "id":"editButton", "name":"edit", "type":"submit" } ) }}
      </div>
    </div>
  </div>
  {# Dialog for a textbox #}

  <div class="modal fade jsFieldDialog" id="textboxDialog" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="textboxDialogTitle">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="textboxDialogTitle">{{ 'lbl.Textbox'|trans|ucfirst }}</h4>
        </div>
        <div class="modal-body">
          <input type="hidden" name="textbox_id" id="textboxId" value="" />
          <ul class="nav nav-tabs" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#tabTextboxBasic" aria-controls="tabTextboxBasic" role="tab" data-bs-toggle="tab" aria-selected="true" id="textbox-basic-tab">{{ 'lbl.Basic'|trans|ucfirst }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tabTextboxProperties" aria-controls="tabTextboxProperties" role="tab" data-bs-toggle="tab" aria-selected="false" id="textbox-prop-tab">{{ 'lbl.Properties'|trans|ucfirst }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tabTextboxAdvanced" aria-controls="tabTextboxAdvanced" role="tab" data-bs-toggle="tab" aria-selected="false" id="textbox-advanced-tab">{{ 'lbl.Advanced'|trans|ucfirst }}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane jsFieldTab active" id="tabTextboxBasic" aria-labelledby="textbox-basic-tab">
              <div class="form-group">
                <label for="textboxLabel" class="control-label">
                  {{ 'lbl.Label'|trans|ucfirst }}
                  {{ macro.required }}
                </label>
                <p id="textboxLabelError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                {% form_field textbox_label %}
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabTextboxProperties" aria-labelledby="textbox-prop-tab">
              <div class="form-group">
                <label for="textboxValue" class="control-label">{{ 'lbl.DefaultValue'|trans|ucfirst }}</label>
                {% form_field textbox_value %}
              </div>
              <div class="form-group">
                <div class="form-check">
                  {% form_field textbox_reply_to %}
                  <label for="textboxReplyTo" class="form-check-label">
                    {{ 'lbl.ReplyTo'|trans|ucfirst }} {{ macro.infoTooltip('msg.HelpReplyTo'|trans) }}
                  </label>
                </div>
              </div>
              {% if showMailmotorOption %}
                <div class="form-group">
                  <ul class="list-unstyled">
                    <li class="checkbox">
                      <label for="textboxMailmotor" class="control-label">
                        {% form_field textbox_mailmotor %} {{ 'lbl.Mailmotor'|trans|ucfirst }}
                        {{ macro.infoTooltip('msg.HelpMailmotor'|trans) }}
                      </label>
                    </li>
                  </ul>
                </div>
              {% endif %}
              <div class="form-group">
                <div class="form-check">
                  {% form_field textbox_send_confirmation_mail_to %}
                  <label for="textboxSendConfirmationMailTo" class="form-check-label">
                    {{ 'lbl.SendConfirmationMailTo'|trans|ucfirst }}
                  </label>
                </div>
              </div>
              <div class="form-group">
                <label for="textboxConfirmationMailSubject" class="control-label">
                  {{ 'lbl.ConfirmationMailSubject'|trans|ucfirst }}
                </label>
                {% form_field textbox_confirmation_mail_subject %}
                <p id="textboxConfirmationMailSubjectErrorMessageError" class="invalid-feedback jsFieldError" style="display: none;"></p>
              </div>
              <div class="jsValidation">
                <div class="form-group">
                  <div class="form-check">
                    {% form_field textbox_required %}
                    <label for="textboxRequired" class="form-check-label">
                      {{ 'lbl.RequiredField'|trans|ucfirst }}
                    </label>
                    {% form_field textbox_confirmation_mail_subject %}
                    <p id="textboxConfirmationMailSubjectErrorMessageError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                  </div>
                  <div class="form-group">
                    <label for="textboxConfirmationMailMessage" class="control-label">
                      {{ 'lbl.ConfirmationMailMessage'|trans|ucfirst }}
                    </label>
                    {% form_field textbox_confirmation_mail_message %}
                    <p id="textboxConfirmationMailMessageErrorMessageError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                  </div>
                  <div class="jsValidation">
                    <div class="form-group">
                      <div class="form-check">
                        {% form_field textbox_required %}
                        <label for="textboxRequired" class="form-check-label">
                          {{ 'lbl.RequiredField'|trans|ucfirst }}
                        </label>
                      </div>
                    </div>
                    <div class="form-group jsValidationRequiredErrorMessage" style="display: none;">
                      <label for="textboxRequiredErrorMessage" class="control-label">
                        {{ 'lbl.ErrorMessage'|trans|ucfirst }}
                        {{ macro.required }}
                      </label>
                      <p id="textboxRequiredErrorMessageError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                      {% form_field textbox_required_error_message %}
                    </div>
                  </div>
                  <div class="jsValidation">
                    <div class="form-group">
                      <label for="textboxValidation" class="control-label">{{ 'lbl.Validation'|trans|ucfirst }}</label>
                      {% form_field textbox_validation %}
                    </div>
                    <p id="textboxReplyToErrorMessageError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                    <p id="textboxMailmotorErrorMessageError" class="text-danger jsFieldError" style="display: none;"></p>
                    <p id="textboxSendConfirmationMailToErrorMessageError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                    <div class="form-group jsValidationParameter" style="display: none;">
                      <label for="textboxValidationParameter" class="control-label">
                        {{ 'lbl.Parameter'|trans|ucfirst }}
                        {{ macro.required }}
                      </label>
                      {% form_field textbox_validation_parameter %}
                    </div>
                    <div class="form-group jsValidationErrorMessage" style="display: none;">
                      <label for="textareaErrorMessage" class="control-label">
                        {{ 'lbl.ErrorMessage'|trans|ucfirst }}
                        {{ macro.required }}
                      </label>
                      <p id="textboxErrorMessageError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                      {% form_field textbox_error_message %}
                    </div>
                  </div>
                  <div class="form-group">
                    <label for="textboxAutocomplete" class="control-label">{{ 'lbl.Autocomplete'|trans|ucfirst }}</label>
                    {% form_field textbox_autocomplete %}
                  </div>
                </div>
                <div class="form-group jsValidationRequiredErrorMessage" style="display: none;">
                  <label for="textboxRequiredErrorMessage" class="control-label">
                    {{ 'lbl.ErrorMessage'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  <p id="textboxRequiredErrorMessageError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                  {% form_field textbox_required_error_message %}
                </div>
              </div>
              <div class="jsValidation">
                <div class="form-group">
                  <label for="textboxValidation" class="control-label">{{ 'lbl.Validation'|trans|ucfirst }}</label>
                  {% form_field textbox_validation %}
                </div>
                <p id="textboxReplyToErrorMessageError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                <p id="textboxMailmotorErrorMessageError" class="text-danger jsFieldError" style="display: none;"></p>
                <p id="textboxSendConfirmationMailToErrorMessageError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                <div class="form-group jsValidationParameter" style="display: none;">
                  <label for="textboxValidationParameter" class="control-label">
                    {{ 'lbl.Parameter'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  {% form_field textbox_validation_parameter %}
                </div>
                <div class="form-group jsValidationErrorMessage" style="display: none;">
                  <label for="textareaErrorMessage" class="control-label">
                    {{ 'lbl.ErrorMessage'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  <p id="textboxErrorMessageError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                  {% form_field textbox_error_message %}
                </div>
              </div>
              <div class="form-group">
                <label for="textboxAutocomplete" class="control-label">{{ 'lbl.Autocomplete'|trans|ucfirst }}</label>
                {% form_field textbox_autocomplete %}
              </div>
            </div>
            <div role="tabpanel" class="tab-pane jsFieldTab" id="tabTextboxAdvanced" aria-labelledby="textbox-advanced-tab">
              <div class="form-group">
                <label for="textboxPlaceholder" class="control-label">{{ 'lbl.Placeholder'|trans|ucfirst }}</label>
                {% form_field textbox_placeholder %}
              </div>
              <div class="form-group">
                <label for="textboxClassname" class="control-label">{{ 'lbl.Classname'|trans|ucfirst }}</label>
                {% form_field textbox_classname %}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
  	  	  {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
  	  	  {{ macro.buttonIcon('', 'save', 'lbl.Save'|trans|ucfirst, 'btn-primary jsFieldDialogSubmit', { "type":"button", "id":"textboxDialogSubmit"} ) }}
        </div>
      </div>
    </div>
  </div>

  {# Dialog for a textarea #}
  <div class="modal fade jsFieldDialog" id="textareaDialog" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="textareaDialogTitle">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="textareaDialogTitle">{{ 'lbl.Textarea'|trans|ucfirst }}</h4>
        </div>
        <div class="modal-body">
          <input type="hidden" name="textarea_id" id="textareaId" value="" />
          <ul class="nav nav-tabs jsFieldTabsNav" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#tabTextareaBasic" aria-controls="tabTextareaBasic" role="tab" data-bs-toggle="tab" aria-selected="true" id="textarea-basic-tab">{{ 'lbl.Basic'|trans|ucfirst }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tabTextareaProperties" aria-controls="tabTextareaProperties" role="tab" data-bs-toggle="tab" aria-selected="false" id="textarea-prop-tab">{{ 'lbl.Properties'|trans|ucfirst }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tabTextareaAdvanced" aria-controls="tabTextareaAdvanced" role="tab" data-bs-toggle="tab" aria-selected="false" id="textarea-advanced-tab">{{ 'lbl.Advanced'|trans|ucfirst }}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane jsFieldTab active" id="tabTextareaBasic" aria-labelledby="textarea-basic-tab">
              <div class="form-group">
                <label for="textareaLabel" class="control-label">
                  {{ 'lbl.Label'|trans|ucfirst }}
                  {{ macro.required }}
                </label>
                <p id="textareaLabelError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                {% form_field textarea_label %}
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabTextareaProperties" aria-labelledby="textarea-prop-tab">
              <div class="form-group">
                <label for="textareaValue" class="control-label">{{ 'lbl.DefaultValue'|trans|ucfirst }}</label>
                {% form_field textarea_value %}
              </div>
              <div class="jsValidation">
                <div class="form-group">
                  <div class="form-check">
                    {% form_field textarea_required %}
                    <label for="textareaRequired" class="form-check-label">{{ 'lbl.RequiredField'|trans|ucfirst }}</label>
                  </div>
                </div>
                <div class="form-group jsValidationRequiredErrorMessage" style="display: none;">
                  <label for="textareaRequiredErrorMessage" class="control-label">
                    {{ 'lbl.ErrorMessage'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  <p id="textareaRequiredErrorMessageError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                  {% form_field textarea_required_error_message %}
                </div>
              </div>
              <div class="jsValidation" style="display: none;">
                <div class="form-group">
                  <label for="textareaValidation" class="control-label">{{ 'lbl.Validation'|trans|ucfirst }}</label>
                  {% form_field textarea_validation %}
                </div>
                <div class="form-group jsValidationParameter" style="display: none;">
                  <label for="textareaValidationParameter" class="control-label">
                    {{ 'lbl.Parameter'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  {% form_field textarea_validation_parameter %}
                </div>
                <div class="form-group jsValidationErrorMessage" style="display: none;">
                  <label for="textareaErrorMessage" class="control-label">
                    {{ 'lbl.ErrorMessage'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  <p id="textareaErrorMessageError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                  {% form_field_error textarea_error_message %}
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane jsFieldTab" id="tabTextareaAdvanced" aria-labelledby="textarea-advanced-tab">
              <div class="form-group">
                <label for="textareaPlaceholder" class="control-label">{{ 'lbl.Placeholder'|trans|ucfirst }}</label>
                {% form_field textarea_placeholder %}
              </div>
              <div class="form-group">
                <label for="textareaClassname" class="control-label">{{ 'lbl.Classname'|trans|ucfirst }}</label>
                {% form_field textarea_classname %}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
  	  	  {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
  	  	  {{ macro.buttonIcon('', 'save', 'lbl.Save'|trans|ucfirst, 'btn-primary jsFieldDialogSubmit', { "type":"button", "id":"textboxDialogSubmit"} ) }}
        </div>
      </div>
    </div>
  </div>

  {# Dialog for a datetime #}
  <div class="modal fade jsFieldDialog" id="datetimeDialog" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="datetimeDialogTitle">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="datetimeDialogTitle">{{ 'lbl.Datetime'|trans|ucfirst }}</h4>
        </div>
        <div class="modal-body">
          <input type="hidden" name="datetime_id" id="datetimeId" value="" />
          <ul class="nav nav-tabs jsFieldTabsNav" role="tablist">
            <li class="nav-item active">
              <a class="nav-link" href="#tabDatetimeBasic" aria-controls="tabDatetimeBasic" role="tab" data-bs-toggle="tab" aria-selected="true" id="datetime-basic-tab">{{ 'lbl.Basic'|trans|ucfirst }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tabDatetimeProperties" aria-controls="tabDatetimeProperties" role="tab" data-bs-toggle="tab" aria-selected="false" id="datetime-prop-tab">{{ 'lbl.Properties'|trans|ucfirst }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tabDatetimeAdvanced" aria-controls="tabDatetimeAdvanced" role="tab" data-bs-toggle="tab" aria-selected="false" id="datetime-adv-tab">{{ 'lbl.Advanced'|trans|ucfirst }}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane jsFieldTab active" id="tabDatetimeBasic" aria-labelledby="datetime-basic-tab">
              <div class="form-group">
                <label for="datetimeLabel" class="control-label">
                  {{ 'lbl.Label'|trans|ucfirst }}
                  {{ macro.required }}
                </label>
                <p id="datetimeLabelError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                {% form_field datetime_label %}
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabDatetimeProperties" aria-labelledby="datetime-prop-tab">
              <div class="form-group jsDefaultValue">
                <label for="datetimeValue" class="control-label">{{ 'lbl.DefaultValue'|trans|ucfirst }}</label>
                <div class="d-flex align-items-center">
                  {% form_field datetime_value_amount %} {% form_field datetime_value_type %}
                </div>
              </div>
              <div class="jsValidation">
                <div class="form-group">
                  <div class="form-check">
                    {% form_field datetime_required %}
                    <label for="datetimeRequired" class="form-check-label">{{ 'lbl.RequiredField'|trans|ucfirst }}</label>
                  </div>
                </div>
                <div class="form-group jsValidationRequiredErrorMessage" style="display: none;">
                  <label for="datetimeRequiredErrorMessage" class="control-label">
                    {{ 'lbl.ErrorMessage'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  <p id="datetimeRequiredErrorMessageError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                  {% form_field datetime_required_error_message %}
                </div>
              </div>
              <div>
                <div class="form-group">
                  <label for="datetimeType" class="control-label">{{ 'lbl.Type'|trans|ucfirst }}</label>
                  {% form_field datetime_type %}
                </div>
              </div>
              <div class="jsValidation">
                <div class="form-group" style="display: none;">
                  <label for="datetimeValidation" class="control-label">{{ 'lbl.Validation'|trans|ucfirst }}</label>
                  {% form_field datetime_validation %}
                </div>
                <div class="form-group jsValidationErrorMessage" style="display: none;">
                  <label for="datetimeErrorMessage" class="control-label">
                    {{ 'lbl.ErrorMessage'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  <p id="datetimeErrorMessageError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                  {% form_field datetime_error_message %}
                </div>
              </div>
              <div class="form-group">
                <label for="datetimeAutocomplete" class="control-label">{{ 'lbl.Autocomplete'|trans|ucfirst }}</label>
                {% form_field datetime_autocomplete %}
              </div>
            </div>
            <div role="tabpanel" class="tab-pane jsFieldTab" id="tabDatetimeAdvanced" aria-labelledby="datetime-adv-tab">
              <div class="form-group">
                <label for="datetimeClassname" class="control-label">{{ 'lbl.Classname'|trans|ucfirst }}</label>
                {% form_field datetime_classname %}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
  	  	  {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
  	  	  {{ macro.buttonIcon('', 'save', 'lbl.Save'|trans|ucfirst, 'btn-primary jsFieldDialogSubmit', { "type":"button", "id":"textboxDialogSubmit"} ) }}
        </div>
      </div>
    </div>
  </div>

  {# Dialog for a dropdown #}
  <div class="modal fade jsFieldDialog" id="dropdownDialog" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="dropdownDialogTitle">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="dropdownDialogTitle">{{ 'lbl.Dropdown'|trans|ucfirst }}</h4>
        </div>
        <div class="modal-body">
          <input type="hidden" name="dropdown_id" id="dropdownId" value="" />
          <ul class="nav nav-tabs jsFieldTabsNav" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#tabDropdownBasic" aria-controls="tabDropdownBasic" role="tab" data-bs-toggle="tab" aria-selected="true" id="dropdown-basic-tab">{{ 'lbl.Basic'|trans|ucfirst }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tabDropdownProperties" aria-controls="tabDropdownProperties" role="tab" data-bs-toggle="tab" aria-selected="false" id="dropdown-prop-tab">{{ 'lbl.Properties'|trans|ucfirst }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tabDropdownAdvanced" aria-controls="tabDropdownAdvanced" role="tab" data-bs-toggle="tab" aria-selected="false" id="dropdown-adv-tab">{{ 'lbl.Advanced'|trans|ucfirst }}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane jsFieldTab active" id="tabDropdownBasic" aria-labelledby="dropdown-basic-tab">
              <div class="form-group">
                <label for="dropdownLabel" class="control-label">
                  {{ 'lbl.Label'|trans|ucfirst }}
                  {{ macro.required }}
                </label>
                <p id="dropdownLabelError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                {% form_field dropdown_label %}
              </div>
              <div class="form-group">
                <label for="checkboxValues" class="control-label">{{ 'lbl.Values'|trans|ucfirst }}</label>
                <p id="dropdownValuesError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                {% form_field dropdown_values %} {% form_field_error dropdown_values %}
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabDropdownProperties" aria-labelledby="dropdown-prop-tab">
              <div class="form-group">
                <label for="dropdownDefaultValue" class="control-label">{{ 'lbl.DefaultValue'|trans|ucfirst }}</label>
                {% form_field dropdown_default_value %}
              </div>
              <div class="jsValidation">
                <div class="form-group">
                  <ul class="form-check">
                    {% form_field dropdown_required %}
                    <label for="dropdownRequired" class="form-check-label">{{ 'lbl.RequiredField'|trans|ucfirst }}</label>
                  </ul>
                </div>
                <div class="form-group jsValidationRequiredErrorMessage" style="display: none;">
                  <label for="dropdownRequiredErrorMessage" class="control-label">
                    {{ 'lbl.ErrorMessage'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  <p id="dropdownRequiredErrorMessageError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                  {% form_field dropdown_required_error_message %}
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane jsFieldTab" id="tabDropdownAdvanced" aria-labelledby="dropdown-adv-tab">
              <div class="form-group">
                <label for="dropdownClassname" class="control-label">{{ 'lbl.Classname'|trans|ucfirst }}</label>
                {% form_field dropdown_classname %}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
  	  	  {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
  	  	  {{ macro.buttonIcon('', 'save', 'lbl.Save'|trans|ucfirst, 'btn-primary jsFieldDialogSubmit', { "type":"button", "id":"textboxDialogSubmit"} ) }}
        </div>
      </div>
    </div>
  </div>

  {# Dialog for a radiobutton #}
  <div class="modal fade jsFieldDialog" id="radiobuttonDialog" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="radiobuttonDialogTitle">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="radiobuttonDialogTitle">{{ 'lbl.Radiobutton'|trans|ucfirst }}</h4>
        </div>
        <div class="modal-body">
          <input type="hidden" name="radiobutton_id" id="radiobuttonId" value="" />
          <ul class="nav nav-tabs jsFieldTabsNav" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#tabRadiobuttonBasic" aria-controls="tabRadiobuttonBasic" role="tab" data-bs-toggle="tab" aria-selected="true" id="radio-basic-tab">{{ 'lbl.Basic'|trans|ucfirst }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tabRadiobuttonProperties" aria-controls="tabRadiobuttonProperties" role="tab" data-bs-toggle="tab" aria-selected="false" id="radio-prop-tab">{{ 'lbl.Properties'|trans|ucfirst }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tabRadiobuttonAdvanced" aria-controls="tabRadiobuttonAdvanced" role="tab" data-bs-toggle="tab" aria-selected="false" id="radio-adv-tab">{{ 'lbl.Advanced'|trans|ucfirst }}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane jsFieldTab active" id="tabRadiobuttonBasic" aria-labelledby="radio-basic-tab">
              <div class="form-group">
                <label for="radiobuttonLabel" class="control-label">
                  {{ 'lbl.Label'|trans|ucfirst }}
                  {{ macro.required }}
                </label>
                <p id="radiobuttonLabelError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                {% form_field radiobutton_label %}
              </div>
              <div class="form-group">
                <label for="checkboxValues" class="control-label">{{ 'lbl.Values'|trans|ucfirst }}</label>
                {% form_field radiobutton_values %} {% form_field_error radiobutton_values %}
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabRadiobuttonProperties" aria-labelledby="radio-prop-tab">
              <div class="form-group">
                <label for="checkboxDefaultValue" class="control-label">{{ 'lbl.DefaultValue'|trans|ucfirst }}</label>
                {% form_field radiobutton_default_value %}
              </div>
              <div class="jsValidation">
                <div class="form-group">
                  <div class="form-check">
                    {% form_field radiobutton_required %}
                    <label for="radiobuttonRequired" class="form-check-label">{{ 'lbl.RequiredField'|trans|ucfirst }}</label>
                  </div>
                </div>
                <div class="form-group jsValidationRequiredErrorMessage" style="display: none;">
                  <label for="radiobuttonRequiredErrorMessage" class="control-label">
                    {{ 'lbl.ErrorMessage'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  <p id="radiobuttonRequiredErrorMessageError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                  {% form_field radiobutton_required_error_message %}
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane jsFieldTab" id="tabRadiobuttonAdvanced" aria-labelledby="radio-adv-tab">
              <div class="form-group">
                <label for="radiobuttonClassname" class="control-label">{{ 'lbl.Classname'|trans|ucfirst }}</label>
                {% form_field radiobutton_classname %}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
  	  	  {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
  	  	  {{ macro.buttonIcon('', 'save', 'lbl.Save'|trans|ucfirst, 'btn-primary jsFieldDialogSubmit', { "type":"button", "id":"textboxDialogSubmit"} ) }}
        </div>
      </div>
    </div>
  </div>

  {# Dialog for a checkbox #}
  <div class="modal fade jsFieldDialog" id="checkboxDialog" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="checkboxDialogTitle">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="checkboxDialogTitle">{{ 'lbl.Checkbox'|trans|ucfirst }}</h4>
        </div>
        <div class="modal-body">
          <input type="hidden" name="checkbox_id" id="checkboxId" value="" />
          <ul class="nav nav-tabs jsFieldTabsNav" role="tablist">
            <li class="nav-item">
              <a class="nav-link active" href="#tabCheckboxBasic" aria-controls="tabCheckboxBasic" role="tab" data-bs-toggle="tab" aria-selected="true" id="checkbox-basic-tab">{{ 'lbl.Basic'|trans|ucfirst }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tabCheckboxProperties" aria-controls="tabCheckboxProperties" role="tab" data-bs-toggle="tab" aria-selected="false" id="checkbox-prop-tab">{{ 'lbl.Properties'|trans|ucfirst }}</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#tabCheckboxAdvanced" aria-controls="tabCheckboxAdvanced" role="tab" data-bs-toggle="tab" aria-selected="false" id="checkbox-adv-tab">{{ 'lbl.Advanced'|trans|ucfirst }}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane jsFieldTab active" id="tabCheckboxBasic" aria-labelledby="checkbox-basic-tab">
              <div class="form-group">
                <label for="checkboxLabel" class="control-label">
                  {{ 'lbl.Label'|trans|ucfirst }}
                  {{ macro.required }}
                </label>
                <p id="checkboxLabelError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                {% form_field checkbox_label %}
              </div>
              <div class="form-group">
                <label for="checkboxValues" class="control-label">{{ 'lbl.Values'|trans|ucfirst }}</label>
                {% form_field checkbox_values %} {% form_field_error checkbox_values %}
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabCheckboxProperties" aria-labelledby="checkbox-prop-tab">
              <div class="form-group">
                <label for="checkboxDefaultValue" class="control-label">{{ 'lbl.DefaultValue'|trans|ucfirst }}</label>
                {% form_field checkbox_default_value %}
              </div>
              <div class="jsValidation">
                <div class="form-group">
                  <div class="form-check">
                    {% form_field checkbox_required %}
                    <label for="checkboxRequired" class="form-check-label">{{ 'lbl.RequiredField'|trans|ucfirst }}</label>
                  </div>
                </div>
                <div class="form-group jsValidationRequiredErrorMessage" style="display: none;">
                  <label for="checkboxRequiredErrorMessage" class="control-label">
                    {{ 'lbl.ErrorMessage'|trans|ucfirst }}
                    {{ macro.required }}
                  </label>
                  <p id="checkboxRequiredErrorMessageError" class="invalid-feedback jsFieldError" style="display: none;"></p>
                  {% form_field checkbox_required_error_message %}
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane jsFieldTab" id="tabCheckboxAdvanced" aria-labelledby="checkbox-adv-tab">
              <div class="form-group">
                <label for="checkboxClassname" class="control-label">{{ 'lbl.Classname'|trans|ucfirst }}</label>
                {% form_field checkbox_classname %}
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
  	  	  {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
  	  	  {{ macro.buttonIcon('', 'save', 'lbl.Save'|trans|ucfirst, 'btn-primary jsFieldDialogSubmit', { "type":"button", "id":"textboxDialogSubmit"} ) }}
        </div>
      </div>
    </div>
  </div>

  {# Dialog for the submit button #}
  <div class="modal fade jsFieldDialog" id="submitDialog" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="submitDialogTitle">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="submitDialogTitle">{{ 'lbl.SubmitButton'|trans|ucfirst }}</h4>
        </div>
        <div class="modal-body">
          <input type="hidden" name="submit_id" id="submitId" value="" />
          <div class="form-group">
            <label for="submit" class="control-label">
              {{ 'lbl.Content'|trans|ucfirst }}
              {{ macro.required }}
            </label>
            <p id="submitError" class="invalid-feedback jsFieldError" style="display: none;"></p>
            {% form_field submit %}
          </div>
        </div>
        <div class="modal-footer">
  	  	  {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
  	  	  {{ macro.buttonIcon('', 'save', 'lbl.Save'|trans|ucfirst, 'btn-primary jsFieldDialogSubmit', { "type":"button", "id":"textboxDialogSubmit"} ) }}
        </div>
      </div>
    </div>
  </div>

  {# Dialog for a heading #}
  <div class="modal fade jsFieldDialog" id="headingDialog" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="headingDialogTitle">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="headingDialogTitle">{{ 'lbl.Heading'|trans|ucfirst }}</h4>
        </div>
        <div class="modal-body">
          <input type="hidden" name="heading_id" id="headingId" value="" />
          <div class="form-group">
            <label for="heading" class="control-label">
              {{ 'lbl.Content'|trans|ucfirst }}
              {{ macro.required }}
            </label>
            <p id="headingError" class="invalid-feedback jsFieldError" style="display: none;"></p>
            {% form_field heading %}
          </div>
        </div>
        <div class="modal-footer">
  	  	  {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
  	  	  {{ macro.buttonIcon('', 'save', 'lbl.Save'|trans|ucfirst, 'btn-primary jsFieldDialogSubmit', { "type":"button", "id":"textboxDialogSubmit"} ) }}
        </div>
      </div>
    </div>
  </div>
  {% if showMailmotorOption %}
    {# Dialog for a mailmotor #}
    <div class="modal fade jsFieldDialog" id="mailmotorDialog" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="mailmotorDialogTitle">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="mailmotorDialogTitle">{{ 'lbl.Mailmotor'|trans|ucfirst }}</h4>
          </div>
          <div class="modal-body">
            <input type="hidden" name="mailmotor_id" id="mailmotorId" value="" />
            <div class="form-group">
              <label for="mailmotorLabel" class="control-label">
                {{ 'lbl.Label'|trans|ucfirst }}{{ macro.required }}
              </label>
              <p id="mailmotorLabelError" class="text-danger jsFieldError" style="display: none;"></p>
              {% form_field mailmotor_label %}
            </div>
            <div class="form-group">
              <label for="mailmotorListId" class="control-label">
                {{ mailmotorMailEngine|ucfirst }}: {{ 'lbl.MailmotorListId'|trans }}{{ macro.required }}
              </label>
              <p id="mailmotorListIdError" class="text-danger jsFieldError" style="display: none;"></p>
              {% form_field mailmotor_list_id %} {% form_field_error mailmotor_list_id %}
            </div>
          </div>
          <div class="modal-footer">
            {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
            {{ macro.buttonIcon('', 'floppy-o', 'lbl.Save'|trans|ucfirst, 'btn-primary jsFieldDialogSubmit', { "type":"button", "id":"textboxDialogSubmit"} ) }}
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  {# Dialog for a paragraph #}
  <div class="modal fade jsFieldDialog" id="paragraphDialog" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="paragraphDialogTitle">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <h4 class="modal-title" id="paragraphDialogTitle">{{ 'lbl.Content'|trans|ucfirst }}</h4>
        </div>
        <div class="modal-body">
          <input type="hidden" name="paragraph_id" id="paragraphId" value="" />
          <div class="form-group">
            <p id="paragraphError" class="invalid-feedback jsFieldError" style="display: none;"></p>
            {% form_field paragraph %}
          </div>
        </div>
        <div class="modal-footer">
  	  	  {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
  	  	  {{ macro.buttonIcon('', 'save', 'lbl.Save'|trans|ucfirst, 'btn-primary jsFieldDialogSubmit', { "type":"button", "id":"textboxDialogSubmit"} ) }}
        </div>
      </div>
    </div>
  </div>
  {% endform %}

  {# Page delete confirm block #}
  {% if isAllowedAction('Delete') %}
    {% if id %}
      {% if name %}
        {{ form_start(deleteForm) }}
        {{ form_row(deleteForm._token) }}
        {{ form_row(deleteForm.id) }}
        <div class="modal fade" id="confirmDelete" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmDeleteTitle">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <h4 class="modal-title" id="confirmDeleteTitle">{{ 'lbl.Delete'|trans|ucfirst }}</h4>
              </div>
              <div class="modal-body">
                <p>{{ 'msg.ConfirmDelete'|trans|format(name|e)|raw }}</p>
              </div>
              <div class="modal-footer">
                {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', { "data-dismiss":"modal", "type":"button" } ) }}
                {{ macro.buttonIcon('', 'trash', 'lbl.Delete'|trans|ucfirst, 'btn-danger', { "type":"submit" } ) }}
              </div>
            </div>
          </div>
        </div>
        {{ form_end(deleteForm) }}
      {% endif %}
    {% endif %}
  {% endif %}
{% endblock %}
