{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form edit %}
  <script type="text/javascript">
    //@todo why data comes not from action?
    //<![CDATA[
    var defaultErrorMessages = {};
    {% if errors %}
    {% for error in errors %}
    defaultErrorMessages.{{ error.type }} = '{{ error.message }}';
    {% endfor %}
    {% endif %}
    //]]>
  </script>
  <input type="hidden" name="id" id="formId" value="{{ id }}" />
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#tabGeneral" aria-controls="tabGeneral" role="tab" data-toggle="tab">{{ 'lbl.General'|trans|ucfirst }}</a>
          </li>
          <li role="presentation">
            <a href="#tabFields" aria-controls="tabFields" role="tab" data-toggle="tab">{{ 'lbl.Fields'|trans|ucfirst }}</a>
          </li>
          <li role="presentation">
            <a href="#tabExtra" aria-controls="tabExtra" role="tab" data-toggle="tab">{{ 'lbl.Extra'|trans|ucfirst }}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tabGeneral">
            <div class="row">
              <div class="col-lg-6">
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      {{ 'lbl.Status'|trans|ucfirst }}
                    </h3>
                  </div>
                  <div class="panel-body">
                    <div class="form-group">
                      <label for="name" class="control-label">
                        {{ 'lbl.Name'|trans|ucfirst }}
                        {{ macro.required }}
                      </label>
                      {% form_field name %} {% form_field_error name %}
                    </div>
                    <div class="form-group">
                      <label for="method" class="control-label">
                        {{ 'lbl.Method'|trans|ucfirst }}
                        {{ macro.required }}
                      </label>
                      {% form_field method %} {% form_field_error method %}
                    </div>
                    <div class="form-group">
                      <label for="EmailSubject" class="control-label">
                        {{ 'lbl.EmailSubject'|trans|ucfirst }}
                      </label>
                      {% form_field email_subject %} {% form_field_error email_subject %}
                    </div>
                    {% if ddmTemplate %}
                      <div class="form-group">
                        <label for="template" class="control-label">{{ 'lbl.Template'|trans|ucfirst }}</label>
                        {% form_field template %} {% form_field_error template %}
                      </div>
                    {% endif %}
                    <div class="form-group">
                      <label for="email" class="control-label">
                        {{ 'lbl.Recipient'|trans|ucfirst }}
                        {{ macro.required }}
                      </label>
                      {% form_field email %} {% form_field_error email %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-6">
                <div class="panel panel-default panel-editor">
                  <div class="panel-heading">
                    <label for="successMessage" class="control-label">
                      {{ 'lbl.SuccessMessage'|trans|ucfirst }}
                      {{ macro.required }}<br>
                    </label>
                  </div>
                  <div class="panel-body">
                    {% form_field success_message %}
                  </div>
                  {% if txtSuccessMessageError %}
                    <div class="panel-footer">
                      {% form_field_error success_message %}
                    </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabFields">
            <div class="row">
              <div class="col-md-12">
                <p class="alert alert-warning alert-xs">
                  <span class="fa fa-exclamation-triangle"></span>{{ 'msg.ImportantImmediateUpdate'|trans|raw }}
                  {% if recaptchaMissing %}<br><span class="fa fa-exclamation-triangle"></span>{{ 'msg.RecaptchaKeysMissing'|trans|format(geturl('Index','Settings'))|raw }}{% endif %}
                </p>
                <br>
              </div>
            </div>
            <div class="row">
              <div class="col-md-8">
                <div class="panel panel-default panel-editor">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      {{ 'lbl.Preview'|trans|ucfirst }}
                    </h3>
                  </div>
                  <div id="fieldsHolder" class="panel-body sequenceByDragAndDrop">
                    {% if fields %}
                      {% for field in fields %}
                        {{ field.field|raw }}
                      {% endfor %}
                    {% endif %}

                    {# This row always needs to be here. We show/hide it with javascript #}
                    <div class="form-group field" {% if fields %} style="display: none;"{% endif %}>
                      <div id="noFields" class="alert alert-info alert-xs">
                        {{ 'msg.NoFields'|trans }}
                      </div>
                    </div>

                    {# Submit button is always here. Cannot be deleted or moved. #}
                    <div class="form-group field field-submit">
                      <div class="row">
                        <div class="col-md-5 col-md-offset-3">
                          <div class="btn-group" role="group">
                            {{ btnSubmitField|raw }}
                          </div>
                        </div>
                        <div class="col-md-4">
                          <div class="btn-group pull-right" role="group">
                            <a href="#edit-{{ submitId }}" class="btn btn-default btn-second btn-icon-only jsFieldEdit" rel="{{ submitId }}" title="{{ 'lbl.Edit'|trans|ucfirst }}">
                              <span class="fa fa-pencil fa-fw"></span>
                            </a>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-md-4">
                <div id="formElements" class="panel panel-default">
                  <div class="panel-heading">
                    <h3 class="panel-title">
                      {{ 'lbl.AddFields'|trans|ucfirst }}
                    </h3>
                  </div>
                  <div class="panel-body">
                    <div class="list-group first">
                      <h5>{{ 'lbl.FormElements'|trans|ucfirst }}</h5>
                      <a id="textboxSelector" href="#textbox" rel="textboxDialog" class="list-group-item jsFieldDialogTrigger">
                        <img class="icon" src="{{ SITE_URL }}/src/Backend/Modules/FormBuilder/Layout/images/icon-textbox.svg" alt="textbox">{{ 'lbl.Textbox'|trans|ucfirst }}
                      </a>
                      <a id="textareaSelector" href="#textarea" rel="textareaDialog" class="list-group-item jsFieldDialogTrigger">
                        <img class="icon" src="{{ SITE_URL }}/src/Backend/Modules/FormBuilder/Layout/images/icon-textarea.svg" alt="textarea">{{ 'lbl.Textarea'|trans|ucfirst }}
                      </a>
                      <a id="datetimeSelector" href="#datetime" rel="datetimeDialog" class="list-group-item jsFieldDialogTrigger">
                        <i class="fa fa-calendar fa-fw" aria-hidden="true"></i>{{ 'lbl.Datetime'|trans|ucfirst }}
                      </a>
                      <a id="dropdownSelector" href="#dropdown" rel="dropdownDialog" class="list-group-item jsFieldDialogTrigger">
                        <img class="icon" src="{{ SITE_URL }}/src/Backend/Modules/FormBuilder/Layout/images/icon-dropdown.svg" alt="dropdown">{{ 'lbl.Dropdown'|trans|ucfirst }}
                      </a>
                      <a id="checkboxSelector" href="#checkbox" rel="checkboxDialog" class="list-group-item jsFieldDialogTrigger">
                        <i class="fa fa-check-square fa-fw" aria-hidden="true"></i>{{ 'lbl.Checkbox'|trans|ucfirst }}
                      </a>
                      <a id="radiobuttonSelector" href="#radiobutton" rel="radiobuttonDialog" class="list-group-item jsFieldDialogTrigger">
                        <i class="fa fa-dot-circle-o fa-fw" aria-hidden="true"></i>{{ 'lbl.Radiobutton'|trans|ucfirst }}
                      </a>
                      <a id="recaptchaSelector" href="#recaptcha" class="list-group-item jsRecaptchaTrigger">
                        <i class="fa fa-repeat fa-fw" aria-hidden="true"></i>{{ 'lbl.Recaptcha'|trans|ucfirst }}
                      </a>
                    </div>
                    <div class="list-group">
                      <h5>{{ 'lbl.TextElements'|trans|ucfirst }}</h5>
                      <a id="headingSelector" href="#heading" rel="headingDialog" class="list-group-item jsFieldDialogTrigger">
                        <i class="fa fa-header fa-fw" aria-hidden="true"></i>{{ 'lbl.Heading'|trans|ucfirst }}
                      </a>
                      <a id="paragraphSelector" href="#paragraph" rel="paragraphDialog" class="list-group-item jsFieldDialogTrigger">
                        <i class="fa fa-paragraph fa-fw" aria-hidden="true"></i>{{ 'lbl.Paragraph'|trans|ucfirst }}
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabExtra">
            <div class="row">
              <div class="col-md-12">
                <label for="identifier" class="control-label">
                  {{ 'lbl.Identifier'|trans|ucfirst }}
                  <abbr class="fa fa-info-circle" data-toggle="tooltip" title="{{ 'msg.HelpIdentifier'|trans|ucfirst }}"></abbr>
                </label>
                {% form_field identifier %} {% form_field_error identifier %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-page-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-left" role="group">
          {% if showFormBuilderDelete %}
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete">
              <span class="fa fa-trash-o"></span>
              {{ 'lbl.Delete'|trans|ucfirst }}
            </button>
          {% endif %}
        </div>
        <div class="btn-group pull-right" role="group">
          <button id="editButton" type="submit" name="edit" class="btn btn-primary">
            <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {# Dialog for a textbox #}

  <div class="modal fade jsFieldDialog" id="textboxDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title h4">{{ 'lbl.Textbox'|trans|ucfirst }}</span>
        </div>
        <div class="modal-body">
          <input type="hidden" name="textbox_id" id="textboxId" value="" />
          <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
              <a href="#tabTextboxBasic" aria-controls="tabTextboxBasic" role="tab" data-toggle="tab">{{ 'lbl.Basic'|trans|ucfirst }}</a>
            </li>
            <li role="presentation">
              <a href="#tabTextboxProperties" aria-controls="tabTextboxProperties" role="tab" data-toggle="tab">{{ 'lbl.Properties'|trans|ucfirst }}</a>
            </li>
            <li role="presentation">
              <a href="#tabTextboxAdvanced" aria-controls="tabTextboxAdvanced" role="tab" data-toggle="tab">{{ 'lbl.Advanced'|trans|ucfirst }}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane jsFieldTab active" id="tabTextboxBasic">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="textboxLabel" class="control-label">
                      {{ 'lbl.Label'|trans|ucfirst }}
                      {{ macro.required }}
                    </label>
                    <p id="textboxLabelError" class="text-danger jsFieldError" style="display: none;"></p>
                    {% form_field textbox_label %}
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabTextboxProperties">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="textboxValue" class="control-label">{{ 'lbl.DefaultValue'|trans|ucfirst }}</label>
                    {% form_field textbox_value %}
                  </div>
                  <div class="form-group">
                    <ul class="list-unstyled">
                      <li class="checkbox">
                        <label for="textboxReplyTo" class="control-label">
                          {% form_field textbox_reply_to %} {{ 'lbl.ReplyTo'|trans|ucfirst }}
                          <abbr class="fa fa-info-circle" data-toggle="tooltip" title="{{ 'msg.HelpReplyTo'|trans }}"></abbr>
                        </label>
                      </li>
                    </ul>
                  </div>
                  <div class="form-group">
                    <ul class="list-unstyled">
                      <li class="checkbox">
                        <label for="textboxSendConfirmationMailTo" class="control-label">
                          {% form_field textbox_send_confirmation_mail_to %} {{ 'lbl.SendConfirmationMailTo'|trans|ucfirst }}
                        </label>
                      </li>
                    </ul>
                  </div>
                  <div class="form-group">
                    <label for="textboxConfirmationMailSubject" class="control-label">
                      {{ 'lbl.ConfirmationMailSubject'|trans|ucfirst }}
                    </label>
                    {% form_field textbox_confirmation_mail_subject %}
                    <p id="textboxConfirmationMailSubjectErrorMessageError" class="text-danger jsFieldError" style="display: none;"></p>
                  </div>
                  <div class="jsValidation">
                    <ul class="list-unstyled">
                      <li class="checkbox">
                        <label for="textboxRequired" class="control-label">
                          {% form_field textbox_required %} {{ 'lbl.RequiredField'|trans|ucfirst }}
                        </label>
                      </li>
                    </ul>
                    <div class="form-group jsValidationRequiredErrorMessage" style="display: none;">
                      <label for="textboxRequiredErrorMessage" class="control-label">
                        {{ 'lbl.errorMessage'|trans|ucfirst }}
                        {{ macro.required }}
                      </label>
                      <p id="textboxRequiredErrorMessageError" class="text-danger jsFieldError" style="display: none;"></p>
                      {% form_field textbox_required_error_message %}
                    </div>
                  </div>
                  <div class="jsValidation">
                    <div class="form-group">
                      <label for="textboxValidation" class="control-label">{{ 'lbl.Validation'|trans|ucfirst }}</label>
                      {% form_field textbox_validation %}
                    </div>
                    <p id="textboxReplyToErrorMessageError" class="text-danger jsFieldError" style="display: none;"></p>
                    <p id="textboxSendConfirmationMailToErrorMessageError" class="text-danger jsFieldError" style="display: none;"></p>
                    <div class="form-group jsValidationParameter" style="display: none;">
                      <label for="textboxValidationParameter" class="control-label">
                        {{ 'lbl.Parameter'|trans|ucfirst }}
                        {{ macro.required }}
                      </label>
                      {% form_field textbox_validation_parameter %}
                    </div>
                    <div class="form-group jsValidationErrorMessage" style="display: none;">
                      <label for="textareaErrorMessage" class="control-label">
                        {{ 'lbl.errorMessage'|trans|ucfirst }}
                        {{ macro.required }}
                      </label>
                      <p id="textboxErrorMessageError" class="text-danger jsFieldError" style="display: none;"></p>
                      {% form_field textbox_error_message %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane jsFieldTab" id="tabTextboxAdvanced">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="textboxPlaceholder" class="control-label">{{ 'lbl.Placeholder'|trans|ucfirst }}</label>
                    {% form_field textbox_placeholder %}
                  </div>
                  <div class="form-group">
                    <label for="textboxClassname" class="control-label">{{ 'lbl.Classname'|trans|ucfirst }}</label>
                    {% form_field textbox_classname %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
          </button>
          <button id="textboxDialogSubmit" type="button" class="btn btn-primary jsFieldDialogSubmit">
            <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>

  {# Dialog for a textarea #}
  <div class="modal fade jsFieldDialog" id="textareaDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title h4">{{ 'lbl.Textarea'|trans|ucfirst }}</span>
        </div>
        <div class="modal-body">
          <input type="hidden" name="textarea_id" id="textareaId" value="" />
          <ul class="nav nav-tabs jsFieldTabsNav" role="tablist">
            <li role="presentation" class="active">
              <a href="#tabTextareaBasic" aria-controls="tabTextareaBasic" role="tab" data-toggle="tab">{{ 'lbl.Basic'|trans|ucfirst }}</a>
            </li>
            <li role="presentation">
              <a href="#tabTextareaProperties" aria-controls="tabTextareaProperties" role="tab" data-toggle="tab">{{ 'lbl.Properties'|trans|ucfirst }}</a>
            </li>
            <li role="presentation">
              <a href="#tabTextareaAdvanced" aria-controls="tabTextareaAdvanced" role="tab" data-toggle="tab">{{ 'lbl.Advanced'|trans|ucfirst }}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane jsFieldTab active" id="tabTextareaBasic">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="textareaLabel" class="control-label">
                      {{ 'lbl.Label'|trans|ucfirst }}
                      {{ macro.required }}
                    </label>
                    <p id="textareaLabelError" class="text-danger jsFieldError" style="display: none;"></p>
                    {% form_field textarea_label %}
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabTextareaProperties">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="textareaValue" class="control-label">{{ 'lbl.DefaultValue'|trans|ucfirst }}</label>
                    {% form_field textarea_value %}
                  </div>
                  <div class="jsValidation">
                    <div class="form-group">
                      <ul class="list-unstyled">
                        <li class="checkbox">
                          <label for="textareaRequired" class="control-label">{% form_field textarea_required %} {{ 'lbl.RequiredField'|trans|ucfirst }}</label>
                        </li>
                      </ul>
                    </div>
                    <div class="form-group jsValidationRequiredErrorMessage" style="display: none;">
                      <label for="textareaRequiredErrorMessage" class="control-label">
                        {{ 'lbl.errorMessage'|trans|ucfirst }}
                        {{ macro.required }}
                      </label>
                      <p id="textareaRequiredErrorMessageError" class="text-danger jsFieldError" style="display: none;"></p>
                      {% form_field textarea_required_error_message %}
                    </div>
                  </div>
                  <div class="jsValidation" style="display: none;">
                    <div class="form-group">
                      <label for="textareaValidation" class="control-label">{{ 'lbl.Validation'|trans|ucfirst }}</label>
                      {% form_field textarea_validation %}
                    </div>
                    <div class="form-group jsValidationParameter" style="display: none;">
                      <label for="textareaValidationParameter" class="control-label">
                        {{ 'lbl.Parameter'|trans|ucfirst }}
                        {{ macro.required }}
                      </label>
                      {% form_field textarea_validation_parameter %}
                    </div>
                    <div class="form-group jsValidationErrorMessage" style="display: none;">
                      <label for="textareaErrorMessage" class="control-label">
                        {{ 'lbl.errorMessage'|trans|ucfirst }}
                        {{ macro.required }}
                      </label>
                      <p id="textareaErrorMessageError" class="text-danger jsFieldError" style="display: none;"></p>
                      {% form_field_error textarea_error_message %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane jsFieldTab" id="tabTextareaAdvanced">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="textareaPlaceholder" class="control-label">{{ 'lbl.Placeholder'|trans|ucfirst }}</label>
                    {% form_field textarea_placeholder %}
                  </div>
                  <div class="form-group">
                    <label for="textareaClassname" class="control-label">{{ 'lbl.Classname'|trans|ucfirst }}</label>
                    {% form_field textarea_classname %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
          </button>
          <button id="textareaDialogSubmit" type="button" class="btn btn-primary jsFieldDialogSubmit">
            <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>

  {# Dialog for a datetime #}
  <div class="modal fade jsFieldDialog" id="datetimeDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title h4">{{ 'lbl.Datetime'|trans|ucfirst }}</span>
        </div>
        <div class="modal-body">
          <input type="hidden" name="datetime_id" id="datetimeId" value="" />
          <ul class="nav nav-tabs jsFieldTabsNav" role="tablist">
            <li role="presentation" class="active">
              <a href="#tabDatetimeBasic" aria-controls="tabDatetimeBasic" role="tab" data-toggle="tab">{{ 'lbl.Basic'|trans|ucfirst }}</a>
            </li>
            <li role="presentation">
              <a href="#tabDatetimeProperties" aria-controls="tabDatetimeProperties" role="tab" data-toggle="tab">{{ 'lbl.Properties'|trans|ucfirst }}</a>
            </li>
            <li role="presentation">
              <a href="#tabDatetimeAdvanced" aria-controls="tabDatetimeAdvanced" role="tab" data-toggle="tab">{{ 'lbl.Advanced'|trans|ucfirst }}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane jsFieldTab active" id="tabDatetimeBasic">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="datetimeLabel" class="control-label">
                      {{ 'lbl.Label'|trans|ucfirst }}
                      {{ macro.required }}
                    </label>
                    <p id="datetimeLabelError" class="text-danger jsFieldError" style="display: none;"></p>
                    {% form_field datetime_label %}
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabDatetimeProperties">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group jsDefaultValue">
                    <label for="datetimeValue" class="control-label">{{ 'lbl.DefaultValue'|trans|ucfirst }}</label>
                    <div class="form-inline">
                      {% form_field datetime_value_amount %} {% form_field datetime_value_type %}
                    </div>
                  </div>
                  <div class="jsValidation">
                    <div class="form-group">
                      <ul class="list-unstyled">
                        <li class="checkbox">
                          <label for="datetimeRequired" class="control-label">{% form_field datetime_required %} {{ 'lbl.RequiredField'|trans|ucfirst }}</label>
                        </li>
                      </ul>
                    </div>
                    <div class="form-group jsValidationRequiredErrorMessage" style="display: none;">
                      <label for="datetimeRequiredErrorMessage" class="control-label">
                        {{ 'lbl.errorMessage'|trans|ucfirst }}
                        {{ macro.required }}
                      </label>
                      <p id="datetimeRequiredErrorMessageError" class="text-danger jsFieldError" style="display: none;"></p>
                      {% form_field datetime_required_error_message %}
                    </div>
                  </div>
                  <div>
                    <div class="form-group">
                      <label for="datetimeType" class="control-label">{{ 'lbl.Type'|trans|ucfirst }}</label>
                      {% form_field datetime_type %}
                    </div>
                  </div>
                  <div class="jsValidation" style="display: none;">
                    <div class="form-group">
                      <label for="datetimeValidation" class="control-label">{{ 'lbl.Validation'|trans|ucfirst }}</label>
                      {% form_field datetime_validation %}
                    </div>
                    <div class="form-group jsValidationErrorMessage" style="display: none;">
                      <label for="datetimeErrorMessage" class="control-label">
                        {{ 'lbl.errorMessage'|trans|ucfirst }}
                        {{ macro.required }}
                      </label>
                      <p id="datetimeErrorMessageError" class="text-danger jsFieldError" style="display: none;"></p>
                      {% form_field_error datetime_error_message %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane jsFieldTab" id="tabDatetimeAdvanced">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="datetimeClassname" class="control-label">{{ 'lbl.Classname'|trans|ucfirst }}</label>
                    {% form_field datetime_classname %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
          </button>
          <button id="textareaDialogSubmit" type="button" class="btn btn-primary jsFieldDialogSubmit">
            <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>

  {# Dialog for a dropdown #}
  <div class="modal fade jsFieldDialog" id="dropdownDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title h4">{{ 'lbl.Dropdown'|trans|ucfirst }}</span>
        </div>
        <div class="modal-body">
          <input type="hidden" name="dropdown_id" id="dropdownId" value="" />
          <ul class="nav nav-tabs jsFieldTabsNav" role="tablist">
            <li role="presentation" class="active">
              <a href="#tabDropdownBasic" aria-controls="tabDropdownBasic" role="tab" data-toggle="tab">{{ 'lbl.Basic'|trans|ucfirst }}</a>
            </li>
            <li role="presentation">
              <a href="#tabDropdownProperties" aria-controls="tabDropdownProperties" role="tab" data-toggle="tab">{{ 'lbl.Properties'|trans|ucfirst }}</a>
            </li>
            <li role="presentation">
              <a href="#tabDropdownAdvanced" aria-controls="tabDropdownAdvanced" role="tab" data-toggle="tab">{{ 'lbl.Advanced'|trans|ucfirst }}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane jsFieldTab active" id="tabDropdownBasic">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="dropdownLabel" class="control-label">
                      {{ 'lbl.Label'|trans|ucfirst }}
                      {{ macro.required }}
                    </label>
                    <p id="dropdownLabelError" class="text-danger jsFieldError" style="display: none;"></p>
                    {% form_field dropdown_label %}
                  </div>
                  <div class="form-group">
                    <label for="checkboxValues" class="control-label">{{ 'lbl.Values'|trans|ucfirst }}</label>
                    <p id="dropdownValuesError" class="text-danger jsFieldError" style="display: none;"></p>
                    {% form_field dropdown_values %} {% form_field_error dropdown_values %}
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabDropdownProperties">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="dropdownDefaultValue" class="control-label">{{ 'lbl.DefaultValue'|trans|ucfirst }}</label>
                    {% form_field dropdown_default_value %}
                  </div>
                  <div class="jsValidation">
                    <div class="form-group">
                      <ul class="list-unstyled">
                        <li class="checkbox">
                          <label for="dropdownRequired" class="control-label">{% form_field dropdown_required %} {{ 'lbl.RequiredField'|trans|ucfirst }}</label>
                        </li>
                      </ul>
                    </div>
                    <div class="form-group jsValidationRequiredErrorMessage" style="display: none;">
                      <label for="dropdownRequiredErrorMessage" class="control-label">
                        {{ 'lbl.errorMessage'|trans|ucfirst }}
                        {{ macro.required }}
                      </label>
                      <p id="dropdownRequiredErrorMessageError" class="text-danger jsFieldError" style="display: none;"></p>
                      {% form_field dropdown_required_error_message %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane jsFieldTab" id="tabDropdownAdvanced">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="dropdownClassname" class="control-label">{{ 'lbl.Classname'|trans|ucfirst }}</label>
                    {% form_field dropdown_classname %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
          </button>
          <button id="dropdownDialogSubmit" type="button" class="btn btn-primary jsFieldDialogSubmit">
            <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>

  {# Dialog for a radiobutton #}
  <div class="modal fade jsFieldDialog" id="radiobuttonDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title h4">{{ 'lbl.Radiobutton'|trans|ucfirst }}</span>
        </div>
        <div class="modal-body">
          <input type="hidden" name="radiobutton_id" id="radiobuttonId" value="" />
          <ul class="nav nav-tabs jsFieldTabsNav" role="tablist">
            <li role="presentation" class="active">
              <a href="#tabRadiobuttonBasic" aria-controls="tabRadiobuttonBasic" role="tab" data-toggle="tab">{{ 'lbl.Basic'|trans|ucfirst }}</a>
            </li>
            <li role="presentation">
              <a href="#tabRadiobuttonProperties" aria-controls="tabRadiobuttonProperties" role="tab" data-toggle="tab">{{ 'lbl.Properties'|trans|ucfirst }}</a>
            </li>
            <li role="presentation">
              <a href="#tabRadiobuttonAdvanced" aria-controls="tabRadiobuttonAdvanced" role="tab" data-toggle="tab">{{ 'lbl.Advanced'|trans|ucfirst }}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane jsFieldTab active" id="tabRadiobuttonBasic">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="radiobuttonLabel" class="control-label">
                      {{ 'lbl.Label'|trans|ucfirst }}
                      {{ macro.required }}
                    </label>
                    <p id="radiobuttonLabelError" class="text-danger jsFieldError" style="display: none;"></p>
                    {% form_field radiobutton_label %}
                  </div>
                  <div class="form-group">
                    <label for="checkboxValues" class="control-label">{{ 'lbl.Values'|trans|ucfirst }}</label>
                    {% form_field radiobutton_values %} {% form_field_error radiobutton_values %}
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabRadiobuttonProperties">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="checkboxDefaultValue" class="control-label">{{ 'lbl.DefaultValue'|trans|ucfirst }}</label>
                    {% form_field radiobutton_default_value %}
                  </div>
                  <div class="jsValidation">
                    <div class="form-group">
                      <ul class="list-unstyled">
                        <li class="checkbox">
                          <label for="checkboxRequired" class="control-label">{% form_field radiobutton_required %} {{ 'lbl.RequiredField'|trans|ucfirst }}</label>
                        </li>
                      </ul>
                    </div>
                    <div class="form-group jsValidationRequiredErrorMessage" style="display: none;">
                      <label for="checkboxRequiredErrorMessage" class="control-label">
                        {{ 'lbl.errorMessage'|trans|ucfirst }}
                        {{ macro.required }}
                      </label>
                      <p id="radiobuttonRequiredErrorMessageError" class="text-danger jsFieldError" style="display: none;"></p>
                      {% form_field radiobutton_required_error_message %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane jsFieldTab" id="tabRadiobuttonAdvanced">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="radiobuttonClassname" class="control-label">{{ 'lbl.Classname'|trans|ucfirst }}</label>
                    {% form_field radiobutton_classname %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
          </button>
          <button id="radiobuttonDialogSubmit" type="button" class="btn btn-primary jsFieldDialogSubmit">
            <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>

  {# Dialog for a checkbox #}
  <div class="modal fade jsFieldDialog" id="checkboxDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title h4">{{ 'lbl.Checkbox'|trans|ucfirst }}</span>
        </div>
        <div class="modal-body">
          <input type="hidden" name="checkbox_id" id="checkboxId" value="" />
          <ul class="nav nav-tabs jsFieldTabsNav" role="tablist">
            <li role="presentation" class="active">
              <a href="#tabCheckboxBasic" aria-controls="tabCheckboxBasic" role="tab" data-toggle="tab">{{ 'lbl.Basic'|trans|ucfirst }}</a>
            </li>
            <li role="presentation">
              <a href="#tabCheckboxProperties" aria-controls="tabCheckboxProperties" role="tab" data-toggle="tab">{{ 'lbl.Properties'|trans|ucfirst }}</a>
            </li>
            <li role="presentation">
              <a href="#tabCheckboxAdvanced" aria-controls="tabCheckboxAdvanced" role="tab" data-toggle="tab">{{ 'lbl.Advanced'|trans|ucfirst }}</a>
            </li>
          </ul>
          <div class="tab-content">
            <div role="tabpanel" class="tab-pane jsFieldTab active" id="tabCheckboxBasic">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="checkboxLabel" class="control-label">
                      {{ 'lbl.Label'|trans|ucfirst }}
                      {{ macro.required }}
                    </label>
                    <p id="checkboxLabelError" class="text-danger jsFieldError" style="display: none;"></p>
                    {% form_field checkbox_label %}
                  </div>
                  <div class="form-group">
                    <label for="checkboxValues" class="control-label">{{ 'lbl.Values'|trans|ucfirst }}</label>
                    {% form_field checkbox_values %} {% form_field_error checkbox_values %}
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="tabCheckboxProperties">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="checkboxDefaultValue" class="control-label">{{ 'lbl.DefaultValue'|trans|ucfirst }}</label>
                    {% form_field checkbox_default_value %}
                  </div>
                  <div class="jsValidation">
                    <div class="form-group">
                      <ul class="list-unstyled">
                        <li class="checkbox">
                          <label for="checkboxRequired" class="control-label">{% form_field checkbox_required %} {{ 'lbl.RequiredField'|trans|ucfirst }}</label>
                        </li>
                      </ul>
                    </div>
                    <div class="form-group jsValidationRequiredErrorMessage" style="display: none;">
                      <label for="checkboxRequiredErrorMessage" class="control-label">
                        {{ 'lbl.errorMessage'|trans|ucfirst }}
                        {{ macro.required }}
                      </label>
                      <p id="checkboxRequiredErrorMessageError" class="text-danger jsFieldError" style="display: none;"></p>
                      {% form_field checkbox_required_error_message %}
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div role="tabpanel" class="tab-pane jsFieldTab" id="tabCheckboxAdvanced">
              <div class="row">
                <div class="col-md-12">
                  <div class="form-group">
                    <label for="checkboxClassname" class="control-label">{{ 'lbl.Classname'|trans|ucfirst }}</label>
                    {% form_field checkbox_classname %}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
          </button>
          <button id="checkboxDialogSubmit" type="button" class="btn btn-primary jsFieldDialogSubmit">
            <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>

  {# Dialog for the submit button #}
  <div class="modal fade jsFieldDialog" id="submitDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title h4">{{ 'lbl.SubmitButton'|trans|ucfirst }}</span>
        </div>
        <div class="modal-body">
          <input type="hidden" name="submit_id" id="submitId" value="" />
          <div class="form-group">
            <label for="submit" class="control-label">
              {{ 'lbl.Content'|trans|ucfirst }}
              {{ macro.required }}
            </label>
            <p id="submitError" class="text-danger jsFieldError" style="display: none;"></p>
            {% form_field submit %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
          </button>
          <button id="submitDialogSubmit" type="button" class="btn btn-primary jsFieldDialogSubmit">
            <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>

  {# Dialog for a heading #}
  <div class="modal fade jsFieldDialog" id="headingDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title h4">{{ 'lbl.Heading'|trans|ucfirst }}</span>
        </div>
        <div class="modal-body">
          <input type="hidden" name="heading_id" id="headingId" value="" />
          <div class="form-group">
            <label for="heading" class="control-label">
              {{ 'lbl.Content'|trans|ucfirst }}
              {{ macro.required }}
            </label>
            <p id="headingError" class="text-danger jsFieldError" style="display: none;"></p>
            {% form_field heading %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
          </button>
          <button id="headingDialogSubmit" type="button" class="btn btn-primary jsFieldDialogSubmit">
            <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>

  {# Dialog for a paragraph #}
  <div class="modal fade jsFieldDialog" id="paragraphDialog" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title h4">{{ 'lbl.Content'|trans|ucfirst }}</span>
        </div>
        <div class="modal-body">
          <input type="hidden" name="paragraph_id" id="paragraphId" value="" />
          <div class="form-group">
            <p id="paragraphError" class="text-danger jsFieldError" style="display: none;"></p>
            {% form_field paragraph %}
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
          </button>
          <button id="paragraphDialogSubmit" type="button" class="btn btn-primary jsFieldDialogSubmit">
            <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endform %}

  {# Page delete confirm block #}
  {% if showFormBuilderDelete %}
    {% if id %}
      {% if name %}
        {{ form_start(deleteForm) }}
        {{ form_row(deleteForm._token) }}
        {{ form_row(deleteForm.id) }}
        <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-hidden="true">
          <div class="modal-dialog">
            <div class="modal-content">
              <div class="modal-header">
                <span class="modal-title h4">{{ 'lbl.Delete'|trans|ucfirst }}</span>
              </div>
              <div class="modal-body">
                <p>{{ 'msg.ConfirmDelete'|trans|format(name)|raw }}</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                  <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
                </button>
                <button type="submit" class="btn btn-danger">
                  <span class="fa fa-trash"></span>{{ 'lbl.Delete'|trans|ucfirst }}
                </button>
              </div>
            </div>
          </div>
        </div>
        {{ form_end(deleteForm) }}
      {% endif %}
    {% endif %}
  {% endif %}
{% endblock %}
