{#
  variables that are available:
  - {{ questions }}: contains all questions inside this category
#}
{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}

<section class="module-faq block-faq-category" itemscope itemtype="http://schema.org/Question">
  {% block block_heading %}
    <header class="block-heading page-header">
      <h1 itemprop="genre">{{ category.title }}</h1>
    </header>
  {% endblock %}

  {% if questions is empty %}
    {% block block_alerts %}
      <div class="block-alerts">
        {{ alerts.alert('info', 'msg.NoQuestionsInCategory'|trans) }}
      </div>
    {% endblock %}
  {% else %}
    {% block block_body %}
      <div class="block-body">
        <ul class="list-group">
          {% for question in questions %}
            <li class="list-group-item list-group-item-action" itemprop="about"><a href="{{ question.full_url }}">{{ question.question }}</a></li>
          {% endfor %}
        </ul>
      </div>
    {% endblock %}
  {% endif %}

  {% block block_footer %}
    <nav class="block-footer mt-5">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="{{ geturlforblock('Faq') }}">
            ←
            {{ 'lbl.ToFaqOverview'|trans|ucfirst }}
          </a>
        </li>
      </ul>
    </nav>
  {% endblock %}
</section>
