{#
  variables that are available:
  - {{ faqCategories }}: contains all categories, along with all questions inside a category
#}
{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}

<section class="module-faq block-faq-index">
  {% if not faqCategories %}
    {% block block_no_items %}
      {{ alerts.alert('info', 'msg.FaqNoItems'|trans) }}
    {% endblock %}
  {% else %}
    {% block block_heading %}{% endblock %}

    {% if allowMultipleCategories and faqCategories|length > 1 %}
      {% block block_allow_multiple_categories %}
        <div class="block-list-categories mb-4">
          <ul class="nav nav-pills align-items-center">
            <li class="nav-item mr-2">{{ 'lbl.Categories'|trans|ucfirst }}</li>
            {% for category in faqCategories %}
              <li class="nav-item mr-2"><a class="nav-link active py-1 px-2" href="#{{ category.url }}">{{ category.title }}</a></li>
            {% endfor %}
          </ul>
        </div>
      {% endblock %}
    {% endif %}

    {% block block_body %}
      <div class="block-body">
        {% for category in faqCategories %}
          <section class="faq-category mb-3">
            {% if allowMultipleCategories %}
              <header class="faq-category-heading">
                {# do not remove the id as can be used as an achor #}
                <h2 class="h3" id="{{ category.url }}">
                  <a href="{{ category.full_url }}">{{ category.title }}</a>
                </h2>
              </header>
            {% endif %}

            <div class="faq-category-body">
              <ul class="list-group">
                {% for question in category.questions %}
                  <li class="list-group-item list-group-item-action"><a href="{{ question.full_url }}">{{ question.question }}</a></li>
                {% endfor %}
              </ul>
            </div>
          </section>
        {% endfor %}
      </div>
    {% endblock %}

    {% block block_footer %}{% endblock %}
  {% endif %}
</section>
