{% extends 'Layout/Templates/dashboard.html.twig' %}

{% block content %}
  <div id="dashboardWidgets" class="fork-dashboard">
    <div class="row">
      <div class="col-md-12">
        <div id="editDashboardMessage" class="alert alert-info" role="alert" style="display:none;">
          {{ 'msg.HelpEditDashboard'|trans }}
          <a href="#" id="doneEditingDashboard">{{ 'lbl.Done'|trans|ucfirst }}</a>
        </div>
      </div>
    </div>
    <div class="row row-small">
      {% for widget in widgets %}
        {% if widget.content is not empty %}
          <div class="col-sm-12 col-md-4 col-small fork-dashboard-column">
            <div class="fork-widget sortableWidget" data-module="{{ widget.module }}" data-widget="{{ widget.widget }}" data-title="{{ widget.title }}"{% if widget.hidden %} style="display: none;"{% endif %}>
              <a href="#" class="editDashboardClose close ui-dialog-titlebar-close ui-corner-all" style="display: none;">&times;</a>
              {% if widget.hidden %}
                <div class="panel panel-default">
                  <div class="panel-heading">
                    <h2 class="panel-title">{{ widget.title }}</h2>
                  </div>
                  <div class="panel-body" style="display: none;">
                    {{ 'msg.WillBeEnabledOnSave'|trans }}
                  </div>
                </div>
              {% endif %}
              {% if not widget.hidden %}
                {{ widget.content|raw }}
              {% endif %}
            </div>
            &#160;
          </div>
          {{ cycle(['', '', '</div><div class="row row-small">'], loop.index0)|raw }}
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
