{% extends '@Backend/base/base.html.twig' %}
{% import '@Backend/base/macros.html.twig' as macro %}
{% set crudDeleteModule = null %}
{% set crudIndexModule = null %}
{% set crudIndexParameters = [] %}
{% set crudIndexRelative = false %}
{% set crudIndexLocale = null %}
{% if crudDeleteName is not defined %}
  {% set crudDeleteName = breadcrumbs|last.label %}
{% endif %}

{% block content %}
  {% if formTheme is defined %}
    {% form_theme backend_form with ['@Backend/base/formTheme.html.twig', formTheme] %}
  {% endif %}
  {{ form_start(backend_form) }}
  {{ form_widget(backend_form) }}
  {{ form_errors(backend_form) }}
  {{ form_rest(backend_form) }}

  <div class="btn-toolbar d-flex">
    <div class="btn-group" role="group">
      {% if crudDeleteAction is defined and is_allowed(crudDeleteAction, crudDeleteModule) %}
        {{ macro.buttonIcon('', deleteIcon|default('trash'), deleteLabel|default('lbl.Delete'|trans|ucfirst), deleteClass|default('btn-danger'), {"type": "button", "data-bs-toggle": "modal", "data-bs-target": "#confirmDelete"}) }}
      {% endif %}
      {% if crudIndexAction is defined and is_allowed(crudIndexAction, crudIndexModule) %}
        <div class="btn-group" role="group">
          {{ macro.buttonIcon(action_path(crudIndexAction, crudIndexModule, crudIndexParameters, crudIndexRelative, crudIndexLocale), crudIndexIcon|default('times'), crudIndexLabel|default('lbl.Cancel'|trans|ucfirst), crudIndexClass|default('btn-default')) }}
        </div>
      {% endif %}
      {% block leftToolbar %}{% endblock %}
    </div>
    <div class="btn-group ms-auto" role="group">
      {% block rightToolbar %}{% endblock %}
      {{ macro.buttonIcon('', submitIcon|default('save'), submitLabel|default('lbl.Save'|trans|ucfirst), submitClass|default('btn-primary')) }}
    </div>
  </div>
  {{ form_end(backend_form) }}

  {% if crudDeleteAction is defined and is_allowed(crudDeleteAction, crudDeleteModule) %}
    {{ form_start(backend_delete_form) }}
    {{ form_row(backend_delete_form._token) }}
    {{ form_row(backend_delete_form.id) }}
    <div class="modal fade" id="confirmDelete" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmDeleteTitle">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="confirmDeleteTitle">{{ confirmDeleteTitle|default('lbl.Delete'|trans|ucfirst) }}</h4>
          </div>
          <div class="modal-body">
            <p>{{ confirmDeleteMessage|default('msg.ConfirmDelete'|trans|format(crudDeleteName|e)) }}</p>
          </div>
          <div class="modal-footer">
            {{ macro.buttonIcon('', confirmDeleteCancelIcon|default('times'), confirmDeleteCancelLabel|default('lbl.Cancel'|trans|ucfirst), confirmDeleteCancelClass|default('btn-default'), {"type": "button", "data-bs-dismiss": "modal"}) }}
            {{ macro.buttonIcon('', confirmDeleteSubmitIcon|default('trash'), confirmDeleteSubmitLabel|default('lbl.Delete'|trans|ucfirst), confirmDeleteSubmitClass|default('btn-danger'), {"type": "submit"}) }}
          </div>
        </div>
      </div>
    </div>
    {{ form_end(backend_delete_form) }}
  {% endif %}
{% endblock %}
