{#
  variables that are available:
  - {{ item }}: contains data about the post
  - {{ comments }}: contains an array with the comments for the post, each element contains data about the comment.
  - {{ commentsCount }}: contains a variable with the number of comments for this blog post.
  - {{ navigation }}: contains an array with data for previous and next post
#}
{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}
{% import "Core/Layout/Templates/Macros.html.twig" as macro %}

<section class="module-blog block-blog-index">
  <article itemscope itemtype="http://schema.org/Blog" role="main">
    <meta itemprop="interactionCount" content="UserComments:commentsCount">
    <meta itemprop="author" content="{{ item.user_id|usersetting('nickname' ) }}">

    {% block block_heading %}
      <header class="block-heading page-header" role="banner">
        <h1 itemprop="name">
          {{ item.title }}
        </h1>

        <div>
          {{ 'msg.WrittenBy'|trans|ucfirst|format(item.user_id|usersetting('nickname')) }}
          {{ 'lbl.On'|trans }}
          <time itemprop="datePublished" datetime="{{ item.publish_on|date('Y-m-d\\TH:i:s' ) }}">
            {{ item.publish_on|spoondate(dateFormatLong, LANGUAGE) }}
          </time>
        </div>

        <div class="row">
          <div class="col-md-6">
            {{ 'lbl.Category'|trans|ucfirst }}
            <a itemprop="genre" href="{{ item.category_full_url }}">{{ item.category_title }}</a>{% if item.tags %},{% endif %}

            {% if item.tags %}
              {{ 'lbl.Tags'|trans }}:
              <span itemprop="keywords">
                      {% for tag in item.tags %}
                      <a class="badge badge-primary" href="{{ tag.full_url }}" rel="tag">
                        {{ tag.name }}
                        </a>{% if not loop.last %},{% endif %}
                      {% endfor %}
                    </span>
            {% endif %}
            .
          </div>

          {% if item.allow_comments %}
            <div class="col-md-6">
              {% if not item.comments %}
                <a href="{{ item.full_url }}#{{ 'act.Comment'|trans }}" itemprop="discussionUrl">
                  {{ 'msg.BlogNumberOfComments'|trans|format(item.comments_count ) }}
                </a>
              {% else %}
                <a href="{{ item.full_url }}#{{ 'act.Comments'|trans }}" itemprop="discussionUrl">
                  {% if item.comments_multiple %}
                    {{ 'msg.BlogNumberOfComments'|trans|format(item.comments_count ) }}
                  {% else %}
                    {{ 'msg.BlogOneComment'|trans }}
                  {% endif %}
                </a>
              {% endif %}
            </div>
          {% endif %}
        </div>
      </header>
    {% endblock %}

    {% block block_body %}
      <div class="block-body" itemprop="articleBody">
        {% if item.image %}
          <img class="img-polaroid col-md-4 img-responsive pull-right" src="{{ FRONTEND_FILES_URL }}/Blog/images/source/{{ item.image }}" alt="{{ item.title }}" itemprop="image" />
        {% endif %}
        {{ item.text|parse_blocks }}
      </div>
    {% endblock %}

    {% block block_footer %}
      <footer class="block-footer mt-4">
        <nav aria-label="{{ 'lbl.BlogPageNavigationAriaLabel'|trans }}">
          <ul class="pagination">
            {% if navigation.previous %}
              <li class="page-item">
                <a class="page-link" href="{{ navigation.previous.url }}">&larr;
                  <span class="visually-hidden">{{ 'lbl.PreviousArticle'|trans|ucfirst }}: </span>
                  <span class="title">{{ navigation.previous.title }}</span></a>
              </li>
            {% endif %}
            {% if navigation.next %}
              <li class="page-item ml-auto">
                <a class="page-link" href="{{ navigation.next.url }}">
                  <span class="visually-hidden">{{ 'lbl.NextArticle'|trans|ucfirst }}: </span>
                  <span class="title">{{ navigation.next.title }}</span> &rarr;
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </footer>
    {% endblock %}
  </article>

  {% block block_article_comments %}
    {% if comments or item.allow_comments %}
      <section id="{{ 'act.Comments'|trans }}" class="block-blog-article-comments mt-4">
        <header role="banner" class="block-blog-article-comments-heading">
          <h3>{{ 'lbl.Comments'|trans|ucfirst }}</h3>
        </header>

        {% if not comments %}
          {% if item.allow_comments %}
            <div class="block-blog-article-comments-alerts">
              {{ alerts.alert('info', 'msg.BlogNoComments'|trans) }}
            </div>
          {% endif %}
        {% else %}
          {% for comment in comments %}
            {# Do not alter the id! It is used as an anchor #}
            <div
              id="comment-{{ comment.id }}" class="block-blog-article-comments-comment d-flex"
              itemprop="comment"
              itemscope
              itemtype="http://schema.org/UserComments"
            >
              <div class="block-blog-article-comments-comment-avatar">
                <meta itemprop="discusses" content="{{ item.title }}" />
                {% if comment.website %}
                  <a href="{{ comment.website }}">{{ comment.website }}</a>
                {% endif %}
              </div>

              <div>
                <div class="block-blog-article-comments-comment-meta" itemscope itemtype="http://schema.org/Person">
                  {% if comment.website %}
                  <a href="{{ comment.website }}" itemprop="url">
                    {% endif %}
                    <span itemprop="creator name">{{ comment.author }}</span>
                    {% if comment.website %}
                  </a>
                  {% endif %}
                  {{ 'lbl.Wrote'|trans }}
                  <time itemprop="commentTime" datetime="{{ comment.created_on|date('Y-m-d\\TH:i:s.vP' ) }}">
                    {{ comment.created_on|timeago|raw }}
                  </time>
                </div>
                <div class="commentText block-blog-article-comments-comment-content" itemprop="commentText">
                  {{ comment.text }}
                </div>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </section>
    {% endif %}
  {% endblock %}

  {% if item.allow_comments %}
    {% block block_article_comment_form %}
      <section id="{{ 'act.Comment'|trans }}" class="block-blog-article-comment-form mt-4 bg-light p-3">
        <header class="block-blog-article-comment-form-heading" role="banner">
          <h4>{{ 'msg.Comment'|trans|ucfirst }}</h4>
        </header>

        <div class="block-blog-article-comment-form-alerts">
          {% if commentIsInModeration %}
            {{ alerts.alert('info', 'msg.BlogCommentInModeration'|trans) }}
          {% endif %}
          {% if commentIsSpam %}
            {{ alerts.alert('danger', 'msg.BlogCommentIsSpam'|trans) }}
          {% endif %}
          {% if commentIsAdded %}
            {{ alerts.alert('success', 'msg.BlogCommentIsAdded'|trans) }}
          {% endif %}
        </div>

        <div class="block-blog-article-comment-form-body">
          {% form commentsForm %}
          <div class="row">
            <div class="col-md-7">
              <div class="form-group {% if txtMessageError %}error{% endif %}">
                <label class="control-label" for="message">{{ 'lbl.Message'|trans|ucfirst }}
                  {{ macro.required }}</label>
                <div class="controls">
                  {% form_field message %} {% form_field_error message %}
                </div>
              </div>
            </div>
            <div class="col-md-5 authorInfo">
              <div class="form-group {% if txtAuthorError %}error{% endif %}">
                <label class="control-label" for="author">{{ 'lbl.Name'|trans|ucfirst }}
                  {{ macro.required }}</label>
                {% form_field author %}
                {% form_field_error author %}
              </div>
              <div class="form-group {% if txtEmailError %}error{% endif %}">
                <label class="control-label" for="email">{{ 'lbl.Email'|trans|ucfirst }}
                  {{ macro.required }}</label>
                {% form_field email %}
                {% form_field_error email %}
              </div>
              <div class="form-group {% if txtWebsiteError %}error{% endif %}">
                <label class="control-label" for="website">{{ 'lbl.Website'|trans|ucfirst }}</label>
                {% form_field website %}
                {% form_field_error website %}
              </div>
            </div>
          </div>
          <div class="form-actions">
            <input class="btn-primary btn" type="submit" name="comment" value="{{ 'msg.Comment'|trans|ucfirst }}" />
          </div>
          {% endform %}
        </div>
      </section>
    {% endblock %}
  {% endif %}
</section>
