{#
	variables that are available:
	- {{ items }}: contains an array with all posts, each element contains data about the post
#}

{% if not items %}
	<div id="blogIndex">
		<section class="mod">
			<div class="inner">
				<div class="bd content">
					<p>{{ msg.BlogNoItems }}</p>
				</div>
			</div>
		</section>
	</div>
{% endif %}
{% if items %}
	<div id="blogIndex">
		{% for xXx in items %}
			<article class="mod">
				<div class="inner">
					<header class="hd">
						<h3><a href="{{ items.full_url }}" title="{{ items.title }}">{{ items.title }}</a></h3>
						<ul>
							<li>
								{# Written by #}
								{{ msg.WrittenBy|capitalize|sprintf({$items.user_id|usersetting('nickname' }}}))

								{# Written on #}
								{{ lbl.On }} {{ items.publish_on|spoon_date({$dateFormatLong }}, {{ LANGUAGE }}})

								{# Category#}
								{{ lbl.In }} {{ lbl.The }} {{ lbl.Category }} <a href="{{ items.category_full_url }}" title="{{ items.category_title }}">{{ items.category_title }}</a>{% if not items.tags %}.{% endif %}

								{# Tags #}
								{% if items.tags %}
									{{ lbl.With }} {{ lbl.The }} {{ lbl.Tags }}
									{% for xXx in items.tags %}
										<a href="{{ items.tags.full_url }}" rel="tag" title="{{ items.tags.name }}">{{ items.tags.name }}</a>{% if not items.tags.last %}, {% endif %}{% if items.tags.last %}.{% endif %}
									{% endfor %}
								{% endif %}
							</li>
							{# Comments #}
							{% if items.allow_comments %}
								<li>
									{% if not items.comments %}<a href="{{ items.full_url }}#{{ act.Comment }}">{{ msg.BlogNoComments|capitalize }}</a>{% endif %}
									{% if items.comments %}
										{% if items.comments_multiple %}<a href="{{ items.full_url }}#{{ act.Comments }}">{{ msg.BlogNumberOfComments|sprintf({$items.comments_count }}})</a>{% endif %}
										{% if not items.comments_multiple %}<a href="{{ items.full_url }}#{{ act.Comments }}">{{ msg.BlogOneComment }}</a>{% endif %}
									{% endif %}
								</li>
							{% endif %}
						</ul>
					</header>
					<div class="bd content">
						{% if items.image %}<img src="{{ FRONTEND_FILES_URL }}/blog/images/source/{{ items.image }}" alt="{{ items.title }}" />{% endif %}
						{% if not items.introduction %}{{ items.text }}{% endif %}
						{% if items.introduction %}{{ items.introduction }}{% endif %}
					</div>
				</div>
			</article>
		{% endfor %}
	</div>
	{% include "Core/Layout/Templates/Pagination.html.twig" %}
{% endif %}
