{#
  variables that are available:
  - {{ items }}: contains an array with all posts, each element contains data about the post
#}
{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}
{% if not items %}
  <div id="blogIndex" class="blog">
    <section>
      {{ alerts.alert('info', 'msg.BlogNoItems'|trans) }}
    </section>
  </div>
{% else %}
  <div id="blogIndex" class="blog">
    {% for item in items %}
      <article class="article" itemcope itemtype="http://schema.org/Blog" role="main">
        <meta itemprop="interactionCount" content="UserComments:item.comments_count">
        <meta itemprop="author" content="{{ item.user_id|usersetting('nickname' ) }}">
        <header role="banner">
          <div class="title">
            <div class="row">
              <div class="col-md-10">
                <h2 itemprop="name"><a href="{{ item.full_url }}" title="{{ item.title }}">{{ item.title }}</a></h2>
              </div>
              {% if item.allow_comments %}
                <div class="col-md-2 commentCount">
                  {% if not item.comments %}
                    <a href="{{ item.full_url }}#{{ 'act.Comment'|trans }}" itemprop="discussionUrl">
                      {{ 'msg.BlogNumberOfComments'|trans|format(item.comments_count) }}
                    </a>
                  {% else %}
                    {% if item.comments_multiple %}
                      <a href="{{ item.full_url }}#{{ 'act.Comments'|trans }}" itemprop="discussionUrl">
                        {{ 'msg.BlogNumberOfComments'|trans|format(item.comments_count) }}
                      </a>
                    {% else %}
                      <a href="{{ item.full_url }}#{{ 'act.Comments'|trans }}" itemprop="discussionUrl">
                        {{ 'msg.BlogOneComment'|trans }}
                      </a>
                    {% endif %}
                  {% endif %}
                </div>
              {% endif %}
            </div>
          </div>
          <div class="row muted meta">
            <div class="col-md-6">
              {{ 'msg.WrittenBy'|trans|capitalize|format(item.user_id|usersetting('nickname')) }}
              {{ 'lbl.On'|trans }}
              <time itemprop="datePublished" datetime="{{ item.publish_on|date('Y-m-d\TH,i,s' ) }}">
                {{ item.publish_on|spoondate(dateFormatLong, LANGUAGE) }}
              </time>
            </div>
            <div class="col-md-6 metaExtra">
              {{ 'lbl.Category'|trans|capitalize }}:
              <a itemprop="articleSection" href="{{ item.category_full_url }}">{{ item.category_title }}</a>
              {% if item.tags %}
                {{ 'lbl.Tags'|trans|capitalize }}:
                <span itemprop="keywords">
                  {% for tag in item.tags %}
                  <a class="label label-default" href="{{ tag.full_url }}" rel="tag">
                    {{ tag.name }}
                    </a>{% if not loop.last %},{% endif %}
                  {% endfor %}
                </span>
              {% endif %}
            </div>
          </div>
        </header>
        <div class="articleBody" itemprop="articleBody">
          {% if item.image %}
            <img itemprop="image" class="img-polaroid col-md-4 img-responsive pull-right" src="{{ FRONTEND_FILES_URL }}/blog/images/source/{{ item.image }}" alt="{{ item.title }}" />{% endif %}
          {% if not item.introduction %}
            {{ item.text|raw }}
          {% else %}
            {{ item.introduction|raw }}
          {% endif %}
        </div>
      </article>
    {% endfor %}
  </div>
  {% include 'Core/Layout/Templates/Pagination.html.twig' %}
{% endif %}
