{#
  Variables that are available:
  - {{ tagsModules }}: contains all tags, grouped per module
#}
<section class="module-tags block-tags-detail">
  {% block block_heading %}
    <header class="block-heading page-header" role="banner">
      <h1>{{ 'lbl.ItemsWithTag'|trans|format(tag.name)|ucfirst }}</h1>
    </header>
  {% endblock %}

  {% block block_body %}
    <div class="block-body">
      {% if tagsModules %}
        {% for module in tagsModules %}
          <section>
            <header role="banner">
              <h2>{{ module.label|ucfirst }}</h2>
            </header>
            <ul>
              {% for item in module.items %}
                <li>
                  <a href="{{ item.full_url }}" rel="tag">
                    {{ item.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </section>
        {% endfor %}
      {% endif %}
    </div>
  {% endblock %}

  {% block block_footer %}
    <nav class="block-footer" role="navigation">
      <ul class="pager">
        <li class="previous">
          <a href="{{ geturlforblock('Tags') }}" title="{{ 'lbl.ToTagsOverview'|trans|ucfirst }}">
            ← {{ 'lbl.ToTagsOverview'|trans|ucfirst }}
          </a>
        </li>
      </ul>
    </nav>
  {% endblock %}
</section>
