{% extends 'Layout/Templates/empty.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block content %}
<body id="login">

<div class="login-block">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-md-8 col-lg-6">
        <div class="page-header page-header-login">
          <div class="site-info">
            <img class="site-icon" src="/apple-touch-icon.png" alt="Fork CMS logo">
            <div class="site-text">
              <h1 class="site-title">{{ SITE_TITLE }}</h1>
              <a class="site-url" data-url="{{ SITE_URL }}{{ prefixURL }}/{{ item.url }}{% if appendRevision %}?page_revision={{ item.revision_id }}{% endif %}" href="{{ SITE_URL }}{{ prefixURL }}/{{ item.url }}{% if appendRevision %}?page_revision={{ item.revision_id }}{% endif %}">
                {{ SITE_URL }}{{ prefixURL }}/<span id="generatedUrl">{{ item.url }}</span>
              </a>
            </div>
          </div>
        </div>

        {% form authenticationResetPassword %}
          <div class="card card-default">
            <div class="card-body">
              {% if debug %}
                {{ macro.alert('warning', 'msg.WarningDebugMode'|trans|ucfirst, null, null, {'class': 'toast-xs'}) }}
              {% endif %}

              <small class="form-text text-muted">{{ 'msg.HelpResetPassword'|trans|ucfirst }}</small>
              <div class="form-group">
                <label for="backendNewPassword" class="control-label">{{ 'lbl.NewPassword'|trans|ucfirst }}</label>
                {% form_field backend_new_password %} {% form_field_error backend_new_password %}
              </div>
              <div class="form-group">
                <label for="backendNewPasswordRepeated"
                  class="control-label">{{ 'lbl.RepeatPassword'|trans|ucfirst }}</label>
                {% form_field backend_new_password_repeated %} {% form_field_error backend_new_password_repeated %}
              </div>
              <div class="btn-toolbar justify-content-end">
                <div class="btn-group">
                  {{ macro.buttonIcon('', 'sign-in-alt', 'lbl.ResetAndSignIn'|trans|ucfirst, 'btn-primary', {"id":"resetPassword", "name":"reset", "type":"submit"}) }}
                </div>
              </div>
            </div>
          </div>
        {% endform %}
      </div>
    </div>
  </div>
</div>
{% endblock %}
