{% extends '@Backend/base/crud/edit.html.twig' %}
{% import '@Backend/base/macros.html.twig' as macro %}
{% set crudIndexAction = 'ContentBlockIndex' %}
{% set crudDeleteName = content_block.title %}

{% block content %}
  <ul class="nav nav-tabs" role="tablist">
    <li class="nav-item me-auto" role="presentation">
      <button id="content-block_tabs_content-tab" class="nav-link active" type="button" role="tab"
              data-bs-toggle="tab" data-bs-target="#content-block_tabs_content"
              aria-controls="content-block_tabs_content" aria-selected="true">
        {{ 'lbl.Content'|trans }}
      </button>
    </li>
    <li class="nav-item" role="presentation">
      <button id="content-block_tabs_revisions-tab" class="nav-link" type="button" role="tab"
              data-bs-toggle="tab" data-bs-target="#content-block_tabs_revisions"
              aria-controls="content-block_tabs_revisions" aria-selected="false" tabindex="-1">
        {{ 'lbl.Revisions'|trans }}
      </button>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane fade show active" id="content-block_tabs_content" role="tabpanel"
         aria-labelledby="content-block_tabs_content-tab">
      {% if formTheme is defined %}
        {% form_theme backend_form with ['@Backend/base/formTheme.html.twig',formTheme] %}
      {% endif %}
      {{ form_start(backend_form) }}
      {{ form_widget(backend_form) }}
      {{ form_errors(backend_form) }}
      {{ form_rest(backend_form) }}
    </div>

    <div class="tab-pane fade" id="content-block_tabs_revisions" role="tabpanel"
         aria-labelledby="content-block_tabs_revisions-tab">
      <div class="content-block">
        <div class="content-title">
          <h2>{{ 'lbl.PreviousVersions' }}</h2>
        </div>

        <div class="table-responsive">
          <table class="table table-hover table-striped">
            <thead>
              <tr>
                <th class="title">{{ 'lbl.Title'|trans }}</th>
                <th>{{ 'lbl.EditedOn'|trans }}</th>
                <th>{{ 'lbl.By'|trans }}</th>
                <th class="actions"></th>
              </tr>
            </thead>
            <tbody>
            {% for revision in revisions %}
              <tr>
                <td>{{ revision.title }}</td>
                <td>{{ revision.updatedOn|date('d-m-Y H:i') }}</td>
                <td>{{ revision.updatedBy.displayname }}</td>
                <td>
                  <a class="btn btn-default btn-xs" href="{{ action_url('ContentBlockEdit', null, {slug: revision.revisionId}) }}">
                    <i class="fa fa-file"></i> {{ 'lbl.LoadRevision'|trans }}
                  </a>
                </td>
              </tr>
            {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

  <div class="btn-toolbar d-flex">
    <div class="btn-group" role="group">
      {% if crudDeleteAction is defined and is_allowed(crudDeleteAction, crudDeleteModule) %}
        {% set options = {"type":"button", "data-bs-toggle":"modal", "data-bs-target":"#confirmDelete"} %}
        {% if content_block_in_use %}
          {% set options = options|merge({"disabled":"disabled"}) %}
        {% endif %}
        {{ macro.buttonIcon('', deleteIcon|default('trash'), deleteLabel|default('lbl.Delete'|trans|ucfirst), deleteClass|default('btn-danger'), options) }}
      {% endif %}
      {% if crudIndexAction is defined and is_allowed(crudIndexAction, crudIndexModule) %}
        <div class="btn-group" role="group">
          {{ macro.buttonIcon(action_path(crudIndexAction, crudIndexModule, crudIndexParameters, crudIndexRelative, crudIndexLocale), crudIndexIcon|default('times'), crudIndexLabel|default('lbl.Cancel'|trans|ucfirst), crudIndexClass|default('btn-default')) }}
        </div>
      {% endif %}
      {% block leftToolbar %}{% endblock %}
    </div>
    <div class="btn-group ms-auto" role="group">
      {% block rightToolbar %}{% endblock %}
      {{ macro.buttonIcon('', submitIcon|default('save'), submitLabel|default('lbl.Save'|trans|ucfirst), submitClass|default('btn-primary')) }}
    </div>
  </div>
  {{ form_end(backend_form) }}

  {% if crudDeleteAction is defined and is_allowed(crudDeleteAction, crudDeleteModule) %}
    {{ form_start(backend_delete_form) }}
    {{ form_row(backend_delete_form._token) }}
    {{ form_row(backend_delete_form.id) }}
    <div class="modal fade" id="confirmDelete" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmDeleteTitle">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h4 class="modal-title" id="confirmDeleteTitle">{{ confirmDeleteTitle|default('lbl.Delete'|trans|ucfirst) }}</h4>
          </div>
          <div class="modal-body">
            <p>{{ confirmDeleteMessage|default('msg.ConfirmDelete'|trans|format(crudDeleteName|e)) }}</p>
          </div>
          <div class="modal-footer">
            {{ macro.buttonIcon('', confirmDeleteCancelIcon|default('times'), confirmDeleteCancelLabel|default('lbl.Cancel'|trans|ucfirst), confirmDeleteCancelClass|default('btn-default'), {"type":"button", "data-bs-dismiss":"modal"}) }}
            {{ macro.buttonIcon('', confirmDeleteSubmitIcon|default('trash'), confirmDeleteSubmitLabel|default('lbl.Delete'|trans|ucfirst), confirmDeleteSubmitClass|default('btn-danger'), {"type":"submit"}) }}
          </div>
        </div>
      </div>
    </div>
    {{ form_end(backend_delete_form) }}
  {% endif %}
{% endblock %}
