{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% if dataGrid %}
    <form action="{{ geturl('mass_action') }}" method="get" class="forkForms submitWithLink" id="tagsForm">
      <input type="hidden" name="token" value="{{ fork_csrf_token }}">
      <div class="table-responsive">
        {{ dataGrid|raw }}
      </div>
      <div class="modal fade" id="confirmDelete" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="confirmDeleteTitle">
        <div class="modal-dialog">
          <div class="modal-content">
            <div class="modal-header">
              <h4 class="modal-title" id="confirmDeleteTitle">{{ 'lbl.Delete'|trans|ucfirst }}</h4>
            </div>
            <div class="modal-body">
              <p>{{ 'msg.ConfirmMassDelete'|trans|ucfirst }}</p>
            </div>
            <div class="modal-footer">
              {{ macro.buttonIcon('', 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default', {"data-dismiss":"modal"}) }}
              {{ macro.buttonIcon('', 'trash', 'lbl.Delete'|trans|ucfirst, 'btn-danger') }}
            </div>
          </div>
        </div>
      </div>
    </form>
  {% else %}
    {{ macro.emptyState(null, null, 'msg.NoItems'|trans|ucfirst) }}
  {% endif %}
{% endblock %}
