{% extends 'Layout/Templates/base.html.twig' %}

{% block actionbar %}

{% endblock %}

{% block content %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      {% if dataGrid %}
        <form action="{{ geturl('mass_action') }}" method="get" class="forkForms submitWithLink" id="tagsForm">
          <div class="table-responsive">
            {{ dataGrid|raw }}
          </div>
          <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
              <div class="modal-content">
                <div class="modal-header">
                  <span class="modal-title h4">{{ 'lbl.Delete'|trans|ucfirst }}</span>
                </div>
                <div class="modal-body">
                  <p>{{ 'msg.ConfirmMassDelete'|trans|ucfirst }}</p>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-default" data-dismiss="modal">
                    <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
                  </button>
                  <button type="submit" class="btn btn-danger">
                    <span class="fa fa-trash"></span>{{ 'lbl.Delete'|trans|ucfirst }}
                  </button>
                </div>
              </div>
            </div>
          </div>
        </form>
      {% endif %}
      {% if not dataGrid %}
        <p>{{ 'msg.NoItems'|trans|ucfirst }}</p>
      {% endif %}
    </div>
  </div>
{% endblock %}
