{% extends 'Layout/Templates/base.html.twig' %}

{% block actionbar %}

{% endblock %}

{% block content %}
  <div class="panel panel-default">
    <div class="panel-heading">
      <p>{{ 'lbl.Statistics'|trans|ucfirst }} {{ 'lbl.From'|trans }} {{ startTimestamp|date('m/d/Y') }} {{ 'lbl.Till'|trans }} {{ endTimestamp|date('m/d/Y') }}</p>
    </div>
    <div class="panel-body">
      <div class="change-periode content-block">
        {% form date_range %}
        <div class="form-inline">
          <div class="form-group">
            <label for="startDate" class="control-label">{{ 'lbl.StartDate'|trans|ucfirst }}</label>
            {% form_field start_date %}
            {% form_field_error start_date %}
          </div>
          <div class="form-group">
            <label for="endDate" class="control-label">{{ 'lbl.EndDate'|trans|ucfirst }}</label>
            {% form_field end_date %}
            {% form_field_error end_date %}
          </div>
          <div class="form-group">
            <input id="update" class="btn btn-primary" type="submit" name="update" value="{{ 'lbl.ChangePeriod'|trans|ucfirst }}" />
          </div>
        </div>
        {% endform %}
      </div>

      <div class="analytics-numbers content-block content-block-pt">
        <div class="row">
          <div class="col-md-4">
            <p><strong>{{ page_views }}</strong> {{ 'lbl.Pageviews'|trans|ucfirst }}</p>
            <p><strong>{{ visitors }}</strong> {{ 'lbl.Visitors'|trans|ucfirst }}</p>
          </div>
          <div class="col-md-4">
            <p><strong>{{ pages_per_visit|formatfloat }}</strong> {{ 'lbl.PagesPerVisit'|trans|ucfirst }}</a></p>
            <p><strong>{{ time_on_site|formattime }}</strong> {{ 'lbl.AverageTimeOnSite'|trans|ucfirst }}</p>
          </div>
          <div class="col-md-4">
            <p>
              <strong>{{ new_sessions_percentage|formatfloat }}%</strong> {{ 'lbl.NewVisitsPercentage'|trans|ucfirst }}
            </p>
            <p><strong>{{ bounce_rate|formatfloat }}%</strong> {{ 'lbl.BounceRate'|trans|ucfirst }}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="analytics-charts content-block">
    <div class="row">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p>{{ 'lbl.RecentVisits'|trans|ucfirst }}</p>
          </div>
          <div class="panel-body">
            {% if visitors_graph_data %}
              <div id="dataChartDoubleMetricPerDay" class="hidden">
                <span id="maxYAxis">{{ maxYAxis }}</span>
                <span id="tickInterval">{{ tickInterval }}</span>
                <span id="yAxisTitle">{{ 'lbl.Visits'|trans|ucfirst }}</span>
                <ul class="series">
                  <li class="serie" id="metric1serie">
                    <span class="name">Pageviews</span>
                    <ul class="data">
                      {% for visitor in visitors_graph_data %}
                        <li>
                          <span class="fulldate">{{ visitor.ga_date|spoondate('D d M',INTERFACE_LANGUAGE|uppercase) }}</span>
                          <span class="date">{{ visitor.ga_date|spoondate('d M',INTERFACE_LANGUAGE|uppercase) }}</span>
                          <span class="value">{{ visitor.ga_pageviews }}</span>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                  <li class="serie" id="metric2serie">
                    <span class="name">Visitors</span>
                    <ul class="data">
                      {% for visitor in visitors_graph_data %}
                        <li>
                          <span class="fulldate">{{ visitor.ga_date|spoondate('D d M',INTERFACE_LANGUAGE|uppercase) }}</span>
                          <span class="date">{{ visitor.ga_date|spoondate('d M',INTERFACE_LANGUAGE|uppercase) }}</span>
                          <span class="value">{{ visitor.ga_users }}</span>
                        </li>
                      {% endfor %}
                    </ul>
                  </li>
                </ul>
              </div>
              <div id="chartDoubleMetricPerDay">&nbsp;</div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p>{{ 'lbl.PageviewsByTrafficSources'|trans|ucfirst }}</p>
          </div>
          <div class="panel-body">
            {% if source_graph_data %}
              <div id="dataChartPieChart" class="hidden">
                <ul class="data">
                  {% for source in source_graph_data %}
                    <li>
                      <span class="label">{{ source.ga_medium }}</span><span class="value">{{ source.ga_pageviews }}</span>
                    </li>
                  {% endfor %}
                </ul>
              </div>
              <div id="chartPieChart">&nbsp;</div>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="analytics-grid content-block">
    <div class="row">
      <div class="col-xs-12">
        <div class="panel panel-default">
          <div class="panel-heading">
            <p>{{ 'lbl.MostViewedPages'|trans|ucfirst }}</p>
          </div>
          <div class="panel-body">
            <div class="dataGridHolder">
              {{ dataGridMostViewedPages|raw }}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
