{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% if noAccounts %}
    {{ macro.alert('info', 'msg.NoAccounts'|trans|format(email)|raw) }}
  {% endif %}
  {% form settings %}
  {% if fileCertificate %}
    <div class="card card-default">
      <div class="card-heading">
        <h2 class="card-title">
          {{ 'lbl.Certificate'|trans|ucfirst }}
        </h2>
      </div>
      <div class="card-body">
        <div class="form-group last">
          {{ 'msg.CertificateHelp'|trans|raw }}

          <div class="row">
            <div class="col-lg-6">
              <div class="form-group">
                <label class="form-label" for="customFile">{{ 'lbl.ChooseFile'|trans }}</label>
                {% form_field certificate %}
                {% form_field_error certificate %}
              </div>
            </div>
            <div class="col-lg-6">
              <div class="form-group">
                <label for="email" class="control-label">{{ 'lbl.Email'|trans|ucfirst }}</label>
                {% form_field email %} {% form_field_error email %}
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  {% endif %}
  {% if ddmAccount %}
    <div class="card card-default">
      <div class="card-heading">
        <h2 class="card-title">
          {{ 'lbl.ChooseThisAccount'|trans|ucfirst }}
        </h2>
      </div>
      <div class="card-body">
        <div class="form-group last">
          {% form_field account %}
        </div>
      </div>
    </div>
  {% endif %}
  {% if ddmWebPropertyId %}
    <div class="card card-default">
      <div class="card-heading">
        <h2 class="card-title">
          {{ 'lbl.ChooseWebsiteProfile'|trans|ucfirst }}
        </h2>
      </div>
      <div class="card-body">
        <div class="form-group last">
          {% form_field web_property_id %}
        </div>
      </div>
        </div>
  {% endif %}


  {% if ddmProfile or web_property_id %}
    <div class="row">
      {% if ddmProfile %}
        <div class="col-lg-6">
          <div class="card card-default w-100">
            <div class="card-heading">
              <h2 class="card-title">
                {{ 'lbl.ChooseWebsiteProfile'|trans|ucfirst }}
              </h2>
            </div>
            <div class="card-body">
              <div class="form-group last">
                {% form_field profile %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
      {% if web_property_id %}
        <div class="col-lg-6 d-flex">
          <div class="card card-default w-100">
            <div class="card-heading">
              <h2 class="card-title">
                {{ 'lbl.LinkedProfile'|trans|ucfirst }}
              </h2>
            </div>
            <div class="card-body">
              <div class="form-group last">
                <strong>{{ web_property_id }}</strong>{% if profile %}: ga:profile{% endif %}
              </div>
            </div>
          </div>
        </div>
      {% endif %}
    </div>
  {% endif %}

  <div class="fork-module-actions">
    <div class="btn-toolbar align-items-center">
      {% if isAllowedAction('Reset') and fileCertificate is not defined %}
        <a href="{{ geturl('reset') }}">{{ 'msg.RemoveAccountLink'|trans|ucfirst }}</a>
      {% endif %}
      {% if not profile and (noAccounts == false or noAccounts is not defined) %}
        <div class="btn-group ms-auto" role="group">
          {{ macro.buttonIcon('', 'save', 'lbl.Save'|trans|ucfirst, 'btn-primary', {"id":"save", "type":"submit", "name":"save"}) }}
        </div>
      {% endif %}
    </div>
  </div>
  {% endform %}
{% endblock %}
