{% include "Core/Layout/Templates/Head.html.twig" %}

<body class="{{ LANGUAGE }}" itemscope itemtype="http://schema.org/WebPage">
	{% include "Core/Layout/Templates/Cookies.html.twig" %}

	<div id="topWrapper">
		<header id="header">
			<div class="container">

				{# Logo #}
				<div id="logo">
					<h2><a href="/">{{ siteTitle }}</a></h2>
				</div>

				{# Skip link #}
				<div id="skip">
					<p><a href="#main">{{ lbl.SkipToContent|capitalize }}</a></p>
				</div>

				{# Navigation #}
				<nav id="headerNavigation">
					<h4>{{ lbl.MainNavigation|capitalize }}</h4>
					{{ var|getnavigation('page', 0, 1)|raw }}
				</nav>

				{# Language #}
				<nav id="headerLanguage">
					<h4>{{ lbl.Language|capitalize }}</h4>
					{% include "Core/Layout/Templates/Languages.html.twig" %}
				</nav>

				{# Top position #}
				{% for xXx in positionTop %}
					{{ positionTop.blockContent|raw }}
				{% endfor %}

				{# Breadcrumb #}
				<div id="breadcrumb">
					<h4>{{ lbl.Breadcrumb|capitalize }}</h4>
					{% include "Core/Layout/Templates/Breadcrumb.html.twig" %}
				</div>

				{# Advertisement position #}
				{% for xXx in positionAdvertisement %}
					{% if positionAdvertisement.blockIsHTML %}
						<div id="headerAd">
							{{ positionAdvertisement.blockContent|raw }}
						</div>
					{% endif %}
					{% if not positionAdvertisement.blockIsHTML %}
						{{ positionAdvertisement.blockContent|raw }}
					{% endif %}
				{% endfor %}
			</div>

		</header>
		<div id="main">
			<div class="container">

				{# Left column #}
				<div class="col col-3">

					{# Subnavigation #}
					<nav class="sideNavigation">
						<h4>{{ lbl.Subnavigation|capitalize }}</h4>
						{{ var|getsubnavigation('page', {$page.id }}, 2)|raw }}
					</nav>

					{# Left position #}
					{% for xXx in positionLeft %}
						{% if positionLeft.blockIsHTML %}
							<section class="mod">
								<div class="inner">
									<div class="bd content">
										{{ positionLeft.blockContent|raw }}
									</div>
								</div>
							</section>
						{% endif %}
						{% if not positionLeft.blockIsHTML %}
							{{ positionLeft.blockContent|raw }}
						{% endif %}
					{% endfor %}

				</div>

				{# Main column #}
				<div class="col col-9 lastCol">

					{# Page title #}
					{% if not hideContentTitle %}
						<header class="mainTitle">
							<h1>{{ page.title }}</h1>
						</header>
					{% endif %}

					{# Main position #}
					{% for xXx in positionMain %}
						{% if positionMain.blockIsHTML %}
							<section class="mod">
								<div class="inner">
									<div class="bd content">
										{{ positionMain.blockContent|raw }}
									</div>
								</div>
							</section>
						{% endif %}
						{% if not positionMain.blockIsHTML %}
							{{ positionMain.blockContent|raw }}
						{% endif %}
					{% endfor %}

				</div>
			</div>
		</div>
		<noscript>
			<div class="message notice">
				<h4>{{ lbl.EnableJavascript|capitalize }}</h4>
				<p>{{ msg.EnableJavascript }}</p>
			</div>
		</noscript>
	</div>
	<div id="bottomWrapper">
		{% include "Core/Layout/Templates/Footer.html.twig" %}
	</div>

	{# General Javascript #}
	{% for xXx in jsFiles %}
		<script src="{{ jsFiles.file }}"></script>
	{% endfor %}

	{# Theme specific Javascript #}
	<script src="{{ THEME_URL }}/Core/Js/triton.js"></script>

	{# Site wide HTML #}
	{{ siteHTMLFooter|raw }}
</body>
</html>
