<footer id="footer">
  <div class="container">
    <div id="footerLogo">
      <p>&copy; {{ now|date('Y') }} {{ siteTitle }}</p>
    </div>
    <nav id="footerNavigation">
      <h4>{{ 'lbl.FooterNavigation'|trans }}</h4>
      <ul>
        {% for footer in footerLinks %}
          <li{% if footer.selected %} class="selected"{% endif %}>
            <a href="{{ footer.url }}" title="{{ footer.title }}"{% if footer.rel %} rel="{{ footer.rel }}"{% endif %}>
              {{ footer.navigation_title }}
            </a>
          </li>
        {% endfor %}
        <li><a href="http://www.fork-cms.com" title="Fork CMS">Fork CMS</a></li>
      </ul>
    </nav>
  </div>
</footer>
