<footer id="footer">
	<div class="container">
		<div id="footerLogo">
			<p>&copy; {{ now|date('Y')}} {{ siteTitle }}</p>
		</div>
		<nav id="footerNavigation">
			<h4>{{ lbl.FooterNavigation }}</h4>
			<ul>
				{% for xXx in footerLinks %}
					<li{% if footerLinks.selected %} class="selected"{% endif %}>
						<a href="{{ footerLinks.url }}" title="{{ footerLinks.title }}"{% if footerLinks.rel %} rel="{{ footerLinks.rel }}"{% endif %}>
							{{ footerLinks.navigation_title }}
						</a>
					</li>
				{% endfor %}
				<li><a href="http://www.fork-cms.com" title="Fork CMS">Fork CMS</a></li>
			</ul>
		</nav>
	</div>
</footer>