<!DOCTYPE html>
<html lang="{{ LANGUAGE }}">
<head>
  {# Meta #}
  <meta charset="utf-8" />
  <meta name="generator" content="Fork CMS" />
  {{ meta|raw }}
  {{ metaCustom|raw }}

  <title>{{ pageTitle|raw }}</title>

  {# Favicon and Apple touch icon #}
  <link rel="shortcut icon" href="{{ THEME_URL }}/favicon.ico" />
  <link rel="apple-touch-icon" href="{{ THEME_URL }}/apple-touch-icon.png" />

  {# Windows 8 tile #}
  <meta name="application-name" content="{{ siteTitle }}" />
  <meta name="msapplication-TileColor" content="#3380aa" />
  <meta name="msapplication-TileImage" content="{{ THEME_URL }}/tile.png" />

  {# Stylesheets #}
  {% for css in cssFiles %}
    <link rel="stylesheet" href="{{ css.file }}" />
  {% endfor %}

  {# Site wide HTML #}
  {{ siteHTMLHeader|raw }}
</head>
