{% include "Core/Layout/Templates/Head.html.twig" %}

<body class="{{ LANGUAGE }}" itemscope itemtype="https://schema.org/WebPage">
{% include "Core/Layout/Templates/Cookies.html.twig" %}

<div id="topWrapper">
  <header id="header" {% if page.data.image %}style="background-image:url({{ FRONTEND_FILES_URL~'/pages/images/source/'~page.data.image }})" {% endif %}>
    <div class="container">

      {# Logo #}
      <div id="logo">
        <h2><a href="/">{{ siteTitle }}</a></h2>
      </div>

      {# Skip link #}
      <div id="skip">
        <p><a href="#main">{{ 'lbl.SkipToContent'|trans|ucfirst }}</a></p>
      </div>

      {# Navigation #}
      <nav id="headerNavigation">
        <h4>{{ 'lbl.MainNavigation'|trans|ucfirst }}</h4>
        {{ getnavigation('page', 0, 1) }}
      </nav>

      {# Language #}
      <nav id="headerLanguage">
        <h4>{{ 'lbl.Language'|trans|ucfirst }}</h4>
        {% include "Core/Layout/Templates/Languages.html.twig" %}
      </nav>

      {# Top positions #}
      {% for top in positions.top %}
        {% if top.html %}
          {{ top.html|raw }}
        {% endif %}
      {% endfor %}

      {# Breadcrumb #}
      <div id="breadcrumb">
        <h4>{{ 'lbl.Breadcrumb'|trans|ucfirst }}</h4>
        {% include "Core/Layout/Templates/Breadcrumb.html.twig" %}
      </div>

      {# Advertisement positions #}
      {% for advertisement in positions.advertisement %}
        {% if advertisement.html %}
          <div id="headerAd">
            {{ advertisement.html|raw }}
          </div>
        {% endif %}
      {% endfor %}

    </div>

  </header>
  <div id="main">
    <div class="container">

      {# Main column #}
      <div class="col col-12 lastCol">

        {# Page title #}
        {% if not hideContentTitle %}
          <header class="mainTitle">
            <h1>{{ page.title|raw }}</h1>
          </header>
        {% endif %}

        {# Main positions #}
        {% for main in positions.main %}
          {% if main.html %}
            <section class="mod">
              <div class="inner">
                <div class="bd content">
                  {{ main.html|raw }}
                </div>
              </div>
            </section>
          {% endif %}
        {% endfor %}

      </div>

      {# Left column #}
      <div class="col col-6">

        {# Left positions #}
        {% for left in positions.left %}
          {% if left.html %}
            <section class="mod">
              <div class="inner">
                <div class="bd content">
                  {{ left.html|raw }}
                </div>
              </div>
            </section>
          {% endif %}
        {% endfor %}

      </div>

      {# Right column #}
      <div class="col col-6 lastCol">

        {# Right positions #}
        {% for right in positions.right %}
          {% if right.html %}
            <section class="mod">
              <div class="inner">
                <div class="bd content">
                  {{ right.html|raw }}
                </div>
              </div>
            </section>
          {% endif %}
        {% endfor %}

      </div>
    </div>
  </div>
  <noscript>
    <div class="message notice">
      <h4>{{ 'lbl.EnableJavascript'|trans|ucfirst }}</h4>
      <p>{{ 'msg.EnableJavascript'|trans }}</p>
    </div>
  </noscript>
</div>
<div id="bottomWrapper">
  {% include "Core/Layout/Templates/Footer.html.twig" %}
</div>

{# General Javascript #}
{% for js in jsFiles %}
  <script src="{{ js.file }}"></script>
{% endfor %}

{# Theme specific Javascript #}
<script src="{{ THEME_URL }}/Core/Js/triton.js"></script>

{# Site wide HTML #}
{{ siteHTMLFooter|raw }}
</body>
</html>
