{% extends 'Layout/Templates/pages.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block pagesTree %}
  <div class="sub-navigation hidden-xs">
    <div class="pages-tree">
      <div class="alert alert-warning visible-sm">
        <p><span class="fa fa-exclamation-triangle"></span>{{ 'msg.MovePagesNotPossible'|trans }}</p>
      </div>
      <div id="tree">
        {{ tree|raw }}
      </div>
    </div>
    <div id="fullwidthSwitch">
      <a href="#close">&nbsp;</a>
    </div>
  </div>
{% endblock %}

{% block actionbar %}
  {% if showPagesIndex %}
    <div class="btn-toolbar pull-right">
      <div class="btn-group" role="group">
        {{ macro.buttonIcon( geturl('index'), 'list', 'lbl.Overview'|trans|ucfirst) }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% form add %}
  {{ hidTemplateId|raw }}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="form-group">
        <label for="title" class="control-label">{{ 'lbl.Title'|trans|ucfirst }}</label>
        {% form_field title %} {% form_field_error title %}
        <a class="site-url" href="{{ detailURL }}">
          {{ SITE_URL }}{{ prefixURL }}/<span id="generatedUrl"></span>
        </a>
      </div>
    </div>
  </div>
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#tabContent" aria-controls="tabContent" role="tab" data-toggle="tab">{{ 'lbl.Content'|trans|ucfirst }}</a>
          </li>
          <li class="pull-right" role="presentation">
            <a href="#tabSettings" aria-controls="tabSettings" role="tab" data-toggle="tab">{{ 'lbl.Settings'|trans|ucfirst }}</a>
          </li>
          <li class="pull-right" role="presentation">
            <a href="#tabRedirect" aria-controls="tabRedirect" role="tab" data-toggle="tab">{{ 'lbl.Redirect'|trans|ucfirst }}</a>
          </li>
          {% if showTags %}
            <li class="pull-right" role="presentation">
              <a href="#tabTags" aria-controls="tabTags" role="tab" data-toggle="tab">{{ 'lbl.Tags'|trans|ucfirst }}</a>
            </li>
          {% endif %}
          <li class="pull-right" role="presentation">
            <a href="#tabSEO" aria-controls="tabSEO" role="tab" data-toggle="tab">{{ 'lbl.SEO'|trans|ucfirst }}</a>
          </li>
          <li class="pull-right js-page-image-tab" role="presentation">
            <a href="#tabImage" aria-controls="image" role="tab" data-toggle="tab">{{ 'lbl.Image'|trans|ucfirst }}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tabContent">
            <div id="editTemplate">

              {# Do not change the ID! #}
              <p class="current-template">{{ 'lbl.Template'|trans|ucfirst }}:
                <span id="tabTemplateLabel">&nbsp;</span>
                <a data-toggle="modal" data-target="#changeTemplate">
                  {{ 'lbl.ChangeTemplate'|trans|ucfirst }}
                </a>
              </p>

              {% if formErrors %}<span class="formError text-danger">{{ formErrors }}</span>{% endif %}

              <div id="templateVisualFallback" style="display: none">
                <div id="fallback" class="generalMessage singleMessage infoMessage">
                  <div id="fallbackInfo">
                    {{ 'msg.FallbackInfo'|trans }}
                  </div>
                  <table cellspacing="2">
                    <tbody>
                      <tr>
                        <td data-position="fallback" id="templatePosition-fallback"
                          colspan="1" class="box">
                          <div class="panel panel-default panel-pages-block">
                            <div class="panel-heading">
                              <div class="heading linkedBlocksTitle">
                                <p>{{ 'lbl.Fallback'|trans|ucfirst }}</p>
                              </div>
                            </div>
                            <div class="panel-body">
                              <div class="linkedBlocks">
                                <!-- linked blocks will be added here -->
                              </div>
                            </div>
                          </div>
                        </td>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
              <div id="templateVisualLarge">
                &nbsp;
              </div>

            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabSettings">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <ul class="list-unstyled">
                    {% for _itr_19 in hidden %}
                      <li class="radio">
                        <label for="{{ _itr_19.id }}">{{ _itr_19.rbtHidden|raw }} {{ _itr_19.label|ucfirst }}</label>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="form-group">
                  <ul class="list-unstyled">
                    <li class="checkbox">
                      <label for="isAction" class="control-label">{% form_field is_action %} {{ 'msg.IsAction'|trans }}</label>
                    </li>
                  </ul>
                </div>
                {% if isGod %}
                  <div class="form-group">
                    <ul class="list-unstyled">
                      {% for _itr_20 in allow %}
                        <li class="checkbox">
                          <label for="{{ _itr_20.id }}">{{ _itr_20.chkAllow|raw }} {{ _itr_20.label }}</label>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabRedirect">
            <div class="row">
              <div class="col-md-12">
                {% if rbtRedirectError %}
                  <div class="alert alert-danger">{{ rbtRedirectError }}</div>
                {% endif %}
                <ul class="list-unstyled radiobuttonFieldCombo">
                  {% for _itr_21 in redirect %}
                    <li class="radio">
                      <div class="form-group">
                        <label for="{{ _itr_21.id }}">{{ _itr_21.rbtRedirect|raw }} {{ _itr_21.label }}</label>
                        {% if _itr_21.isInternal %}
                          <p class="help-block">{{ 'msg.HelpInternalRedirect'|trans }}</p>
                          {% form_field internal_redirect %} {% form_field_error internal_redirect %}
                        {% endif %}
                        {% if _itr_21.isExternal %}
                          <p class="help-block">{{ 'msg.HelpExternalRedirect'|trans }}</p>
                          {% form_field external_redirect %} {% form_field_error external_redirect %}
                        {% endif %}
                      </div>
                    </li>
                  {% endfor %}
                </ul>

              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabImage">
            <div class="row js-page-image-tab">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="image" class="control-label">{{ 'lbl.Image'|trans|ucfirst }}</label>
                  {% form_field image %} {% form_field_error image %}
                </div>
              </div>
            </div>
          </div>
          {% if showTags %}
            <div role="tabpanel" class="tab-pane" id="tabTags">
              <div class="row">
                <div class="col-md-12">
                  <p class="tab-pane-title">{{ 'msg.AddTagsHere'|trans }}</p>
                  {% form_field tags %} {% form_field_error tags %}
                </div>
              </div>
            </div>
          {% endif %}
          <div role="tabpanel" class="tab-pane" id="tabSEO">
            {% seo %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="pageButtons" class="row fork-page-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-right" role="group">
          <a href="#" id="saveAsDraft" class="btn btn-default">
            <span class="fa fa-file-o"></span>{{ 'lbl.SaveDraft'|trans|ucfirst }}
          </a>
          <button id="addButton" type="submit" name="add" class="btn btn-primary">
            <span class="fa fa-plus-square"></span>{{ 'lbl.AddPage'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {# This is the HTML content, hidden #}
  <div class="fade hidden" id="editContent" tabindex="-1">
    {% for position in positions %}
      {% for block in position.blocks %}
        <div class="alert alert-warning">
          <span class="fa fa-exclamation-triangle"></span>{{ 'msg.ContentSaveWarning'|trans }}
        </div>
        <div class="box contentBlock" style="margin: 0;">
          <div class="blockContent HTML optionsRTE">
            <fieldset>
              {{ block.formElements.txtHTML.parse() | raw }}
              {{ block.formElements.txtHTMLError.parse() | raw }}
            </fieldset>
          </div>

          {# this will store the selected extra #}
          {{ block.formElements.hidExtraId.parse() | raw }}

          {# this will store the extra type #}
          {{ block.formElements.hidExtraType.parse() | raw }}

          {# this will store the extra data #}
          {{ block.formElements.hidExtraData.parse() | raw }}

          {# this will store the selected position #}
          {{ block.formElements.hidPosition.parse() | raw }}

          {# this will store the visible/hidden state #}
          <div style="display: none">{{ block.formElements.chkVisible.parse() | raw }}</div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>

  {# Dialog to select the content (editor, module or widget). Do not change the ID! #}
  <div class="modal fade" id="addBlock" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <span class="modal-title h4">{{ 'lbl.ChooseContent'|trans|ucfirst }}</span>
        </div>
        <div class="modal-body">
          <input type="hidden" id="extraForBlock" name="extraForBlock" value="" />

          <p>{{ 'msg.HelpBlockContent'|trans }}</p>

          <div id="extraWarningAlreadyBlock" class="alert alert-warning">
            <span class="fa fa-exclamation-triangle"></span>{{ 'msg.ModuleBlockAlreadyLinked'|trans }}</div>
          <div id="extraWarningHomeNoBlock" class="alert alert-warning">
            <span class="fa fa-exclamation-triangle"></span>{{ 'msg.HomeNoBlock'|trans }}</div>
          <div class="form-group">
            <label for="extraType" class="control-label">{{ 'lbl.Type'|trans|ucfirst }}</label>
            {% form_field extra_type %}
          </div>
          <div id="extraModuleHolder" class="form-group" style="display: none;">
            <label for="extraModule" class="control-label">{{ 'lbl.WhichModule'|trans|ucfirst }}</label>
            <select id="extraModule" class="form-control">
              <option value="-1">-</option>
            </select>
          </div>
          <div id="extraExtraIdHolder" class="form-group" style="display: none;">
            <label for="extraExtraId" class="control-label">{{ 'lbl.WhichWidget'|trans|ucfirst }}</label>
            <select id="extraExtraId" class="form-control">
              <option value="-1">-</option>
            </select>
          </div>
          <div id="userTemplateHolder" class="form-group"  style="display: none;">
            <label for="userTemplate">{{ 'lbl.WhichTemplate'|trans|capitalize }}</label>
            <select class="form-control" id="userTemplate">
              <option value="-1">-</option>
            </select>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
          </button>
          <button id="addBlockSubmit" type="button" class="btn btn-primary">
            <span class="fa fa-plus-square"></span>{{ 'lbl.Add'|trans|ucfirst }}</button>
        </div>
      </div>
    </div>
  </div>

  {# Dialog to select user templates #}
  <div class="modal fade" id="addUserTemplate" tabindex="-1" role="dialog"
    aria-labelledby="{{ 'lbl.ChooseATemplate'|trans|capitalize }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span class="modal-title h4">{{ 'lbl.Content'|trans|capitalize }}</span>
        </div>
        <div class="modal-body">
          <div id="userTemplateHiddenPlaceholder" style="display:none;"></div>
          <div id="userTemplatePlaceholder"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|capitalize }}
          </button>
          <button type="button" class="btn btn-primary js-submit-user-template">
            <span class="fa fa-check"></span>{{ 'lbl.OK'|trans|capitalize }}
          </button>
        </div>
      </div>
    </div>
  </div>

  {# Dialog to select another template. Do not change the ID! #}
  <div class="modal fade" id="changeTemplate" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <span class="modal-title h4">{{ 'lbl.ChooseATemplate'|trans|ucfirst }}</span>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning">
            <span class="fa fa-exclamation-triangle"></span>{{ 'msg.TemplateChangeWarning'|trans|raw }}</div>
          <div id="templateList">
            <div class="row">
              {% for template in templates %}
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="radio">
                      <label for="template{{ template.id }}">
                        <input type="radio" id="template{{ template.id }}" value="{{ template.id }}"
                          name="template_id_chooser"
                          class="inputRadio"{% if template.checked %} checked="checked"{% endif %}{% if template.disabled %} disabled="disabled"{% endif %} />{{ template.label }}

                        <div class="templateVisual">
                          {{ template.html|raw }}
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
                {{ cycle(['', '</div><div class="row">'], loop.index0)|raw }}
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
          </button>
          <button id="changeTemplateSubmit" type="button" class="btn btn-primary">
            <span class="fa fa-check"></span>{{ 'lbl.OK'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>

  {# Dialog to confirm block removal. Do not change the ID! #}
  <div class="modal fade" id="confirmDeleteBlock" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title h4">{{ 'lbl.DeleteBlock'|trans|ucfirst }}</span>
        </div>
        <div class="modal-body">
          <p>{{ 'msg.ConfirmDeleteBlock'|trans }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
          </button>
          <button id="confirmDeleteBlockSubmit" type="button" class="btn btn-danger">
            <span class="fa fa-trash"></span>{{ 'lbl.Delete'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>

  {# Text editor block #}
  <div class="modal fade" id="blockHtml" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <span class="modal-title h4">{{ 'lbl.Editor'|trans|ucfirst }}</span>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning">
            <span class="fa fa-exclamation-triangle"></span>{{ 'msg.ContentSaveWarning'|trans|raw }}
          </div>
          <br>
          <div class="form-group">
            {% form_field html %}
            {% form_field_error html %}
          </div>
        </div>
        <div class="modal-footer">
          <button id="blockHtmlCancel" type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
          </button>
          <button id="blockHtmlSubmit" type="button" class="btn btn-primary">
            <span class="fa fa-plus-square"></span>{{ 'lbl.Add'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>

  {# Page delete confirm block #}
  {% if item %}
    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="modal-title h4">{{ 'lbl.Delete'|trans|ucfirst }}</span>
          </div>
          <div class="modal-body">
            <p>{{ 'msg.ConfirmDelete'|trans|format(item.title)|raw }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
            </button>
            <a href="{{ geturl('delete') }}&amp;id={{ item.id }}" class="btn btn-danger">
              <span class="fa fa-trash"></span>{{ 'lbl.Delete'|trans|ucfirst }}
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% endform %}
  <div class="_itr_19">
    <script type="text/javascript">
      //<![CDATA[
      // all the possible templates
      var templates = {};
      {% for template in templates %}templates[{{ template.id }}] = {{ template.json|raw }};
      {% endfor %}

      // the data for the extra's
      var extrasData = {};
      {% if extrasData %}extrasData = {{ extrasData|raw }};
      {% endif %}

      // the extra's, but in a way we can access them based on their ID
      var extrasById = {};
      {% if extrasById %}extrasById = {{ extrasById|raw }};
      {% endif %}

      // indicator that the default blocks may be set on pageload
      var initDefaults = true;
      //]]>
    </script>
  </div>
{% endblock %}
