{% extends '/Layout/Templates/pages.html.twig' %}

{% block pagesTree %}
  <div class="sub-navigation hidden-xs">
    <div class="pages-tree">
      <div class="alert alert-warning visible-sm">
        <p><span class="fa fa-exclamation-triangle"></span>{{ 'msg.MovePagesNotPossible'|trans|ucfirst }}</p>
      </div>
      <div id="tree">
        {{ tree|raw }}
      </div>
    </div>
    <div id="fullwidthSwitch">
      <a href="#close">&nbsp;</a>
    </div>
  </div>
{% endblock %}

{% block actionbar %}
  <div class="btn-toolbar pull-right">
    <div class="btn-group" role="group">
      {% if not item.is_hidden %}

        {% set url = (SITE_URL ~ item.full_url) %}
        {% if appendRevision %}
          {% set url = (url ~ '?page_revision=' ~ item.revision_id) %}
        {% endif %}
        {{ macro.buttonIcon(url, 'eye', 'lbl.View'|trans|ucfirst, '', "target=_blank") }}

      {% endif %}

      {% if showPagesIndex %}
        {{ macro.buttonIcon(geturl('index'), 'list', 'lbl.Overview'|trans|ucfirst) }}
      {% endif %}

    </div>
      {% if showPagesAdd %}
        <div class="btn-group">
          <a type="button" href="{{ geturl('add') }}" class="btn btn-default pull-left">
            <span class="fa fa-plus-square"></span>
            <span class="btn-text">{{ 'lbl.AddPage'|trans|ucfirst }}</span>
          </a>
          <button type="button" class="btn btn-default dropdown-toggle pull-left" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="caret"></span>
            <span class="sr-only">{{ 'lbl.ToggleAddPageDropdown'|trans|ucfirst }}</span>
          </button>
          <ul class="dropdown-menu">
            <li><a href="{{ geturl('add') }}">{{ 'lbl.AddPage'|trans|ucfirst }}</a></li>
            <li><a href="{{ geturl('add') }}&parent={{ item.id }}">{{ 'lbl.AddSubPage'|trans|ucfirst }}</a></li>
          </ul>
        </div>
      {% endif %}
  </div>
{% endblock %}

{% block content %}
  {% form edit %}
  {{ hidTemplateId|raw }}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="form-group">
        {% form_field title %} {% form_field_error title %}
        <a class="site-url" data-url="{{ SITE_URL }}{{ prefixURL }}/{{ item.url }}{% if appendRevision %}?page_revision={{ item.revision_id }}{% endif %}" href="{{ SITE_URL }}{{ prefixURL }}/{{ item.url }}{% if appendRevision %}?page_revision={{ item.revision_id }}{% endif %}">
          {{ SITE_URL }}{{ prefixURL }}/<span id="generatedUrl">{{ item.url }}</span>
        </a>
      </div>
    </div>
  </div>
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div role="tabpanel">
        <ul class="nav nav-tabs" role="tablist">
          <li role="presentation" class="active">
            <a href="#tabContent" aria-controls="tabContent" role="tab" data-toggle="tab">{{ 'lbl.Content'|trans|ucfirst }}</a>
          </li>
          <li class="pull-right" role="presentation">
            <a href="#tabSettings" aria-controls="tabSettings" role="tab" data-toggle="tab">{{ 'lbl.Settings'|trans|ucfirst }}</a>
          </li>
          {% if showAuthenticationTab %}
            <li class="pull-right" role="presentation">
              <a href="#tabAuthentication" aria-controls="tabAuthentication" role="tab" data-toggle="tab">{{ 'lbl.Authentication'|trans|ucfirst }}</a>
            </li>
          {% endif %}
          <li class="pull-right" role="presentation">
            <a href="#tabRedirect" aria-controls="tabRedirect" role="tab" data-toggle="tab">{{ 'lbl.Redirect'|trans|ucfirst }}</a>
          </li>
          {% if showTags %}
            <li class="pull-right" role="presentation">
              <a href="#tabTags" aria-controls="tabTags" role="tab" data-toggle="tab">{{ 'lbl.Tags'|trans|ucfirst }}</a>
            </li>
          {% endif %}
          <li class="pull-right" role="presentation">
            <a href="#tabSEO" aria-controls="tabSEO" role="tab" data-toggle="tab">{{ 'lbl.SEO'|trans|ucfirst }}</a>
          </li>
          <li class="pull-right" role="presentation">
            <a href="#tabVersions" aria-controls="tabVersions" role="tab" data-toggle="tab">{{ 'lbl.Versions'|trans|ucfirst }}</a>
          </li>
          <li class="pull-right js-page-image-tab" role="presentation">
            <a href="#tabImage" aria-controls="image" role="tab" data-toggle="tab">{{ 'lbl.Image'|trans|ucfirst }}</a>
          </li>
        </ul>
        <div class="tab-content">
          <div role="tabpanel" class="tab-pane active" id="tabContent">
            <div id="editTemplate">
              {# Do not change the ID! #}
              <p class="current-template">{{ 'lbl.Template'|trans|ucfirst }}:
                <span id="tabTemplateLabel">&nbsp;</span>
                <a data-toggle="modal" data-target="#changeTemplate">
                  {{ 'lbl.ChangeTemplate'|trans|ucfirst }}
                </a>
              </p>

              {% if formErrors %}
                <span class="formError text-danger">{{ formErrors }}</span>
              {% endif %}

              <div id="templateVisualFallback" style="display: none">
                <div id="fallback" class="generalMessage singleMessage infoMessage">
                  <div class="row">
                    <div class="col-md-6">
                      <div id="fallbackInfo">
                        <div class="alert alert-warning">
                          <span class="fa fa-exclamation-triangle"></span>{{ 'msg.FallbackInfo'|trans|raw }}
                        </div>
                      </div>
                    </div>
                    <div class="col-md-6">
                      <table cellspacing="2">
                        <tbody>
                          <tr>
                            <td data-position="fallback" id="templatePosition-fallback"
                              colspan="1" class="box">
                              <div class="panel panel-default panel-pages-block">
                                <div class="panel-heading">
                                  <div class="heading linkedBlocksTitle">
                                    <p>{{ 'lbl.Fallback'|trans|ucfirst }}</p>
                                  </div>
                                </div>
                                <div class="panel-body">
                                  <div class="linkedBlocks"><!-- linked blocks will be added here --></div>
                                </div>
                              </div>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>
                </div>
              </div>
              <div id="templateVisualLarge">
                &nbsp;
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabVersions">
            {% if drafts %}
              <div class="row">
                <div class="col-md-12">
                  <div class="content-block content-block-pb">
                    <div class="content-title">
                      <p>{{ 'lbl.Drafts'|trans|ucfirst }}
                        <abbr class="fa fa-info-circle" data-toggle="tooltip" title="{{ 'msg.HelpDrafts'|trans }}"></abbr>
                      </p>
                    </div>
                    <div class="table-responsive">
                      {{ drafts|raw }}
                    </div>
                  </div>
                </div>
              </div>
            {% endif %}
            <div class="row">
              <div class="col-md-12">
                <div class="content-block">
                  <div class="content-title">
                    <p>{{ 'lbl.PreviousVersions'|trans|ucfirst }}
                      <abbr class="fa fa-info-circle" data-toggle="tooltip" title="{{ 'msg.HelpRevisions'|trans }}"></abbr>
                    </p>
                  </div>
                  {% if revisions %}
                    <div class="table-responsive">
                      {{ revisions|raw }}
                    </div>
                  {% endif %}
                  {% if not revisions %}
                    <p>{{ 'msg.NoRevisions'|trans }}</p>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabSettings">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group">
                  <ul class="list-unstyled">
                    {% for _itr_22 in hidden %}
                      <li class="radio">
                        <label for="{{ _itr_22.id }}">{{ _itr_22.rbtHidden|raw }} {{ _itr_22.label|ucfirst }}</label>
                      </li>
                    {% endfor %}
                  </ul>
                </div>
                <div class="form-group">
                  <ul class="list-unstyled">
                    <li class="checkbox">
                      <label for="isAction" class="control-label">{% form_field is_action %} {{ 'msg.IsAction'|trans|ucfirst }}</label>
                    </li>
                  </ul>
                </div>
                {% if isGod %}
                  <div class="form-group">
                    <ul class="list-unstyled">
                      {% for _itr_23 in allow %}
                        <li class="checkbox">
                          <label for="{{ _itr_23.id }}">{{ _itr_23.chkAllow|raw }} {{ _itr_23.label }}</label>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                {% endif %}
              </div>
            </div>
          </div>
          <div role="tabpanel" class="tab-pane" id="tabRedirect">
            <div class="row">
              <div class="col-md-12">
                {% if rbtRedirectError %}
                  <div class="alert alert-danger">{{ rbtRedirectError }}</div>
                {% endif %}

                <ul class="list-unstyled radiobuttonFieldCombo">
                  {% for _itr_24 in redirect %}
                    <li class="radio">
                      <div class="form-group">
                        <label for="{{ _itr_24.id }}">{{ _itr_24.rbtRedirect|raw }} {{ _itr_24.label }}</label>
                        {% if _itr_24.isInternal %}
                          <p class="help-block">{{ 'msg.HelpInternalRedirect'|trans|ucfirst }}</p>
                          {% form_field internal_redirect %} {% form_field_error internal_redirect %}
                        {% endif %}
                        {% if _itr_24.isExternal %}

                          <p class="help-block">{{ 'msg.HelpExternalRedirect'|trans|ucfirst }}</p>
                          {% form_field external_redirect %} {% form_field_error external_redirect %}
                        {% endif %}
                      </div>
                    </li>
                  {% endfor %}
                </ul>

              </div>
            </div>
          </div>
          {% if showAuthenticationTab %}
          <div role="tabpanel" class="tab-pane" id="tabAuthentication">
            <div class="row">
              <div class="col-md-12">
                <div class="form-group last">
                  <li class="checkbox">
                    <label for="authRequired" class="control-label">{% form_field auth_required %} {{ 'msg.AuthRequired'|trans|ucfirst }}</label>
                  </li>
                  {% if authGroups %}
                  <div class="js-authentication-groups" {% if not item.data.auth_required %} style="display: none;"{% endif %}>
                    <h4>{{ 'lbl.Groups'|trans|ucfirst }}</h4>
                    <ul class="list-unstyled">
                      {% for item in authGroups %}
                        <li class="checkbox">
                          <label for="{{ item.id }}">{{ item.chkAuthGroups|raw }} {{ item.label }}</label>
                        </li>
                      {% endfor %}
                    </ul>
                  </div>
                  {% endif %}
                  <li class="checkbox hidden" data-role="remove-from-search-index">
                    <label for="removeFromSearchIndex" class="control-label">{% form_field remove_from_search_index %} {{ 'msg.RemoveFromSearchIndex'|trans|ucfirst }}</label>
                  </li>
                </div>
              </div>
            </div>
          </div>
          {% endif %}
          <div role="tabpanel" class="tab-pane" id="tabImage">
            <div class="row js-page-image-tab">
              <div class="col-md-12">
                <div class="form-group">
                  <label for="image" class="control-label">{{ 'lbl.Image'|trans|ucfirst }}</label>
                  {% form_field image %} {% form_field_error image %}
                </div>
                <div class="form-group">
                  {% if item.data.image %}
                    <img src="{{ FRONTEND_FILES_URL }}/pages/images/source/{{ item.data.image }}" class="img-responsive" />
                    <label for="removeImage">{% form_field remove_image %} {{ 'lbl.Delete'|trans|ucfirst }}</label>
                    {% form_field_error remove_image %}
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
          {% if showTags %}
            <div role="tabpanel" class="tab-pane" id="tabTags">
              <div class="row">
                <div class="col-md-12">
                  <p class="tab-pane-title">{{ 'msg.AddTagsHere'|trans }}</p>
                  {% form_field tags %} {% form_field_error tags %}
                </div>
              </div>
            </div>
          {% endif %}
          <div role="tabpanel" class="tab-pane" id="tabSEO">
            {% seo %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div id="pageButtons" class="row fork-page-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-left" role="group">
          {% if showPagesDelete and allowPagesDelete %}
            <button type="button" class="btn btn-danger" data-toggle="modal" data-target="#confirmDelete">
              <span class="fa fa-trash-o"></span>
              {{ 'lbl.Delete'|trans|ucfirst }}
            </button>
          {% endif %}
        </div>
        <div class="btn-group pull-right" role="group">
          <a href="#" id="saveAsDraft" class="btn btn-default">
            <span class="fa fa-file-o"></span>&nbsp;
            {{ 'lbl.SaveDraft'|trans|ucfirst }}
          </a>
          <button id="editButton" type="submit" name="edit" class="btn btn-primary">
            <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {# This is the HTML content, hidden #}
  <div class="hidden" id="editContent" tabindex="-1">
    {% for position in positions %}
      {% for block in position.blocks %}
        <div class="alert alert-warning">
          <span class="fa fa-exclamation-triangle"></span>{{ 'msg.ContentSaveWarning'|trans }}
        </div>
        <div class="box contentBlock" style="margin: 0;">
          <div class="blockContent HTML optionsRTE">
            <fieldset>
              {{ block.formElements.txtHTML.parse() | raw }}
              {{ block.formElements.txtHTMLError.parse() | raw }}
            </fieldset>
          </div>

          {# this will store the selected extra #}
          {{ block.formElements.hidExtraId.parse() | raw }}

          {* this will store the extra type *}
          {{ block.formElements.hidExtraType.parse() | raw }}

          {# this will store the selected position #}
          {{ block.formElements.hidPosition.parse() | raw }}

          {# this will store the visible/hidden state #}
          <div style="display: none">
            {{ block.formElements.chkVisible.parse() | raw }}
          </div>
        </div>
      {% endfor %}
    {% endfor %}
  </div>

  {# Dialog to select the content (editor, module or widget). Do not change the ID! #}
  <div class="modal fade" id="addBlock" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <span class="modal-title h4">{{ 'lbl.ChooseContent'|trans|ucfirst }}</span>
        </div>
        <div class="modal-body">
          <input type="hidden" id="extraForBlock" name="extraForBlock" value="" />

          <p>{{ 'msg.HelpBlockContent'|trans }}</p>

          <div id="extraWarningAlreadyBlock" class="alert alert-warning alert-xs">
            <span class="fa fa-exclamation-triangle"></span>{{ 'msg.ModuleBlockAlreadyLinked'|trans }}</div>
          <div id="extraWarningHomeNoBlock" class="alert alert-warning alert-xs">
            <span class="fa fa-exclamation-triangle"></span>{{ 'msg.HomeNoBlock'|trans }}</div>
          <br>
          <div class="form-group">
            <label for="extraType" class="control-label">{{ 'lbl.Type'|trans|ucfirst }}</label>
            {% form_field extra_type %}
          </div>
          <div id="extraModuleHolder" class="form-group" style="display: none;">
            <label for="extraModule" class="control-label">{{ 'lbl.WhichModule'|trans|ucfirst }}</label>
            <select id="extraModule" class="form-control">
              <option value="-1">-</option>
            </select>
          </div>
          <div id="extraExtraIdHolder" class="form-group" style="display: none;">
            <label for="extraExtraId" class="control-label">{{ 'lbl.WhichWidget'|trans|ucfirst }}</label>
            <select id="extraExtraId" class="form-control">
              <option value="-1">-</option>
            </select>
          </div>
          <div id="userTemplateHolder" class="form-group"  style="display: none;">
            <label for="userTemplate">{{ 'lbl.WhichTemplate'|trans|capitalize }}</label>
            <select class="form-control" id="userTemplate">
              <option value="-1">-</option>
            </select>
          </div>
        </div>

        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
          </button>
          <button id="addBlockSubmit" type="button" class="btn btn-primary">
            <span class="fa fa-plus-square"></span>{{ 'lbl.Add'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>

  {# Dialog to select user templates #}
  <div class="modal fade" id="addUserTemplate" tabindex="-1" role="dialog"
    aria-labelledby="{{ 'lbl.ChooseATemplate'|trans|capitalize }}" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <span class="modal-title h4">{{ 'lbl.Content'|trans|capitalize }}</span>
        </div>
        <div class="modal-body">
          <div id="userTemplateHiddenPlaceholder" style="display:none;"></div>
          <div id="userTemplatePlaceholder"></div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|capitalize }}
          </button>
          <button type="button" class="btn btn-primary js-submit-user-template">
            <span class="fa fa-check"></span>{{ 'lbl.OK'|trans|capitalize }}
          </button>
        </div>
      </div>
    </div>
  </div>

  {# Dialog to select another template. Do not change the ID! #}
  <div class="modal fade" id="changeTemplate" tabindex="-1" role="dialog"
    aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span></button>
          <span class="modal-title h4">{{ 'lbl.ChooseATemplate'|trans|ucfirst }}</span>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning">
            <span class="fa fa-exclamation-triangle"></span>{{ 'msg.TemplateChangeWarning'|trans|raw }}</div>
          <div id="templateList">
            <div class="row">
              {% for template in templates %}
                {{ cycle(['', '', '</div><div class="row">'], loop.index0)|raw }}
                <div class="col-sm-6">
                  <div class="form-group">
                    <div class="radio">
                      <label for="template{{ template.id }}">
                        <input type="radio" id="template{{ template.id }}" value="{{ template.id }}"
                          name="template_id_chooser"
                          class="inputRadio"{% if template.checked %} checked="checked"{% endif %}{% if template.disabled %} disabled="disabled"{% endif %} />{{ template.label }}

                        <div class="templateVisual current">
                          {{ template.html|raw }}
                        </div>
                      </label>
                    </div>
                  </div>
                </div>
              {% endfor %}
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
          </button>
          <button id="changeTemplateSubmit" type="button" class="btn btn-primary">
            <span class="fa fa-check"></span>{{ 'lbl.OK'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>

  {# Dialog to confirm block removal. Do not change the ID! #}
  <div class="modal fade" id="confirmDeleteBlock" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <span class="modal-title h4">{{ 'lbl.DeleteBlock'|trans|ucfirst }}</span>
        </div>
        <div class="modal-body">
          <p>{{ 'msg.ConfirmDeleteBlock'|trans }}</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}</button>
          <button id="confirmDeleteBlockSubmit" type="button" class="btn btn-danger">
            <span class="fa fa-trash"></span>{{ 'lbl.Delete'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>

  {# Text editor block #}
  <div class="modal fade" id="blockHtml" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
          <span class="modal-title h4">{{ 'lbl.Editor'|trans|ucfirst }}</span>
        </div>
        <div class="modal-body">
          <div class="alert alert-warning">
            <span class="fa fa-exclamation-triangle"></span>{{ 'msg.ContentSaveWarning'|trans|raw }}
          </div>
          <br>
          <div class="form-group">
            {% form_field html %}
            {% form_field_error html %}
          </div>
        </div>
        <div class="modal-footer">
          <button id="blockHtmlCancel" type="button" class="btn btn-default" data-dismiss="modal">
            <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
          </button>
          <button id="blockHtmlSubmit" type="button" class="btn btn-primary">
            <span class="fa fa-plus-square"></span>{{ 'lbl.Add'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>

  {# Page delete confirm block #}
  {% if item %}
    <div class="modal fade" id="confirmDelete" tabindex="-1" role="dialog" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <span class="modal-title h4">{{ 'lbl.Delete'|trans|ucfirst }}</span>
          </div>
          <div class="modal-body">
            <p>{{ 'msg.ConfirmDelete'|trans|format(item.title)|raw }}</p>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-dismiss="modal">
              <span class="fa fa-times"></span>{{ 'lbl.Cancel'|trans|ucfirst }}
            </button>
            <a href="{{ geturl('delete') }}&amp;id={{ item.id }}" class="btn btn-danger">
              <span class="fa fa-trash"></span>{{ 'lbl.Delete'|trans|ucfirst }}
            </a>
          </div>
        </div>
      </div>
    </div>
  {% endif %}
  {% endform %}
  <div class="_itr_22">
    <script type="text/javascript">
      //<![CDATA[
      //the ID of the page
      var pageID = {{ item.id }};

      // all the possible templates
      var templates = {};
      {% for templat in templates %}templates[{{ templat.id }}] = {{ templat.json|raw }};{% endfor %}

      // the data for the extra's
      var extrasData = {};
      {% if extrasData %}extrasData = {{ extrasData|raw }};{% endif %}

      // the extra's, but in a way we can access them based on their ID
      var extrasById = {};
      {% if extrasById %}extrasById = {{ extrasById|raw }};{% endif %}

      // indicator that the default blocks may not be set on pageload
      var initDefaults = false;

      // fix selected state in the tree
      var selectedId = 'page-' + pageID;
      //]]>
    </script>
  </div>
{% endblock %}
