{% extends 'Layout/Templates/pages.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block pagesTree %}
  <div class="sub-navigation">
    <div class="pages-tree">
      <div class="alert alert-warning visible-xs visible-sm">
        <p><span class="fa fa-exclamation-triangle"></span>{{ 'msg.MovePagesNotPossible'|trans|ucfirst }}</p>
      </div>
      <div id="tree">
        {{ tree|raw }}
      </div>
    </div>
    <div id="fullwidthSwitch">
      <a href="#close">&nbsp;</a>
    </div>
  </div>
{% endblock %}

{% block actionbar %}
  {% if showPagesAdd %}
    <div class="btn-toolbar pull-right">
      <div class="btn-group" role="group">
        {{ macro.buttonIcon( geturl('add'), 'plus-square', 'lbl.AddPage'|trans|ucfirst) }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      {% if dgDrafts %}
        <div class="content-block content-block-pb">
          <div class="content-title">
            <p>{{ 'lbl.Drafts'|trans|ucfirst }}</p>
          </div>
          <div class="responsive-table">
            {{ dgDrafts|raw }}
          </div>
        </div>
      {% endif %}
      <div class="content-block content-block-pb">
        {% if dgRecentlyEdited %}
          <div class="content-title">
            <p>{{ 'lbl.RecentlyEdited'|trans|ucfirst }}</p>
          </div>
          <div class="resposive-table">
            {{ dgRecentlyEdited|raw }}
          </div>
        {% endif %}
      </div>
      {% if not dgRecentlyEdited %}
        <p>{{ 'msg.NoItems'|trans|ucfirst }}</p>
      {% endif %}
    </div>
  </div>
{% endblock %}

