{# Success #}
{% if updatePasswordSuccess %}
	<div class="message success"><p>{{ msg.UpdatePasswordIsSuccess }}</p></div>
{% endif %}

{# Error #}
{% if updatePasswordHasFormError %}
	<div class="message error"><p>{{ err.FormError }}</p></div>
{% endif %}

<section id="updatePasswordForm" class="mod">
	<div class="inner">
		<div class="bd">
			{% form updatePassword %}
				<fieldset>
					<p{% if txtOldPasswordError %} class="errorArea"{% endif %}>
						<label for="oldPassword">{{ lbl.OldPassword|capitalize }}<abbr title="{{ lbl.RequiredField }}">#</abbr></label>
						{% form_field_error OldPassword %}{% form_field OldPassword %}
					</p>
					<p{% if txtNewPasswordError %} class="errorArea"{% endif %}>
						<label for="newPassword">{{ lbl.NewPassword|capitalize }}<abbr title="{{ lbl.RequiredField }}">#</abbr></label>
						{% form_field_error NewPassword %}{% form_field NewPassword %}
					</p>
					<p{% if txtVerifyNewPasswordError %} class="errorArea"{% endif %}>
						<label for="verifyNewPassword">{{ lbl.VerifyNewPassword|capitalize }}<abbr title="{{ lbl.RequiredField }}">#</abbr></label>
						{% form_field_error VerifyNewPassword %}{% form_field VerifyNewPassword %}
					</p>
					<p>
						<label for="showPassword">{% form_field ShowPassword %} {{ lbl.ShowPassword|capitalize }}</label>
					</p>
					<p>
						<input class="inputSubmit" type="submit" value="{{ lbl.Save|capitalize }}" />
					</p>
				</fieldset>
			{% endform %}
		</div>
	</div>
</section>