{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}

<section class="module-profiles block-profiles-change-password">
  {% block block_alerts %}
    <div class="block-alerts">
      {% if updatePasswordSuccess %}
        {{ alerts.alert('success', 'msg.UpdatePasswordIsSuccess'|trans) }}
      {% endif %}
      {% if updatePasswordHasFormError %}
        {{ alerts.alert('danger', 'err.FormError'|trans) }}
      {% endif %}
    </div>
  {% endblock %}

  {% block block_body %}
    <div class="block-body">
      {% form updatePassword %}
      <fieldset class="form-horizontal">
        <div class="form-group{% if txtOldPasswordError %} has-error{% endif %}">
          <label class="control-label col-sm-2" for="oldPassword">
            {{ 'lbl.OldPassword'|trans|ucfirst }}<abbr title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr>
          </label>
          <div class="col-sm-6">
            {% form_field_error old_password %}{% form_field old_password %}
          </div>
        </div>
        <div class="form-group{% if txtNewPasswordError %} has-error{% endif %}">
          <label class="control-label col-sm-2" for="newPassword">
            {{ 'lbl.NewPassword'|trans|ucfirst }}<abbr title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr>
          </label>
          <div class="col-sm-6">
            {% form_field_error new_password %}{% form_field new_password %}
          </div>
        </div>
        <div class="form-group{% if txtVerifyNewPasswordError %} has-error{% endif %}">
          <label class="control-label col-sm-2" for="verifyNewPassword">
            {{ 'lbl.VerifyNewPassword'|trans|ucfirst }}<abbr title="{{ 'lbl.RequiredField'|trans }}">*</abbr>
          </label>
          <div class="col-sm-6">
            {% form_field verify_new_password %} {% form_field_error verify_new_password %}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <label for="showPassword">{% form_field show_password %} {{ 'lbl.ShowPassword'|trans|ucfirst }} </label>
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <input class="btn btn-primary" type="submit" value="{{ 'lbl.Save'|trans|ucfirst }}" />
          </div>
        </div>
      </fieldset>
      {% endform %}
    </div>
  {% endblock %}
</section>
