{# Success #}
{% if updatePasswordSuccess %}
  <div class="message success"><p>{{ 'msg.UpdatePasswordIsSuccess'|trans }}</p></div>
{% endif %}

{# Error #}
{% if updatePasswordHasFormError %}
  <div class="message error"><p>{{ 'err.FormError'|trans }}</p></div>
{% endif %}

<section id="updatePasswordForm" class="mod">
  <div class="inner">
    <div class="bd">
      {% form updatePassword %}
      <fieldset>
        <p{% if txtOldPasswordError %} class="errorArea"{% endif %}>
          <label for="oldPassword">{{ 'lbl.OldPassword'|trans|ucfirst }}
            <abbr title="{{ 'lbl.RequiredField'|trans }}">*</abbr>
          </label>
          {% form_field old_password %} {% form_field_error old_password %}
        </p>
        <p{% if txtNewPasswordError %} class="errorArea"{% endif %}>
          <label for="newPassword">{{ 'lbl.NewPassword'|trans|ucfirst }}
            <abbr title="{{ 'lbl.RequiredField'|trans }}">*</abbr>
          </label>
          {% form_field new_password %} {% form_field_error new_password %}
        </p>
        <p{% if txtVerifyNewPasswordError %} class="errorArea"{% endif %}>
          <label for="verifyNewPassword">{{ 'lbl.VerifyNewPassword'|trans|ucfirst }}
            <abbr title="{{ 'lbl.RequiredField'|trans }}">*</abbr>
          </label>
          {% form_field verify_new_password %} {% form_field_error verify_new_password %}
        </p>
        <p>
          <label for="showPassword">{% form_field show_password %} {{ 'lbl.ShowPassword'|trans|ucfirst }}</label>
        </p>
        <p>
          <input class="inputSubmit" type="submit" value="{{ 'lbl.Save'|trans|ucfirst }}" />
        </p>
      </fieldset>
      {% endform %}
    </div>
  </div>
</section>
