{# Success #}
{% if updatePasswordSuccess %}
	<div class="message success"><p>{{ 'msg.UpdatePasswordIsSuccess'|trans }}</p></div>
{% endif %}

{# Error #}
{% if updatePasswordHasFormError %}
	<div class="message error"><p>{{ 'err.FormError'|trans }}</p></div>
{% endif %}

<section id="updatePasswordForm" class="mod">
	<div class="inner">
		<div class="bd">
			{% form updatePassword %}
				<fieldset>
					<p{% if txtOldPasswordError %} class="errorArea"{% endif %}>
						<label for="oldPassword">{{ 'lbl.OldPassword'|trans|capitalize }}<abbr title="{{ 'lbl.RequiredField'|trans }}">*</abbr></label>
						{% form_field_error OldPassword %}{% form_field OldPassword %}
					</p>
					<p{% if txtNewPasswordError %} class="errorArea"{% endif %}>
						<label for="newPassword">{{ 'lbl.NewPassword'|trans|capitalize }}<abbr title="{{ 'lbl.RequiredField'|trans }}">*</abbr></label>
						{% form_field_error NewPassword %}{% form_field NewPassword %}
					</p>
					<p{% if txtVerifyNewPasswordError %} class="errorArea"{% endif %}>
						<label for="verifyNewPassword">{{ 'lbl.VerifyNewPassword'|trans|capitalize }}<abbr title="{{ 'lbl.RequiredField'|trans }}">*</abbr></label>
						{% form_field_error VerifyNewPassword %}{% form_field VerifyNewPassword %}
					</p>
					<p>
						<label for="showPassword">{% form_field ShowPassword %} {{ 'lbl.ShowPassword'|trans|capitalize }}</label>
					</p>
					<p>
						<input class="inputSubmit" type="submit" value="{{ 'lbl.Save'|trans|capitalize }}" />
					</p>
				</fieldset>
			{% endform %}
		</div>
	</div>
</section>
