{# Success #}
{% if forgotPasswordSuccess %}
	<div class="message success"><p>{{ 'msg.ForgotPasswordIsSuccess'|trans }}</p></div>
{% endif %}

{# Error #}
{% if forgotPasswordHasError %}
	<div class="message error"><p>{{ 'err.FormError'|trans }}</p></div>
{% endif %}

{% if not forgotPasswordHideForm %}
	<section id="forgotPasswordForm" class="mod">
		<div class="inner">
			<div class="bd">
				{% form forgotPassword %}
					<fieldset>
						<p{% if txtEmailError %} class="errorArea"{% endif %}>
							<label for="email">{{ 'lbl.Email'|trans|capitalize }}<abbr title="{{ 'lbl.RequiredField'|trans }}">*</abbr></label>
							{% form_field_error Email %}{% form_field Email %}
						</p>
						<p>
							<input class="inputSubmit" type="submit" value="{{ 'lbl.Send'|trans|capitalize }}" />
						</p>
					</fieldset>
				{% endform %}
			</div>
		</div>
	</section>
{% endif %}
