{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}

<section class="module-profiles block-profiles-forgot-password">
  {% block block_alerts %}
    <div class="block-alerts">
      {% if forgotPasswordSuccess %}
        {{ alerts.alert('success', 'msg.ForgotPasswordIsSuccess'|trans) }}
      {% endif %}
      {% if forgotPasswordHasError %}
        {{ alerts.alert('danger', 'err.FormError'|trans) }}
      {% endif %}
    </div>
  {% endblock %}

  {% block block_body %}
    {% if not forgotPasswordHideForm %}
      {% form forgotPassword %}
      <label for="email">
        {{ 'lbl.Email'|trans|ucfirst }}<abbr title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr>
      </label>
      <div class="input-group {% if txtEmailError %} has-error{% endif %}">
        {% form_field email %}
        <span class="input-group-btn">
        <input class="btn btn-primary" type="submit" value="{{ 'lbl.Send'|trans|ucfirst }}" />
      </span>
      </div>
      {% form_field_error email %}
      {% endform %}
    {% endif %}
  {% endblock %}
