<aside id="userActions">
  {% if isLoggedIn %}
    <p>
      <strong>{{ 'msg.WelcomeUserX'|trans|format(profileDisplayName)|raw }})</strong>
      <a href="{{ geturlforblock('Profiles', 'Settings') }}" title="{{ profileDisplayName }}">{{ 'lbl.ProfileSettings'|trans|ucfirst }}</a>
      <a href="{{ geturlforblock('Profiles', 'Logout') }}">{{ 'lbl.Logout'|trans|ucfirst }}</a>
    </p>
  {% endif %}

  {% if not isLoggedIn %}
    <p>
      <a href="{{ geturlforblock('Profiles', 'Register') }}"><span class="icon pencilIcon"></span><span class="iconWrapper">{{ 'lbl.Register'|trans|ucfirst }}</span></a>
      <small> {{ 'lbl.Or'|trans }} </small>
      <a href="{{ loginUrl }}"><span class="icon userIcon"></span><span class="iconWrapper">{{ 'lbl.Login'|trans|ucfirst }}</span></a>
    </p>
  {% endif %}
</aside>
