{# Success #}
{% if registerIsSuccess %}
	<div class="message success"><p>{{ msg.RegisterIsSuccess }}</p></div>
{% endif %}

{# Error #}
{% if registerHasFormError %}
	<div class="message error"><p>{{ err.FormError }}</p></div>
{% endif %}

{% if not registerHideForm %}
	{% form register %}
		<section id="registerForm" class="mod">
			<div class="inner">
				<div class="bd">
					<fieldset>
						<p{% if txtDisplayNameError %} class="errorArea"{% endif %}>
							<label for="displayName">{{ lbl.DisplayName|capitalize }}<abbr title="{{ lbl.RequiredField }}">#</abbr></label>
							{% form_field_error DisplayName %}{% form_field DisplayName %}
						</p>
						<p{% if txtEmailError %} class="errorArea"{% endif %}>
							<label for="email">{{ lbl.Email|capitalize }}<abbr title="{{ lbl.RequiredField }}">#</abbr></label>
							{% form_field_error Email %}{% form_field Email %}
						</p>
						<p{% if txtPasswordError %} class="errorArea"{% endif %}>
							<label for="password">{{ lbl.Password|capitalize }}<abbr title="{{ lbl.RequiredField }}">#</abbr></label>
							{% form_field_error Password %}{% form_field Password %}
						</p>
						<p>
							<label for="showPassword">{% form_field ShowPassword %} {{ lbl.ShowPassword|capitalize }} </label>
						</p>
						<p>
							<input class="inputSubmit" type="submit" value="{{ lbl.Register|capitalize }}" />
						</p>
					</fieldset>
				</div>
			</div>
		</section>
	{% endform %}
{% endif %}