{# Success #}
{% if resetPasswordSuccess %}
  <div class="message success"><p>{{ 'msg.ResetPasswordIsSuccess'|trans }}</p></div>
{% endif %}

{# Error #}
{% if resetPasswordHasError %}
  <div class="message error"><p>{{ 'err.FormError'|trans }}</p></div>
{% endif %}

{% if not resetPasswordHideForm %}
  <section id="resetPasswordForm" class="mod">
    <div class="inner">
      <div class="bd">
        {% form resetPassword %}
        <fieldset>
          <p{% if txtPasswordError %} class="errorArea"{% endif %}>
            <label for="password">{{ 'lbl.Password'|trans|capitalize }}
              <abbr title="{{ 'lbl.RequiredField'|trans }}">*</abbr></label>
            {% form_field_error Password %}{% form_field Password %}
          </p>
          <p>
            <label for="showPassword">{% form_field ShowPassword %} {{ 'lbl.ShowPassword'|trans|capitalize }}</label>
          </p>
          <p>
            <input class="inputSubmit" type="submit" value="{{ 'lbl.Save'|trans|capitalize }}" />
          </p>
        </fieldset>
        {% endform %}
      </div>
    </div>
  </section>
{% endif %}
