{# Success #}
{% if resendActivationSuccess %}
  <div class="message success"><p>{{ 'msg.ResendActivationIsSuccess'|trans }}</p></div>
{% endif %}

{# Error #}
{% if resendActivationHasError %}
  <div class="message error"><p>{{ 'err.FormError'|trans }}</p></div>
{% endif %}

{% if not resendActivationHideForm %}
  <section id="resendActivationForm" class="mod">
    <div class="inner">
      <div class="bd">
        {% form resendActivation %}
        <fieldset>
          <p {% if txtEmailError %} class="errorArea"{% endif %}>
            <label for="email">{{ 'lbl.Email'|trans|capitalize }} <abbr title="{{ 'lbl.RequiredField'|trans }}">*</abbr></label>
            {% form_field email %} {% form_field_error email %}
          </p>
          <p>
            <input class="inputSubmit" type="submit" value="{{ 'lbl.Save'|trans|capitalize }}" />
          </p>
        </fieldset>
        {% endform %}
      </div>
    </div>
  </section>
{% endif %}
