<ul class="pager">
  {% if widgetPagesNavigation.previous %}
    <li class="previous">
      <a href="{{ widgetPagesNavigation.previous.url }}" rel="prev" title="{{ widgetPagesNavigation.previous.title }}">
        ←
        <span class="sr-only">{{ 'lbl.PreviousPage'|trans|capitalize }}: </span>
        <span class="title">{{ widgetPagesNavigation.previous.title }}</span>
      </a>
    </li>
  {% endif %}

  {% if widgetPagesNavigation.parent %}
    <li class="parentLink">
      <a href="{{ widgetPagesNavigation.parent.url }}" title="{{ widgetPagesNavigation.parent.title }}">
        ↑
        <span class="sr-only">{{ 'lbl.ParentPage'|trans|capitalize }}: </span>
        <span class="title">{{ widgetPagesNavigation.parent.title }}</span>
      </a>
    </li>
  {% endif %}

  {% if widgetPagesNavigation.next %}
    <li class="next">
      <a href="{{ widgetPagesNavigation.next.url }}" rel="next" title="{{ widgetPagesNavigation.next.title }}">
        <span class="sr-only">{{ 'lbl.NextPage'|trans|capitalize }}: </span>
        <span class="title">{{ widgetPagesNavigation.next.title }}</span>
        ➝
      </a>
    </li>
  {% endif %}
</ul>
