<ul>
  {% if widgetPagesNavigation.previous %}
    <li class="previousLink">
      <a href="{{ widgetPagesNavigation.previous.url }}" rel="prev">{{ 'lbl.PreviousPage'|trans|capitalize }}: {{ widgetPagesNavigation.previous.title }}</a>
    </li>
  {% endif %}

  {% if widgetPagesNavigation.parent %}
    <li class="parentLink">
      <a href="{{ widgetPagesNavigation.parent.full_url }}" rel="prev">{{ 'lbl.ParentPage'|trans|capitalize }}: {{ widgetPagesNavigation.parent.title }}</a>
    </li>
  {% endif %}

  {% if widgetPagesNavigation.next %}
    <li class="nextLink">
      <a href="{{ widgetPagesNavigation.next.url }}" rel="next">{{ 'lbl.NextPage'|trans|capitalize }}: {{ widgetPagesNavigation.next.title }}</a>
    </li>
  {% endif %}
</ul>
