{# TODO: move this to a macro, when this code is updated everywhere like in content blocks #}
<div class="modal fade jsConfirmation" role="dialog" tabindex="-1" aria-hidden="true" aria-labelledby="jsConfirmationDeleteDialogTitle">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 id="jsConfirmationDeleteDialogTitle" class="modal-title">{{ 'lbl.Delete'|trans|ucfirst }}</h4>
      </div>
      <div class="modal-body">
        <p class="jsConfirmationMessage">{{ 'msg.ConfirmDelete'|trans }}</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">
          {{ macro.icon('times') }}{{ 'lbl.Cancel'|trans|ucfirst }}
        </button>
        <a href="#" class="btn btn-primary jsConfirmationSubmit">
          {{ macro.icon('check') }}{{ 'lbl.OK'|trans|ucfirst }}
        </a>
      </div>
    </div>
  </div>
</div>
