{% import 'Layout/Templates/macros.html.twig' as macro %}

<div class="header">
  <div class="site-info">
    <div class="site-icon-block">
      <img class="site-icon" src="/apple-touch-icon.png" alt="Fork CMS logo">
      {% if debug %}
        <div class="debug-mode">{{ 'lbl.DebugMode'|trans|uppercase }}</div>
      {% endif %}
    </div>
    <div class="site-text">
      <p class="site-title">{{ SITE_TITLE }}
        <a class="site-url" data-url="{{ SITE_URL }}{{ prefixURL }}" href="{{ SITE_URL }}{{ prefixURL }}" target="_blank" rel="noopener noreferrer">{{ 'lbl.VisitWebsite'|trans|ucfirst }}</a>
      </p>
      {% if SITE_MULTILANGUAGE %}
        <div class="nav navbar-nav navbar-languages">
          {% if workingLanguages %}
            <span class="working-language d-none d-sm-block me-sm-1">{{ 'msg.NowEditing'|trans|ucfirst }}</span>
            <div class="dropdown">
              <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" id="navbarLanguagesDropdown">
                <span class="dropdown-text">{{ ('lbl.'~LANGUAGE|uppercase)|trans|ucfirst }}</span>
                <span class="dropdown-angle">{{ macro.icon('angle-right') }}</span>
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarLanguagesDropdown">
                {% for workingLanguage in workingLanguages %}
                  <a class="dropdown-item{% if workingLanguage.selected %} active{% endif %}" href="{{ geturl('',null,null,workingLanguage.abbr) }}">{{ ('lbl.'~workingLanguage.abbr|uppercase)|trans|ucfirst }}</a>
                {% endfor %}
              </ul>
            </div>
          {% endif %}
        </div>
      {% endif %}
    </div>
  </div>

  <ul class="nav navbar-nav navbar-right navbar-user">
    <li class="nav-item dropdown">
      <a href="#" class="dropdown-toggle" data-bs-toggle="dropdown" role="button" id="navbarProfileDropdown">
        <img src="{{ FRONTEND_FILES_URL }}/Users/avatars/128x128/{{ authenticatedUserAvatar }}" class="rounded-circle" alt="{{ authenticatedUserNickname }}" />
        <span class="dropdown-angle">{{ macro.icon('angle-right') }}</span>
      </a>
      <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarProfileDropdown">
        {% if authenticatedUserEditUrl %}
          <a class="dropdown-item" href="{{ authenticatedUserEditUrl }}">{{ 'lbl.EditProfile'|trans|ucfirst }}</a>
        {% endif %}
        <a class="dropdown-item" href="{{ geturl('logout','authentication') }}">{{ 'lbl.SignOut'|trans|ucfirst }}</a>
      </div>
    </li>
  </ul>
</div>

<div id="ajaxSpinner" class="alert alert-primary d-none" aria-label="{{ 'lbl.Loading'|trans|ucfirst }}">
  <p class="mb-1">{{ 'lbl.Loading'|trans|ucfirst }}...</p>
  <div class="progress w-100">
    <div class="progress-bar progress-bar-striped bg-primary progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="10" aria-valuemin="0" aria-valuemax="100"></div>
  </div>
</div>
