{% import 'Layout/Templates/macros.html.twig' as macro %}

<div class="main-navigation">
  <nav class="navbar navbar-dark">
    <ul class="nav navbar-nav">
      {% for item in navigation %}
        {% set iconType = 'fas' %}

        {% if item.label|lower == 'dashboard' %}
          {% set icon = 'tachometer-alt' %}
        {% elseif item.label|lower == 'pages' %}
          {% set icon = 'file' %}
          {% set iconType = 'far ' %}
        {% elseif item.label|lower == 'medialibrary' %}
          {% set icon = 'images' %}
        {% elseif item.label|lower == 'modules' %}
          {% set icon = 'cube' %}
        {% elseif item.label|lower == 'marketing' %}
          {% set icon = 'chart-area' %}
        {% elseif item.label|lower == 'settings' %}
          {% set icon = 'cog' %}
        {% endif %}

        <li class="nav-item nav-item-{{ item.label|lower }}{% if item.active %} active{% endif %}">
          <a class="nav-link" href="/private/{{ LANGUAGE }}/{{ item.url }}" data-toggle="tooltip-nav" title="{{ ('lbl.'~item.label)|trans|ucfirst }}" data-container="body" data-placement="right">
            {{ macro.icon(icon ~ ' fa-fw', iconType) }}
            <span class="nav-item-text">{{ ('lbl.'~item.label)|trans|ucfirst }}</span>
            {% if item.active %}<span class="visually-hidden">({{ 'lbl.Current'|trans }})</span>{% endif %}
          </a>
        </li>
      {% endfor %}
    </ul>
  </nav>
  <a href="#" class="arrow-right js-nav-next">
    {{ macro.icon('chevron-right') }}
  </a>
  <a href="#" class="arrow-left js-nav-prev">
    {{ macro.icon('chevron-left') }}
  </a>
  <div class="toggle-nav-collapse d-none d-lg-block">
    <button class="js-toggle-nav" role="button">
      {{ macro.icon('chevron-left') }}
      <span class="visually-hidden js-nav-screen-text"></span>
    </button>
  </div>
</div>
