{% extends 'Core/Layout/Templates/Mails/Default.html.twig' %}

{% block title %}
  <title>{{ 'msg.ForgotPasswordSubject'|trans|capitalize }}</title>
{% endblock %}

{% block main %}
  <h2>{{ 'msg.ForgotPasswordSubject'|trans }}</h2>
  <p>{{ 'msg.ForgotPasswordSalutation'|trans }}</p>
  <p>{{ 'msg.ForgotPasswordBody'|trans|format(SITE_URL, resetUrl)|raw }}</p>
  <p>{{ 'msg.ForgotPasswordClosure'|trans|raw }}</p>
{% endblock %}
