{% extends 'Core/Layout/Templates/Mails/Default.html.twig' %}

{% block title %}
  <title>{{ SITE_TITLE }} - {{ 'msg.RegisterSubject'|trans }}</title>
{% endblock %}

{% block main %}
  <h2>{{ 'msg.RegisterSubject'|trans|raw }}</h2>
  <p>{{ 'msg.RegisterSalutation'|trans|raw }}</p>
  <p>{{ 'msg.RegisterBody'|trans|format(SITE_URL, activationUrl)|raw }}</p>
  <p>{{ 'msg.RegisterClosure'|trans|raw }}</p>
{% endblock %}
