{#
  Variables that are available:
  - {{ tagsModules }}: contains all tags, grouped per module
#}
<section class="module-tags block-tags-detail">
  {% block block_heading %}
    <header class="block-heading page-header" role="banner">
      <h1>{{ 'lbl.ItemsWithTag'|trans|format(tag.name)|ucfirst }}</h1>
    </header>
  {% endblock %}

  {% block block_body %}
    <div class="block-body">
      {% if tagsModules %}
        {% for module in tagsModules %}
          <section{% if not loop.first %} class="mt-4"{% endif %}>
            <header role="banner">
              <h2 class="h3">{{ module.label|ucfirst }}</h2>
            </header>
            <ul class="list-group">
              {% for item in module.items %}
                <li class="list-group-item list-group-item-action">
                  <a href="{{ item.full_url }}" rel="tag">
                    {{ item.title }}
                  </a>
                </li>
              {% endfor %}
            </ul>
          </section>
        {% endfor %}
      {% endif %}
    </div>
  {% endblock %}

  {% block block_footer %}
    <nav aria-label="Page navigation tags" class="mt-5">
      <ul class="pagination">
        <li class="page-item">
          <a class="page-link" href="{{ geturlforblock('Tags') }}">
            ← {{ 'lbl.ToTagsOverview'|trans|ucfirst }}
          </a>
        </li>
      </ul>
    </nav>
  {% endblock %}
</section>
