{#
  variables that are available:
  - {{ tags }}: contains an array with all tags that are used on the site, each element contains data about the tag
#}
{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}

<section class="module-tags block-tags-index">
  {% block block_heading %}{% endblock %}

  {% block block_body %}
    {% if not tags %}
      {{ alerts.alert('info', 'msg.TagsNoItems'|trans) }}
    {% else %}
      <ul class="list-group">
        {% for tag in tags %}
          <li class="list-group-item list-group-item-action">
            <a href="{{ geturlforblock('Tags','Detail') }}/{{ tag.url }}" rel="tag">
              {{ tag.name }}
            </a>
            <span class="badge badge-primary">{{ tag.number }}</span>
          </li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endblock %}

  {% block block_footer %}{% endblock %}
</section>
