<div id="widgetMailmotorClassic" class="panel panel-default">
  <div class="panel-heading">
    <h2 class="panel-title">
      <a href="{{ geturl('index','mailmotor') }}">{{ 'lbl.Mailmotor'|trans|ucfirst }}</a>
    </h2>
  </div>
  <div class="panel-body">
    <div class="fork-tabs" role="tabpanel">
      <ul class="nav nav-tabs" role="tablist">
        <li role="presentation" class="active">
          <a href="#tabMailmotorSubscriptions" aria-controls="tabMailmotorSubscriptions" role="tab" data-toggle="tab">{{ 'lbl.Subscriptions'|trans|ucfirst }}</a>
        </li>
        <li role="presentation">
          <a href="#tabMailmotorUnsubscriptions" aria-controls="tabMailmotorUnsubscriptions" role="tab" data-toggle="tab">{{ 'lbl.Unsubscriptions'|trans|ucfirst }}</a>
        </li>
        <li role="presentation">
          <a href="#tabMailmotorStatistics" aria-controls="tabMailmotorStatistics" role="tab" data-toggle="tab">{{ 'lbl.Statistics'|trans|ucfirst }}</a>
        </li>
      </ul>
      <div class="tab-content">
        <div role="tabpanel" class="tab-pane active" id="tabMailmotorSubscriptions">
          <div id="dataGridSubscriptions">
            {% if dgMailmotorSubscriptions %}
              <div class="table table-striped dataGridHolder">
                {{ dgMailmotorSubscriptions|raw }}
              </div>
            {% endif %}
            {% if not dgMailmotorSubscriptions %}
              <p>
                {{ 'msg.NoSubscriptions'|trans|ucfirst }}
              </p>
            {% endif %}
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tabMailmotorUnsubscriptions">
          <div id="dataGridUnsubscriptions">
            {% if dgMailmotorUnsubscriptions %}
              <div class="table table-striped dataGridHolder">
                {{ dgMailmotorUnsubscriptions|raw }}
              </div>
            {% endif %}
            {% if not dgMailmotorUnsubscriptions %}
              <p>
                {{ 'msg.NoUnsubscriptions'|trans|ucfirst }}
              </p>
            {% endif %}
          </div>
        </div>
        <div role="tabpanel" class="tab-pane" id="tabMailmotorStatistics">
          <div id="dataGridStatistics">
            {% if dgMailmotorStatistics %}
              <div class="table table-striped dataGridHolder">
                {{ dgMailmotorStatistics|raw }}
              </div>
            {% endif %}
            {% if not dgMailmotorStatistics %}
              <p>
                {{ 'msg.NoSentMailings'|trans|ucfirst }}
              </p>
            {% endif %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="panel-footer">
    <a href="{{ geturl('addresses','mailmotor') }}"><span>{{ 'msg.AllAddresses'|trans|ucfirst }}</span></a>
  </div>
</div>
