{#
  variables that are available:
  - {{ faqCategories }}: contains all categories, along with all questions inside a category
#}
{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}
{% if not faqCategories %}
  <div id="faqIndex" class="faq">
    {{ alerts.alert('info', 'msg.FaqNoItems'|trans) }}
  </div>
{% else %}
  <div id="faqIndex" class="faq">
    {% for category in faqCategories %}
      <section>
        {% if allowMultipleCategories %}
          <header role="banner">
            <h2 id="{{ category.url }}"><a href="{{ category.full_url }}" title="{{ category.title }}">{{ category.title }}</a></h2>
          </header>
        {% endif %}
      <ul>
        {% for question in category.questions %}
          <li><a href="{{ question.full_url }}">{{ question.question }}</a></li>
        {% endfor %}
      </ul>
      </section>
    {% endfor %}
  </div>
{% endif %}
