{% extends 'Layout/Templates/pages.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}
{% form_theme form 'Pages/Resources/views/FormLayout.html.twig' %}

{% block pagesTree %}
  {%  include 'Pages/Layout/Templates/PageTree.html.twig' with {'overview': false} %}
{% endblock %}

{% block actionbar %}
  {% if isAllowedAction('PageIndex') %}
    <div class="btn-toolbar justify-content-end">
      <div class="btn-group" role="group">
        {{ macro.buttonIcon(geturl('PageIndex'), 'list', 'lbl.Overview'|trans|ucfirst) }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {{ form_start(form) }}
  {{ form_widget(form) }}
  {{ form_rest(form) }}
  <div class="fork-module-actions">
    <div class="btn-toolbar justify-content-between">
      <div class="btn-group" role="group">
        {{ macro.buttonIcon(geturl('PageIndex'), 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default') }}
      </div>
      <div class="btn-group" role="group">
        {{ macro.buttonIcon('', 'plus-square', 'lbl.Add'|trans|ucfirst, 'btn-primary', {"id":"addButton", "type":"submit", "name":"add"}) }}
      </div>
    </div>
  </div>
  {{ form_end(form) }}
{% endblock %}
