<div class="sub-navigation">
  <div id="mediaTree" class="pages-tree">
    {{ macro.alert('warning', 'msg.MoveMediaFoldersNotPossible'|trans|ucfirst, null, null, {'class': 'd-lg-none'}) }}
    <button class="btn btn-default btn-sm tree-collapsed mb-2" data-role="toggle-js-tree-collapse">
      <span data-role="toggle-js-tree-collapse-text">{{ 'lbl.OpenTreeNavigation'|trans }}</span>
    </button>
    <div class="form-group">
      <label for="pagetree-search" class="visually-hidden">{{ 'lbl.search'|trans|ucfirst }}</label>
      <div class="input-group input-group-sm">
        <div class="input-group-text" id="basic-addon1"><i class="fas fa-search"></i></div>
        <input id="pagetree-search" name="pagetree-search" value="" maxlength="255" type="text" class="form-control form-control-sm fork-form-text js-tree-search" placeholder="{{ 'lbl.Search'|trans|ucfirst }} {{ 'lbl.MediaFolder'|trans }}">
      </div>
    </div>
    <div id="tree" data-tree-media-libreary {% if not mediaFolder.name %} data-clear-tree{% endif %}>
      {{ tree|raw }}
    </div>
  </div>
</div>
