{% macro alert(type, message, dismissable, id) %}
  <div{% if id %} id="{{ id }}"{% endif %} class="alert alert-{{ type }}" role="alert">
    {% if dismissable %}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="{{ 'lbl.Close'|trans }}" title="{{ 'lbl.Close'|trans }}"></button>
    {% endif %}
    {{ message|raw }}
  </div>
{% endmacro %}
