{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}

<!-- warning for people that don't have JS enabled -->
<noscript>
  {{ alerts.alert('danger', 'msg.EnableJavascript'|trans|raw, true) }}
</noscript>

<!-- Warning for people that still use IE7 or below -->
<!--[if lt IE 8 ]>
{{ alerts.alert('danger', 'msg.OldBrowser'|trans, true, 'ie') }}
<![endif]-->

<a href="#main" class="skip-content">{{ 'lbl.SkipToContent'|trans|ucfirst }}</a>

{% if not cookieBarHide %}
  <div id="cookie-bar" class="cookiebar alert alert-primary alert-fullwidth">
    <div class="container d-flex flex-column justify-content-between align-items-start flex-lg-row align-items-lg-center">
      <button type="button" class="close ml-auto order-lg-2" data-bs-dismiss="alert" aria-label="{{ 'lbl.Close'|trans }}"><i class="fas fa-times"></i></button>
      <div class="d-lg-flex align-items-center">
        <p class="mb-0"><strong>{{ 'lbl.Warning'|trans|ucfirst }}:</strong> {{ 'msg.Cookies'|trans|raw }}</p>
        <div class="buttons mt-2 ml-lg-2 mt-lg-0">
          <a href="#" id="cookieBarAgree" data-role="cookie-bar-button" data-action="agree" class="btn btn-primary btn-sm">{{ 'lbl.IAgree'|trans|ucfirst }}</a>
          <a href="#" id="cookieBarDisagree" data-role="cookie-bar-button" data-action="disagree" class="btn btn-primary btn-sm">{{ 'lbl.IDisagree'|trans|ucfirst }}</a>
        </div>
      </div>
    </div>
  </div>
{% endif %}

{% block privacyConsentDialog %}
  {% include "Core/Layout/Templates/PrivacyConsentDialog.html.twig" %}
{% endblock %}
