<!-- warning for people that don't have JS enabled -->
<noscript>
  <div class="fullWidthAlert alert">
    <strong>{{ 'lbl.Warning'|trans|capitalize }}:</strong> {{ 'msg.EnableJavascript'|trans }}
    <button type="button" class="close" data-dismiss="alert">×</button>
  </div>
</noscript>

<!-- Warning for people that still use IE7 or below -->
<!--[if lt IE 8 ]>
<div id="ie" class="fullWidthAlert alert">
  <button type="button" class="close" data-dismiss="alert">×</button>
  <strong>{{ 'lbl.Warning'|trans|capitalize }}:</strong> {{ 'msg.OldBrowser'|trans }}
</div>
<![endif]-->

<a href="#main" class="muted hide">{$lblSkipToContent|ucfirst}</a>

{% if not cookieBarHide %}
  <div id="cookieBar" class="cookiebar alert alert-fullwidth">
    <button type="button" class="close" data-dismiss="alert">×</button>
    <div class="container">

      <div class="cookiebar-content">
        <strong>{{ 'lbl.Warning'|trans|capitalize }}:</strong> {{ 'msg.Cookies'|trans }}
      </div>

      <div class="cookiebar-buttons">
        <a href="#" id="cookieBarAgree" class="btn btn-primary btn-xs">{{ 'lbl.IAgree'|trans|capitalize }}</a>
        <a href="#" id="cookieBarDisagree" class="btn btn-primary btn-xs">{{ 'lbl.IDisagree'|trans|capitalize }}</a>
      </div>

    </div>
  </div>
{% endif %}

