{% extends '@Backend/base/crud/edit.html.twig' %}
{% import '@Backend/base/macros.html.twig' as macro %}
{% set crud_index_action = 'UserIndex' %}

{% block actionbar %}
  {% if userHas2FAEnabled %}
    <a href="{{ action_path('DisableTwoFactorAuthentication', 'Backend') }}/{{ user.id }}" class="btn btn-danger float-end">
      {{ 'lbl.DisableTwoFactorAuthentication'|trans }}
    </a>
  {% endif %}

  {% if twoFAEnabled and not userHas2FAEnabled and not twoFARequired %}
    <button class="btn-primary btn float-end" data-role="enable-2fa">
      <svg class="svg-inline--fa fa-envelope fa-w-16 fa-fw" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
        <path fill="currentColor" d="M256 0c4.6 0 9.2 1 13.4 2.9L457.7 82.8c22 9.3 38.4 31 38.3 57.2c-.5 99.2-41.3 280.7-213.6 363.2c-16.7 8-36.1 8-52.8 0C57.3 420.7 16.5 239.2 16 140c-.1-26.2 16.3-47.9 38.3-57.2L242.7 2.9C246.8 1 251.4 0 256 0zm0 66.8V444.8C394 378 431.1 230.1 432 141.4L256 66.8l0 0z"/>
      </svg>
      {{ 'lbl.EnableTwoFactorAuthentication'|trans }}
    </button>
  {% endif %}
{% endblock %}

{% block content %}
  {% if twoFAEnabled and not userHas2FAEnabled and twoFARequired %}
    <div class="alert alert-warning">
      <p>{{ 'msg.2FAIsRequired'|trans|raw }}</p>
      <button class="btn-warning btn" data-role="enable-2fa">
        <svg class="svg-inline--fa fa-envelope fa-w-16 fa-fw" focusable="false" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 512 512">
          <path fill="currentColor" d="M256 0c4.6 0 9.2 1 13.4 2.9L457.7 82.8c22 9.3 38.4 31 38.3 57.2c-.5 99.2-41.3 280.7-213.6 363.2c-16.7 8-36.1 8-52.8 0C57.3 420.7 16.5 239.2 16 140c-.1-26.2 16.3-47.9 38.3-57.2L242.7 2.9C246.8 1 251.4 0 256 0zm0 66.8V444.8C394 378 431.1 230.1 432 141.4L256 66.8l0 0z"/>
        </svg>
        {{ 'lbl.EnableTwoFactorAuthentication'|trans }}
      </button>
    </div>
  {% endif %}
  {% if twoFAEnabled %}
    <div class="modal" tabindex="-1" id="two-factor-authorization-modal">
      <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ 'lbl.UseQRToConfigure2FA'|trans|raw }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="alert alert-danger d-none" data-role="confirm-2fa-error">
              {{ 'msg.FailedToEnableTwoFactorAuthentication'|trans }}
            </div>
            <div class="row">
              <div class="col">
                <img src="" alt="Two factor authorization QR code" class="border border-1 mb-3" id="qr-code">
                <small class="help-block">
                  {{ 'lbl.UseQRToConfigure2FAHelp'|trans }}
                </small>
                <form class="d-none">
                  <label for="">{{ 'lbl.VerificationCode'|trans }}</label>
                  <input type="text" name="code" data-role="two-factor-authorization-code" class="form-control">
                  <input type="hidden" name="secret" data-role="two-factor-authorization-secret">
                </form>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-default" data-role="next">
              {{ 'lbl.Next'|trans|ucfirst }} <span class="fa fa-arrow-right"></span>
            </button>
            <button type="button" class="btn btn-primary d-none" data-role="enable-two-factor-authorization-button">
              {{ 'lbl.EnableTwoFactorAuthentication'|trans }}
            </button>
          </div>
        </div>
      </div>
    </div>

    <div class="modal" tabindex="-2" id="two-factor-authorization-backup-codes-modal">
      <div class="modal-dialog modal-lg modal-dialog-centered">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title">{{ 'msg.BackupCodes'|trans }}</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            <div class="alert alert-warning">
              {{ 'msg.BackupCodesHelp'|trans|raw }}
            </div>

            <div data-role="backup-codes"></div>
          </div>
          <div class="modal-footer">
            {{ macro.buttonIcon('#', 'clipboard', 'lbl.CopyBackupCodes'|trans, 'btn-warning', {'data-role': 'clipboard', 'data-clipboard-target': '[data-role="backup-codes"]'}, false, false) }}
            <button type="button" class="btn btn-success" data-bs-dismiss="modal">
              {{ 'lbl.ConfirmBackupCodesSaved'|trans|ucfirst }}
            </button>
          </div>
        </div>
      </div>
    </div>
  {% endif %}

  <div class="content-block content-block-pb">
    <div class="table-responsive">
      <table class="table table-striped">
        <tr>
          <td rowspan="{{ app.user.settings.has('last_authentication_failure') ? 5 : 4 }}" class="text-center align-middle">
            <label for="avatar">
              <img class="rounded-circle rounded-circle-size-user" src="{{ '@BackendModule:image/no-avatar.gif'|imagine_filter('backend_avatar') }}" alt="{{ user.displayName }}" />
            </label>
          </td>
          <th class="border-start">{{ 'lbl.DisplayName'|trans|ucfirst }}:</th>
          <td>{{ user.displayName }}</td>
        </tr>
        <tr>
          <th class="border-start">{{ 'lbl.Email'|trans|ucfirst }}:</th>
          <td>{{ user.email }}</td>
        </tr>
        <tr>
          <th class="border-start">{{ 'lbl.LastLogin'|trans|ucfirst }}:</th>
          <td>
            {% if app.user.settings.has('last_authentication_success') %}
              {{ app.user.setting('last_authentication_success')|user_format_datetime }}
            {% else %}
              {{ 'lbl.NoPreviousLogin'|trans|ucfirst }}
            {% endif %}
          </td>
        </tr>
        {% if app.user.settings.has('last_authentication_failure') %}
          <tr>
            <th class="border-start">{{ 'lbl.LastFailedLoginAttempt'|trans|ucfirst }}:</th>
            <td>{{ app.user.setting('last_authentication_failure')|user_format_datetime }}</td>
          </tr>
        {% endif %}
        <tr>
          <th class="border-start">{{ 'lbl.LastPasswordChange'|trans|ucfirst }}:</th>
          <td>
            {% if app.user.settings.has('last_password_change') %}
              {{ app.user.setting('last_password_change')|user_format_datetime }}
            {% else %}
              {{ 'lbl.Never'|trans|ucfirst }}
            {% endif %}
          </td>
        </tr>
      </table>
    </div>
  </div>

  {% if backupCodes %}
    <div class="alert alert-warning">
      <p>
        {{ macro.buttonIcon('#', 'clipboard', 'lbl.Copy'|trans, 'btn-warning', {'data-role': 'clipboard', 'data-clipboard-target': '#backup-codes'}, false, true) }}
        {{ 'msg.BackupCodes'|trans|raw }}
      </p>
      <ul id="backup-codes">
        {% for code in backupCodes %}
          <li><code>{{ code }}</code></li>
        {% endfor %}
      </ul>
      {{ 'msg.BackupCodesHelp'|trans|raw }}
    </div>
  {% endif %}

  {{ parent() }}
{% endblock %}
