{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}

<section id="loginForm" class="profiles">
  <h1 class="mb-2">{{ 'lbl.Login'|trans|ucfirst }}</h1>

  {% if formError %}
    {% if loginError %}
      {% set error = loginError %}
    {% else %}
      {% set error = 'err.FormError'|trans %}
    {% endif %}
    {{ alerts.alert('danger', error) }}
  {% endif %}

  {% form login %}
    <fieldset>
      <p class="small"><a href="{{ geturlforblock('Profiles', 'ForgotPassword') }}" title="{{ 'msg.ForgotPassword'|trans }}">{{ 'msg.ForgotPassword'|trans }}</a></p>
      <div class="form-group{% if txtEmailError %} has-danger{% endif %}">
        <label class="form-control-label" for="email">{{ 'lbl.Email'|trans|ucfirst }}<abbr title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr></label>
        {% form_field email %}
        {% form_field_error email %}
      </div>
      <div class="form-group{% if txtPasswordError %} has-danger{% endif %}">
        <label class="form-control-label" for="password">{{ 'lbl.Password'|trans|ucfirst }}<abbr title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr></label>
        {% form_field password %}
        {% form_field_error password %}
      </div>
      <div class="form-group">
        <div class="custom-control custom-checkbox">
          {% form_field remember %}
          <label for="remember" class="custom-control-label">
            {{ 'lbl.RememberMe'|trans|ucfirst }}
          </label>
        </div>
        {% form_field_error remember %}
      </div>
      <div class="form-group">
        <small>
          <a href="{{ geturlforblock('Profiles','ForgotPassword') }}">{{ 'msg.ForgotPassword'|trans }}</a>
        </small>
      </div>
      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="{{ 'lbl.Login'|trans|ucfirst }}" />
      </div>
    </fieldset>
  {% endform %}
</section>
