{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}
{% if resetPasswordSuccess %}
  {{ alerts.alert('success', 'msg.ResetPasswordIsSuccess'|trans) }}
{% endif %}
{% if resetPasswordHasError %}
  {{ alerts.alert('danger', 'err.FormError'|trans) }}
{% endif %}

{% if not resetPasswordHideForm %}
  <section id="resetPasswordForm" class="profiles">
    <div class="bd">
      {% form resetPassword %}
        <fieldset class="form-horizontal">
          <div class="form-group{% if txtPasswordError %} has-error{% endif %}">
            <label class="control-label col-sm-2" for="password">{{ 'lbl.Password'|trans|capitalize }}<abbr title="{{ 'lbl.RequiredField'|trans|capitalize }}">*</abbr></label>
            <div class="col-sm-6">
              {% form_field_error password %}{% form_field password %}
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
              <div class="checkbox">
                <label for="showPassword">{% form_field show_password %} {{ 'lbl.ShowPassword'|trans|capitalize }}</label>
              </div>
            </div>
          </div>
          <div class="form-group">
            <div class="col-sm-offset-2 col-sm-6">
              <input class="btn btn-primary" type="submit" value="{{ 'lbl.Save'|trans|capitalize }}" />
            </div>
          </div>
        </fieldset>
      {% endform %}
    </div>
  </section>
{% endif %}
