{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}
{% if updateSettingsSuccess %}
  {{ alerts.alert('success', 'msg.UpdateSettingsIsSuccess'|trans) }}
{% endif %}
{% if updateSettingsHasFormError %}
  {{ alerts.alert('danger', 'err.FormError'|trans) }}
{% endif %}

<section id="settingsForm" class="profiles">
  <div class="bd">
    {% form updateSettings %}
      <fieldset class="form-horizontal">
        <legend>{{ 'lbl.YourData'|trans|capitalize }}</legend>

        <div class="form-group{% if txtDisplayNameError %} has-error{% endif %}">
          <label class="control-label col-sm-2" for="displayName">{{ 'lbl.DisplayName'|trans|capitalize }}<abbr title="{{ 'lbl.RequiredField'|trans|capitalize }}">*</abbr></label>
          <div class="col-sm-6">
            {% form_field_error display_name %}{% form_field display_name %}
            <small class="helpTxt muted">{{ 'msg.HelpDisplayNameChanges'|trans|format(maxDisplayNameChanges, displayNameChangesLeft ) }}</small>
          </div>
        </div>
        <div class="form-group{% if txtEmailError %} has-error{% endif %}">
          <label class="control-label col-sm-2" for="email">{{ 'lbl.Email'|trans|capitalize }}<abbr title="{{ 'lbl.RequiredField'|trans|capitalize }}">*</abbr></label>
          <div class="col-sm-6">
            {% form_field_error email %}{% form_field email %}
            <a href="{{ geturlforblock('Profiles', 'ChangeEmail') }}">{{ 'msg.ChangeEmail'|trans }}</a>
          </div>
        </div>
        <div class="form-group{% if txtFirstNameError %} has-error{% endif %}">
          <label class="control-label col-sm-2" for="firstName">{{ 'lbl.FirstName'|trans|capitalize }}</label>
          <div class="col-sm-6">
            {% form_field_error first_name %}{% form_field first_name %}
          </div>
        </div>
        <div class="form-group{% if txtLastNameError %} has-error{% endif %}">
          <label class="control-label col-sm-2" for="lastName">{{ 'lbl.LastName'|trans|capitalize }}</label>
          <div class="col-sm-6">
            {% form_field_error last_name %}{% form_field last_name %}
          </div>
        </div>
        <div class="form-group{% if ddmGenderError %} has-error{% endif %}">
          <label class="control-label col-sm-2" for="gender">{{ 'lbl.Gender'|trans|capitalize }}</label>
          <div class="col-sm-2">
            {% form_field_error gender %} {% form_field gender %}
          </div>
        </div>
        <div class="birthDate form-group{% if ddmYearError %} has-error{% endif %}">
          <label class="control-label col-sm-2" for="day">{{ 'lbl.BirthDate'|trans|capitalize }}</label>
          <div class="col-sm-6">
            <div class="row">
              <div class="col-xs-4">
                {% form_field day %}
              </div>
              <div class="col-xs-4">
                {% form_field month %}
              </div>
              <div class="col-xs-4">
                {% form_field_error year %}{% form_field year %}
              </div>
            </div>
          </div>
        </div>
      </fieldset>

      <fieldset class="form-horizontal">
        <legend>{{ 'lbl.YourLocationData'|trans|capitalize }}</legend>

        <div class="form-group{% if txtCityError %} has-error{% endif %}">
          <label class="control-label col-sm-2" for="city">{{ 'lbl.City'|trans|capitalize }}</label>
          <div class="col-sm-6">
            {% form_field_error city %}{% form_field city %}
          </div>
        </div>
        <div class="form-group{% if ddmCountryError %} has-error{% endif %}">
          <label class="control-label col-sm-2" for="country">{{ 'lbl.Country'|trans|capitalize }}</label>
          <div class="col-sm-6">
            {% form_field_error country %} {% form_field country %}
          </div>
        </div>
        <div class="form-group">
          <div class="col-sm-offset-2 col-sm-6">
            <input class="btn btn-primary" type="submit" value="{{ 'lbl.Save'|trans|capitalize }}" />
          </div>
        </div>
      </fieldset>
    {% endform %}
  </div>
</section>
