<!DOCTYPE html>
<html lang="{{ LANGUAGE }}">
<head>
  {# Meta #}
  <meta charset="utf-8" />
  <meta name="generator" content="Fork CMS" />
  {{ meta|raw }}
  {{ metaCustom|raw }}

  <title>{{ pageTitle }}</title>

  {# Favicon and Apple touch icon #}
  <link rel="shortcut icon" href="/favicon.ico" />
  <link rel="apple-touch-icon" href="/apple-touch-icon.png" />

  {# Windows 8 tile #}
  <meta name="application-name" content="{{ siteTitle }}" />
  <meta name="msapplication-TileColor" content="#3380aa" />
  <meta name="msapplication-TileImage" content="/tile.png" />

  {# Stylesheets #}
  {{ encore_entry_script_tags('frontend', null, 'frontendConfig') }}
  {{ encore_entry_link_tags('screen', null, 'frontendConfig') }}

  {# Site wide HTML in the head tag #}
  {{ siteHTMLHead|raw }}

  {% if debug %}
    <script src="http://localhost:35729/livereload.js?snipver=1"></script>
  {% endif %}
</head>
