{#
  variables that are available:
  - {{ widgetTagsTagCloud }}: contains an array with the most popular tag
#}
{% if widgetTagsTagCloud %}
  <aside id="tagCloudWidget" class="card tags" role="complementary">
    <header class="card-header" role="banner">
      <h4 class="mb-0">{{ 'lbl.Tags'|trans|ucfirst }}</h4>
    </header>
    <div class="card-block">
      {% set total = 0 %}
      {% for tag in widgetTagsTagCloud %}
        {% set total = total + tag.number %}
      {% endfor %}
      {% for tag in widgetTagsTagCloud %}
        {% set fontsize = 100 + (tag.number / total) * 100 %}
        <a href="{{ tag.url }}" rel="tag" style="font-size: {{ fontsize }}%;">
          {{ tag.name }}
        </a>
      {% endfor %}
    </div>
  </aside>
{% endif %}
