<div id="mailmotorSubscribe">
  {% if subscribeHasFormError %}<div class="alert alert-danger" role="alert">{{ 'err.FormError'|trans }}</div>{% endif %}
  {% if subscribeHasError %}<div class="alert alert-danger" role="alert">{{ 'err.SubscribeFailed'|trans }}</div>{% endif %}
  {% if subscribeIsSuccess %}<div class="alert alert-success" role="alert">{{ 'msg.SubscribeSuccess'|trans }}</div>{% endif %}

  {% if not subscribeHideForm %}
    {% form subscribe %}
      <label class="control-label" for="email">{{ 'lbl.Email'|trans|capitalize }}<abbr title="{{ 'lbl.RequiredField'|trans|capitalize }}">*</abbr></label>
      <div class="input-group{% if txtEmailError %} error{% endif %}">
        {% form_field_error email %} {% form_field email %}
        <div class="input-group-btn">
          <input class="btn-primary btn" type="submit" name="send" value="{{ 'lbl.Send'|trans|capitalize }}" />
        </div>
      </div>
    {% endform %}
  {% endif %}
</div>
