{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}
<div id="mailmotorUnsubscribe">
  {% if unsubscribeHasFormError %}
    {{ alerts.alert('danger', 'err.FormError'|trans) }}
  {% endif %}
  {% if unsubscribeHasError %}
    {{ alerts.alert('danger', 'err.UnsubscribeFailed'|trans) }}
  {% endif %}
  {% if unsubscribeIsSuccess %}
    {{ alerts.alert('success', 'msg.UnsubscribeSuccess'|trans) }}
  {% endif %}

  {% if not unsubscribeHideForm %}
    {% form unsubscribe %}
      <div class="control-group{% if txtEmailError %} error{% endif %}">
        <label class="control-label" for="email">{{ 'lbl.Email'|trans|capitalize }}<abbr title="{{ 'lbl.RequiredField'|trans|capitalize }}">*</abbr></label>
        <div class="controls">
          {% form_field_error email %} {% form_field email %}
        </div>
      </div>

      <div class="form-actions">
        <input class="btn-primary btn" type="submit" name="send" value="{{ 'lbl.Send'|trans|capitalize }}" />
      </div>
    {% endform %}
  {% endif %}
</div>
