{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}
  <div class="btn-toolbar justify-content-end">
    <div class="btn-group" role="group">
      {% if isAllowedAction('Add') %}
        {{ macro.buttonIcon(geturl('add')  ~ filter, 'plus-square', 'lbl.Add'|trans|ucfirst, 'btn-default jsButtonAdd') }}
      {% endif %}
      {% if isAllowedAction('Export') %}
        {{ macro.buttonIcon(geturl('export') ~ filter, 'download', 'lbl.Export'|trans|ucfirst, 'btn-default jsButtonExport') }}
      {% endif %}
      {% if isAllowedAction('Import') %}
        {{ macro.buttonIcon(geturl('import') ~ filter, 'upload', 'lbl.Import'|trans|ucfirst, 'btn-default jsButtonImport') }}
      {% endif %}
    </div>
  </div>
{% endblock %}

{% block content %}
  {% form filter %}
  <div class="card card-default">
    <div class="card-heading">
      <h2>{{ 'lbl.Filter'|trans|ucfirst }}</h2>
    </div>
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 col-lg-4">
          <div class="form-group">
            <label for="application" class="control-label">{{ 'lbl.Application'|trans|ucfirst }}</label>
            {% form_field application %} {% form_field_error application %}
          </div>
          <div class="form-group">
            <label for="module" class="control-label">{{ 'lbl.Module'|trans|ucfirst }}</label>
            {% form_field module %} {% form_field_error module %}
          </div>
        </div>
        <div class="col-md-3 col-lg-2">
          <div class="form-group">
            <label>{{ 'lbl.Types'|trans|ucfirst }}</label>
            {% if type %}
            {% for item in type %}
              <div class="form-check mb-1">
                {{ item.chkType|raw }}
                <label for="{{ item.id }}" class="form-check-label">{{ item.label|ucfirst }}</label>
              </div>
            {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="col-md-3 col-lg-2">
          <div class="form-group">
            <label>{{ 'lbl.Languages'|trans|ucfirst }}</label>
            {% if language %}
              {% for item in language %}
                <div class="form-check mb-1">
                  {{ item.chkLanguage|raw }}
                  <label for="{{ item.id }}" class="form-check-label">{{ item.label|ucfirst }}</label>
                </div>
              {% endfor %}
            {% endif %}
          </div>
        </div>
        <div class="col-md-3 col-lg-4">
          <div class="form-group">
            <label for="name" class="control-label">
              {{ 'lbl.ReferenceCode'|trans|ucfirst }}
              {{ macro.infoTooltip('msg.HelpName'|trans) }}
            </label>
            {% form_field name %} {% form_field_error name %}
          </div>
          <div class="form-group">
            <label for="value" class="control-label">
              {{ 'lbl.Value'|trans|ucfirst }}
              {{ macro.infoTooltip('msg.HelpValue'|trans) }}
            </label>
            {% form_field value %} {% form_field_error value %}
          </div>
        </div>
      </div>
      <div class="d-flex justify-content-end">
        {{ macro.buttonIcon('', 'sync', 'lbl.UpdateFilter'|trans|ucfirst, 'btn-primary', {"type":"submit", "id":"search", "name":"search"}) }}
      </div>
    </div>
  </div>
  {% endform %}
  {% if dgLabels %}
    <div class="content-block content-block-pb">
      <div class="content-title">
        <h2>
          {{ 'lbl.Labels'|trans|ucfirst }}
        </h2>
      </div>
      <div class="table-responsive">
        {{ dgLabels | raw }}
      </div>
    </div>
  {% endif %}
  {% if dgMessages %}
    <div class="content-block content-block-pb">
      <div class="content-title">
        <h2>{{ 'lbl.Messages'|trans|ucfirst }}</h2>
      </div>
      <div class="table-responsive">
        {{ dgMessages | raw }}
      </div>
    </div>
  {% endif %}
  {% if dgErrors %}
    <div class="content-block content-block-pb">
      <div class="content-title">
        <h2>
          {{ 'lbl.Errors'|trans|ucfirst }}
        </h2>
      </div>
      <div class="table-responsive">
        {{ dgErrors | raw }}
      </div>
    </div>
  {% endif %}
  {% if dgActions %}
    <div class="content-block content-block-pb">
      <div class="content-title">
        <h2>
          {{ 'lbl.Actions'|trans|ucfirst }}
          {{ macro.infoTooltip('msg.HelpActionValue'|trans) }}
        </h2>
      </div>
      <div class="table-responsive">
        {{ dgActions | raw }}
      </div>
    </div>
  {% endif %}
  {% if noItems %}
    <div class="card card-default">
      <div class="card-body">
        {{ macro.emptyState(addURL, 'msg.AddFirstTranslation'|trans, 'msg.NoItemsFilter'|trans|ucfirst) }}
      </div>
    </div>
  {% endif %}
{% endblock %}
