{#
  Media Listing
  Variables that are available:
  - {{ items }}: Contains full urls to MediaItem items, f.e.: {{ items.source }}
  - {{ title }}: A custom optional title that you can give when parsing from Custom module.
#}

{% if items %}
<section class="widgetMediaListing">
  <ul>
    {% for item in items %}
    <li>
      {% if not item.mediaItem.movie %}
        <a href="{{ item.source }}" title="{{ item.mediaItem.title }}" target="_blank">{{ item.mediaItem.title }}</a>
      {% endif %}
      {% if item.mediaItem.movie %}
        <iframe width="560" height="315" src="{{ item.source }}" frameborder="0" allowfullscreen></iframe>
      {% endif %}
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
