{#
  Media Slider with BxSlider
  Variables that are available:
  - {{ items }}: Contains full urls to MediaItem items, f.e.: {{ items.square }} or {{ items.square_resolution }}
  - {{ title }}: A custom optional title that you can give when parsing from Custom module.
#}

{% if items %}
<section class="widgetMediaSlider" data-show-controls="true" data-show-pager="true" itemscope itemtype="http://schema.org/ImageGallery">
  <ul>
    {% for item in items %}
    <li itemprop="associatedMedia" itemscope itemtype="http://schema.org/ImageObject">
      <img src="{{ item.square_source }}" itemprop="thumbnail" alt="{{ item.mediaItem.title }}" />
    </li>
    {% endfor %}
  </ul>
</section>
{% endif %}
