<div id="widgetFaqFeedback" class="card card-primary">
  <div class="card-heading">
    <h2 class="card-title d-flex justify-content-between">
      <a href="{{ geturl('index','faq') }}">{{ 'lbl.Faq'|trans|ucfirst }}: {{ 'lbl.Feedback'|trans|ucfirst }}</a>
      <a href="{{ geturl('index','faq') }}"><i class="fas fa-arrow-right"></i></a>
    </h2>
  </div>
  {% if faqFeedback %}
    <div class="card-body">
      <ul class="list-unstyled">
        {% for _itr_12 in faqFeedback %}
          <li{% if not loop.last %} class="mb-3"{% endif %}>
            <a href="{{ _itr_12.full_url }}">"{{ _itr_12.text|truncate(40) }}"</a>
            <span class="text-medium">{{ 'lbl.FeedbackGivenOn'|trans }}</span>
            <a href="{{ _itr_12.full_url }}">{{ _itr_12.question|truncate(40) }}</a>
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
  {% if not faqFeedback %}
    <div class="card-body">
      <p>{{ 'msg.NoFeedback'|trans }}</p>
    </div>
  {% endif %}
</div>
