<div id="widgetFaqFeedback" class="card card-primary">
  <div class="card-heading">
    <h2 class="card-title d-flex justify-content-between">
      <a href="{{ geturl('index','faq') }}">{{ 'lbl.Faq'|trans|ucfirst }}: {{ 'lbl.Feedback'|trans|ucfirst }}</a>
      <a href="{{ geturl('index','faq') }}"><i class="fas fa-arrow-right"></i></a>
    </h2>
  </div>
  {% if faqFeedback %}
    <div class="card-body">
      <table class="table table-striped dataGrid">
        <tbody>
          {% for _itr_12 in faqFeedback %}
            <tr class="{{ cycle(['odd', 'even'], loop.index0) }}">
              <td><a href="{{ _itr_12.full_url }}">{{ _itr_12.text|truncate(150) }}</a></td>
            </tr>
          {% endfor %}
        </tbody>
      </table>
    </div>
  {% endif %}
  {% if not faqFeedback %}
    <div class="card-body">
      <p>{{ 'msg.NoFeedback'|trans }}</p>
    </div>
  {% endif %}
</div>
