{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block message %}
  {{ 'msg.ClearingCache'|trans }}
  <span data-role="fork-dots-animation"></span>
{% endblock %}


{% block content %}
  <div class="card card-default">
    <div class="card-heading">
      <h2 class="card-title">
        {{ 'lbl.ClearCache'|trans|ucfirst }}
      </h2>
    </div>
    <div class="card-body">
      <p>{{ 'msg.ClearCache'|trans }}</p>
      <a href="#" data-role="fork-clear-cache" class="btn btn-primary">{{ 'lbl.ClearCache'|trans|ucfirst }}</a>
      {{ macro.alert('warning', block('message'), null, null, {'class': 'd-none', 'data-role': 'fork-clear-cache-status'}) }}
    </div>
  </div>
{% endblock %}
