{% if visitors_graph_data %}
  <div class="card card-default" id="widgetAnalyticsRecentVisits">
    <div class="card-heading">
      <h2 class="card-title">{{ 'lbl.RecentVisits'|trans|ucfirst }}</h2>
    </div>
    <div class="card-body">
      <div class="options">
        <div id="dataChartDoubleMetricPerDay" class="d-none">
          <span id="maxYAxis">{{ maxYAxis }}</span>
          <span id="tickInterval">{{ tickInterval }}</span>
          <span id="yAxisTitle">{{ 'lbl.Visits'|trans|ucfirst }}</span>
          <ul class="series">
            <li class="serie" id="metric1serie">
              <span class="name">{{ 'lbl.Pageviews'|trans|ucfirst }}</span>
              <ul class="data">
                {% for _itr_2 in visitors_graph_data %}
                  <li>
                    <span class="fulldate">{{ _itr_2.ga_date|spoondate('D d M',INTERFACE_LANGUAGE|ucfirst) }}</span>
                    <span class="date">{{ _itr_2.ga_date|spoondate('d M',INTERFACE_LANGUAGE|ucfirst) }}</span>
                    <span class="value">{{ _itr_2.ga_pageviews }}</span>
                  </li>
                {% endfor %}
              </ul>
            </li>
            <li class="serie" id="metric2serie">
              <span class="name">{{ 'lbl.Visitors'|trans|ucfirst }}</span>
              <ul class="data">
                {% for _itr_2 in visitors_graph_data %}
                  <li>
                    <span class="fulldate">{{ _itr_2.ga_date|spoondate('D d M',INTERFACE_LANGUAGE|ucfirst) }}</span>
                    <span class="date">{{ _itr_2.ga_date|spoondate('d M',INTERFACE_LANGUAGE|ucfirst) }}</span>
                    <span class="value">{{ _itr_2.ga_users }}</span>
                  </li>
                {% endfor %}
              </ul>
            </li>
          </ul>
        </div>
        <div id="chartDoubleMetricPerDay">&nbsp;</div>
      </div>
    </div>
    <div class="card-footer">
      <div class="buttonHolderRight">
        <a href="{{ geturl('Index','Analytics') }}" class="button"><span>{{ 'lbl.AllStatistics'|trans|ucfirst }}</span></a>
      </div>
    </div>
  </div>
{% endif %}
