{#
  variables that are available:
  - {{ widgetTagsRelated }}: contains an array with all related items
#}
{% if widgetTagsRelated %}
  <section id="tagRelatedWidget" class="tags">
    <header role="banner">
      <h3>{{ 'lbl.Related'|trans|ucfirst }}</h3>
    </header>
    <ul>
      {% for item in widgetTagsRelated %}
        <li>
          <a href="{{ item.full_url }}" title="{{ item.title }}">
            {{ item.title }}
          </a>
        </li>
      {% endfor %}
    </ul>
  </section>
{% endif %}
