{% import 'Layout/Templates/macros.html.twig' as macro %}
<table>
  <tbody>
    {% for row in table %}
      <tr>
        {% for template in row %}
          <td {% apply spaceless %}
            {% if template.rowspan > 1 %} rowspan="{{ template.rowspan }}"{% endif %}
            {% if template.colspan > 1 %} colspan="{{ template.colspan }}"{% endif %}
            {% if not template.exists %}
            class="empty">
            {% elseif template.large %}
              id="templatePosition-{{ template.value }}" data-position="{{ template.value }}" class="box templatePosition">
            {% else %}
              >
            {% endif %}
            {% endapply %}

            {% if not template.exists %}
              &nbsp;
            {% elseif template.large %}
              {{ '{% set form_name="blocks_'|raw ~ template.value|raw ~ '" %}'|raw }}
              <div class="card card-default card-pages-block">
                <div class="card-heading">
                  <div class="heading"><h3>{{ template.title }}</h3></div>
                </div>
                <div class="card-body">
                {% verbatim %}
                {{ form_widget(form.children[form_name])}}
                {% endverbatim %}
                </div>
              </div>
            {% else %}
              <a href="#position-{{ template.value }}" title="{{ template.title }}">{{ template.title }}</a>
            {% endif %}
          </td>
        {% endfor %}
      </tr>
    {% endfor %}
  </tbody>
</table>
