{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}
  {% form themes %}
  {% if isAllowedAction('AddThemeTemplate') %}
    <div class="btn-toolbar justify-content-end">
      <div class="btn-group" role="group">
        {% if selectedTheme %}
          {% set url =  '&theme=' ~ selectedTheme %}
        {% endif %}

        {{ macro.buttonIcon( geturl('add_theme_template') ~ url, 'plus-square', 'lbl.AddTemplate'|trans|ucfirst, 'btn-primary') }}

        {{ macro.buttonIcon( geturl('export_theme_templates') ~ url, 'download', 'lbl.Export'|trans|ucfirst) }}
      </div>
    </div>
  {% endif %}
  {% endform %}
{% endblock %}

{% block content %}
  {% form themes %}
    <div class="content-block">
      <div class="content-title">
        <h2>{{ 'lbl.Templates'|trans|ucfirst }} {{ 'lbl.For'|trans }} {% form_field theme %}</h2>
      </div>
    </div>
    {% if dataGrid %}
      <div class="table-responsive">
        {{ dataGrid|raw }}
      </div>
    {% endif %}
    {% if not dataGrid %}
      <p>{{ 'msg.NoItems'|trans }}</p>
    {% endif %}
  {% endform %}
{% endblock %}
