{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% if zlibIsMissing %}
    {{ macro.alert('danger', 'msg.ZlibIsMissing'|trans) }}
  {% endif %}
  {% if notWritable %}
    {{ macro.alert('danger', 'msg.ThemesNotWritable'|trans) }}
  {% endif %}
  {% if not zlibIsMissing %}
    {% form upload %}
      <div class="form-group">
        <label for="file" class="control-label">
          {{ 'lbl.File'|trans|ucfirst }}
          {{ macro.required }}
        </label>
        {% form_field file %} {% form_field_error file %}
      </div>
      <div class="fork-module-actions">
        <div class="btn-toolbar">
          <div class="btn-group pull-right" role="group">
            {{ macro.buttonIcon('', 'download', 'lbl.Install'|trans|ucfirst, 'btn-primary', {"id":"importButton", "type":"submit", "name":"add"}) }}
          </div>
        </div>
      </div>
    {% endform %}
  {% endif %}
{% endblock %}
