<span class="visually-hidden">{{ 'lbl.YouAreHere'|trans }}</span>
<nav aria-label="breadcrumb">
  <ol class="breadcrumb" itemscope itemtype="https://schema.org/BreadcrumbList">
    {% for breadcrumb in breadcrumbs %}
      <li itemprop="itemListElement" itemscope itemtype="https://schema.org/ListItem" class="breadcrumb-item{{ breadcrumbs.count == loop.index ? ' active" aria-current="page' : '' }}">
        {% if breadcrumb.url is null or breadcrumbs.count == loop.index %}
          <span itemprop="name">{{ breadcrumb.label|ucfirst }}</span>
        {% else %}
          <a href="{{ breadcrumb.url }}" itemtype="http://schema.org/Thing" itemprop="item">
            <span itemprop="name">{{ breadcrumb.label|ucfirst }}</span>
          </a>
        {% endif %}
      </li>
    {% endfor %}
  </ol>
</nav>
