{% if privacyConsentEnabled %}
  <div
    id="privacy-consent-dialog"
    tabindex="-1"
    role="dialog"
    aria-labelledby="privacyConsentDialogTitle"
    data-role="privacy_consent_dialog"
    data-backdrop="false"
    {% if privacyConsentDialogHide %}
      style="display: none"
    {% endif %}
  >
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <form data-role="privacy_consent_dialog_form">
          <div class="modal-header">
            <h5 id="privacyConsentDialogTitle">{{ 'lbl.PrivacyConsentDialogTitle'|trans|ucfirst }}</h5>
            <button type="button" class="btn-close" data-dismiss="modal" aria-label="{{ 'lbl.Close'|trans }}"></button>
          </div>
          <div class="modal-body">
            <div>
              {{ 'msg.PrivacyConsentDialogBefore'|trans|raw }}
            </div>

            <div class="checkbox">
              <label id="privacyConsentLevelFunctionalCheckbox">
                <input name="privacyConsentLevelFunctionalCheckbox" id="privacyConsentLevelFunctionalCheckbox"
                       type="checkbox" checked disabled aria-describedby="privacyConsentLevelFunctionalHelpBlock"
                       data-role="privacy-level"
                       data-value="functional"
                >
                {{ 'lbl.PrivacyConsentLevelFunctional'|trans|ucfirst }}
              </label>
              <small id="privacyConsentLevelFunctionalHelpBlock" class="help-block">
                {{ 'msg.PrivacyConsentLevelFunctional'|trans|raw }}
              </small>
            </div>
            {% for level in privacyConsentDialogLevels %}
              <div class="form-group">
                <div class="custom-control custom-checkbox">
                  <input name="privacyConsentLevel{{ level|ucfirst }}Checkbox"
                         id="privacyConsentLevel{{ level|ucfirst }}Checkbox" type="checkbox"
                         aria-describedby="privacyConsentLevel{{ level|ucfirst }}HelpBlock"
                         data-role="privacy-level"
                         data-value="{{ level }}"
                         class="custom-control-input"
                  >
                  <label for="privacyConsentLevel{{ level|ucfirst }}Checkbox" id="privacyConsentLevel{{ level|ucfirst }}Checkbox" class="custom-control-label">
                    {{ ('lbl.PrivacyConsentLevel' ~ level|ucfirst)|trans|ucfirst }}
                  </label>
                </div>
                <small id="privacyConsentLevel{{ level|ucfirst }}HelpBlock" class="text-muted form-text">
                  {{ ('msg.PrivacyConsentLevel' ~ level|ucfirst)|trans|raw }}
                </small>
              </div>
            {% endfor %}

            <div>
              {{ 'msg.PrivacyConsentDialogAfter'|trans|raw }}
            </div>
          </div>
          <div class="modal-footer">
            <button type="submit" data-role="privacy_consent_dialog_save_button" class="btn btn-sm btn-success">
              {{ 'lbl.PrivacyConsentDialogSave'|trans }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endif %}
