{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form edit %}
    <div class="form-group">
      <label for="name" class="control-label">
        {{ 'lbl.Name'|trans|ucfirst }}
        {{ macro.required }}
      </label>
      {% form_field name %} {% form_field_error name %}
    </div>
    <div class="content-block content-block-pb">
      <div class="content-title">
        <h2>{{ 'lbl.UsedIn'|trans|ucfirst }}</h2>
      </div>
      {% if usage %}
        {{ usage|raw }}
      {% endif %}
      {% if not usage %}
        <div class="card-body">
          <p>{{ 'msg.NoUsage'|trans }}</p>
        </div>
      {% endif %}
    </div>
    <div class="fork-module-actions">
      <div class="btn-toolbar">
        <div class="btn-group" role="group">
          {{ macro.buttonIcon(geturl('Index'), 'times', 'lbl.Cancel'|trans|ucfirst, 'btn-default') }}
        </div>
        <div class="btn-group ms-auto" role="group">
          {{ macro.buttonIcon('', 'save', 'lbl.Save'|trans|ucfirst, 'btn-primary', {"id":"editButton", "type":"submit", "name":"edit"}) }}
        </div>
      </div>
    </div>
  {% endform %}
{% endblock %}
