{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}

<section id="updateEmailForm" class="profiles">
  {% if updateEmailSuccess %}
    {{ alerts.alert('success', 'msg.UpdateEmailIsSuccess'|trans) }}
  {% endif %}
  {% if updateEmailHasFormError %}
    {{ alerts.alert('danger', 'err.FormError'|trans) }}
  {% endif %}

  {% form updateEmail %}
    <fieldset class="form-horizontal">
      <div class="form-group row{% if txtPasswordError %} has-danger{% endif %}">
        <label class="form-control-label col-sm-2" for="password">{{ 'lbl.Password'|trans|ucfirst }}<abbr title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr></label>
        <div class="col-sm-6">
          {% form_field_error password %}{% form_field password %}
        </div>
      </div>
      <div class="form-group row{% if txtEmailError %} has-danger{% endif %}">
        <label class="form-control-label col-sm-2" for="email">{{ 'lbl.Email'|trans|ucfirst }}<abbr title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr></label>
        <div class="col-sm-6">
          {% form_field_error email %}{% form_field email %}
        </div>
      </div>
      <div class="form-group row">
        <div class="offset-sm-2 col-sm-6">
          <input class="btn btn-primary" type="submit" value="{{ 'lbl.Save'|trans|ucfirst }}" />
        </div>
      </div>
    </fieldset>
  {% endform %}
</section>
