{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}

<section id="updateEmailForm" class="profiles">
  <h1>{{ 'msg.ChangeEmail'|trans|ucfirst }}</h1>
  {% if updateEmailSuccess %}
    {{ alerts.alert('success', 'msg.UpdateEmailIsSuccess'|trans) }}
  {% endif %}
  {% if updateEmailHasFormError %}
    {{ alerts.alert('danger', 'err.FormError'|trans) }}
  {% endif %}

  {% form updateEmail %}
    <fieldset>
      <div class="form-group{% if txtPasswordError %} has-danger{% endif %}">
        <label class="form-control-label" for="password">{{ 'lbl.Password'|trans|ucfirst }}<abbr title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr></label>
        <div>
          {% form_field password %}
          {% form_field_error password %}
        </div>
      </div>
      <div class="form-group{% if txtEmailError %} has-danger{% endif %}">
        <label class="form-control-label" for="email">{{ 'lbl.Email'|trans|ucfirst }}<abbr title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr></label>
        <div>
          {% form_field email %}
          {% form_field_error email %}
        </div>
      </div>
      <div class="form-group">
        <input class="btn btn-primary" type="submit" value="{{ 'lbl.Save'|trans|ucfirst }}" />
      </div>
    </fieldset>
  {% endform %}
</section>
