{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}

<section id="forgotPasswordForm" class="profiles">
  <h1>{{ 'lbl.ForgotPassword'|trans }}</h1>
  {% if forgotPasswordSuccess %}
    {{ alerts.alert('success', 'msg.ForgotPasswordIsSuccess'|trans) }}
  {% endif %}
  {% if forgotPasswordHasError %}
    {{ alerts.alert('danger', 'err.FormError'|trans) }}
  {% endif %}

  {% if not forgotPasswordHideForm %}
    {% form forgotPassword %}
      <div class="form-group{% if txtEmailError %} has-danger{% endif %}">
        <label for="email">{{ 'lbl.Email'|trans|ucfirst }}<abbr title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr></label>
        {% form_field email %}
        {% form_field_error email %}
      </div>

      <input class="btn btn-primary" type="submit" value="{{ 'lbl.Send'|trans|ucfirst }}" />
    {% endform %}
  {% endif %}
</section>
