{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}
<section id="resendActivationForm" class="profiles">
  {% if resendActivationSuccess %}
    {{ alerts.alert('success', 'msg.ResendActivationIsSuccess'|trans) }}
  {% endif %}
  {% if resendActivationHasError %}
    {{ alerts.alert('danger', 'err.FormError'|trans) }}
  {% endif %}

  {% if not resendActivationHideForm %}
    {% form resendActivation %}
    <div class="form-group{% if txtEmailError %} has-danger{% endif %}">
      <label class="form-control-label" for="email">{{ 'lbl.Email'|trans|ucfirst }} <abbr title="{{ 'lbl.RequiredField'|trans|ucfirst }}">*</abbr></label>
      <div class="input-group">
        {% form_field email %}
        <span class="input-group-btn">
            <input class="btn btn-primary" type="submit" value="{{ 'lbl.Send'|trans|ucfirst }}" />
          </span>
      </div>
      {% form_field_error email %}
    </div>
    {% endform %}
  {% endif %}
</section>
