{# Note: we can use general variables names here since this template is parsed within its own scope #}
{% import 'Core/Layout/Templates/Alerts.html.twig' as alerts %}
{% import "Core/Layout/Templates/Macros.html.twig" as macro %}

<section class="module-formbuilder widget-formbuilder-form" id="formbuilder{{ formName|ucfirst }}">
  {% block widget_alerts %}
    <div class="widget-alerts">
      {% if successMessage %}
        {{ alerts.alert('success', successMessage|raw, false, formName) }}
      {% endif %}
      {% if formBuilderError %}
        {{ alerts.alert('danger', formBuilderError, false, formName) }}
      {% endif %}
    </div>
  {% endblock %}

  {% if fields %}
    {% block widget_heading %}{% endblock %}

    {% block widget_body %}
      <div class="widget-body">
        <form id="{{ formName }}" method="post" action="{{ formAction }}">
          <fieldset class="form">
            {% if formToken %}
              <input type="hidden" name="form_token" id="formToken{{ formName|ucfirst }}" value="{{ formToken }}" />
            {% endif %}

            <input type="hidden" name="form" value="{{ formName }}" />

            {% for field in fields %}
              <div id="field{{ field.name }}">
                {# Headings and paragraphs #}
                {% if field.plaintext %}
                  <div class="content">
                    {{ field.html|raw }}
                  </div>
                {% endif %}

                {# Input field, textarea's and dropdowns #}
                {% if field.simple %}
                  <div class="form-group{% if field.error %} has-error{% endif %}">
                    <label class="control-label" for="{{ field.name }}">
                      {{ field.label|raw }}{% if field.required %}
                      {{ macro.required }}{% endif %}
                    </label>
                    {{ field.html|raw }}
                          {% if field.error %}<span class="text-danger help-inline">{{ field.error|raw }}</span>{% endif %}
                  </div>
                {% endif %}

                {# Mailmotor#}
                {% if field.isMailmotor %}
                  <div class="form-group{% if field.error %} has-error{% endif %}">
                    <label class="control-label" for="{{ field.name }}">
                      {{ field.html|raw }} {{ field.label|raw }}
                    </label>
                    {% if field.error %}<span class="text-danger help-inline">{{ field.error }}</span>{% endif %}
                  </div>
                {% endif %}

                {# Radiobuttons and checkboxes #}
                {% if field.multiple %}
                  <div class="form-group{% if field.error %} has-error{% endif %}">
                    <p class="control-label">
                      {{ field.label|raw }}{% if field.required %}
                      {{ macro.required }}{% endif %}
                    </p>
                    {% for checkbox in field.html %}
                      <div class="checkbox">
                        <label for="{{ checkbox.id|raw }}">
                          {{ checkbox.field|raw }} {{ checkbox.label|raw }}
                        </label>
                      </div>
                    {% endfor %}
                          {% if field.error %}<span class="text-danger help-inline">{{ field.error|raw }}</span>{% endif %}
                  </div>
                {% endif %}
              </div>
            {% endfor %}
            <div class="form-actions">
              {% if hasRecaptchaField %}
                <script>
                  function recaptcha{{ formToken }}Submitted (token, data) {
                    document.getElementById("{{ formName }}").submit();
                  }
                </script>
                <input type="submit" value="{{ submitValue }}" class="g-recaptcha inputSubmit btn btn-primary" data-sitekey="{{ siteKey }}" data-callback="recaptcha{{ formToken }}Submitted" data-size="invisible" />
              {% else %}
                <input type="submit" value="{{ submitValue }}" name="submit" class="inputSubmit btn btn-primary" />
              {% endif %}
            </div>
          </fieldset>
        </form>
      </div>
    {% endblock %}

    {% block widget_footer %}{% endblock %}
  {% endif %}
</section>
