{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form add %}
  <div class="row fork-module-content">
    <div class="col-md-12">
      <div class="form-group">
        <label for="title" class="control-label">{{ 'lbl.Title'|trans|ucfirst }}</label>
        {% form_field title %} {% form_field_error title %}
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="panel-title">
            {{ 'lbl.Address'|trans|ucfirst }}
          </h3>
        </div>
        <div class="panel-body">
          <div class="form-group">
            <label for="street" class="control-label">
              {{ 'lbl.Street'|trans|ucfirst }}
              {{ macro.required }}
            </label>
            {% form_field street %} {% form_field_error street %}
          </div>
          <div class="form-group">
            <label for="number" class="control-label">
              {{ 'lbl.Number'|trans|ucfirst }}
              {{ macro.required }}
            </label>
            {% form_field number %} {% form_field_error number %}
          </div>
          <div class="form-group">
            <label for="zip" class="control-label">
              {{ 'lbl.Zip'|trans|ucfirst }}
              {{ macro.required }}
            </label>
            {% form_field zip %} {% form_field_error zip %}
          </div>
          <div class="form-group">
            <label for="city" class="control-label">
              {{ 'lbl.City'|trans|ucfirst }}
              {{ macro.required }}
            </label>
            {% form_field city %} {% form_field_error city %}
          </div>
          <div class="form-group">
            <label for="country" class="control-label">
              {{ 'lbl.Country'|trans|ucfirst }}
              {{ macro.required }}
            </label>
            {% form_field country %} {% form_field_error country %}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row fork-module-actions">
    <div class="col-md-12">
      <div class="btn-toolbar">
        <div class="btn-group pull-right" role="group">
          <button id="addButton" type="submit" name="add" class="btn btn-primary">
            <span class="fa fa-plus-square"></span>{{ 'lbl.AddToMap'|trans|ucfirst }}
          </button>
        </div>
      </div>
    </div>
  </div>
  {% endform %}
{% endblock %}
