{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}
  {% if isAllowedAction('Add') %}
    <div class="btn-toolbar justify-content-end">
      <div class="btn-group" role="group">
        {{ macro.buttonIcon(geturl('add'), 'plus-square', 'lbl.AddLocation'|trans|ucfirst) }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if dataGrid %}
    <div class="content-block content-block-pb">
      <div class="content-title">
        <h2>{{ 'lbl.Locations'|trans|ucfirst }}</h2>
      </div>
      <div class="table-responsive">
        {{ dataGrid|raw }}
      </div>
    </div>
    <div class="card card-default">
      <div class="card-heading">
        <h2 class="card-title">
          {{ 'lbl.Settings'|trans|ucfirst }}
        </h2>
      </div>
      {% form settings %}
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="zoomLevel" class="control-label">{{ 'lbl.ZoomLevel'|trans|ucfirst }}</label>
              {% form_field zoom_level %} {% form_field_error zoom_level %}
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="mapType" class="control-label">{{ 'lbl.MapType'|trans|ucfirst }}</label>
              {% form_field map_type %} {% form_field_error map_type %}
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group{% if not godUser %} d-none{% endif %}">
              <label for="width" class="control-label">{{ 'lbl.Width'|trans|ucfirst }}</label>
              {% form_field width %} {% form_field_error width %}
              <small class="form-text text-muted">{{ 'msg.WidthHelp'|trans|format(300,800)|raw }}</small>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group{% if not godUser %} d-none{% endif %}">
              <label for="height" class="control-label">{{ 'lbl.Height'|trans|ucfirst }}</label>
              {% form_field height %} {% form_field_error height %}
              <small class="form-text text-muted">{{ 'msg.HeightHelp'|trans|format(150)|raw }}</small>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="mapStyle" class="control-label">{{ 'lbl.MapStyle'|trans|capitalize }}</label>
              {% form_field_error map_style %} {% form_field map_style %}
            </div>
          </div>
        </div>

        {% if items %}
          <div id="map" style="width: 100%; height: {{ settings.height }}px;"></div>
        {% endif %}

        <div class="btn-toolbar d-flex mt-3">
          <div class="btn-group ms-auto" role="group">
            <a href="#" id="saveLiveData" class="btn btn-primary">
              {{ macro.icon('save') }}{{ 'lbl.Save'|trans|ucfirst }}</a>
          </div>
        </div>
      </div>
      {% endform %}
    </div>
  {% else %}
    {{ macro.emptyState(geturl('add'), 'msg.AddItem'|trans, 'msg.NoItems'|trans|ucfirst) }}
  {% endif %}
{% endblock %}
