{% extends 'Layout/Templates/base.html.twig' %}
{% import "Layout/Templates/macros.html.twig" as macro %}

{% block actionbar %}
  {% if showLocationAdd %}
    <div class="btn-toolbar pull-right">
      <div class="btn-group" role="group">
        {{ macro.buttonIcon(geturl('add'), 'plus-square', 'lbl.Add'|trans|ucfirst) }}
      </div>
    </div>
  {% endif %}
{% endblock %}

{% block content %}
  {% if dataGrid %}
    <div class="row fork-module-content">
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              {{ 'lbl.Map'|trans|ucfirst }}
            </h3>
          </div>
          <div class="panel-body">
            {% if items %}
              <div id="map" style="width: 100%; height: {{ settings.height }}px;"></div>
            {% endif %}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="panel-title">
              {{ 'lbl.Settings'|trans|ucfirst }}
            </h3>
          </div>
          {% form settings %}
          <div class="panel-body">
            <div class="form-group">
              <label for="zoomLevel" class="control-label">{{ 'lbl.ZoomLevel'|trans|ucfirst }}</label>
              {% form_field zoom_level %} {% form_field_error zoom_level %}
            </div>
            <div class="form-group"{% if not godUser %} style="display:none;"{% endif %}>
              <label for="width" class="control-label">{{ 'lbl.Width'|trans|ucfirst }}</label>
              <p class="help-block">{{ 'msg.WidthHelp'|trans|format(300,800)|raw }}</p>
              {% form_field width %} {% form_field_error width %}
            </div>
            <div class="form-group"{% if not godUser %} style="display:none;"{% endif %}>
              <label for="height" class="control-label">{{ 'lbl.Height'|trans|ucfirst }}</label>
              <p class="help-block">{{ 'msg.HeightHelp'|trans|format(150)|raw }}</p>
              {% form_field height %} {% form_field_error height %}
            </div>
            <div class="form-group">
              <label for="mapType" class="control-label">{{ 'lbl.MapType'|trans|ucfirst }}</label>
              {% form_field map_type %} {% form_field_error map_type %}
            </div>
            <div class="form-group">
              <label for="mapStyle" class="control-label">{{ 'lbl.MapStyle'|trans|capitalize }}</label>
              {% form_field_error map_style %} {% form_field map_style %}
            </div>
            <div class="btn-toolbar">
              <div class="btn-group pull-right" role="group">
                <a href="#" id="saveLiveData" class="btn btn-primary">
                  <span class="fa fa-floppy-o"></span>{{ 'lbl.Save'|trans|ucfirst }}</a>
              </div>
            </div>
          </div>
          {% endform %}
        </div>
      </div>
    </div>
    <div class="row fork-module-content">
      <div class="col-md-12">
        <div class="table-responsive">
          {{ dataGrid|raw }}
        </div>
      </div>
    </div>
  {% endif %}
  {% if not dataGrid %}
    <div class="row fork-module-content">
      <div class="col-md-12">
        <p>{{ 'msg.NoItems'|trans|format(geturl('add')|raw) }}</p>
      </div>
    </div>
  {% endif %}
  <script type="text/javascript">
    //@todo BUG: data below should come from action
    var mapOptions = {
      zoom: '{{ settings.zoom_level }}' == 'auto' ? 0 : {{ settings.zoom_level }},
      type: '{{ settings.map_type }}',
      style: '{{ settings.map_style }}',
      center: {
        lat: {{ settings.center.lat }},
        lng: {{ settings.center.lng }}
      }
    };
    var markers = [];
    {% for item in items %}
    {% if item.lat %}
    {% if item.lng %}
    markers.push({
      lat: {{ item.lat }},
      lng: {{ item.lng }},
      title: '{{ item.title }}',
      text: '<p>{{ item.street }} {{ item.number }}</p><p>{{ item.zip }} {{ item.city }}</p>'
    });
    {% endif %}
    {% endif %}
    {% endfor %}
  </script>
{% endblock %}
