{% extends 'Layout/Templates/base.html.twig' %}
{% import 'Layout/Templates/macros.html.twig' as macro %}

{% block actionbar %}

{% endblock %}

{% block content %}
  {% form settings %}
    <div class="card card-default last">
      <div class="card-heading">
        <h2 class="card-title">
          {{ 'lbl.IndividualMap'|trans|ucfirst }}
        </h2>
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-lg-6">
            <div class="form-group">
              <label for="zoomLevelWidget" class="control-label">{{ 'lbl.ZoomLevel'|trans|ucfirst }}</label>
              {% form_field zoom_level_widget %} {% form_field_error zoom_level_widget %}
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group">
              <label for="mapTypeWidget" class="control-label">{{ 'lbl.MapType'|trans|ucfirst }}</label>
              {% form_field map_type_widget %} {% form_field_error map_type_widget %}
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group last">
              <label for="widthWidget" class="control-label">{{ 'lbl.Width'|trans|ucfirst }}</label>
              {% form_field width_widget %} {% form_field_error width_widget %}
              <small class="form-text text-muted">{{ 'msg.WidthHelp'|trans|format(300,800)|raw }}</small>
            </div>
          </div>
          <div class="col-lg-6">
            <div class="form-group last">
              <label for="heightWidget" class="control-label">{{ 'lbl.Height'|trans|ucfirst }}</label>
              {% form_field height_widget %} {% form_field_error height_widget %}
              <small class="form-text text-muted">{{ 'msg.HeightHelp'|trans|format(150)|raw }}</small>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="fork-page-actions">
      <div class="btn-toolbar">
        <div class="btn-group ms-auto" role="group">
          {{ macro.buttonIcon('', 'save', 'lbl.Save'|trans|ucfirst, 'btn-primary', { "type":"submit", "id":"save", "name":"save"} ) }}
        </div>
      </div>
    </div>
  {% endform %}
{% endblock %}
